<div class="formulario-externo-bg">
  <div class="inline-block formulario-bg-externo">

    <div class="flex justify-content-center">
      <div class="mt-1 mb-1 pt-2 px-3 pb-1">
        <span class="formulario-titulo">{{cfgItem.label | uppercase}}</span>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 xl:col-8 lg:col-10 xl:col-offset-2 lg:col-offset-1 mt-0 pb-0 formulario-bg-interno">
        <div class="grid p-input-filled">
          <div class="col-12 formulario">
            <div class="formgrid grid">

              <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                <div class="pt-2 px-3 pb-1">
                  <p-dropdown
                    name="opcao"
                    id="opcao"
                    placeholder="Selecione"
                    #opcao1="ngModel"
                    [options]="menuCfgItens"
                    [(ngModel)]="cfgItem"
                    (onChange)="selectCfg($event)"
                    [autofocus]="true"
                    [scrollHeight]="ddAltura"
                    styleClass="formulario"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 xl:col-8 lg:col-10 xl:col-offset-2 lg:col-offset-1 mt-0 pb-0 formulario-bg-interno"></div>
    </div>


    <div class="grid">
      <div class="col-12 xl:col-8 lg:col-10 xl:col-offset-2 lg:col-offset-1 formulario-bg-externo"></div>
    </div>

    <div class="grid">
      <div class="col-12 xl:col-8 lg:col-10 xl:col-offset-2 lg:col-offset-1 mt-0 pb-0 formulario-bg-interno">
        <div class="grid p-input-filled">

          <div class="col-12">
            <div class="formgrid grid">

              <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                <ng-container *ngIf="tipoComp === 1">
                  <app-configuracao-tabela [componente]="componente"
                                           (onConfTitulo)="onConfTitulo($event)"></app-configuracao-tabela>
                </ng-container>
                <ng-container *ngIf="tipoComp === 2">
                  <app-configuracao-tabela2 [componente]="componente"
                                            (onConfTitulo)="onConfTitulo($event)"></app-configuracao-tabela2>
                </ng-container>
                <ng-container *ngIf="tipoComp === 3">
                  <app-etiqueta-config (onConfTitulo)="onConfTitulo($event)"></app-etiqueta-config>
                </ng-container>
                <ng-container *ngIf="tipoComp === 4">
                  <app-nucleo-config></app-nucleo-config>
                </ng-container>
                <ng-container *ngIf="tipoComp === 5">
                  <app-usuario></app-usuario>
                </ng-container>
                <ng-container *ngIf="tipoComp === 0">
                  <div class="container" style="text-align:center">
                    <h3><b>ESCOLHA UMA DAS OPÇÕES</b></h3>
                    <p>
                      <i class="pi pi-desktop"></i>
                      <p-inputSwitch [(ngModel)]="checked" (onChange)="mudaDispositivo()"></p-inputSwitch>
                      <i class="pi pi-mobile"></i>
                    </p>
                  </div>
                </ng-container>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="inline-block formulario-bg-externo" style="min-height: 2rem; padding-top: 2rem">

  </div>
</div>

