<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <div class="p-fluid formulario-bg-externo">
      <div class="p-d-flex p-jc-center">
        <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
          <span class="formulario-titulo">CONFIGURAÇÕES</span>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-xl-10 p-lg-12 p-md-12 p-sm-12 p-xl-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-grid">
            <div class="p-col-3 p-xl-3 p-lg-12 p-md-12 p-sm-12">
              <p-listbox
                name="opcao"
                #opcao1="ngModel"
                [options]="menuCfgItens"
                [(ngModel)]="cfgItem"
                optionValue="code"
                optionLabel="label"
                (onChange)="selectCfg($event)"
                styleClass="formulario"
                [listStyle]="{'height':'calc(100vh - 100px)'}"
              ></p-listbox>
            </div>
            <div class="p-col-9 p-xl-9 p-lg-12 p-md-12 p-sm-12">
                <p-scrollPanel [styleClass]="'scrollinterno'">
                <ng-container *ngIf="tipoComp === 1">
                  <app-configuracao-tabela [componente]="componente"></app-configuracao-tabela>
                </ng-container>
                <ng-container *ngIf="tipoComp === 2">
                  <app-configuracao-tabela2 [componente]="componente"></app-configuracao-tabela2>
                </ng-container>
                <ng-container *ngIf="tipoComp === 3">
                  <app-etiqueta-config></app-etiqueta-config>
                </ng-container>
                <ng-container *ngIf="tipoComp === 4">
                  <app-nucleo-config></app-nucleo-config>
                </ng-container>
                <ng-container *ngIf="tipoComp === 5">
                  <app-usuario></app-usuario>
                </ng-container>
                <ng-container *ngIf="tipoComp === 0">
                  <div class="container" style="text-align:center">
                    <h3><b>ESCOLHA UMA DAS OPÇÕES</b></h3>
                  </div>
                </ng-container>
              </p-scrollPanel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-scrollPanel>
