<p-scrollPanel [styleClass]="'scrollPanel50 formulario'">
  <div class="formulario externo">
    <form [formGroup]="formTelefone">
      <div class="p-fluid formulario-bg-externo">

        <div class="p-d-flex p-jc-center">
          <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">


              <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6 formulario">
                <div class="p-fluid p-formgrid p-grid formulario">

                  <!-- telefone_tipo -->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('telefone_tipo')">
                    <label for="telefone_tipo"><span style="color: var(--ativo);">*</span> Tipo</label>
                    <p-selectButton id="telefone_tipo" [options]="ddTelefone_tipo"
                                    formControlName="telefone_tipo"></p-selectButton>
                    <app-campo-control-erro msgErro="Tipo é obrigatório."></app-campo-control-erro>
                  </div>


                  <!-- telefone_data -->

                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('telefone_data')">
                    <label for="telefone_data"><span style="color: var(--ativo);">*</span> Data</label>
                    <p-calendar
                      id="telefone_data"
                      formControlName="telefone_data"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="2000:2035"
                      placeholder="dd/mm/aaaa"
                      [showTime]="true"
                      dataType="string"
                      [styleClass]="'estreito'"
                    ></p-calendar>
                    <app-campo-control-erro msgErro="Data é obrigatório."></app-campo-control-erro>
                  </div>


                  <!-- telefone_usuario_nome -->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('telefone_usuario_nome')">
                    <label for="telefone_usuario_nome"><span style="color: var(--ativo);">*</span> Atendente</label>
                    <p-dropdown
                      id="telefone_usuario_nome"
                      [options]="ddTelefone_usuario_nome"
                      [style]="{'max-width':'90%'}"
                      formControlName="telefone_usuario_nome"
                      placeholder="SELECIONE"
                      [showClear]="true"
                    ></p-dropdown>
                    <app-campo-control-erro msgErro="Atendente é obrigatório."></app-campo-control-erro>
                  </div>

                  <!-- telefone_de -->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('telefone_de')">
                    <label for="telefone_de"><span style="color: var(--ativo);">*</span> De</label>
                    <input
                      id="telefone_de"
                      formControlName="telefone_de"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                    <app-campo-control-erro msgErro="De é obrigatório."></app-campo-control-erro>
                  </div>

                  <!-- telefone_para -->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('telefone_para')">
                    <label for="telefone_para"><span style="color: var(--ativo);">*</span> Para</label>
                    <input
                      id="telefone_para"
                      formControlName="telefone_para"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                    <app-campo-control-erro msgErro="Para é obrigatório."></app-campo-control-erro>
                  </div>

                  <!-- telefone_assunto -->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('telefone_assunto')">
                    <label for="telefone_assunto"><span style="color: var(--ativo);">*</span> Assunto</label>
                    <input
                      id="telefone_assunto"
                      formControlName="telefone_assunto"
                      type="text"
                      [size]="40"
                      [maxlength]="100"
                      pInputText
                    />
                    <app-campo-control-erro msgErro="Assunto é obrigatório."></app-campo-control-erro>
                  </div>

                </div>
              </div>
              <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6 formulario">
                <div class="p-fluid p-formgrid p-grid formulario">


                  <!-- telefone_ddd -->
                  <div class="p-field p-col-12">
                    <label for="telefone_ddd">DDD</label>
                    <input
                      id="telefone_ddd"
                      type="text"
                      pInputText
                      pKeyFilter="num"
                      formControlName="telefone_ddd"
                      [size]="5"
                      [maxlength]="5"
                    >
                  </div>

                  <!-- telefone_telefone -->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('telefone_telefone')">
                    <label for="telefone_telefone"><span style="color: var(--ativo);">*</span> Telefone</label>
                    <input
                      id="telefone_telefone"
                      type="text"
                      pInputText
                      pKeyFilter="num"
                      formControlName="telefone_telefone"
                      [size]="40"
                      [maxlength]="50"
                    >
                    <app-campo-control-erro msgErro="Telefone é obrigatório."></app-campo-control-erro>
                  </div>

                  <!-- telefone_local_id -->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('telefone_local_id')">
                    <label for="telefone_local_id"><span style="color: var(--ativo);">*</span> Núcleo</label>
                    <p-dropdown
                      id="telefone_local_id"
                      [options]="ddTelefone_local_id"
                      [style]="{'max-width':'90%'}"
                      formControlName="telefone_local_id"
                      placeholder="SELECIONE"
                      [showClear]="true"
                    ></p-dropdown>
                    <app-campo-control-erro msgErro="Núcleo é obrigatório."></app-campo-control-erro>
                  </div>

                  <!-- telefone_observacao -->
                  <div class="p-field p-col-12">
                    <label for="telefone_observacao">Observações</label>
                    <textarea
                      id="telefone_observacao"
                      formControlName="telefone_observacao"
                      [rows]="5"
                      [cols]="40"
                      pInputTextarea
                      [autoResize]="true"
                    >
                    </textarea>
                  </div>

                  <!-- telefone_resolvido -->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('telefone_resolvido')">
                    <label for="telefone_resolvido"><span style="color: var(--ativo);">*</span> Situação</label>
                    <p-selectButton id="telefone_resolvido" [options]="ddTelefone_resolvido"
                                    formControlName="telefone_resolvido"></p-selectButton>
                    <app-campo-control-erro msgErro="Situação é obrigatório."></app-campo-control-erro>
                  </div>

                </div>
              </div>


            </div>
          </div>
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>
        </div>

      </div>

      <div class="p-grid">
        <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
      </div>

      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">
              <div class="p-col-12 formulario">
                <!--*** Botões ***-->
                <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded"
                      [disabled]="!formTelefone.valid || !mostraForm"
                      (click)="enviarTelefone()"
                      label="Enviar"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Limpar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Fechar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid formulario-bg-externo">
          <div class="p-col-12"></div>
          <div class="p-col-12"></div>
        </div>
      </div>

    </form>
  </div>
</p-scrollPanel>
