<p-scrollPanel [styleClass]="'scrollPanel50'">
  <form [formGroup]="formTelefone">

    <div class="p-grid">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
    </div>

    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">

        <!-- telefone_tipo -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('telefone_tipo')">
            <h6><span style="color: var(--ativo);">*</span> Tipo</h6>
            <p-selectButton [options]="ddTelefone_tipo" formControlName="telefone_tipo"></p-selectButton>
            <app-campo-control-erro msgErro="Tipo é obrigatório."></app-campo-control-erro>
          </div>
        </div>

        <!-- telefone_data -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('telefone_data')">
            <h6><span style="color: var(--ativo);">*</span> Data</h6>
            <div style="width: 100px">
              <p-calendar
                formControlName="telefone_data"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"

                [showTime]="true"
                dataType="string"
                [styleClass]="'estreito'"
              ></p-calendar>
            </div>
            <app-campo-control-erro msgErro="Data é obrigatório."></app-campo-control-erro>
          </div>
        </div>


        <!-- telefone_usuario_nome -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('telefone_usuario_nome')">
            <h6><span style="color: var(--ativo);">*</span> Atendente</h6>
            <p-dropdown
              [options]="ddTelefone_usuario_nome"
              [style]="{'max-width':'90%'}"
              formControlName="telefone_usuario_nome"
              placeholder="SELECIONE"
              [showClear]="true"
            ></p-dropdown>
            <app-campo-control-erro msgErro="Atendente é obrigatório."></app-campo-control-erro>
          </div>
        </div>

        <!-- telefone_de -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('telefone_de')">
            <h6><span style="color: var(--ativo);">*</span> De</h6>
            <input
              formControlName="telefone_de"
              type="text"
              [size]="40"
              [maxlength]="50"
              pInputText
            />
            <app-campo-control-erro msgErro="De é obrigatório."></app-campo-control-erro>
          </div>
        </div>

        <!-- telefone_para -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('telefone_para')">
            <h6><span style="color: var(--ativo);">*</span> Para</h6>
            <input
              formControlName="telefone_para"
              type="text"
              [size]="40"
              [maxlength]="50"
              pInputText
            />
            <app-campo-control-erro msgErro="Para é obrigatório."></app-campo-control-erro>
          </div>
        </div>

        <!-- telefone_assunto -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('telefone_assunto')">
            <h6><span style="color: var(--ativo);">*</span> Assunto</h6>
            <input
              formControlName="telefone_assunto"
              type="text"
              [size]="40"
              [maxlength]="100"
              pInputText
            />
            <app-campo-control-erro msgErro="Assunto é obrigatório."></app-campo-control-erro>
          </div>
        </div>

      </div>
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">



        <!-- telefone_ddd -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu">
            <h6>DDD</h6>
            <input
              type="text"
              pInputText
              pKeyFilter="num"
              formControlName="telefone_ddd"
              [size]="5"
              [maxlength]="5"
            >
          </div>
        </div>

        <!-- telefone_telefone -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('telefone_telefone')">
            <h6><span style="color: var(--ativo);">*</span> Telefone</h6>
            <input
              type="text"
              pInputText
              pKeyFilter="num"
              formControlName="telefone_telefone"
              [size]="40"
              [maxlength]="50"
            >
            <app-campo-control-erro msgErro="Telefone é obrigatório."></app-campo-control-erro>
          </div>
        </div>

        <!-- telefone_local_id -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('telefone_local_id')">
            <h6><span style="color: var(--ativo);">*</span> Núcleo</h6>
            <p-dropdown
              [options]="ddTelefone_local_id"
              [style]="{'max-width':'90%'}"
              formControlName="telefone_local_id"
              placeholder="SELECIONE"
              [showClear]="true"
            ></p-dropdown>
            <app-campo-control-erro msgErro="Núcleo é obrigatório."></app-campo-control-erro>
          </div>
        </div>

        <!-- telefone_observacao -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu">
            <h6>Observações</h6>
            <textarea
              formControlName="telefone_observacao"
              [rows]="5"
              [cols]="40"
              pInputTextarea
              [autoResize]="true"
            >
          </textarea>
          </div>
        </div>

        <!-- telefone_resolvido -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('telefone_resolvido')">
            <h6><span style="color: var(--ativo);">*</span> Situação</h6>
            <p-selectButton [options]="ddTelefone_resolvido" formControlName="telefone_resolvido"></p-selectButton>
            <app-campo-control-erro msgErro="Situação é obrigatório."></app-campo-control-erro>
          </div>
        </div>

      </div>
    </div>

  </form>
  <div class="p-grid">
    <div class="p-col-12"></div>
    <div class="p-col-12">
      <div class="botoesmenu">
        <button
          pButton
          type="button"
          class="p-button-rounded"
          [disabled]="!formTelefone.valid || !mostraForm"
          (click)="enviarTelefone()"
          label="Enviar"
        ></button>
        &nbsp;&nbsp;
        <button
          pButton
          type="button"
          class="p-button-rounded p-button-secondary"
          (click)="resetForm()"
          label="Limpar"
          [disabled]="botaoEnviarVF"
        ></button>
        &nbsp;&nbsp;
        <button
          pButton
          type="button"
          class="p-button-rounded p-button-secondary"
          (click)="voltarListar()"
          label="Fechar"
          [disabled]="botaoEnviarVF"
        ></button>
      </div>
    </div>
    <div class="p-col-12"></div>
    <div class="p-col-12"></div>
    <div class="p-col-12"></div>
  </div>
</p-scrollPanel>
