<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <div class="p-fluid formulario-bg-externo">
      <div class="p-d-flex p-jc-center">
        <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
          <span class="formulario-titulo">SOLICITAÇÃO - APAGAR</span>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">

          <div class="p-fluid p-formgrid p-grid formulario">
            <div class="p-field p-col-12">
              <table class="detalhefull">
                <tr>
                  <td>
                    <table class="table-hover tabela">
                      <caption>SOLICITAÇÃO</caption>
                      <tr>
                        <th style="width: 3%;" nowrap>
                          Situação:
                        </th>
                        <td>
                          {{sol.solicitacao_situacao}}
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 3%;" nowrap>
                          Status:
                        </th>
                        <td>
                          {{sol.solicitacao_status_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Solicitante:
                        </th>
                        <td>
                          {{sol.solicitacao_cadastro_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Tipo de Solicitante:
                        </th>
                        <td>
                          {{sol.solicitacao_cadastro_tipo_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Data:
                        </th>
                        <td>
                          {{sol.solicitacao_data}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Assunto:
                        </th>
                        <td>
                          {{sol.solicitacao_assunto_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Área de interesse:
                        </th>
                        <td>
                          {{sol.solicitacao_area_interesse_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_orgao">
                        <th>
                          Orgão solicitado:
                        </th>
                        <td>
                          {{sol.solicitacao_orgao}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_numero_oficio">
                        <th>
                          Num. ofício:
                        </th>
                        <td>
                          {{sol.solicitacao_numero_oficio}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_local_nome">
                        <th>
                          Núcleo:
                        </th>
                        <td>
                          {{sol.solicitacao_local_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_indicacao_sn">
                        <th>
                          Indicação S/N:
                        </th>
                        <td>
                          {{sol.solicitacao_indicacao_sn}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_indicacao_nome">
                        <th>
                          Indicação:
                        </th>
                        <td>
                          {{sol.solicitacao_indicacao_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_reponsavel_analize_nome">
                        <th>
                          Responsável:
                        </th>
                        <td>
                          {{sol.solicitacao_reponsavel_analize_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_data_atendimento">
                        <th>
                          Dt. Atendimento:
                        </th>
                        <td>
                          {{sol.solicitacao_data_atendimento}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_atendente_cadastro_nome">
                        <th>
                          Atendente:
                        </th>
                        <td>
                          {{sol.solicitacao_atendente_cadastro_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_cadastrante_cadastro_nome">
                        <th>
                          Cadastrante:
                        </th>
                        <td>
                          {{sol.solicitacao_cadastrante_cadastro_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_tipo_recebimento_nome">
                        <th>
                          Tp. Recebimento:
                        </th>
                        <td>
                          {{sol.solicitacao_tipo_recebimento_nome}}
                        </td>
                      </tr>
                      <tr
                        *ngIf="sol.solicitacao_descricao"
                      >
                        <td colspan="2" class="tituloEditor">
                          Descrição:
                        </td>
                      </tr>
                      <tr
                        *ngIf="sol.solicitacao_descricao"
                      >
                        <td colspan="2">
                          <quill-view [content]="sol.solicitacao_descricao" [format]="'html'" theme="snow"></quill-view>
                        </td>
                      </tr>
                      <tr
                        *ngIf="sol.solicitacao_aceita_recusada"
                      >
                        <td colspan="2" class="tituloEditor">
                          Observações:
                        </td>
                      </tr>
                      <tr
                        *ngIf="sol.solicitacao_aceita_recusada"
                      >
                        <td colspan="2">
                          <quill-view [content]="sol.solicitacao_aceita_recusada" [format]="'html'" theme="snow"></quill-view>
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_carta">
                        <td colspan="2" class="tituloEditor">
                          Resposta:
                        </td>
                      </tr>
                      <tr *ngIf="sol.solicitacao_carta">
                        <td colspan="2">
                          <quill-view [content]="sol.solicitacao_carta_delta" [format]="'html'" theme="snow"></quill-view>
                        </td>
                      </tr>

                      <tr *ngIf="sol.solicitacao_arquivos">
                        <td colspan="2">
                          <app-detalhe-explorer [arquivos]="sol.solicitacao_arquivos"></app-detalhe-explorer>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <br>

                    <table *ngIf="sol.cadastro_id" class="table-hover tabela">
                      <caption>SOLICITANTE</caption>
                      <tr>
                        <th style="width: 3%;" nowrap>
                          Tipo de Cadastro:
                        </th>
                        <td>
                          {{sol.solicitacao_cadastro_tipo_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Tratamento:
                        </th>
                        <td>
                          {{sol.cadastro_tratamento_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Nome/Rasão Social:
                        </th>
                        <td>
                          {{sol.solicitacao_cadastro_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_responsavel">
                        <th>
                          Empresa/Responsável:
                        </th>
                        <td>
                          {{sol.cadastro_responsavel}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_cargo && aut.cadastro_listar">
                        <th>
                          Cargo:
                        </th>
                        <td>
                          {{sol.cadastro_cargo}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_profissao && aut.cadastro_listar">
                        <th>
                          Profissão:
                        </th>
                        <td>
                          {{sol.cadastro_profissao}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_endereco && aut.cadastro_listar">
                        <th>
                          Endereço:
                        </th>
                        <td>
                          {{sol.cadastro_endereco}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_endereco_numero && aut.cadastro_listar">
                        <th>
                          Número:
                        </th>
                        <td>
                          {{sol.cadastro_endereco_numero}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_endereco_complemento && aut.cadastro_listar">
                        <th>
                          Complemento:
                        </th>
                        <td>
                          {{sol.cadastro_endereco_complemento}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_bairro">
                        <th>
                          Bairro:
                        </th>
                        <td>
                          {{sol.cadastro_bairro}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Município:
                        </th>
                        <td>
                          {{sol.cadastro_municipio_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Estado:
                        </th>
                        <td>
                          {{sol.cadastro_estado_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_cep && aut.cadastro_listar">
                        <th>
                          CEP:
                        </th>
                        <td>
                          {{sol.cadastro_cep}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_regiao_nome">
                        <th>
                          Região:
                        </th>
                        <td>
                          {{sol.cadastro_regiao_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_grupo_nome">
                        <th>
                          Grupo:
                        </th>
                        <td>
                          {{sol.cadastro_grupo_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_cpfcnpj && aut.cadastro_listar">
                        <th>
                          CPF/CNPJ:
                        </th>
                        <td>
                          {{sol.cadastro_cpfcnpj}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_telefone && aut.cadastro_listar">
                        <th>
                          Telefone 1:
                        </th>
                        <td>
                          {{sol.cadastro_telefone}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_telefone2 && aut.cadastro_listar">
                        <th>
                          Telefone 2:
                        </th>
                        <td>
                          {{sol.cadastro_telefone2}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_telcom && aut.cadastro_listar">
                        <th>
                          Telefone comercial:
                        </th>
                        <td>
                          {{sol.cadastro_telcom}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_celular && aut.cadastro_listar">
                        <th>
                          Celular 1:
                        </th>
                        <td>
                          {{sol.cadastro_celular}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_celular2 && aut.cadastro_listar">
                        <th>
                          Celular 2:
                        </th>
                        <td>
                          {{sol.cadastro_celular2}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_fax && aut.cadastro_listar">
                        <th>
                          WhatsApp:
                        </th>
                        <td>
                          {{sol.cadastro_fax}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_email && aut.cadastro_listar">
                        <th>
                          E-mail 1:
                        </th>
                        <td>
                          {{sol.cadastro_email}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_email2 && aut.cadastro_listar">
                        <th>
                          E-mail 2:
                        </th>
                        <td>
                          {{sol.cadastro_email2}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_rede_social && aut.cadastro_listar">
                        <th>
                          Facebook:
                        </th>
                        <td>
                          {{sol.cadastro_rede_social}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_outras_midias && aut.cadastro_listar">
                        <th>
                          Outras mídias:
                        </th>
                        <td>
                          {{sol.cadastro_outras_midias}}
                        </td>
                      </tr>
                      <tr *ngIf="sol.cadastro_arquivos && aut.cadastro_listar && aut.arquivos_baixar">
                        <td colspan="2">
                          <app-detalhe-explorer [arquivos]="sol.cadastro_arquivos"></app-detalhe-explorer>
                        </td>
                      </tr>

                    </table>

                  </td>
                </tr>
                <ng-container *ngIf="sol.historico_solicitcao">
                  <tr *ngIf="sol.historico_solicitcao.length > 0">
                    <td>
                      <br>
                      <table class="table-hover tabela">
                        <caption>ANDAMENTOS DA SOLICITAÇÃO</caption>
                        <tr>
                          <th style="width: 3%;" nowrap>
                            Data:
                          </th>
                          <th>
                            Andamento:
                          </th>
                        </tr>
                        <tr *ngFor="let ands of sol.historico_solicitcao">
                          <td style="width: 3%; vertical-align:top;" nowrap>
                            {{ands.historico_data}}
                          </td>
                          <td>
                            <quill-view [content]="ands.historico_andamento" [format]="'html'" theme="snow"></quill-view>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </ng-container>


                <tr *ngIf="vs.solicitacaoVersao === 1 && sol.processo_id">
                  <td>
                    <br>

                    <div class="vinculos">
                      <div class="vinculos-interno">

                        <table *ngIf="aut.processo_listar" class="table-hover tabela" style="border-color: transparent">
                          <caption>VÍNCULOS DESTA SOLICITAÇÃO</caption>
                          <tr class="fundo-claro">
                            <td class="fundo-claro">
                              <br>

                              <table class="table-hover tabela">
                                <caption>PROCESSO</caption>
                                <tr *ngIf="sol.processo_status_nome">
                                  <th style="width: 3%;" nowrap>
                                    Situação:
                                  </th>
                                  <td>
                                    {{sol.processo_status_nome}}.
                                  </td>
                                </tr>
                                <tr *ngIf="sol.processo_numero">
                                  <th nowrap>
                                    Número do processo:
                                  </th>
                                  <td>
                                    {{sol.processo_numero}}.
                                  </td>
                                </tr>
                                <tr *ngIf="sol.processo_carta">
                                  <td colspan="2">
                                    <quill-view [content]="sol.processo_carta" [format]="'html'" theme="snow"></quill-view>
                                  </td>
                                </tr>
                                <tr *ngIf="sol.processo_arquivos">
                                  <td colspan="2">
                                    <app-detalhe-explorer [arquivos]="sol.processo_arquivos"></app-detalhe-explorer>
                                  </td>
                                </tr>
                              </table>
                              <ng-container
                                *ngIf="vs.solicitacaoVersao === 1 && sol.historico_processo && aut.processo_listar">

                                <table *ngIf="sol.historico_processo.length > 0" class="table-hover tabela">
                                  <caption>ANDAMENTOS DO PROCESSO</caption>
                                  <tr>
                                    <th style="width: 3%;" nowrap>
                                      Data:
                                    </th>
                                    <th>
                                      Andamento:
                                    </th>
                                  </tr>
                                  <tr *ngFor="let andp of sol.historico_processo">
                                    <td style="width: 3%; vertical-align:top;" nowrap>
                                      {{andp.historico_data}}
                                    </td>
                                    <td>
                                      <quill-view [content]="andp.historico_andamento" [format]="'html'" theme="snow"></quill-view>
                                    </td>
                                  </tr>
                                </table>

                              </ng-container>
                              <ng-container *ngIf="vs.solicitacaoVersao === 1 && sol.oficio && aut.oficio_listar">
                                <ng-container *ngIf="sol.oficio.length > 0">
                                  <ng-container *ngFor="let ofi of sol.oficio">
                                    <br>

                                    <table class="table-hover tabela">
                                      <caption>OFÍCIO</caption>
                                      <tr *ngIf="ofi.oficio_numero">
                                        <th style="width: 3%;" nowrap>
                                          Número:
                                        </th>
                                        <td>
                                          {{ofi.oficio_numero}}.
                                        </td>
                                      </tr>
                                      <tr *ngIf="ofi.oficio_codigo">
                                        <th style="width: 3%;" nowrap>
                                          Código:
                                        </th>
                                        <td>
                                          {{ofi.oficio_codigo}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_status">
                                        <th style="width: 3%;" nowrap>
                                          Situação:
                                        </th>
                                        <td>
                                          {{ofi.oficio_status}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_convenio && aut.oficio_listar">
                                        <th>
                                          Convênio:
                                        </th>
                                        <td>
                                          {{ofi.oficio_convenio}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_prioridade_nome && aut.oficio_listar">
                                        <th>
                                          Prioridade:
                                        </th>
                                        <td>
                                          {{ofi.oficio_prioridade_nome}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_data_emissao && aut.oficio_listar">
                                        <th style="width: 3%;" nowrap>
                                          Data emissão:
                                        </th>
                                        <td>
                                          {{ofi.oficio_data_emissao}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_data_recebimento && aut.oficio_listar">
                                        <th>
                                          Data recebimento:
                                        </th>
                                        <td>
                                          {{ofi.oficio_data_recebimento}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_orgao_solicitado_nome && aut.oficio_listar">
                                        <th>
                                          Orgão solicitado:
                                        </th>
                                        <td>
                                          {{ofi.oficio_orgao_solicitado_nome}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_data_protocolo && aut.oficio_listar">
                                        <th>
                                          Data protocolo:
                                        </th>
                                        <td>
                                          {{ofi.oficio_data_protocolo}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_protocolo_numero && aut.oficio_listar">
                                        <th>
                                          Número do protocolo:
                                        </th>
                                        <td>
                                          {{ofi.oficio_protocolo_numero}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_orgao_protocolante_nome && aut.oficio_listar">
                                        <th>
                                          Orgão protocolante:
                                        </th>
                                        <td>
                                          {{ofi.oficio_orgao_protocolante_nome}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_prazo && aut.oficio_listar">
                                        <th>
                                          Praso:
                                        </th>
                                        <td>
                                          {{ofi.oficio_prazo}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_tipo_andamento_nome && aut.oficio_listar">
                                        <th>
                                          Tipo de andamento:
                                        </th>
                                        <td>
                                          {{ofi.oficio_tipo_andamento_nome}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_tipo_recebimento_nome && aut.oficio_listar">
                                        <th>
                                          Tipo de recebimento:
                                        </th>
                                        <td>
                                          {{ofi.oficio_tipo_recebimento_nome}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_valor_solicitado && aut.oficio_listar">
                                        <th>
                                          Valor solicitado:
                                        </th>
                                        <td>
                                          {{ofi.oficio_valor_solicitado}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_valor_recebido && aut.oficio_listar">
                                        <th>
                                          Valor recebido:
                                        </th>
                                        <td>
                                          {{ofi.oficio_valor_recebido}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_data_pagamento && aut.oficio_listar">
                                        <th>
                                          Data pagamento:
                                        </th>
                                        <td>
                                          {{ofi.oficio_data_pagamento}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_data_empenho && aut.oficio_listar">
                                        <th>
                                          Data empenho:
                                        </th>
                                        <td>
                                          {{ofi.oficio_data_empenho}}
                                        </td>
                                      </tr>

                                      <tr *ngIf="ofi.oficio_descricao_acao">
                                        <td colspan="2" class="tituloEditor">
                                          Descrição:
                                        </td>
                                      </tr>
                                      <tr *ngIf="ofi.oficio_descricao_acao && aut.oficio_listar">
                                        <td colspan="2">
                                          <quill-view [content]="ofi.oficio_descricao_acao" [format]="'html'" theme="snow"></quill-view>
                                        </td>
                                      </tr>
                                      <tr *ngIf="ofi.oficio_arquivos && aut.oficio_listar">
                                        <td colspan="2">
                                          <app-detalhe-explorer
                                            [arquivos]="ofi.oficio_arquivos"></app-detalhe-explorer>
                                        </td>
                                      </tr>
                                    </table>

                                  </ng-container>
                                </ng-container>
                              </ng-container>
                              <ng-container *ngIf="vs.solicitacaoVersao === 1 && sol.oficio && !aut.oficio_listar">
                                <table *ngIf="sol.oficio.length > 0" class="table-hover tabela">
                                  <caption>OFÍCIO(S)</caption>
                                  <tr>
                                    <td>
                                      Esta solicitacao está vinculada a {{sol.oficio.length}} ofício(s).
                                    </td>
                                  </tr>
                                </table>
                              </ng-container>


                            </td>
                          </tr>
                        </table>


                        <table *ngIf="!aut.processo_listar" class="table-hover tabela">
                          <caption>VÍNCULOS DESTA SOLICITAÇÃO</caption>
                          <tr class="fundo-claro">
                            <td class="fundo-claro">
                              <br>

                              <table class="table-hover tabela">
                                <caption>VÍNCULOS DESTA SOLICITAÇÃO</caption>
                                <tr *ngIf="sol.processo_numero">
                                  <th>
                                    Processo:
                                  </th>
                                </tr>
                                <tr *ngIf="sol.processo_numero">
                                  <td>
                                    Esta solicitacao está vinculada ao processo {{sol.processo_numero}}.
                                  </td>
                                </tr>
                                <tr *ngIf="sol.processo_arquivos">
                                  <td>
                                    <app-detalhe-explorer [arquivos]="sol.processo_arquivos"></app-detalhe-explorer>
                                  </td>
                                </tr>
                                <ng-container *ngIf="sol.oficio">
                                  <tr *ngIf="sol.oficio.length > 0">
                                    <th>
                                      Ofício(s):
                                    </th>
                                  </tr>
                                  <tr *ngIf="sol.oficio.length > 0">
                                    <td>
                                      Esta solicitacao está vinculada a {{sol.oficio.length}} ofício(s).
                                    </td>
                                  </tr>
                                </ng-container>


                              </table>


                            </td>
                          </tr>
                        </table>


                      </div>
                    </div>


                  </td>
                </tr>
                <ng-container *ngIf="mensagens.length > 0">
                  <tr>
                    <td>
                      <div class="vinculos-perigo">
                        <div class="vinculos-interno-perigo">
                          <br>
                          <table class="table-hover tabela">
                            <caption style="vertical-align:top;"><i class="pi pi-exclamation-triangle"
                                                                    style="font-size: 2rem;color: var(--invalid)"></i>
                              ATENÇÃO <i class="pi pi-exclamation-triangle"
                                         style="font-size: 2rem;color: var(--invalid)"></i></caption>
                            <tr *ngFor="let m of mensagens">
                              <td>
                                {{m}}
                              </td>
                            </tr>

                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </table>

            </div>
          </div>

        </div>
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
    </div>

    <div class="p-fluid formulario-bg-externo espacoInferiorMenu">
      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-grid p-input-filled">

            <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
              <div class="p-col-12 formulario">
                <!--*** Botões ***-->
                <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      [disabled]="botaoEnviarVF || getPermissao()"
                      label="APAGAR"
                      class="p-button-rounded p-button-danger"
                      (click)="excluirSolicitacao()">
                    </button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      icon="fas fa-print"
                      [disabled]="apagarSN"
                      label="VOLTAR"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltar()">
                    </button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="p-fluid formulario-bg-externo">
      <div class="p-grid formulario-bg-externo">
        <div class="p-col-12"></div>
        <div class="p-col-12"></div>
      </div>
    </div>
  </div>
</p-scrollPanel>
