<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <form [formGroup]="formEmenda" (ngSubmit)="onSubmit()">
      <div class="inline-block formulario-bg-externo">

        <div class="flex justify-content-center">
          <div class="mt-1 mb-1 pt-2 px-3 pb-1">
            <span class="formulario-titulo">EMENDA - ATUALIZAR</span>
          </div>
        </div>
        <div class="grid">
          <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
            <div class="grid p-input-filled">


              <!--*** COLUNA 1 ***-->
              <div class="col-12 formulario">
                <div class="formgrid grid formulario">

                  <!--*** emenda_situacao ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-4"
                       [ngClass]="aplicaCssErro('emenda_situacao_id')">
                    <label for="emenda_situacao_id"><span class="atencao">*</span>Situação</label>
                    <p-dropdown
                      id="emenda_situacao_id"
                      formControlName="emenda_situacao_id"
                      placeholder="Selecione"
                      [options]="ddEmenda_situacao_id"
                      [required]="true"
                      [ngClass]="aplicaCssErro('emenda_situacao_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('emenda_situacao_id')"
                                            msgErro="Situação é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** emenda_contrato ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-4">
                    <label for="emenda_contrato">Contrato Caixa</label>
                    <input
                      id="emenda_contrato"
                      formControlName="emenda_contrato"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>

                  <!--*** emenda_porcentagem ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-4">
                    <label for="emenda_porcentagem">% Concluida</label>
                    <p-inputNumber
                      id="emenda_porcentagem"
                      formControlName="emenda_porcentagem"
                      mode="decimal"
                      buttonLayout="horizontal"
                      suffix="%"
                      [showButtons]="true"
                      [min]="0"
                      [max]="100"
                      incrementButtonIcon="pi pi-plus"
                      decrementButtonIcon="pi pi-minus"
                    >
                    </p-inputNumber>
                  </div>

                  <!--*** emenda_valor_empenhado ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-4">
                    <label for="emenda_valor_empenhado">Valor empenhado</label>
                    <p-inputNumber
                      formControlName="emenda_valor_empenhado"
                      id="emenda_valor_empenhado"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                      [minFractionDigits]="2"
                    >
                    </p-inputNumber>
                  </div>

                  <!--*** emenda_data_empenho ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-4">
                    <label for="emenda_data_empenho">Data do empenho</label>
                    <p-calendar
                      id="emenda_data_empenho"
                      formControlName="emenda_data_empenho"
                      dateFormat="dd/mm/yy"
                      placeholder="dd/mm/aaaa"
                      dataType="date"
                    ></p-calendar>
                  </div>

                  <!--*** emenda_numero_empenho ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-4">
                    <label for="emenda_numero_empenho">Número do empenho</label>
                    <input
                      id="emenda_numero_empenho"
                      formControlName="emenda_numero_empenho"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>

                  <!--*** emenda_data_pagamento ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-4">
                    <label for="emenda_data_pagamento">Data do pagamento (1&deg; parcela ou a vista)</label>
                    <p-calendar
                      id="emenda_data_pagamento"
                      formControlName="emenda_data_pagamento"
                      dateFormat="dd/mm/yy"
                      placeholder="dd/mm/aaaa"
                      dataType="date"
                    ></p-calendar>
                  </div>

                  <!--*** emenda_valor_pago ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-4">
                    <label for="emenda_valor_pago">Valor pago</label>
                    <p-inputNumber
                      formControlName="emenda_valor_pago"
                      id="emenda_valor_pago"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                      [minFractionDigits]="2"
                    >
                    </p-inputNumber>
                  </div>

                  <!--*** emenda_numero_ordem_bancaria ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-4">
                    <label for="emenda_numero_ordem_bancaria">Órdem bancária</label>
                    <input
                      id="emenda_numero_ordem_bancaria"
                      formControlName="emenda_numero_ordem_bancaria"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                </div>
              </div>

              <!--*** COLUNA 4 ***-->
              <div class="col-12 formulario">
                <div class="formgrid grid">

                  <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
                    <p-accordion>
                      <p-accordionTab header="Informações sobre pagamento (quando parcelado)">
                        <div class="flex justify-content-center">
                          <div class="formulario-quill">
                            <div class="qeditor">
                              <quill-editor
                                class="formulario"
                                id="emenda_observacao_pagamento"
                                [format]="format0"
                                [defaultEmptyValue]="null"
                                [theme]="'snow'"
                                [modules]="modulos"
                                [debounceTime]="10"
                                [placeholder]="''"
                                formControlName="emenda_observacao_pagamento"
                                (onContentChanged)="onContentChanged($event, 'emenda_observacao_pagamento')"
                              ></quill-editor>
                            </div>
                          </div>
                        </div>
                      </p-accordionTab>

                      <p-accordionTab header="Histórico / Andamento">
                        <div class="flex justify-content-center">
                          <div class="formulario-quill">
                            <div class="qeditor">
                              <quill-editor
                                class="formulario"
                                id="historico_andamento"
                                [format]="format1"
                                [defaultEmptyValue]="null"
                                [theme]="'snow'"
                                [modules]="modulos"
                                [debounceTime]="10"
                                [placeholder]="''"
                                formControlName="historico_andamento"
                                (onContentChanged)="onContentChanged($event, 'historico_andamento')"
                              ></quill-editor>
                            </div>
                          </div>
                        </div>
                      </p-accordionTab>

                    </p-accordion>
                  </div>

                  <ng-container *ngIf="aut.arquivos">
                    <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
                      <app-arquivo
                        [modulo]="'emenda'"
                        [uploadDisabled]="arquivoDesativado"
                        [arqs]="efs.emendaListar.emenda_arquivos"
                        [registro_id]="efs.emenda.emenda_id"
                        [modelo]="'alterar'"
                        [stiloClass]="'formulario'"
                        [buscaArquivos]="false"
                      ></app-arquivo>
                    </div>
                  </ng-container>

                </div>
              </div>


            </div>
          </div>
          <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno"></div>
        </div>

      </div>

      <div class="grid">
        <div class="col-10 p-offset-1 formulario-bg-externo"></div>
      </div>

      <div class="inline-block formulario-bg-externo espacoInferiorMenu">
        <div class="grid">
          <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
            <div class="grid p-input-filled">
              <div class="col-12 formulario">
                <!--*** Botões ***-->
                <div class="flex justify-content-start pb-2 pt-2">
                  <div class="mr-2">
                    <button
                      pButton
                      type="submit"
                      class="p-button-rounded"
                      [disabled]="!formEmenda.valid || !mostraForm"
                      label="ATUALIZAR"
                    ></button>
                  </div>
                  <div class="mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Cancelar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                  <div class="mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltar()"
                      label="Voltar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="inline-block formulario-bg-externo">
        <div class="grid formulario-bg-externo">
          <div class="col-12"></div>
          <div class="col-12"></div>
        </div>
      </div>

    </form>
  </div>
</p-scrollPanel>
