<div class="formulario" style="background-color: var(--formulario-bg-externo-color);">
  <div class="inline-block">

    <div class="flex justify-content-center">
      <div class="mt-1 mb-1 pt-2 px-3 pb-1">
      </div>
    </div>
    <div class="grid">

      <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
        <div class="grid p-input-filled">


          <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 formulario">
            <div class="formgrid grid formulario">

              <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">

                <div class="flex justify-content-center">
                  <div class="formulario-quill">
                    <h5>Tarefa - Andamento</h5>
                    <div class="qeditor">
                      <quill-editor
                        name="tarefa_tarefa"
                        class="formulario"
                        id="tarefa_tarefa"
                        [(ngModel)]="th_historico"
                        [format]="'html'"
                        [defaultEmptyValue]="null"
                        [theme]="'snow'"
                        [modules]="modulos"
                        [placeholder]="''"
                        (onContentChanged)="onContentChanged($event)"
                        (onEditorCreated)="onEditorCreated($event)"
                      ></quill-editor>
                    </div>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="aut.arquivos">
                <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                  <div class="flex justify-content-center">
                    <div class="arquivo-upload">
                      <app-arquivo
                        [modulo]="'tarefa'"
                        [uploadDisabled]="arquivoDesativado"
                        [(arqs)]="tarefa.tarefa_arquivos"
                        [registro_id]="tarefa.tarefa_id"
                        (onPossuiArquivos)="onPossuiArquivos($event)"
                        [modelo]="'alterar'"
                        [stiloClass]="'formulario'"
                        [buscaArquivos]="false"
                      ></app-arquivo>
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>

        </div>
      </div>

      <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno"></div>

    </div>
  </div>


  <div class="grid">
    <div class="col-10 p-offset-1" style="background-color: var(--formulario-bg-externo-color);">&nbsp;</div>
  </div>

  <div class="inline-block">
    <div class="grid">
      <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
        <div class="grid p-input-filled">
          <div class="col-12 formulario">
            <!--*** Botões ***-->
            <div class="flex justify-content-start pb-2 pt-2">
              <div class="inline-flex">
                <div class="mr-2">
                  <button
                    pButton
                    type="button"
                    class="p-button-rounded"
                    [disabled]="botaoEnviarVF"
                    label="Enviar"
                    (click)="onSubmit()"
                  ></button>
                </div>
                <div class="mr-2">
                  <button
                    pButton
                    type="button"
                    class="p-button-rounded p-button-secondary"
                    (click)="onFechar()"
                    label="Fechar"
                    [disabled]="botaoEnviarVF"
                  ></button>
                </div>
              </div>
              <!--*** FIM BOTOES ***-->
            </div>


          </div>
        </div>
      </div>
    </div>


    <div class="grid">
      <div class="col-10 p-offset-1">&nbsp;</div>
    </div>
  </div>

</div>
