<div class="formulario" style="background-color: var(--formulario-bg-externo-color);">
  <div class="p-fluid">

    <div class="p-d-flex p-jc-center">
      <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
      </div>
    </div>
    <div class="p-grid">

      <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
        <div class="p-grid p-input-filled">


          <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
            <div class="p-fluid p-formgrid p-grid formulario">

              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">

                <div class="p-d-flex p-jc-center">
                  <div class="formulario-quill">
                    <h5>Tarefa - Andamento</h5>
                    <div class="qeditor">
                      <quill-editor
                        name="tarefa_tarefa"
                        class="formulario"
                        id="tarefa_tarefa"
                        [(ngModel)]="th_historico"
                        [format]="'html'"
                        [defaultEmptyValue]="null"
                        [theme]="'snow'"
                        [modules]="modulos"
                        [placeholder]="''"
                        (onContentChanged)="onContentChanged($event)"
                        (onEditorCreated)="onEditorCreated($event)"
                      ></quill-editor>
                    </div>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="aut.arquivos">
                <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
                  <div class="p-d-flex p-jc-center">
                    <div class="arquivo-upload">
                      <app-arquivo
                        [modulo]="'tarefa'"
                        [uploadDisabled]="arquivoDesativado"
                        [(arqs)]="tarefa.tarefa_arquivos"
                        [registro_id]="tarefa.tarefa_id"
                        (onPossuiArquivos)="onPossuiArquivos($event)"
                        [modelo]="'alterar'"
                        [stiloClass]="'formulario'"
                        [buscaArquivos]="false"
                      ></app-arquivo>
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>

        </div>
      </div>

      <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>

    </div>
  </div>


  <div class="p-grid">
    <div class="p-col-10 p-offset-1" style="background-color: var(--formulario-bg-externo-color);">&nbsp;</div>
  </div>

  <div class="p-fluid">
    <div class="p-grid">
      <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
        <div class="p-grid p-input-filled">
          <div class="p-col-12 formulario">
            <!--*** Botões ***-->
            <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
              <div class="p-d-inline-flex">
                <div class="p-mr-2">
                  <button
                    pButton
                    type="button"
                    class="p-button-rounded"
                    [disabled]="botaoEnviarVF"
                    label="Enviar"
                    (click)="onSubmit()"
                  ></button>
                </div>
                <div class="p-mr-2">
                  <button
                    pButton
                    type="button"
                    class="p-button-rounded p-button-secondary"
                    (click)="onFechar()"
                    label="Fechar"
                    [disabled]="botaoEnviarVF"
                  ></button>
                </div>
              </div>
              <!--*** FIM BOTOES ***-->
            </div>


          </div>
        </div>
      </div>
    </div>


    <div class="p-grid">
      <div class="p-col-10 p-offset-1">&nbsp;</div>
    </div>
  </div>

</div>
