<div class="inline-block formulario-bg-externo espacoInferiorMenu">
  <form [formGroup]="formMenuTelefone" (keyup)="onKey($event)">
    <div class="flex justify-content-between pb-2 ml-2 p-pl-2">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-circle-off"
            iconPos="left"
            label="Limpar"
            class="p-button-rounded p-button-secondary"
            (click)="limpar()"
          ></button>
        </div>
        <div *ngIf="aut.telefone_incluir" class="mr-2">
          <button
            *ngIf="aut.telefone_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>

    <div class="flex ml-1 p-pl-2">
      <div class="formgrid grid formulario">

        <!-- telefone_tipo -->
        <div  class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_tipo">Tipo</label>
              <p-selectButton
                id="telefone_tipo"
                [options]="ddTelefone_tipo"
                formControlName="telefone_tipo"
              ></p-selectButton>
            </div>

            <!-- telefone_data1 -->
            <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_data1">De</label>
              <p-calendar
                id="telefone_data1"
                formControlName="telefone_data1"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"
                [showTime]="true"
                dataType="date"
                hourFormat="24"
              ></p-calendar>
            </div>

            <!-- telefone_data2 -->
            <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_data2">até</label>
              <p-calendar
                id="telefone_data2"
                formControlName="telefone_data2"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"
                [showTime]="true"
                dataType="date"
                hourFormat="24"
              ></p-calendar>
            </div>

            <!-- telefone_usuario_nome -->
            <div *ngIf="ddTelefone_usuario_nome" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_usuario_nome">Atendente</label>
              <p-dropdown
                id="telefone_usuario_nome"
                [options]="ddTelefone_usuario_nome"
                [style]="{'width':'100%'}"
                formControlName="telefone_usuario_nome"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- telefone_usuario_nome -->
            <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_assunto1">Assunto começa com</label>
              <p-autoComplete
                #a1
                id="telefone_assunto1"
                formControlName="telefone_assunto1"
                [maxlength]="50"
                [minLength]="3"
                [delay]="500"
                [suggestions]="sgt"
                dropdownMode="current"
                (completeMethod)="autoComp($event,'telefone_assunto')"
                [inputStyle]="{'padding-right':'0'}"
                (onBlur)="testaAssunto1(a1.value)"
              ></p-autoComplete>
            </div>

            <!-- telefone_assunto2 -->
            <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_assunto2">Assunto contém</label>
              <p-chips
                #a2
                id="telefone_assunto2"
                formControlName="telefone_assunto2"
                [addOnTab]="true"
                [addOnBlur]="true"
                [separator]="','"
                (onAdd)="onAddAssunto2($event, a2.value)"
                pTooltip="Separe expressões utilizando ',' ou a tecla 'TAB', cada expressão deve conter no mínimo 4 caracteres."
              ></p-chips>
            </div>

            <!-- telefone_de -->
            <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_de">De</label>
              <p-autoComplete
                id="telefone_de"
                formControlName="telefone_de"
                [maxlength]="50"
                [minLength]="3"
                [delay]="500"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event,'telefone_de')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>

            <!-- telefone_para -->
            <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_para">Para</label>
              <p-autoComplete
                id="telefone_para"
                formControlName="telefone_para"
                [maxlength]="50"
                [minLength]="3"
                [delay]="500"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event,'telefone_para')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>

            <!-- telefone_ddd -->
            <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_ddd">DDD</label>
              <input
                id="telefone_ddd"
                type="text"
                pInputText
                formControlName="telefone_ddd"
                [size]="5"
              >
            </div>

            <!-- telefone_telefone -->
            <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_telefone">Telefone</label>
              <p-autoComplete
                id="telefone_telefone"
                formControlName="telefone_telefone"
                [maxlength]="50"
                [minLength]="3"
                [delay]="500"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event,'telefone_telefone')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>

            <!-- telefone_local_id -->
            <div *ngIf="ddTelefone_local_id" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_local_id">Núcleo</label>
              <p-dropdown
                id="telefone_local_id"
                [options]="ddTelefone_local_id"
                [style]="{'width':'100%'}"
                formControlName="telefone_local_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- telefone_resolvido -->
            <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
              <label for="telefone_resolvido">Situação</label>
              <p-selectButton
                id="telefone_resolvido"
                [options]="ddTelefone_resolvido"
                formControlName="telefone_resolvido"
              ></p-selectButton>
            </div>

      </div>
    </div>

    <div class="flex justify-content-between pb-2 ml-2 p-pl-2">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-circle-off"
            iconPos="left"
            label="Limpar"
            class="p-button-rounded p-button-secondary"
            (click)="limpar()"
          ></button>
        </div>
        <div *ngIf="aut.telefone_incluir" class="mr-2">
          <button
            *ngIf="aut.telefone_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
