<!--*** INICIO *****************************************************************************************************-->
<p-table #dtb
         id="tabelaoficio"
         [value]="os.oficios"
         [columns]="os.tabela.selectedColumns"
         [rows]="os.tabela.rows"
         [lazy]="true"
         [lazyLoadOnInit]="false"
         [totalRecords]="os.tabela.totalRecords"
         [sortField]="os.tabela.sortField"
         dataKey="oficio_id"
         [scrollable]="true"
         [scrollHeight]="altura"
         [(selection)]="os.selecionados"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         [autoLayout]="false"
         columnResizeMode="expand"
         [rowHover]="true"
         [responsive]="false"
         rowExpandMode="single"
         [(first)]="os.tabela.first"
         [(contextMenuSelection)]="os.Contexto"
         contextMenuSelectionMode="joint"
         [contextMenu]="cm"
         [pageLinks]="5"
         [paginator]="true"
         [alwaysShowPaginator]="true"
         [rowsPerPageOptions]="os.rowsPerPageOptions"
         (rowsChange)="os.rowsChange($event)"
         (onLazyLoad)="onLazyLoad($event)"
         (onColReorder)="onColReorder($event)"
         (onRowExpand)="os.onRowExpand($event)"
         (onRowCollapse)="os.onRowCollapse($event)"
         (onStateSave)="os.setState($event)"
         (onStateRestore)="os.onStateRestore($event)"
         (onContextMenuSelect)="os.onContextMenuSelect($event)"
         (sortFunction)="os.customSort($event)"
         [customSort]="true"
         [tableStyle]="{'font-size':'var(--font-padrao)'}"
         stateStorage="session"
         stateKey="oficio-table"
         selectionMode="multiple"
         styleClass="tablistagem p-datatable-sm p-datatable-striped p-datatable-gridlines p-selectable-row"
>

  <!--*** TOPO *****************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div [ngClass]="{'hide-datatable': md.mdt}">
      <div class="p-d-flex p-jc-between p-ai-center p-flex-column p-flex-md-row">
        <div class="p-d-inline-flex">
          <div class="p-mx-2">
            <button pButton type="button" label="Filtrar" icon="pi pi-search" class="p-button-text p-button-sm"
                    (click)="mostraMenu()"></button>
          </div>
          <div class="p-mr-2">
            <button pButton type="button" label="Colunas" icon="pi pi-table" class="p-button-text p-button-sm"
                    (click)="mostraSelectColunas()"></button>
          </div>
          <div class="p-mr-2" *ngIf="aut.dispositivo!=='mobile'">
            <button pButton type="button" label="Relatórios" icon="pi pi-info" class="p-button-text p-button-sm"
                    (click)="men.toggle($event)"></button>
          </div>

          <div class="p-mr-0" *ngIf="aut.oficio_incluir || aut.usuario_responsavel_sn || aut.usuario_principal_sn">
            <button pButton type="button" label="Incluir" icon="pi pi-plus" class="p-button-text p-button-sm"
                    (click)="oficioIncluir()"></button>
          </div>
        </div>

        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mx-2">OFÍCIOS</div>
        </div>
        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mr-2" *ngIf="os.selecionados.length > 0">
            <button pButton type="button" label="Reset" icon="pi pi-backward" class="p-button-text p-button-sm"
                    (click)="os.resetSelecionados()"></button>
          </div>
          <div class="p-mr-2">Página {{os.tabela.currentPage}} de {{os.tabela.pageCount}} - Num.
            Registros: {{os.tabela.totalRecords}}</div>
        </div>

        <div *ngIf="aut.dispositivo==='mobile'" class="p-d-flex p-jc-center">
          <div class="p-mx-2">OFÍCIOS</div>
          <div class="p-mr-2">Página {{os.tabela.currentPage}} de {{os.tabela.pageCount}} - Num.
            Registros: {{os.tabela.totalRecords}}</div>
        </div>


      </div>
    </div>
    <p-menu #men styleClass="relatorio" [popup]="true" [model]="itemsAcao" appendTo="body"></p-menu>
  </ng-template>

  <!--*** TITULOS **************************************************************************************************-->
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col style="width: 2rem;" pResizableColumnDisabled>
      <col *ngFor="let col of columns" [style]="{width:col.width}">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3.5em;" pResizableColumnDisabled></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [style.width]="col.width"
          pReorderableColumn
          pResizableColumn
      >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-ofi let-columns="columns" let-expanded="expanded" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="ofi" [pContextMenuRow]="ofi" [pContextMenuRowIndex]="rowIndex" [pSelectableRowIndex]="rowIndex">
      <td>
        <button type="button" pButton pRipple [pTooltip]="expanded ? 'Recolher' : 'Expandir'" tooltipPosition="top"
                [pRowToggler]="ofi" class="expandir p-button-rounded  p-button-text p-button-sm"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>

      <td *ngFor="let col of columns" [style.width]="col.width"
          [ngClass]="rowColor(col.field, ofi.oficio_status_id)">
        <app-exporter-celula [celula]="{
          valor: stripslashes(ofi[col.field]),
          field: col.field,
          header:col.header,
          txtVF: os.testaCampoTexto(col.field),
          cphtml: stripslashes(ofi[col.field]),
          cpdelta: null,
          cptexto: null
           }"></app-exporter-celula>
      </td>
    </tr>
  </ng-template>

  <!--*** EXPANDIDO ************************************************************************************************-->
  <ng-template pTemplate="rowexpansion" let-ofi let-columns="columns" let-rowIndex="rowIndex">
    <tr class="expandido">
      <td [attr.colspan]="columns.length + 1" class="expandido">
        <div class="rowexpansion-corpo">
          <div class="p-fluid">
            <div class="p-d-flex p-jc-start p-pb-2">
              <div class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-eye"
                  class="p-button-rounded"
                  pTooltip="Detalhes"
                  tooltipPosition="top"
                  (click)="oficioDetalheCompleto(ofi)"
                >
                </button>
              </div>

              <div *ngIf="(((aut.oficio_deferir || aut.oficio_indeferir) && ofi.oficio_status_nome ==='EM ANDAMENTO') || (aut.usuario_principal_sn || aut.usuario_responsavel_sn))"  class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-exclamation-circle"
                  class="p-button-rounded p-button-success"
                  pTooltip="Analisar"
                  tooltipPosition="top"
                  (click)="oficioAnalisar(ofi)"
                >
                </button>
              </div>

              <div *ngIf="aut.oficio_alterar || aut.usuario_principal_sn || aut.usuario_responsavel_sn" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"
                  pTooltip="Alterar"
                  tooltipPosition="top"
                  (click)="oficioAlterar(ofi)"
                >
                </button>
              </div>

              <div *ngIf="aut.oficio_apagar || aut.usuario_principal_sn || aut.usuario_responsavel_sn" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                  (click)="oficioApagar(ofi)"
                >
                </button>
              </div>
            </div>

            <div class="p-grid">
              <div *ngFor="let ce of os.tabela.celulas;" class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div class="registros p-shadow-1">
                  <h5>{{ce.header}}</h5>
                  <app-exporter-expandido [celula]="ce"></app-exporter-expandido>
                </div>
              </div>
            </div>



          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" id="tabela-vazia">
        <div class="tabela-vazia-a">
          <div class="tabela-vazia-b">
            <div class="tabela-vazia-c p-shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** MENU *****************************************************************************************************-->
</p-table>
<!--*** FIM ********************************************************************************************************-->

<!--*** SELETOR DE COLUNAS *****************************************************************************************-->
<p-dialog *ngIf="os.tabela.mostraSeletor"
          id="seletor"
          header="Selecione as colunas."
          [(visible)]="os.tabela.mostraSeletor"
          [modal]="true"
          styleClass="tablistagem"
          [style]="{width: '40rem'}"
          [dismissableMask]="true"
>
  <app-seletor-colunas [todas]="cols" [(ativas)]="os.tabela.selectedColumns"></app-seletor-colunas>
  <p-footer>
    <div class="p-d-flex p-jc-start p-pb-2">
      <div class="p-mr-2">
        <button pButton type="button" label="Fehar " icon="pi pi-times"
                class="campo-extendido p-button-rounded p-button-sm" (click)="hideSeletor()"></button>
      </div>
      <div class="p-mr-2">
        <button pButton type="button" label="Reset " icon="pi pi-backward"
                class="campo-extendido p-button-rounded p-button-sm" (click)="resetColunas()"></button>
      </div>
    </div>
  </p-footer>
</p-dialog>
<p-contextMenu #cm [model]="contextoMenu" styleClass="tablistagem"></p-contextMenu>


<!--*** DETALHE ****************************************************************************************************-->
<ng-container *ngIf="showDetalhe">
  <p-dialog
    [(visible)]="showDetalhe"
    [modal]="true"
    [dismissableMask]="false"
    [style]="{width: '80vw'}"
    styleClass="tablistagem"
    header="DETALHE"
    (onHide)="escondeDetalhe()"
  >
    <app-oficio-detalhe [oficio]="ofiDetalhe" (hideDetalhe)="escondeDetalhe()"></app-oficio-detalhe>
  </p-dialog>
</ng-container>

<ng-container *ngIf="showGrafico">
  <app-graf [modulo]="'oficio'" [busca]="os.busca" (hideGrafico)="hideGrafico($event)"></app-graf>
</ng-container>

