<p-pickList
  #pl
  [source]="disponiveis"
  [target]="ativas"
  sourceHeader="Disponíveis"
  targetHeader="Selecionadas"
  [dragdrop]="true"
  [responsive]="true"
  [sourceStyle]="{'height':altura}"
  [targetStyle]="{'height':altura}"
  [showSourceFilter]="false"
  [showTargetFilter]="false"
  filterBy="header"
  styleClass="tablistagem"
>
  <ng-template let-car pTemplate="sourceHeader">
    <div class="text-xl font-medium text-center text-center text-primary bg-primary px-2 py-2 border-round-top-md">
      Disponíveis
    </div>
  </ng-template>
  <ng-template let-car pTemplate="targetHeader">
    <div class="text-xl font-medium text-center text-center text-primary bg-primary px-2 py-2 border-round-top-md">
      Selecionadas
    </div>
  </ng-template>
  <ng-template let-col pTemplate="item">
    <div class="text-base line-height-2 mb-1">
      {{col.header}}
    </div>
  </ng-template>
</p-pickList>
