<ng-container *ngIf="his">
  <p-table [value]="his" [styleClass]="estilo">
    <ng-template pTemplate="header">
      <tr>
        <th>Data</th>
        <th>Andamento</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-his>
      <tr>
        <td>{{his.historico_data}}</td>
        <td>
          <ng-container *ngIf="escolheTipo(his)">
              <quill-view-html *ngIf="formato==='html'" [content]="his.historico_andamento" class="detalhe"></quill-view-html>
              <quill-view-html *ngIf="formato==='text'" [content]="his.historico_andamento_texto" class="detalhe"></quill-view-html>
              <quill-view *ngIf="formato==='object'" [content]="transforma(his.historico_andamento_delta)" format="object" class="detalhe"></quill-view>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
