<!--*** INICIO *****************************************************************************************************-->
<p-table #dtpa
         id="tabelapassagem"
         [value]="passagem"
         [columns]="selectedColumns"
         [rows]="rows"
         [lazy]="true"
         [lazyLoadOnInit]="false"
         [loading]="loading"
         [totalRecords]="totalRecords"
         [sortField]="sortCampo"
         dataKey="passagem_id"
         [scrollable]="true"
         [scrollHeight]="altura"
         [(selection)]="selecionados"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         [autoLayout]="false"
         columnResizeMode="expand"
         [rowHover]="true"
         [paginator]="true"
         [alwaysShowPaginator]="false"
         [pageLinks]="5"
         [responsive]="false"
         rowExpandMode="single"
         [rowsPerPageOptions]="[50,100,200,500,1000]"
         (onLazyLoad)="onLazyLoad($event)"
         (onColReorder)="onColReorder($event)"
         (onRowExpand)="onRowExpand($event)"
         [(contextMenuSelection)]="psgContexto"
         contextMenuSelectionMode="joint"
         [contextMenu]="cm"
         (onContextMenuSelect)="onContextMenuSelect($event)"
         [customSort]="true"
         [tableStyle]="{'font-size':'12px'}"
         [editMode]="'row'"
         stateStorage="session"
         stateKey="passagem-listagem"
         selectionMode="multiple"
         styleClass="tablistagem p-datatable-sm p-datatable-striped"
         [loadingIcon]="'pi pi-spin pi-spinner'"
>

  <!--*** TOPO *****************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div class="flex justify-content-between align-items-center">
      <div class="inline-flex">
        <div class="mx-2"><button pButton type="button" label="Filtrar" icon="pi pi-search" class="p-button-text p-button-sm" (click)="mostraMenu()"></button></div>
        <div class="mr-2"><button pButton type="button" label="Colunas" icon="pi pi-table" class="p-button-text p-button-sm" (click)="mostraSelectColunas()"></button></div>
        <div class="mr-2"><button pButton type="button" label="Relatórios" icon="pi pi-info-circle" class="p-button-text p-button-sm" (click)="men.toggle($event)"></button></div>
        <div class="mr-0"><button pButton type="button" label="Incluir" icon="pi pi-plus" class="p-button-text p-button-sm" (click)="passagemIncluir()"></button></div>
      </div>

      <div class="inline-flex align-items-center">
        <div class="mx-2">PASSAGENS AÉREAS</div>
      </div>
      <div class="inline-flex align-items-center">
        <div class="mr-2">Página {{currentPage}} de {{numerodePaginas}} - Num. Registros: {{totalRecords}}</div>
      </div>
    </div>
    <menu #men [popup]="true" [model]="itemsAcao" appendTo="body"></menu>
  </ng-template>

  <!--*** TITULOS **************************************************************************************************-->
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 6rem;text-align: center"></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [style.width]="col.largura"
          pReorderableColumn
          pResizableColumn
      >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-psg let-columns="columns" let-editing="editing" let-expanded="expanded" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="psg" [pContextMenuRow]="psg" [pEditableRow]="psg" [pSelectableRowIndex]="rowIndex">
      <!--<td style="width: 80px; padding-bottom: 0; padding-top: .3em;text-align: center">-->
      <td style="width: 6rem;text-align: center">
        <a *ngIf="!expanded && !editing && btnExpandirVF" [pRowToggler]="psg" pTooltip="Expandir" tooltipPosition="top"><i class="pi pi-chevron-right"></i></a>
        <a *ngIf="expanded && !editing  && btnExpandirVF" [pRowToggler]="psg" pTooltip="Recolher" tooltipPosition="top"><i class="pi pi-chevron-down"></i></a>
        <button pButton type="button" pSaveEditableRow icon="pi pi-check" class="p-button-sm p-button-success" style="margin-right: .5em" (click)="onRowEditSave(psg, rowIndex)" *ngIf="editing"></button>
        <button pButton type="button" pCancelEditableRow icon="pi pi-times" class="p-button-sm p-button-danger" (click)="onRowEditCancel(psg, rowIndex)" *ngIf="editing"></button>
      </td>


      <td *ngFor="let col of columns" class="ui-resizable-column" [ngStyle]="setCurrentStyles(col, psg[col.field])" >
        <p-cellEditor *ngIf="col.field === 'passagem_voado_sn'">
          <ng-template pTemplate="input">
            <p-radioButton labelStyleClass="radiolabel" name="voado_sn" value="0" [(ngModel)]="psg.passagem_voado_id" label="NÃO"></p-radioButton>&nbsp;
            <p-radioButton labelStyleClass="radiolabel" name="voado_sn" value="1" [(ngModel)]="psg.passagem_voado_id" label="SIM"></p-radioButton>
          </ng-template>
          <ng-template pTemplate="output">
            <div *ngIf="aut.passagemaerea_alterar && btnExpandirVF" pInitEditableRow (click)="onRowEditInit(psg, rowIndex)" pTooltip="Alterar" tooltipPosition="top">{{psg.passagem_voado_sn}}</div>
            <div *ngIf="!aut.passagemaerea_alterar || !btnExpandirVF">{{psg.passagem_voado_sn}}</div>
          </ng-template>
        </p-cellEditor>

        <ng-container *ngIf="col.field !== 'passagem_voado_sn'">
          {{psg[col.field]}}
        </ng-container>
      </td>
    </tr>
  </ng-template>

  <!--*** EXPANDIDO ************************************************************************************************-->
  <ng-template pTemplate="rowexpansion" let-psg let-indice="rowIndex" let-columns="columns">
    <tr class="expandido">
      <td [attr.colspan]="columns.length + 1" class="expandido">
        <div class="rowexpansion-corpo">
          <div class="inline-block">
            <div class="flex justify-content-start pb-2">
              <div class="mr-2">
                <button
                  pButton
                  type="button"
                  icon="pi pi-file-pdf"
                  pTooltip="Pdf"
                  tooltipPosition="top"
                  class="p-button-rounded p-button-secondary"
                  (click)="getPdf(psg)"
                  [disabled]="btnInativo"
                ></button>
              </div>
              <div class="mr-2">
                <button
                  pButton
                  type="button"
                  icon="pi pi-print"
                  pTooltip="Imprimir"
                  tooltipPosition="top"
                  class="p-button-rounded p-button-secondary"
                  (click)="getPdf(psg, true)"
                  [disabled]="btnInativo"
                ></button>

              </div>
              <div *ngIf="aut.passagemaerea_alterar" class="mr-2">
                <button
                  pButton
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"
                  pTooltip="Alterar"
                  tooltipPosition="top"
                  (click)="passagemAlterar(psg)"
                ></button>
              </div>
              <div *ngIf="aut.passagemaerea_apagar" class="mr-2">
                <button
                  pButton
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                  (click)="passagemApagar(psg)"
                ></button>
              </div>
            </div>

            <div class="grid">
              <div *ngFor="let linhas of dadosExp;" class="col-12 sm:col-12 md:col-6 lg:col-4 xl:col-3">
                <div class="registros p-shadow-1">
                  <h5>{{linhas[0]}}</h5>
                  {{linhas[1]}}
                </div>
              </div>
            </div>

            <app-arquivo
              [modulo]="'passagem'"
              [modelo]="'detalhe'"
              [registro_id]="psg.passagem_id"
            ></app-arquivo>

          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" id="tabela-vazia">
        <div class="tabela-vazia-a">
          <div class="tabela-vazia-b">
            <div class="tabela-vazia-c p-shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** MENU *****************************************************************************************************-->
</p-table>
<!--*** FIM ********************************************************************************************************-->

<!--*** SELETOR DE COLUNAS *****************************************************************************************-->

<p-dialog
  header="Selecione as colunas."
  [(visible)]="mostraSeletor"
  [modal]="true"
  [style]="{width: '300px'}"
  [dismissableMask]="true"
  (onHide)="hideSeletor($event)"
  styleClass="tablistagem"
>
  <p-listbox
    [options]="cols"
    [(ngModel)]="selectedColumns"
    [multiple]="true"
    [checkbox]="true"
    [filter]="true"
    optionLabel="header"
    [style]="{width: '270px'}"
    [listStyle]="{'max-height':'300px', 'width':'250px'}"
    (onChange)="onChangeSeletorColunas($event)"
  ></p-listbox>
</p-dialog>


<p-confirmDialog
  [style]="{width: '50vw'}"
  [baseZIndex]="10000"
  [autoZIndex]="true"
  acceptLabel="Sim"
  rejectLabel="Não"
  styleClass="tablistagem"
></p-confirmDialog>
<p-contextMenu #cm [model]="contextoMenu"></p-contextMenu>
<p-toast key="passagemToast" position="center"></p-toast>

