<!--*** INICIO *****************************************************************************************************-->
<p-table #dtpa
         id="tabelapassagem"
         [value]="passagem"
         [columns]="selectedColumns"
         [rows]="rows"
         [lazy]="true"
         [lazyLoadOnInit]="false"
         [totalRecords]="totalRecords"
         [sortField]="sortCampo"
         dataKey="passagem_id"
         [scrollable]="true"
         [scrollHeight]="altura"
         [(selection)]="selecionados"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         [autoLayout]="false"
         columnResizeMode="expand"
         [rowHover]="true"
         [paginator]="true"
         [alwaysShowPaginator]="false"
         [pageLinks]="5"
         [responsive]="false"
         rowExpandMode="single"
         [rowsPerPageOptions]="[50,100,200,500,1000]"
         (onLazyLoad)="onLazyLoad($event)"
         (onColReorder)="onColReorder($event)"
         (onRowExpand)="onRowExpand($event)"
         [(contextMenuSelection)]="psgContexto"
         contextMenuSelectionMode="joint"
         [contextMenu]="cm"
         (onContextMenuSelect)="onContextMenuSelect($event)"
         [customSort]="true"
         [tableStyle]="{'font-size':'12px'}"
         [editMode]="'row'"
         stateStorage="session"
         stateKey="passagem-listagem"
         selectionMode="multiple"
>

  <!--*** TOPO *****************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div style="overflow: auto;text-align: center;">PASSAGEM AEREA
      <div style="overflow:auto;text-align:right;float:left;">
        <span class="espacotopolink">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="linkTopo" (click)="mostraMenu()"><i class="fas fa-lg fa-filter"></i><span class="topolink"> Filtrar </span></span>
        <span class="linkTopo" (click)="mostraSelectColunas()"><i class="fas fa-lg fa-sliders-h fa-rotate-90"></i><span class="topolink"> Exibe colunas </span></span>
        <span class="linkTopo" (click)="men.toggle($event)"><i class="fas fa-lg fa-receipt"></i><span class="topolink"> Relatórios </span></span>
        <p-menu #men [popup]="true" [model]="itemsAcao" appendTo="body" ></p-menu>
        <span *ngIf="aut.passagemaerea_incluir" class="linkTopo" (click)="passagemIncluir()"><i class="far fa-lg fa-address-card"></i><span class="topolink"> Incluir </span></span>
      </div>
      <div style="float:right;">
        <span style="text-align: right">Página {{currentPage}} de {{numerodePaginas}}
          - Num. Registros: {{totalRecords}}</span>
      </div>
    </div>
  </ng-template>

  <!--*** TITULOS **************************************************************************************************-->
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 80px; padding-bottom: .3em; padding-top: .3em;" pResizableColumnDisabled></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [style.width]="col.largura"
          pReorderableColumn
          pResizableColumn
          style="padding-bottom: .3em; padding-top: .3em;"
      >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-psg let-columns="columns" let-editing="editing" let-expanded="expanded" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="psg" [pContextMenuRow]="psg" [pEditableRow]="psg">
      <td style="width: 80px; padding-bottom: 0; padding-top: .3em;text-align: center">
        <a *ngIf="!expanded && !editing && btnExpandirVF" [pRowToggler]="psg" pTooltip="Expandir" tooltipPosition="top"><i class="fas fa-lg fa-expand"></i></a>
        <a *ngIf="expanded && !editing  && btnExpandirVF" [pRowToggler]="psg" pTooltip="Recolher" tooltipPosition="top"><i class="fas fa-lg fa-compress"></i></a>
        <button *ngIf="editing"  pButton type="button" pSaveEditableRow icon="pi pi-check" class="p-button-success" style="margin-right: .5em" (click)="onRowEditSave(psg, rowIndex)"></button>
        <button *ngIf="editing"  pButton type="button" pCancelEditableRow icon="pi pi-times" class="p-button-danger" (click)="onRowEditCancel(psg, rowIndex)"></button>
      </td>


      <td *ngFor="let col of columns" class="ui-resizable-column" [ngStyle]="setCurrentStyles(col, psg[col.field])" >
        <p-cellEditor *ngIf="col.field === 'passagem_voado_sn'">
          <ng-template pTemplate="input">
            <p-radioButton labelStyleClass="radiolabel" name="voado_sn" value="0" [(ngModel)]="psg.passagem_voado_id" label="NÃO"></p-radioButton>&nbsp;
            <p-radioButton labelStyleClass="radiolabel" name="voado_sn" value="1" [(ngModel)]="psg.passagem_voado_id" label="SIM"></p-radioButton>
          </ng-template>
          <ng-template pTemplate="output">
            <div *ngIf="aut.passagemaerea_alterar && btnExpandirVF" pInitEditableRow (click)="onRowEditInit(psg, rowIndex)" pTooltip="Alterar" tooltipPosition="top">{{psg.passagem_voado_sn}}</div>
            <div *ngIf="!aut.passagemaerea_alterar || !btnExpandirVF">{{psg.passagem_voado_sn}}</div>
          </ng-template>
        </p-cellEditor>

        <ng-container *ngIf="col.field !== 'passagem_voado_sn'">
          {{psg[col.field]}}
        </ng-container>
      </td>
    </tr>
  </ng-template>

  <!--*** EXPANDIDO ************************************************************************************************-->
  <ng-template pTemplate="rowexpansion" let-psg let-indice="rowIndex" let-columns="columns">
    <tr style="background-color: var(--secundario)">
      <td [attr.colspan]="columns.length + 1">
        <div class="rowSpanCorpo">
          <div class="rowSpanTabelas">
            <div class="rowSpanBotoes">
              <div class="botaoexp">
                <p-button
                  (click)="getPdf(psg)"
                  type="button"
                  icon="fas fa-lg fa-file-pdf"
                  styleClass="p-button-raised p-button-info"
                  pTooltip="PDF"
                  tooltipPosition="top"
                  [disabled]="btnInativo"
                >
                </p-button>
              </div>
              <div class="botaoexp">
                <p-button
                  (click)="getPdf(psg, true)"
                  type="button"
                  icon="fas fa-lg fa-print"
                  styleClass="p-button-raised p-button-info"
                  pTooltip="Imprimir"
                  tooltipPosition="top"
                  [disabled]="btnInativo"
                >
                </p-button>
              </div>
              <div *ngIf="aut.passagemaerea_alterar" class="botaoexp">
                <p-button
                  (click)="passagemAlterar(psg)"
                  type="button"
                  icon="fas fa-lg fa-pen-fancy"
                  styleClass="p-button-raised p-button-warning"
                  pTooltip="Alterar"
                  tooltipPosition="top"
                  [disabled]="btnInativo"
                >
                </p-button>
              </div>
              <div *ngIf="aut.passagemaerea_apagar" class="botaoexp">
                <p-button
                  (click)="passagemApagar(psg)"
                  type="button"
                  icon="far fa-lg fa-trash-alt"
                  styleClass="p-button-raised p-button-danger"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                  [disabled]="btnInativo"
                >
                </p-button>
              </div>
            </div>

            <div *ngFor="let colunas of dadosExp;" class="tabela1" [style.width]="expColunas">
              <div *ngFor="let linhas of colunas;" class="campo">
                <div class="titulo1">
                  {{linhas[0]}}
                </div>
                <div class="texto1">
                  {{linhas[1]}}
                </div>
              </div>
            </div>
            <app-arquivo
              [modulo]="'passagem'"
              [modelo]="'detalhe'"
              [registro_id]="psg.passagem_id"
            ></app-arquivo>

          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" align="center">
        <div [style.margin-top]="meiaAltura" [style.margin-bottom]="meiaAltura">
          NENHUM REGISTRO
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** MENU *****************************************************************************************************-->
</p-table>
<!--*** FIM ********************************************************************************************************-->

<!--*** SELETOR DE COLUNAS *****************************************************************************************-->

<p-dialog
  header="Selecione as colunas."
  [(visible)]="mostraSeletor"
  [modal]="true"
  [style]="{width: '300px'}"
  [dismissableMask]="true"
  (onHide)="hideSeletor($event)"
>
  <p-listbox
    [options]="cols"
    [(ngModel)]="selectedColumns"
    [multiple]="true"
    [checkbox]="true"
    [filter]="true"
    optionLabel="header"
    [style]="{width: '270px'}"
    [listStyle]="{'max-height':'300px', 'width':'250px'}"
    (onChange)="onChangeSeletorColunas($event)"
  ></p-listbox>
</p-dialog>


<p-confirmDialog
  [style]="{width: '50vw'}"
  [baseZIndex]="10000"
  [autoZIndex]="true"
  acceptLabel="Sim"
  rejectLabel="Não"
></p-confirmDialog>
<p-contextMenu #cm [model]="contextoMenu"></p-contextMenu>
<p-toast key="passagemToast" position="center"></p-toast>

