<!--*** INICIO *****************************************************************************************************-->
<p-table #dtb
         id="tabelatarefa"
         [value]="ts.tarefas"
         [columns]="ts.tabela.selectedColumns"
         [rows]="ts.tabela.rows"
         [lazy]="ts.lazy"
         [lazyLoadOnInit]="false"
         [totalRecords]="ts.tabela.totalRecords"
         [sortField]="ts.tabela.sortField"
         dataKey="tarefa_id"
         [scrollable]="true"
         [scrollHeight]="altura"
         [(selection)]="ts.selecionados"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         [autoLayout]="false"
         columnResizeMode="expand"
         [rowHover]="true"
         [responsive]="false"
         rowExpandMode="single"
         [(first)]="ts.tabela.first"
         [(contextMenuSelection)]="ts.Contexto"
         contextMenuSelectionMode="joint"
         [contextMenu]="cm"
         [pageLinks]="5"
         [paginator]="true"
         [alwaysShowPaginator]="true"
         [rowsPerPageOptions]="ts.rowsPerPageOptions"
         (rowsChange)="ts.rowsChange($event)"
         (onLazyLoad)="onLazyLoad($event)"
         (onColReorder)="onColReorder($event)"
         (onRowExpand)="ts.onRowExpand($event)"
         (onRowCollapse)="ts.onRowCollapse($event)"
         (onStateSave)="ts.setState($event)"
         (onStateRestore)="ts.onStateRestore($event)"
         (onContextMenuSelect)="ts.onContextMenuSelect($event)"
         (sortFunction)="ts.customSort($event)"
         [customSort]="true"
         [tableStyle]="{'font-size':'var(--font-padrao)'}"
         stateStorage="session"
         stateKey="tarefa-table"
         selectionMode="multiple"
         styleClass="tablistagem tarefa p-datatable-sm p-datatable-striped p-datatable-gridlines"
>

  <!--*** TOPO *****************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div [ngClass]="{'hide-datatable': md.mdt}">
      <div class="p-d-flex p-jc-between p-ai-center p-flex-column p-flex-md-row">
        <div class="p-d-inline-flex">
          <div class="p-mx-2">
            <button pButton type="button" label="Filtrar" icon="pi pi-search" class="p-button-text p-button-sm"
                    (click)="mostraMenu()"></button>
          </div>
          <div class="p-mr-2">
            <button pButton type="button" label="Colunas" icon="pi pi-table" class="p-button-text p-button-sm"
                    (click)="mostraSelectColunas()"></button>
          </div>
          <div class="p-mr-2" *ngIf="aut.dispositivo!=='mobile'">
            <button pButton type="button" label="Relatórios" icon="pi pi-info" class="p-button-text p-button-sm"
                    (click)="men.toggle($event)"></button>
          </div>

          <div class="p-mr-0">
            <button pButton type="button" label="Incluir" icon="pi pi-plus" class="p-button-text p-button-sm"
                    (click)="tarefaIncluir()"></button>
          </div>
        </div>

        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mx-2">TAREFAS</div>
        </div>
        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mr-2"
               *ngIf="ts.selecionados !== undefined &&  ts.selecionados !== null &&  ts.selecionados.length > 0">
            <button pButton type="button" label="Reset" icon="pi pi-backward" class="p-button-text p-button-sm"
                    (click)="ts.resetSelecionados()"></button>
          </div>
          <div class="p-mr-2">Página {{ts.tabela.currentPage}} de {{ts.tabela.pageCount}} - Num.
            Registros: {{ts.tabela.totalRecords}}</div>
        </div>

        <div *ngIf="aut.dispositivo==='mobile'" class="p-d-flex p-jc-center">
          <div class="p-mx-2">TAREFAS</div>
          <div class="p-mr-2">Página {{ts.tabela.currentPage}} de {{ts.tabela.pageCount}} - Num.
            Registros: {{ts.tabela.totalRecords}}</div>
        </div>


      </div>
    </div>
    <p-menu #men styleClass="relatorio" [popup]="true" [model]="itemsAcao" appendTo="body"></p-menu>
  </ng-template>

  <!--*** TITULOS **************************************************************************************************-->
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <!--<col *ngIf="getImprimit()">-->
      <col *ngFor="let col of columns">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr class="tarefa-print">
      <th style="width: 2rem;"></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [pSortableColumnDisabled]="col.field ==='tarefa_usuario_situacao' || col.field ==='tarefa_usuario_situacao_andamento'"
          [style.width]="col.width"
          pReorderableColumn
          pResizableColumn
      >
        {{col.header}}
        <p-sortIcon *ngIf="col.field !=='tarefa_usuario_situacao' && col.field !=='tarefa_usuario_situacao_andamento'" [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>



  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-tarf let-columns="columns" let-expanded="expanded" let-rowIndex="rowIndex">
    <tr
      [pSelectableRow]="tarf"
      [pContextMenuRow]="tarf"
      [pContextMenuRowIndex]="rowIndex"
      [pSelectableRowIndex]="rowIndex"
      class="p-selectable-row tarefa-print"
    >

      <td *ngIf="getImprimit()" style="width: 2rem;">
        <div class="p-d-print-none">
        <button
          type="button"
          pButton pRipple
          [pTooltip]="expanded ? 'Recolher' : 'Expandir'"
          tooltipPosition="top"
          [pRowToggler]="tarf"
          class="p-button-rounded  p-button-text p-button-sm"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
        </div>
      </td>

      <td *ngFor="let col of columns" [style.width]="col.width" [ngClass]="rowStyle(col.field, tarf.tarefa_situacao_id)">
        <ng-container *ngIf="col.field==='tarefa_usuario_situacao'">
          <ng-container *ngIf="!getImprimit()">
            <table>
              <tr *ngFor="let tus of tarf[col.field]">
                <td>{{tus.tu_usuario_nome}}</td>
                <td>{{tus.tus_situacao_nome}}</td>
              </tr>
            </table>

          </ng-container>
          <app-tarefa-usuario-situacao
            *ngIf="getImprimit()"
            [(exibir)]="showUsuarioSituacao"
            [tus]="tarf[col.field]"
            [tarefa]="tarf"
            [index]="rowIndex"
            [usuario_id]="usuario_id"
            (mostraForm)="mostraTusFormEvent($event)"
          ></app-tarefa-usuario-situacao>
        </ng-container>
        <ng-container *ngIf="col.field==='tarefa_usuario_situacao_andamento'">
          <app-tarefa-usuario-situacao-andamento
            [(exibirtus)]="showHistorico"
            [tus]="tarf[col.field]"
            [index]="rowIndex"
            [usuarioSN]="usuarioSN"
            [situacaoSN]="situacaoSN"
            [andamentoSN]="andamentoSN"
          ></app-tarefa-usuario-situacao-andamento>
        </ng-container>
        <ng-container *ngIf="col.field!=='tarefa_usuario_situacao' && col.field!=='tarefa_usuario_situacao_andamento'">
          <app-exporter-celula [celula]="{
            valor: stripslashes(tarf[col.field]),
            field: col.field,
            header:col.header,
            txtVF: ts.testaCampoTexto(col.field),
            cphtml: stripslashes(tarf[col.field]),
            cpdelta: null,
            cptexto: null
             }"></app-exporter-celula>
        </ng-container>
      </td>
    </tr>
  </ng-template>

  <!--*** EXPANDIDO ************************************************************************************************-->
  <ng-template pTemplate="rowexpansion" let-tarf let-columns="columns" let-indice="rowIndex">
    <tr class="expandido">
      <td [attr.colspan]="columns.length + 1" class="expandido">
        <div class="rowexpansion-corpo">
          <div class="p-fluid">
            <div class="p-d-flex p-jc-start p-pb-2">
              <div class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-eye"
                  class="p-button-rounded"
                  pTooltip="Detalhes"
                  tooltipPosition="top"
                  (click)="tarefaDetalheCompleto(tarf)"
                >
                </button>
              </div>

              <!--<div
                *ngIf="(aut.tarefa_alterar || aut.usuario_principal_sn || aut.usuario_responsavel_sn)" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-percentage"
                  class="p-button-rounded p-button-success"
                  pTooltip="Atualizar"
                  tooltipPosition="top"
                  (click)="tarefaAtualizar(tarf)"
                >
                </button>
              </div>-->

              <div class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"
                  pTooltip="Alterar"
                  tooltipPosition="top"
                  (click)="tarefaAlterar(tarf)"
                >
                </button>
              </div>

              <div *ngIf="permissaoApagarArquivo(tarf)" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                  (click)="tarefaApagar(tarf)"
                >
                </button>
              </div>

              <div *ngIf="ts.expandidoSN && permListHist && tarf.tarefa_usuario_situacao_andamento.length > 0"
                   class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-list"
                  class="p-button-rounded p-button-cyan"
                  pTooltip="Listar Andamentos da Proposição"
                  tooltipPosition="top"
                  (click)="andamentoAcao(indice, 'listar')"
                >
                </button>
              </div>
              <div *ngIf="ts.expandidoSN && permInclHist" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-file-o"
                  class="p-button-rounded p-button-cyan"
                  pTooltip="Incluir Andamentos da Proposição"
                  tooltipPosition="top"
                  (click)="andamentoAcao(indice, 'incluir')"
                >
                </button>
              </div>


            </div>

            <div class="p-grid">
              <div class="p-col-12 p-sm-12 p-md-6 p-lg-3 p-xl-3">
                <div class="registrostarefa p-shadow-1">
                  <h5>{{ts.tTit.tarefa_titulo}}</h5>
                  {{tarf['tarefa_titulo']}}
                </div>
              </div>
              <div
                *ngIf="tarf['tarefa_tarefa'] !== null && tarf['tarefa_tarefa'].length > 0"
                class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6"
              >
                <div class="registrostarefa p-shadow-1">
                  <h5>{{ts.tTit.tarefa_tarefa}}</h5>
                  <app-exporter-celula [celula]="{
                        valor: stripslashes(tarf['tarefa_tarefa']),
                        field: 'tarefa_tarefa',
                        header: ts.tTit.tarefa_tarefa,
                        txtVF: ts.testaCampoTexto('tarefa_tarefa'),
                        cphtml: stripslashes(tarf['tarefa_tarefa']),
                        cpdelta: null,
                        cptexto: null
                      }">
                  </app-exporter-celula>
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-md-6 p-lg-3 p-xl-3">
                <div class="registrostarefa p-shadow-1">
                  <h5>{{ts.tTit.tarefa_situacao_nome}}</h5>
                  <div
                    [ngClass]="rowStyle('tarefa_situacao_nome', tarf['tarefa_situacao_id'])">{{tarf['tarefa_situacao_nome']}}</div>
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div class="registrostarefa p-shadow-1">
                  <h5>{{ts.tTit.tarefa_data}}</h5>
                  {{tarf['tarefa_data']}}
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div class="registrostarefa p-shadow-1">
                  <h5>{{ts.tTit.tarefa_usuario_autor_nome}}</h5>
                  {{tarf['tarefa_usuario_autor_nome']}}
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div class="registrostarefa p-shadow-1">
                  <h5>{{ts.tTit.tarefa_datahora}}</h5>
                  {{tarf['tarefa_datahora']}}
                </div>
              </div>

            </div>
            <div class="p-grid">


              <div class="p-col-12 p-sm-12 p-md-12 p-lg-8 p-xl-9">
                <div class="registrostarefa p-shadow-1">
                  <h5>{{ts.tTit.tarefa_usuario_situacao_andamento}}</h5>
                  <app-tarefa-usuario-situacao-andamento
                    *ngIf="ts.expandidoSN"
                    [(exibirtus)]="ts.expandidoSN"
                    [tus]="tarf['tarefa_usuario_situacao_andamento']"
                    [index]="indice" [usuarioSN]="usuarioSN"
                    [situacaoSN]="situacaoSN"
                    [andamentoSN]="andamentoSN"
                  ></app-tarefa-usuario-situacao-andamento>
                </div>
              </div>



            <div class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
              <div class="registrostarefa p-shadow-1">
                <h5>{{ts.tTit.tarefa_usuario_situacao}}</h5>
                <app-tarefa-usuario-situacao
                  *ngIf="ts.expandidoSN"
                  [tus]="tarf['tarefa_usuario_situacao']"
                ></app-tarefa-usuario-situacao>
              </div>
            </div>
          </div>
            <!--<div class="p-grid">
              <div *ngFor="let ce of ts.tabela.celulas;" class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div class="registrostarefa p-shadow-1">
                  <h5>{{ce.header}}</h5>
                  <app-exporter-expandido [celula]="ce"></app-exporter-expandido>
                </div>
              </div>
            </div>-->


          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" id="tabela-vazia">
        <div class="tabela-vazia-a">
          <div class="tabela-vazia-b">
            <div class="tabela-vazia-c p-shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** MENU *****************************************************************************************************-->
</p-table>
<!--*** FIM ********************************************************************************************************-->
<!--*** SELETOR DE COLUNAS *****************************************************************************************-->
<p-dialog *ngIf="ts.tabela.mostraSeletor"
          id="seletor"
          header="Selecione as colunas."
          [(visible)]="ts.tabela.mostraSeletor"
          [modal]="true"
          styleClass="tablistagem"
          [style]="{width: '40rem'}"
          [dismissableMask]="true"
>
  <app-seletor-colunas [todas]="cols" [(ativas)]="ts.tabela.selectedColumns"></app-seletor-colunas>
  <p-footer>
    <div class="p-d-flex p-jc-start p-pb-2">
      <div class="p-mr-2">
        <button pButton type="button" label="Fehar " icon="pi pi-times"
                class="campo-extendido p-button-rounded p-button-sm" (click)="hideSeletor()"></button>
      </div>
      <div class="p-mr-2">
        <button pButton type="button" label="Reset " icon="pi pi-backward"
                class="campo-extendido p-button-rounded p-button-sm" (click)="resetColunas()"></button>
      </div>
    </div>
  </p-footer>
</p-dialog>
<p-contextMenu #cm [model]="contextoMenu" styleClass="tablistagem"></p-contextMenu>
<ng-container *ngIf="showDetalhe">
  <p-dialog
    [(visible)]="showDetalhe"
    [modal]="true"
    [dismissableMask]="false"
    [style]="{width: '80vw'}"
    styleClass="tablistagem"
    header="DETALHE"
    (onHide)="escondeDetalhe()"
  >
    <app-tarefa-detalhe *ngIf="showDetalhe" [tit]="ts.getTitulos()" [campos]="ts.tabela.selectedColumns" [valores]="ts.tarefas" (fechar)="fechaDetalhes($event)"></app-tarefa-detalhe>
  </p-dialog>
</ng-container>
<ng-container *ngIf="ts.showTusForm">
  <p-dialog
    [breakpoints]="{'1400px': '1350px', '1300px': '100vw', '1200px': '100vw', '1000px': '100vw', '640px': '100vw'}"
    [style]="{maxWidth: '1350px', width: '80vw'}"
    [(visible)]="ts.showTusForm"
    [modal]="true"
    [dismissableMask]="false"
    [closable]="false"
    styleClass="tablistagem"
    header="TAREFA - USUÁRIO SITUAÇÃO"
  >
    <app-tarefa-atualizar-form *ngIf="ts.showTusForm" (fechar)="fechaTusForm($event)"></app-tarefa-atualizar-form>
  </p-dialog>
</ng-container>

