<ng-container *ngIf="incluirPerm && acao==='incluir'">
  <div class="p-mr-2">
    <button
      pButton
      pRipple
      type="button"
      class="botaoinferior p-button-rounded"
      label="INCLUIR"
      pTooltip="INCLUIR"
      tooltipPosition="top"
      (click)="formMostra('incluir', 0, 0)"
    >
    </button>
  </div>
</ng-container>

<ng-container *ngIf="incluirPerm && acao==='incluir2'">
  <div class="p-mr-2">
    <!--<p-button
      *ngIf="modulo==='processo'"
      type="button"
      styleClass="botaoinferior p-button-rounded p-button-purple"
      icon="pi pi-file-o"
      pTooltip="Incluir Andamento do Processo"
      tooltipPosition="top"
      (onClick)="formMostra('incluir', 0, 0)"
    ></p-button>-->

    <button
      *ngIf="modulo==='processo'"
      pButton
      pRipple
      type="button"
      class="botaoinferior p-button-rounded p-button-purple"
      icon="pi pi-file-o"
      pTooltip="Incluir Andamento do Processo"
      tooltipPosition="top"
      (click)="formMostra('incluir', 0, 0)"
    >
    </button>

    <!--<p-button
      *ngIf="modulo==='solicitacao'"
      type="button"
      styleClass="botaoinferior p-button-rounded p-button-cyan"
      icon="pi pi-file-o"
      pTooltip="Incluir Andamento da Solicitação"
      tooltipPosition="top"
      (onClick)="formMostra('incluir', 0, 0)"
    ></p-button>-->

    <button
      *ngIf="modulo==='solicitacao'"
      pButton
      pRipple
      type="button"
      class="botaoinferior p-button-rounded p-button-cyan"
      icon="pi pi-file-o"
      pTooltip="Incluir Andamento da Solicitação"
      tooltipPosition="top"
      (click)="formMostra('incluir', 0, 0)"
    >
    </button>
  </div>
</ng-container>


<ng-container *ngIf="alterarPerm && acao==='alterar'">
  <div class="p-mr-1">
  <button pButton pRipple type="button" icon="pi pi-pencil" pTooltip="ALTERAR" class="historico p-button-sm p-button-rounded p-button-warning" (click)="formMostra('alterar', id, idx)"></button>
  </div>
<!--  <div class="pointerAlterar p-shadow-2"  style="width: 2.1em; height: 2em"  pTooltip="ALTERAR"><i class="pi pi-pencil" (click)="formMostra('alterar', id, idx)"></i></div>-->
</ng-container>

<ng-container *ngIf="(!incluirPerm && (acao==='incluir' || acao==='incluir2') || !alterarPerm && acao==='alterar')">
  <div><span> </span></div>
</ng-container>

<ng-container *ngIf="mostraForm">
  <p-dialog
    [breakpoints]="{'1400px': '80vw', '1300px': '85vw', '1200px': '90vw', '1000px': '95vw', '640px': '100vw'}"
    [style]="{width: '80vw'}"
    id="historicoformdialog"
    [(visible)]="mostraDialog"
    [header]="getHeader()"
    [closeOnEscape]="false"
    [modal]="true"
    [dismissableMask]="false"
    [closable]="false"
    (onHide)="escondeFormulario(false)"
    styleClass="tablistagem"
    [maximizable]="true"
    [baseZIndex]="10"
    (onShow)="mostraBts(true)"
    appendTo="body"
  >


    <form [formGroup]="formHis" (ngSubmit)="onSubmit()">
      <table class="historicoformdialog tabela">
        <tr>
          <td>

            <table class="historicoformdialog tabela">
              <tr>
                <td>

                  <div class="p-fluid p-formgrid p-grid formulario p-input-filled">

                    <div class="p-field p-col-12 p-sm-12 p-md-8 p-lg-4 p-xl-3 formulario"
                         [ngClass]="aplicaCssErro('historico_data')">
                      <label for="historico_data"><span class="atencao">*</span>Data</label>
                      <p-calendar
                        id="historico_data"
                        formControlName="historico_data"
                        dateFormat="dd/mm/yy"
                        placeholder="dd/mm/aaaa"
                        dataType="string"
                      >

                      </p-calendar>
                      <app-campo-erro msgErro="Data é obrigatória."
                                      [mostrarErro]="verificaRequired('historico_data')"></app-campo-erro>
                    </div>
                    <div class="p-field p-md-2 p-lg-8 p-xl-9 formulario"></div>

                    <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12 formulario" [ngClass]="aplicaCssErro('historico_andamento')">
                      <label for="historico_andamento"><span class="atencao">*</span>Andamento</label>
                      <div class="qeditor">
                      <quill-editor
                        class="formulario"
                        id="historico_andamento"
                        [required]="true"
                        [format]="format"
                        [defaultEmptyValue]="null"
                        [theme]="'snow'"
                        [modules]="modulos"
                        [debounceTime]="10"
                        [placeholder]="''"
                        formControlName="historico_andamento"
                        (onContentChanged)="onContentChanged($event)"
                      ></quill-editor>
                    </div>
                      <app-campo-erro msgErro="Andamento é obrigatório." [mostrarErro]="verificaRequired('historico_andamento')"></app-campo-erro>

                    </div>






                    <div class="p-field p-col-12">
                      <!--*** Botões ***-->
                      <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                        <div class="p-mr-2">
                          <button
                            pButton
                            pRipple
                            type="submit"
                            class="botaoinferior p-button-rounded"
                            [label]="histFormI.acao.toUpperCase()"
                            [disabled]="!formHis.valid || !formHis.dirty || btDesabilitado"
                          ></button>
                        </div>
                        <div class="p-mr-2">
                          <button
                            pButton
                            pRipple
                            type="button"
                            class="botaoinferior p-ripple p-button-rounded p-button-secondary"
                            (click)="resetForm()"
                            label="LIMPAR"
                            [disabled]="!formHis.dirty || btDesabilitado"
                          ></button>
                        </div>
                        <div class="p-mr-2">
                          <button
                            pButton
                            pRipple
                            type="button"
                            class="botaoinferior p-button-rounded p-button-secondary"
                            (click)="fechar()"
                            label="FECHAR"
                            [disabled]="btDesabilitado"
                          ></button>
                        </div>
                      </div>
                      <!--*** FIM BOTOES ***-->
                    </div>
                    <!--<div *ngIf="msg[0]!==0" class="p-field p-col-12">
                      <p-message *ngIf="msg[0]===1" severity="success" text="{{msg[1]}}"></p-message>
                      <p-message *ngIf="msg[0]===2" severity="error" text="{{msg[1]}}"></p-message>
                    </div>-->

                  </div>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </form>

  </p-dialog>
</ng-container>
