    <form [formGroup]="formHis" (ngSubmit)="onSubmit()">
      <table class="historicoformdialog tabela">
        <tr>
          <td>

            <table class="historicoformdialog tabela">
              <tr>
                <td>

                  <div class="p-fluid p-formgrid p-grid formulario p-input-filled">

                    <div class="p-field p-col-12 p-sm-12 p-md-8 p-lg-4 p-xl-3 formulario"
                         [ngClass]="aplicaCssErro('historico_data')">
                      <label for="historico_data"><span class="atencao">*</span>Data</label>
                      <p-calendar
                        id="historico_data"
                        formControlName="historico_data"
                        dateFormat="dd/mm/yy"
                        placeholder="dd/mm/aaaa"
                        dataType="string"
                      >

                      </p-calendar>
                      <app-campo-erro msgErro="Data é obrigatória."
                                      [mostrarErro]="verificaRequired('historico_data')"></app-campo-erro>
                    </div>
                    <div class="p-field p-md-2 p-lg-8 p-xl-9 formulario"></div>

                    <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12 formulario" [ngClass]="aplicaCssErro('historico_andamento')">
                      <label for="historico_andamento"><span class="atencao">*</span>Andamento</label>
                      <div class="qeditor">
                      <quill-editor
                        class="formulario"
                        id="historico_andamento"
                        [required]="true"
                        [format]="format"
                        [defaultEmptyValue]="null"
                        [theme]="'snow'"
                        [modules]="modulos"
                        [debounceTime]="10"
                        [placeholder]="''"
                        formControlName="historico_andamento"
                        (onContentChanged)="onContentChanged($event)"
                      ></quill-editor>
                    </div>
                      <app-campo-erro msgErro="Andamento é obrigatório." [mostrarErro]="verificaRequired('historico_andamento')"></app-campo-erro>

                    </div>

                    <div class="p-field p-col-12">
                      <!--*** Botões ***-->
                      <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                        <div class="p-mr-2">
                          <button
                            pButton
                            pRipple
                            type="submit"
                            class="botaoinferior p-button-rounded"
                            [label]="histFormI.acao.toUpperCase()"
                            [disabled]="!formHis.valid || !formHis.dirty"
                          ></button>
                        </div>
                        <div class="p-mr-2">
                          <button
                            pButton
                            pRipple
                            type="button"
                            class="botaoinferior p-ripple p-button-rounded p-button-secondary"
                            (click)="resetForm()"
                            label="LIMPAR"
                            [disabled]="!formHis.dirty"
                          ></button>
                        </div>
                        <div class="p-mr-2">
                          <button
                            pButton
                            pRipple
                            type="button"
                            class="botaoinferior p-button-rounded p-button-secondary"
                            (click)="fechar()"
                            label="FECHAR"
                          ></button>
                        </div>
                      </div>
                      <!--*** FIM BOTOES ***-->
                    </div>

                  </div>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </form>

