<div class="corpocalform">
  <div class="grid">
    <div class="col-12">
      <div class="grid">
        <div class="col-12 campoLabelMenu">
          <p><span style="font-weight: bold;">{{eventoData}}</span></p>
          <p *ngIf="evento"><span style="font-weight: bold; font-size: large">{{evento.title}}</span></p>
          <p>Existem mais de uma data para esse evento.</p>
          Você gostaria de:
        </div>
        <div class="col-12 campoLabelMenu">
          <button
            (click)="excluirTodos()"
            [disabled]="botaoEnviarVF"
            class="p-button-raised p-button-rounded p-button-danger"
            label="Excluir todos."
            pButton
            type="button"
          ></button>
          &nbsp;&nbsp;
          <button
            (click)="excluirUm()"
            [disabled]="botaoEnviarVF"
            class="p-button-raised p-button-rounded p-button-danger"
            label="Excluir apenas nessa data."
            pButton
            type="button"
          ></button>
          &nbsp;&nbsp;
          <button
            (click)="voltar()"
            class="p-button-raised p-button-rounded"
            label="Cancelar"
            pButton
            type="button"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast key="calExToast" [style]="{marginTop: '80px'}"></p-toast>
