<div class="formulario" style="background-color: var(--formulario-bg-externo-color);">
  <form [formGroup]="formTarefa" (ngSubmit)="onSubmit()">
    <input
      *ngIf="tfs.acao==='alterar'"
      type="hidden"
      id="tarefa_id"
      formControlName="tarefa_id"
    >
    <input
      *ngIf="!autAdmin"
      type="hidden"
      id="processoid2"
      formControlName="tarefa_usuario_autor_id"
    >
    <div class="inline-block">

      <div class="flex justify-content-center">
        <div class="mt-1 mb-1 pt-2 px-3 pb-1">
        </div>
      </div>
      <div class="grid">

        <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
          <div class="grid p-input-filled">


            <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 formulario">
              <div class="formgrid grid formulario">


                <!-- tarefa_situacao_nome -->
                <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6" *ngIf="tfs.acao==='alterar'">
                  <h5>Situação</h5>
                  <div [ngClass]="rowColor(tfs.tarefaListar.tarefa_situacao_id)"
                       style="padding-left: 5px; padding-right: 5px;">{{tfs.tarefaListar.tarefa_situacao_nome}}</div>
                </div>

                <!-- tarefa_usuario_autor_id -->
                <ng-container *ngIf="autAdmin">
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6"
                       [ngClass]="aplicaCssErro('tarefa_usuario_autor_id')">
                    <label for="tarefa_usuario_autor_id"><span class="atencao">*</span>Autor</label>
                    <p-dropdown
                      id="tarefa_usuario_autor_id"
                      [options]="tfs.ddUsuario_id"
                      formControlName="tarefa_usuario_autor_id"
                      [style]="{'width':'100%'}"
                      [readonly]="tarefa_usuario_autor_id_readonly"
                      [ngClass]="aplicaCssErro('tarefa_usuario_autor_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('tarefa_usuario_autor_id')"
                                            msgErro="Autor é obrigatório."></app-campo-control-erro>
                  </div>
                </ng-container>

                <ng-container *ngIf="!autAdmin">
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
                    <label for="tarefa_usuario_autor_id2">Autor</label>
                    <input type="text" id="tarefa_usuario_autor_id2" [readonly]="true"
                           [value]="getAutorNome(tfs.tarefa.tarefa_usuario_autor_id)" pInputText>
                  </div>
                </ng-container>

                <!-- tarefa_titulo -->
                <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6" [ngClass]="aplicaCssErro('tarefa_titulo')">
                  <label for="tarefa_titulo"><span class="atencao">*</span>Titulo</label>
                  <input
                    id="tarefa_titulo"
                    formControlName="tarefa_titulo"
                    type="text"
                    [size]="80"
                    [maxlength]="250"
                    [ngClass]="aplicaCssErro('tarefa_titulo')"
                    pInputText
                  />
                  <app-campo-control-erro [mostrarErro]="verificaValidTouched('tarefa_titulo')"
                                          msgErro="Titulo é obrigatório."></app-campo-control-erro>
                </div>


                <!-- tarefa_usuario_id -->
                <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6" *ngIf="tfs.acao==='alterar' && !autAdmin">
                  <h5>Demandado(s)</h5>
                  <table>
                    <tr *ngFor="let us of tfs.tarefaListar.tarefa_usuario_situacao">
                      <td [ngClass]="rowColor(us.tus_situacao_id)"
                          style="padding-left: 5px; padding-right: 5px;">{{us.tu_usuario_nome}}</td>
                      <td [ngClass]="rowColor(us.tus_situacao_id)"
                          style="padding-left: 5px; padding-right: 5px;">{{us.tus_situacao_nome}}</td>
                    </tr>

                  </table>
                </div>


                <!-- tarefa_usuario_id -->
                <div *ngIf="tfs.acao==='incluir'" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6"
                     [ngClass]="aplicaCssErro('tarefa_usuario_id')">
                  <label for="tarefa_usuario_id"><span class="atencao">*</span>Demandado(s)</label>
                  <p-multiSelect
                    id="tarefa_usuario_id"
                    [options]="tfs.ddUsuario_id"
                    formControlName="tarefa_usuario_id"
                    defaultLabel="Demandado(s)"
                    [displaySelectedLabel]="true"
                    [maxSelectedLabels]="6"
                    [style]="{'width':'100%'}"
                    styleClass="formulario"
                    [filter]="false"
                    [ngClass]="aplicaCssErro('tarefa_usuario_id')"
                  >
                  </p-multiSelect>
                  <app-campo-control-erro [mostrarErro]="verificaValidTouched('tarefa_usuario_id')"
                                          msgErro="Demandado(s) é obrigatório."></app-campo-control-erro>
                </div>

                <!-- tarefa_data -->
                <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6" [ngClass]="aplicaCssErro('tarefa_data3')">
                  <label for="tarefa_data3"><span class="atencao">*</span>Prazo</label>
                  <p-calendar
                    id="tarefa_data3"
                    formControlName="tarefa_data3"
                    [touchUI]="(aut.dispositivo==='mobile')"
                    [yearNavigator]="true"
                    yearRange="2000:2035"
                    dateFormat="dd/mm/yy"
                    placeholder="dd/mm/aaaa"
                    dataType="date"
                    [styleClass]="'estreito'"
                    [showTime]="true"
                    [ngClass]="aplicaCssErro('tarefa_data3')"
                  ></p-calendar>
                  <app-campo-control-erro [mostrarErro]="verificaValidTouched('tarefa_data3')"
                                          msgErro="Data é obrigatório."></app-campo-control-erro>
                </div>


                <!-- agenda -->
                <div *ngIf="tfs.acao !== 'alterar'" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
                  <h5>Lembrete na agenda</h5>
                  <p-inputSwitch formControlName="agenda" id="agenda"></p-inputSwitch>
                </div>
                <!-- agenda -->
                <div *ngIf="tfs.acao !== 'alterar'" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
                  <h5> E-mail</h5>
                  <p-inputSwitch formControlName="email" id="email"></p-inputSwitch>
                </div>

                <div *ngIf="tfs.acao==='alterar' && autAdmin" class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12" [ngClass]="aplicaCssErroPick2()">
                  <div class="flex justify-content-center">
                    <div class="form-picklist2">
                      <h5><span class="atencao">*</span>Demandado(s)</h5>
                      <div class="form-picklist" [ngClass]="aplicaCssErroPick2()">
                        <p-pickList
                          [source]="ddUsuarioAlterar"
                          [target]="tarefa_usuario2"
                          [dragdrop]="true"
                          (onMoveToSource)="onMoveToSource($event)"
                          (onMoveToTarget)="onMoveToTarget($event)"
                          id="tarefa_usuario_id2"
                          [ngClass]="aplicaCssErroPick()"
                        >
                          <ng-template let-col pTemplate="item">
                            <div class="pickformitem-row" [ngClass]="rowColor(col.tus_situacao_id)">
                              <div class="pickformitem2">
                                <div class="pickformitem">{{col.tu_usuario_nome}}</div>
                                <div class="pickformitem">{{col.tus_situacao_nome}}</div>
                              </div>
                            </div>
                          </ng-template>
                        </p-pickList>
                      </div>
                      <app-campo-control-erro [mostrarErro]="pickErro"
                                              msgErro="Demandado(s) é obrigatório."></app-campo-control-erro>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 formulario">
              <div class="formgrid grid formulario">

                <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">

                  <div class="flex justify-content-center">
                    <div class="formulario-quill">
                      <h5>Tarefa</h5>
                      <div class="qeditor">
                        <quill-editor
                          name="tarefa_tarefa"
                          class="formulario"
                          id="tarefa_tarefa"
                          formControlName="tarefa_tarefa"
                          [format]="'html'"
                          [defaultEmptyValue]="null"
                          [theme]="'snow'"
                          [modules]="modulos"
                          [placeholder]="''"
                          (onContentChanged)="onContentChanged($event, 'tarefa_tarefa')"
                          (onEditorCreated)="onEditorCreated($event, 'tarefa_tarefa')"
                        ></quill-editor>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">

                  <div class="flex justify-content-center">
                    <div class="formulario-quill">
                      <h5>Andamento</h5>
                      <div class="qeditor">
                        <quill-editor
                          name="th_historico"
                          class="formulario"
                          id="th_historico"
                          formControlName="th_historico"
                          [format]="'html'"
                          [defaultEmptyValue]="null"
                          [theme]="'snow'"
                          [modules]="modulos"
                          [placeholder]="''"
                          (onContentChanged)="onContentChanged($event, 'th_historico')"
                          (onEditorCreated)="onEditorCreated($event, 'th_historico')"
                        ></quill-editor>
                      </div>
                    </div>
                  </div>
                </div>

                <ng-container *ngIf="aut.arquivos">
                  <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                    <div class="flex justify-content-center">
                      <div class="arquivo-upload">
                        <app-arquivo *ngIf="tfs.acao === 'incluir'"
                                     [modulo]="'tarefa'"
                                     [modelo]="'incluir'"
                                     [registro_id]="arquivo_registro_id"
                                     [uploadDisabled]="arquivoDesativado || !formTarefa.valid"
                                     [enviarArquivos]="enviarArquivos"
                                     (onBlockSubmit)="onBlockSubmit($event)"
                                     (onUpload)="onUpload($event)"
                                     (onPossuiArquivos)="onPossuiArquivos($event)"
                                     [clearArquivos]="clearArquivos"
                        ></app-arquivo>
                        <app-arquivo *ngIf="tfs.acao === 'alterar'"
                                     [modulo]="'tarefa'"
                                     [uploadDisabled]="arquivoDesativado"
                                     [(arqs)]="tfs.tarefaListar.tarefa_arquivos"
                                     [registro_id]="tfs.tarefaListar.tarefa_id"
                                     (onPossuiArquivos)="onPossuiArquivos($event)"
                                     [modelo]="'alterar'"
                                     [stiloClass]="'formulario'"
                                     [buscaArquivos]="false"
                        ></app-arquivo>
                      </div>
                    </div>
                  </div>
                </ng-container>

              </div>
            </div>

          </div>
        </div>

        <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno"></div>

      </div>
    </div>


    <div class="grid">
      <div class="col-10 p-offset-1" style="background-color: var(--formulario-bg-externo-color);">&nbsp;</div>
    </div>

    <div class="inline-block">
      <div class="grid">
        <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
          <div class="grid p-input-filled">
            <div class="col-12 formulario">
              <!--*** Botões ***-->
              <div class="flex justify-content-start pb-2 pt-2">
                <div class="inline-flex">
                  <div class="mr-2">
                    <button
                      pButton
                      type="submit"
                      class="p-button-rounded"
                      [disabled]="!formTarefa.valid || botaoEnviarVF || pickErro"
                      label="Enviar"
                    ></button>
                  </div>
                  <div class="mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="reset()"
                      label="Limpar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                  <div class="mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Fechar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>


      <div class="grid">
        <div class="col-10 p-offset-1">&nbsp;</div>
      </div>
    </div>

  </form>
</div>
