<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <form [formGroup]="formOfIncluir" (ngSubmit)="onSubmit()">
      <div class="p-fluid formulario-bg-externo">

        <div class="p-d-flex p-jc-center">
          <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
            <span class="formulario-titulo">OFÍCIO - INCLUIR</span>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">

              <!--*** COLUNA 1 ***-->
              <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
                <div class="p-fluid p-formgrid p-grid formulario">


                  <!--*** ddOficio_processo_id ***-->
                  <div *ngIf="ddProcessoId.length > 0" class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-6" [ngClass]="aplicaCssErro('oficio_processo_id')">
                    <!--<p-progressSpinner *ngIf="spinner"></p-progressSpinner>-->
                    <label for="processoid"><span class="atencao">*</span> Processo</label>
                    <p-listbox
                      id="processoid"
                      [options]="ddProcessoId"
                      formControlName="oficio_processo_id"
                      (onChange)="mudaProcesso($event)"
                      [multiple]="false"
                      [readonly]="isReadOnly()"
                      required
                    ></p-listbox>
                    <app-campo-control-erro msgErro="Processo é obrigatório."></app-campo-control-erro>
                  </div>
                  <!--<input type="text" formControlName="oficio_processo_id" style="display: none;" *ngIf="lb.processo_id!">-->
                  <!--*** DADOS DO PROCESSO ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-6">
                    <label for="taboficio">Dados do processo</label>
                    <!--<div class="formulario">-->
                    <div class="p-shadow-1">
                      <table class="table-hover tabela taboficio" #taboficio id="taboficio">
                        <!--<caption>Dados do processo</caption>-->
                        <tr>
                          <th>Código:</th>
                          <td>{{lb.oficio_codigo}}
                            <!--<p-progressSpinner *ngIf="oficod" [style]="{width: '10px', height: '10px'}" strokeWidth="2"
                                               animationDuration=".5s"></p-progressSpinner>-->
                          </td>
                        </tr>
                        <tr>
                          <th>Processo Número:</th>
                          <td>{{lb.processo_numero}}</td>
                        </tr>
                        <tr>
                          <th>Solicitante:</th>
                          <td>{{lb.solicitacao_cadastro_nome}}</td>
                        </tr>
                        <tr>
                          <th>Município:</th>
                          <td>{{lb.cadastro_municipio_nome}}</td>
                        </tr>
                        <tr>
                          <th>Assunto:</th>
                          <td>{{lb.solicitacao_assunto_nome}}</td>
                        </tr>
                        <tr>
                          <th>Data da solicitação:</th>
                          <td>{{lb.solicitacao_data}}</td>
                        </tr>
                        <tr>
                          <th>Área de interesse:</th>
                          <td>{{lb.solicitacao_area_interesse_nome}}</td>
                        </tr>

                        <tr>
                          <th>Descrição da solicitação:</th>
                          <td style="text-align: right">
                            <i *ngIf="htm !== null" class="pi pi-search" (click)="showDialog()"></i>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!--</div>-->
                  </div>

                <!--</div>
              </div>
              &lt;!&ndash;*** FIM COLUNA 1 ***&ndash;&gt;
              &lt;!&ndash;*** COLUNA 2 ***&ndash;&gt;
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">-->

                  <!--*** oficio_orgao_solicitado_nome ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_orgao_solicitado_nome"><span class="atencao">*</span>Orgão solicitado</label>
                    <input
                      id="oficio_orgao_solicitado_nome"
                      formControlName="oficio_orgao_solicitado_nome"
                      type="text"
                      size="40"
                      maxlength="50"
                      pInputText
                      required
                    />
                  </div>
                  <!--*** oficio_valor_solicitado ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_valor_solicitado">Valor solicitado</label>
                    <p-inputNumber
                      id="oficio_valor_solicitado"
                      formControlName="oficio_valor_solicitado"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                      [minFractionDigits]="2"
                    >
                    </p-inputNumber>
                  </div>
                <!--</div>
              </div>
              &lt;!&ndash;*** FIM COLUNA 2 ***&ndash;&gt;
              &lt;!&ndash;*** COLUNA 3 ***&ndash;&gt;
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">-->
                  <!--*** oficio_valor_recebido ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_valor_recebido">Valor recebido</label>
                    <p-inputNumber
                      id="oficio_valor_recebido"
                      formControlName="oficio_valor_recebido"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                      [minFractionDigits]="2"
                    >
                    </p-inputNumber>
                  </div>
                  <!--*** oficio_data_pagamento ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_data_pagamento">Data do Pagamento</label>
                    <p-calendar
                      id="oficio_data_pagamento"
                      formControlName="oficio_data_pagamento"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="2000:2050"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>
                <!--</div>
              </div>
              &lt;!&ndash;*** FIM COLUNA 3 ***&ndash;&gt;
              &lt;!&ndash;*** COLUNA 4 ***&ndash;&gt;
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">-->
                  <!--*** oficio_protocolo_numero ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_protocolo_numero">Protocolo número</label>
                    <input
                      id="oficio_protocolo_numero"
                      formControlName="oficio_protocolo_numero"
                      type="text"
                      size="15"
                      maxlength="20"
                      pInputText
                    />
                  </div>
                  <!--*** oficio_data_protocolo ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_data_protocolo">Data do protocolo</label>
                    <p-calendar
                      id="oficio_data_protocolo"
                      formControlName="oficio_data_protocolo"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="2000:2050"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>
                <!--</div>
              </div>
              &lt;!&ndash;*** FIM COLUNA 4 ***&ndash;&gt;
              &lt;!&ndash;*** COLUNA 5 ***&ndash;&gt;
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">-->
                  <!--*** oficio_orgao_protocolante_nome ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_orgao_protocolante_nome"><span class="atencao">*</span>Orgão
                      protocolante</label>
                    <input
                      id="oficio_orgao_protocolante_nome"
                      formControlName="oficio_orgao_protocolante_nome"
                      type="text"
                      size="40"
                      maxlength="50"
                      pInputText
                      required
                    />
                  </div>
                  <!--*** oficio_protocolante_funcionario ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_protocolante_funcionario">Funcionário do orgão</label>
                    <input
                      id="oficio_protocolante_funcionario"
                      formControlName="oficio_protocolante_funcionario"
                      type="text"
                      size="40"
                      maxlength="50"
                      pInputText
                    />
                  </div>
                <!--</div>
              </div>
              &lt;!&ndash;*** FIM COLUNA 5 ***&ndash;&gt;
              &lt;!&ndash;*** COLUNA 6 ***&ndash;&gt;
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">-->
                  <!--*** oficio_prioridade_id ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4" [ngClass]="aplicaCssErro('oficio_prioridade_id')">
                    <label for="oficio_prioridade_id"><span class="atencao">*</span> Prioridade</label>
                    <p-dropdown
                      id="oficio_prioridade_id"
                      formControlName="oficio_prioridade_id"
                      placeholder="Selecione"
                      [options]="ddForm.ddPrioridade_id"
                      [required]="true"
                    ></p-dropdown>
                    <app-campo-control-erro msgErro="Prioridade é obrigatório."></app-campo-control-erro>
                  </div>
                  <!--*** oficio_prazo ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_prazo">Prazo da ação</label>
                    <p-calendar
                      id="oficio_prazo"
                      formControlName="oficio_prazo"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="2000:2050"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>
                <!--</div>
              </div>
              &lt;!&ndash;*** FIM COLUNA 6 ***&ndash;&gt;
              &lt;!&ndash;*** COLUNA 7 ***&ndash;&gt;
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">-->
                  <!--*** oficio_tipo_andamento_id ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4" [ngClass]="aplicaCssErro('oficio_tipo_andamento_id')">
                    <label for="oficio_tipo_andamento_id"><span class="atencao">*</span>
                      Encaminhamento</label>
                    <p-dropdown
                      id="oficio_tipo_andamento_id"
                      formControlName="oficio_tipo_andamento_id"
                      placeholder="Selecione"
                      [options]="ddForm.ddAndamento_id"
                      [required]="true"
                    ></p-dropdown>
                    <app-campo-control-erro msgErro="Encaminhamento é obrigatório."></app-campo-control-erro>
                  </div>
                  <!--*** oficio_numero ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_numero">Ofício número</label>
                    <input
                      id="oficio_numero"
                      formControlName="oficio_numero"
                      type="text"
                      size="20"
                      maxlength="20"
                      pInputText
                    />
                  </div>
                <!--</div>
              </div>
              &lt;!&ndash;*** FIM COLUNA 7 ***&ndash;&gt;
              &lt;!&ndash;*** COLUNA 8 ***&ndash;&gt;
              <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                <div class="p-fluid p-formgrid p-grid">-->
                  <!--*** oficio_data_emissao ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_data_emissao">Data da emissão</label>
                    <p-calendar
                      id="oficio_data_emissao"
                      formControlName="oficio_data_emissao"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="2000:2050"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>
                  <!--*** oficio_data_empenho ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_data_empenho">Data do empenho</label>
                    <p-calendar
                      id="oficio_data_empenho"
                      formControlName="oficio_data_empenho"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="2000:2050"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>
                <!--</div>
              </div>
              &lt;!&ndash;*** FIM COLUNA 8 ***&ndash;&gt;
              &lt;!&ndash;*** COLUNA 9 ***&ndash;&gt;
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">-->
                  <!--*** oficio_data_recebimento ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_data_empenho">Data do recebimento</label>
                    <p-calendar
                      id="oficio_data_recebimento"
                      formControlName="oficio_data_recebimento"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="2000:2050"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>
                  <!--*** oficio_tipo_recebimento_id ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4" [ngClass]="aplicaCssErro('oficio_tipo_recebimento_id')">
                    <label for="oficio_tipo_recebimento_id"><span class="atencao">*</span>
                      Recebimento</label>
                    <p-dropdown
                      id="oficio_tipo_recebimento_id"
                      formControlName="oficio_tipo_recebimento_id"
                      placeholder="Selecione"
                      [options]="ddForm.ddrecebimento_id"
                      [required]="true"
                    ></p-dropdown>
                    <app-campo-control-erro msgErro="Recebimento é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--<div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                  </div>-->
                <!--</div>
              </div>
              &lt;!&ndash;*** FIM COLUNA 9 ***&ndash;&gt;
              &lt;!&ndash;*** COLUNA 10 ***&ndash;&gt;
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">-->
                  <!--*** oficio_convenio ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_convenio">Convênio</label>
                    <input
                      id="oficio_convenio"
                      formControlName="oficio_convenio"
                      type="text"
                      size="15"
                      maxlength="10"
                      pInputText
                    />
                  </div>

                  <!--*** oficio_status ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                    <label for="oficio_status"> Status</label>
                    <p-dropdown
                      id="oficio_status"
                      formControlName="oficio_status"
                      [options]="ddOficioStatus"
                    ></p-dropdown>
                  </div>


                <!--</div>
              </div>
              &lt;!&ndash;*** FIM COLUNA 10 ***&ndash;&gt;
              &lt;!&ndash;*** COLUNA 11 ***&ndash;&gt;
              <div class="p-col-12 formulario">
                <div class="p-fluid p-formgrid p-grid">-->

                  <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12">
                    <label for="textos"> </label>
                    <p-accordion id="textos">
                      <p-accordionTab header="Descrição do ofício">
                        <div class="formulario-quill">
                          <div class="qeditor">
                            <quill-editor
                              class="formulario"
                              id="oficio_descricao_acao"
                              [format]="'html'"
                              [defaultEmptyValue]="null"
                              [theme]="'snow'"
                              [modules]="modulos"
                              [debounceTime]="10"
                              [placeholder]="''"
                              formControlName="oficio_descricao_acao"
                              (onContentChanged)="onContentChanged($event, 'oficio_descricao_acao')"
                            ></quill-editor>
                          </div>
                          <!--<p-editor
                            #ofidesc
                            formControlName="oficio_descricao_acao"
                            id="oficio_descricao_acao"
                            [modules]="modulos"
                          >
                            <ng-template pTemplate="header"></ng-template>
                          </p-editor>-->
                        </div>
                      </p-accordionTab>
                      <p-accordionTab header="Histórico do Processo (Andamento)">
                        <div class="formulario-quill">
                          <div class="qeditor">
                            <quill-editor
                              class="formulario"
                              id="historico_andamento"
                              [format]="'html'"
                              [defaultEmptyValue]="null"
                              [theme]="'snow'"
                              [modules]="modulos"
                              [debounceTime]="10"
                              [placeholder]="''"
                              formControlName="historico_andamento"
                              (onContentChanged)="onContentChanged($event, 'historico_andamento')"
                            ></quill-editor>
                          </div>

                          <!--<p-editor
                            #histand
                            formControlName="historico_andamento"
                            id="solicitacao_aceita_recusada"
                            [modules]="modulos"
                          >
                            <ng-template pTemplate="header"></ng-template>
                          </p-editor>-->
                        </div>
                      </p-accordionTab>
                    </p-accordion>
                  </div>

                  <ng-container *ngIf="authenticationService.arquivos">
                    <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
                      <app-arquivo
                        [modulo]="'oficio'"
                        [modelo]="'incluir'"
                        [registro_id]="arquivo_registro_id"
                        [uploadDisabled]="arquivoDesativado || !formOfIncluir.valid"
                        [enviarArquivos]="enviarArquivos"
                        (onBlockSubmit)="onBlockSubmit($event)"
                        (onUpload)="onUpload($event)"
                        (onPossuiArquivos)="onPossuiArquivos($event)"
                        [clearArquivos]="clearArquivos"
                      ></app-arquivo>
                    </div>
                  </ng-container>
                </div>
              </div>
              <!--*** FIM COLUNA 11 ***-->

            </div>
          </div>
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>
        </div>

      </div>

      <div class="p-grid">
        <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
      </div>

      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">
              <div class="p-col-12 formulario">
                <!--*** Botões ***-->
                <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-raised p-button-rounded"
                      [disabled]="!formOfIncluir.valid || mostraForm || btEnviarInativo"
                      (click)="enviarOficio()"
                      #enviar
                      label="Enviar"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-raised p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Cancelar"
                      [disabled]="botoesInativos"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Voltar"
                      [disabled]="botoesInativos"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid formulario-bg-externo">
          <div class="p-col-12"></div>
          <div class="p-col-12"></div>
        </div>
      </div>

    </form>
  </div>
</p-scrollPanel>


<!--<app-form-debug [form]="formOfIncluir"></app-form-debug>-->
<!--<p-toast key="oficioToast" [style]="{marginTop: '80px'}"></p-toast>-->

<!--<p-dialog  #descricao header="Descrição da solicitação" [dismissableMask]="true" [(visible)]="display"
          [style]="{width: '70%'}">
  &lt;!&ndash;<p-editor id="solicitacao" [ngModel]="solicitacao_descricao" class="detalhe" [readonly]="true">
    <ng-template pTemplate="header"></ng-template>
  </p-editor>&ndash;&gt;
  <quill-view *ngIf="htm !== null" [content]="delta" format="html" theme="snow"></quill-view>
  &lt;!&ndash;<app-quill-view *ngIf="lb !== undefined && lb.solicitacao_descricao !== undefined" [cpdelta]="lb.solicitacao_descricao_delta" [cphtml]="lb.solicitacao_descricao"
                  class="detalhe"></app-quill-view>&ndash;&gt;
  <div style="padding-top: .4em">
    <button pButton type="button" label="FECHAR" class="p-button-rounded" (click)="fechar()"></button>
  </div>
</p-dialog>-->

<!--*** EDITOR *****************************************************************************************************-->
<p-dialog *ngIf="dialog"
  [(visible)]="display"
  [dismissableMask]="true"
  styleClass="tablistagem"
  header="Descrição da solicitação"
  (onHide)="fechar()"
>
  <!--<quill-view-html #edtor [content]="campoTexto" class="tablistagem"></quill-view-html>-->
  <app-quill-view [cphtml]="htm" [cpdelta]="delta"></app-quill-view>
  <div style="padding-top: .4em">
    <button pButton type="button" label="FECHAR" class="p-button-rounded" (click)="fechar()"></button>
  </div>

</p-dialog>
