<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <form [formGroup]="formProp" (ngSubmit)="onSubmit()">
      <div class="p-fluid formulario-bg-externo">

        <div class="p-d-flex p-jc-center">
          <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
            <span class="formulario-titulo">PROPOSIÇÃO - INCLUIR</span>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">

              <!--*** COLUNA 1 ***-->
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">

                  <!--*** proposicao_tipo_id ***-->
                  <div class="p-field p-col-12">
                    <label for="proposicao_tipo_id">Tipo</label>
                    <div class="p-inputgroup">
                      <p-dropdown
                        id="proposicao_tipo_id"
                        formControlName="proposicao_tipo_id"
                        [options]="ddProposicao_tipo_id"
                        [style]="{'width':'100%'}"
                        [autofocus]="true"
                        [showClear]="true"
                      ></p-dropdown>
                      <app-configaux-incluir
                        [desabilitado]="false"
                        [titulo]="'Incluir Tipo de proposição'"
                        [tituloCampo]="'Tipo'"
                        [campoNome]="'proposicao_tipo_id'"
                        [tamanho]="50"
                        [tamanhomax]="100"
                        [dropdown]="'ddProposicao_tipo_id'"
                        [arrai]="ddProposicao_tipo_id"
                        (onNovoRegistroAux)="onNovoRegistroAux($event)"
                        (onBlockSubmit)="onBlockSubmit($event)"
                      ></app-configaux-incluir>
                    </div>
                  </div>

                  <!--*** proposicao_numero ***-->
                  <div class="p-field p-col-12">
                    <label for="proposicao_numero"> Número</label>
                    <input
                      id="proposicao_numero"
                      formControlName="proposicao_numero"
                      type="text"
                      size="40"
                      maxlength="20"
                      pInputText
                    />
                  </div>

                  <!--*** proposicao_numero ***-->
                  <div class="p-field p-col-12">
                    <label for="proposicao_autor"> Autor</label>
                    <input
                      id="proposicao_autor"
                      formControlName="proposicao_autor"
                      type="text"
                      size="40"
                      maxlength="50"
                      pInputText
                    />
                  </div>

                  <!--*** proposicao_numero ***-->
                  <div class="p-field p-col-12">
                    <label for="proposicao_relator"> Relator</label>
                    <input
                      id="proposicao_relator"
                      formControlName="proposicao_relator"
                      type="text"
                      size="40"
                      maxlength="50"
                      pInputText
                    />
                  </div>

                </div>
              </div>
              <!--*** FIM COLUNA 1 ***-->

              <!--*** COLUNA 2 ***-->
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid formulario">

                  <!--*** proposicao_data_apresentacao ***-->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('proposicao_data_apresentacao')">
                    <label for="proposicao_data_apresentacao"><span style="color: var(--ativo)">*</span> Data de
                      apresentação</label>
                    <p-calendar
                      id="proposicao_data_apresentacao"
                      formControlName="proposicao_data_apresentacao"
                      dateFormat="dd/mm/yy"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                      (onBlur)="mudaData()"
                      (onSelect)="mudaData()"
                    ></p-calendar>
                    <app-campo-control-erro msgErro="Data de apresentação é obrigatória."></app-campo-control-erro>
                  </div>

                  <!--*** proposicao_area_interesse_id ***-->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('proposicao_area_interesse_id')">
                    <label for="proposicao_area_interesse_id"><span style="color: var(--ativo)">*</span> Área de
                      interesse</label>
                    <p-dropdown
                      id="proposicao_area_interesse_id"
                      formControlName="proposicao_area_interesse_id"
                      placeholder="Selecione"
                      [options]="ddProposicao_area_interesse_id"
                      [style]="{'width':'100%'}"
                      [showClear]="true"
                    ></p-dropdown>
                    <app-campo-control-erro msgErro="Área de interesse é obrigatória."></app-campo-control-erro>
                  </div>

                  <!--*** proposicao_parecer ***-->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('proposicao_parecer')">
                    <label for="proposicao_parecer"><span style="color: var(--ativo)">*</span> Parecer</label>
                    <p-dropdown
                      id="proposicao_parecer"
                      formControlName="proposicao_parecer"
                      placeholder="Selecione"
                      [options]="ddProposicao_parecer"
                      [style]="{'width':'100%'}"
                      [showClear]="true"
                    ></p-dropdown>
                    <app-campo-control-erro msgErro="Parecer é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** proposicao_origem_id ***-->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('proposicao_origem_id')">
                    <label for="proposicao_origem_id"><span style="color: var(--ativo)">*</span> Orgão de origem</label>
                    <div class="p-inputgroup">
                      <p-dropdown
                        id="proposicao_origem_id"
                        formControlName="proposicao_origem_id"
                        placeholder="Selecione"
                        [options]="ddProposicao_origem_id"
                        [style]="{'width':'100%'}"
                        [showClear]="true"
                      ></p-dropdown>
                      <app-configaux-incluir
                        [desabilitado]="false"
                        [titulo]="'Incluir Orgão de origem'"
                        [tituloCampo]="'Orgão'"
                        [campoNome]="'proposicao_origem_id'"
                        [tamanho]="50"
                        [tamanhomax]="100"
                        [dropdown]="'ddProposicao_origem_id'"
                        [arrai]="ddProposicao_origem_id"
                        (onNovoRegistroAux)="onNovoRegistroAux($event)"
                        (onBlockSubmit)="onBlockSubmit($event)"
                      ></app-configaux-incluir>
                      <app-campo-control-erro msgErro="Orgão de origem é obrigatório."></app-campo-control-erro>
                    </div>
                  </div>

                </div>
              </div>
              <!--*** FIM COLUNA 2 ***-->

              <!--*** COLUNA 3 ***-->
              <div class="p-sm-12 p-md-12 p-lg-12 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">

                  <!--*** proposicao_emenda_tipo_id ***-->
                  <div class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12"
                       [ngClass]="aplicaCssErro('proposicao_emenda_tipo_id')">
                    <label for="proposicao_emenda_tipo_id"><span style="color: var(--ativo)">*</span> Tipo de
                      emenda</label>
                    <div class="p-inputgroup">
                    <p-dropdown
                      id="proposicao_emenda_tipo_id"
                      formControlName="proposicao_emenda_tipo_id"
                      placeholder="Selecione"
                      [options]="ddProposicao_emenda_tipo_id"
                      [style]="{'width':'100%'}"
                      [showClear]="true"
                    ></p-dropdown>
                    <app-configaux-incluir
                      [desabilitado]="false"
                      [titulo]="'Incluir Tipo de emenda'"
                      [tituloCampo]="'Tipo de emenda'"
                      [campoNome]="'proposicao_emenda_tipo_id'"
                      [tamanho]="50"
                      [tamanhomax]="100"
                      [dropdown]="'ddProposicao_emenda_tipo_id'"
                      [arrai]="ddProposicao_emenda_tipo_id"
                      (onNovoRegistroAux)="onNovoRegistroAux($event)"
                      (onBlockSubmit)="onBlockSubmit($event)"
                    ></app-configaux-incluir>
                    </div>
                    <app-campo-control-erro msgErro="Tipo de emenda é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** proposicao_situacao_id ***-->
                  <div class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12"
                       [ngClass]="aplicaCssErro('proposicao_situacao_id')">
                    <label for="proposicao_situacao_id"><span style="color: var(--ativo)">*</span> Situação</label>
                    <div class="p-inputgroup">
                    <p-dropdown
                      id="proposicao_situacao_id"
                      formControlName="proposicao_situacao_id"
                      placeholder="Selecione"
                      [options]="ddProposicao_situacao_id"
                      [style]="{'width':'100%'}"
                      [showClear]="true"
                    ></p-dropdown>
                    <app-configaux-incluir
                      [desabilitado]="false"
                      [titulo]="'Incluir Situação'"
                      [tituloCampo]="'Situação'"
                      [campoNome]="'proposicao_situacao_id'"
                      [tamanho]="50"
                      [tamanhomax]="100"
                      [dropdown]="'ddProposicao_situacao_id'"
                      [arrai]="ddProposicao_situacao_id"
                      (onNovoRegistroAux)="onNovoRegistroAux($event)"
                      (onBlockSubmit)="onBlockSubmit($event)"
                    ></app-configaux-incluir>
                    </div>
                    <app-campo-control-erro msgErro="Situação é obrigatório."></app-campo-control-erro>
                  </div>

                  <ng-container *ngIf="authenticationService.arquivos">
                    <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12">
                      <app-arquivo
                        [modulo]="'proposicao'"
                        [modelo]="'incluir'"
                        [registro_id]="arquivo_registro_id"
                        [uploadDisabled]="arquivoDesativado || !formProp.valid"
                        [enviarArquivos]="enviarArquivos"
                        (onBlockSubmit)="onBlockSubmit($event)"
                        (onUpload)="onUpload($event)"
                        (onPossuiArquivos)="onPossuiArquivos($event)"
                        [clearArquivos]="clearArquivos"
                      ></app-arquivo>
                    </div>
                  </ng-container>

                </div>
              </div>


              <!--*** COLUNA 3 ***-->
              <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
                <div class="p-fluid p-formgrid p-grid formulario">

                  <!--*** proposicao_ementa ***-->
                  <div class="p-field p-col-12 formulario-quill">
                    <!--<div class="formulario-quill">-->
                    <label for="proposicao_ementa">Ementa</label>
                    <p-editor
                      id="proposicao_ementa"
                      formControlName="proposicao_ementa"
                      [modules]="modulos"
                    >
                      <ng-template pTemplate="header"></ng-template>
                    </p-editor>
                    <!--</div>-->
                  </div>

                  <!--*** proposicao_texto ***-->
                  <div class="p-field p-col-12 formulario-quill">
                    <!--<div class="formulario-quill">-->
                    <label for="proposicao_texto">Texto</label>
                    <p-editor
                      id="proposicao_texto"
                      formControlName="proposicao_texto"
                      [modules]="modulos"
                    >
                      <ng-template pTemplate="header"></ng-template>
                    </p-editor>
                    <!--</div>-->
                  </div>


                </div>
              </div>
              <!--*** FIM COLUNA 3 ***-->

              <!--</div>

              <div class="p-grid p-input-filled">-->
              <div *ngIf="!mostraAnamento" class="p-field p-col-12">
                <br>

                <p-fieldset legend="Andamento" id="proposicao" #proposicao [collapsed]="mostraAnamento">
                  <div class="p-grid">
                    <div class="p-grid p-input-filled">

                      <!--*** COLUNA 4 ***-->
                      <div class="p-sm-12 p-md-6 p-lg-6 p-xl-6 formulario">
                        <div class="p-fluid p-formgrid p-grid formulario">

                          <!--*** proposicao_numero ***-->
                          <div class="p-field p-col-12">
                            <label for="proposicao_relator_atual"> Relator atual</label>
                            <input
                              id="proposicao_relator_atual"
                              formControlName="proposicao_relator_atual"
                              type="text"
                              size="40"
                              maxlength="70"
                              pInputText
                            />
                          </div>

                          <!--*** andamento_proposicao_data ***-->
                          <div class="p-field p-col-12">
                            <label for="andamento_proposicao_data"> Data</label>
                            <p-calendar
                              id="andamento_proposicao_data"
                              formControlName="andamento_proposicao_data"
                              dateFormat="dd/mm/yy"
                              placeholder="dd/mm/aaaa"

                              dataType="string"
                            ></p-calendar>
                          </div>

                        </div>
                      </div>
                      <!--*** FIM COLUNA 4 ***-->

                      <!--*** COLUNA 5 ***-->
                      <div class="p-sm-12 p-md-6 p-lg-6 p-xl-6 formulario">
                        <div class="p-fluid p-formgrid p-grid formulario">

                          <!--*** andamento_proposicao_orgao_id ***-->
                          <div class="p-field p-col-12">
                            <label for="proposicao_orgao_id"> Orgão atual</label>
                            <div class="p-inputgroup">
                            <p-dropdown
                              id="proposicao_orgao_id"
                              formControlName="proposicao_orgao_id"
                              placeholder="Selecione"
                              [options]="ddProposicao_orgao_id"
                              [style]="{'width':'100%'}"
                              [showClear]="true"
                            ></p-dropdown>
                            <app-configaux-incluir
                              [desabilitado]="false"
                              [titulo]="'Incluir Orgão atual'"
                              [tituloCampo]="'Orgão atual'"
                              [campoNome]="'proposicao_orgao_id'"
                              [tamanho]="50"
                              [tamanhomax]="100"
                              [dropdown]="'ddProposicao_orgao_id'"
                              [arrai]="ddProposicao_orgao_id"
                              (onNovoRegistroAux)="onNovoRegistroAux($event)"
                              (onBlockSubmit)="onBlockSubmit($event)"
                            ></app-configaux-incluir>
                          </div>
                          </div>

                        </div>
                      </div>
                      <!--*** FIM COLUNA 5 ***-->

                      <!--*** COLUNA 6 ***-->
                      <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
                        <div class="p-fluid p-formgrid p-grid formulario">

                          <!--*** andamento_proposicao_texto ***-->
                          <div class="p-field p-col-12 formulario-quill">
                            <label for="andamento_proposicao_texto">Andamento</label>
                            <p-editor
                              id="andamento_proposicao_texto"
                              formControlName="andamento_proposicao_texto"
                              [modules]="modulos"
                            >
                              <ng-template pTemplate="header"></ng-template>
                            </p-editor>
                          </div>

                        </div>
                      </div>
                      <!--*** FIM COLUNA 6 ***-->


                    </div>
                  </div>
                </p-fieldset>

              </div>


              <div class="p-field p-col-12">
                <br>
              </div>

            </div>
          </div>
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>
        </div>

      </div>


      <div class="p-grid">
        <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
      </div>

      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">
              <div class="p-col-12 formulario">
                <!--*** Botões ***-->
                <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-raised p-button-rounded"
                      [disabled]="!formProp.valid || mostraForm"
                      (click)="enviarProposicao()"
                      label="Enviar"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-raised p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Cancelar"
                      [disabled]="botaoEnviarVF || mostraForm"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-raised p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Voltar"
                      [disabled]="botaoEnviarVF || mostraForm"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-raised p-button-rounded p-button-secondary"
                      (click)="mostrarAndamento()"
                      label="Incluir andamento"
                      [disabled]="botaoEnviarVF || mostraForm"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid formulario-bg-externo">
          <div class="p-col-12"></div>
          <div class="p-col-12"></div>
        </div>
      </div>

    </form>
  </div>
</p-scrollPanel>

<p-toast key="proposicaoToast" [style]="{marginTop: '80px'}"></p-toast>


