<p-sidebar
  id="sidebar-grafico"
  [(visible)]="mi.mostraMenuInterno"
  [blockScroll]="true"
  [dismissible]="true"
  styleClass="grafico"
  appendTo="body"
>
  <p-scrollPanel styleClass="grafico">
    <app-grafico-menu></app-grafico-menu>
  </p-scrollPanel>
</p-sidebar>

<div id="grafico-main">

  <div id="grafico-esquerda">
    <div id="btn-menu-interno-grafico">
      <i class="btn-menu-interno-grafico pi pi-bars" (click)="mostraMenu()"></i>
    </div>
  </div>

  <div id="grafico-direita">
    <router-outlet></router-outlet>
  </div>
</div>
