
<p-table
  #dtsms
  [value]="cadastros"
  [columns]="selectedColumns"
  [lazy]="true"
  (onLazyLoad)="onLazyLoad($event)"
  [lazyLoadOnInit]="false"
  [sortField]="sortCampo"
  dataKey="cadastro_id"
  [scrollable]="true"
  [scrollHeight]="altura"
  [paginator]="true"
  [rows]="rows"
  [resizableColumns]="true"
  columnResizeMode="expand"
  [rowsPerPageOptions]="[50,100,200,500,1000,5000]"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [loadingIcon]="'pi pi-spinner'"
  stateStorage="session"
  stateKey="cadastro-listagem-sms"
  editMode="cell"
  (onEditInit)="onEditInit($event)"
  (onEditComplete)="onEditComplete($event)"
  (onEditCancel)="onEditCancel($event)"
  [tableStyle]="{'font-size':'14px'}"
  styleClass="tablistagem p-datatable-sm p-datatable-striped"
>
  <!--*** TOPO *****************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-jc-between p-ai-center">
      <div class="p-d-inline-flex">
        <div class="p-mx-2"><button pButton type="button" label="Filtrar" icon="pi pi-search" class="p-button-text p-button-sm" (click)="mostraMenu()"></button></div>
        <div class="p-mr-0"><button pButton type="button" label="Incluir" icon="pi pi-plus" class="p-button-text p-button-sm" (click)="voltarCadastro()"></button></div>
      </div>
      <div class="p-d-inline-flex p-ai-center">
        <div class="p-mx-2">CADASTRO - SMS</div>
      </div>
      <div class="p-d-inline-flex p-ai-center">
        <div class="p-mr-2">Página {{currentPage}} de {{numerodePaginas}} - Num. Registros: {{totalRecords}}</div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th [pSortableColumn]="'cadastro_tipo_nome'" [style.width]="'200px'" pResizableColumn>
        TIPO
        <p-sortIcon [field]="'cadastro_tipo_nome'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'cadastro_nome'" [style.width]="'300px'" pResizableColumn>
        NOME / RAZÃO SOCIAL
        <p-sortIcon [field]="'cadastro_nome'"></p-sortIcon>
      </th>
      <th [style.width]="'30px'">
        <p-triStateCheckbox [(ngModel)]="todos1" (onChange)="mudaTodos1($event)"></p-triStateCheckbox>
      </th>
      <th [style.width]="'100px'">
        CELULAR 1
      </th>
      <th [style.width]="'30px'">
        <p-triStateCheckbox [(ngModel)]="todos2" (onChange)="mudaTodos2($event)"></p-triStateCheckbox>
      </th>
      <th [style.width]="'100px'">
        CELULAR 2
      </th>
      <th [pSortableColumn]="'cadastro_municipio_nome'" [style.width]="'300px'" pResizableColumn>
        MUNICÍPIO
        <p-sortIcon [field]="'cadastro_municipio_nome'"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-cad let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="cad">
      <td [style.width]="'200px'">
        {{cad.cadastro_tipo_nome}}
      </td>
      <td [style.width]="'300px'">
        {{cad.cadastro_nome}}
      </td>
      <td [style.width]="'30px'">
        <p-checkbox [disabled]="testaCkbox1(cad.cadastro_celular)" *ngIf="cad.cadastro_celular" name="cel1" [value]="cad.cadastro_celular" [(ngModel)]="telefones" (onChange)="checke1(cad)" (click)="alerta()"></p-checkbox>
      </td>
      <td
        [pEditableColumn]="[cad, rowIndex]"
        [pEditableColumnField]="'cadastro_celular'"
        [style.width]="'100px'"
        [style.background-color]="verificaValido(cad.cadastro_celular)"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputMask [unmask]="true" [autoClear]="true" [(ngModel)]="cad.cadastro_celular" mask="(99) 99999-999?9" [size]="16"></p-inputMask>
          </ng-template>
          <ng-template pTemplate="output">
            {{cad.cadastro_celular}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td [style.width]="'30px'">
        <p-checkbox [disabled]="testaCkbox2(cad.cadastro_celular2)" *ngIf="cad.cadastro_celular2" name="cel2" [value]="cad.cadastro_celular2" [(ngModel)]="telefones2" (onChange)="checke2(cad)" (click)="alerta()"></p-checkbox>
      </td>
      <td
        [pEditableColumn]="[cad, rowIndex]"
        [pEditableColumnField]="'cadastro_celular2'"
        [style.width]="'100px'"
        [style.background-color]="verificaValido(cad.cadastro_celular2)"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputMask [unmask]="false" [autoClear]="true" [(ngModel)]="cad.cadastro_celular2" mask="(99) 99999-999?9" [size]="16"></p-inputMask>
          </ng-template>
          <ng-template pTemplate="output">
            {{cad.cadastro_celular2}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td [style.width]="'300px'">
        {{cad.cadastro_municipio_nome}}
      </td>
    </tr>
  </ng-template>


  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" id="tabela-vazia">
        <div class="tabela-vazia-a">
          <div class="tabela-vazia-b">
            <div class="tabela-vazia-c p-shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>


  <ng-template pTemplate="summary">
    <div class="p-mr-2 p-d-block p-d-md-inline p-d-lg-inline p-d-xl-inline">
      <input
        #smstext
        name="textoSms"
        [(ngModel)]="smsTexto"
        type="text"
        pInputText
        [maxlength]="160"
        style="width: 80%; max-width: 80ch"
        placeholder="Mensagem 160 caracteres"
        class="p-inputtext-sm p-input-filled p-mr-2"
      >
      {{smstext.value.length}}
    </div>

    <div class="p-mr-2 p-d-block p-d-md-inline p-d-lg-inline p-d-xl-inline">
      <button
        pButton
        pRipple
        type="button"
        label="Enviar SMS"
        icon="pi pi-mobile"
        (click)="enviaSms(smsTexto)"
        class="p-button-sm p-mx-2"
      ></button>
      Total: {{telefones.length + telefones2.length}} - Restante: {{sms_restante - (telefones.length + telefones2.length)}}
    </div>
  </ng-template>

</p-table>
<ng-container *ngIf="displayEnvio">
<p-dialog header="SMS" [(visible)]="display" [contentStyle]="{'overflow':'visible'}">
  <app-sms-envio [celular]="celular" [mensagem]="smsTexto" [secao]="'cadastro'" (onFechaSms)="fechaSms($event)"></app-sms-envio>
</p-dialog>
</ng-container>
<p-toast key="celularToast"></p-toast>
<p-toast key="semCreditos" position="center" [style]="{width: '400px'}"></p-toast>
<p-toast key="celularCreditos"></p-toast>
