<p-scrollPanel [styleClass]="'scrollPanelDetalhe'" id="detalheprocesso">
  <table class="detalhefull">
    <tr>
      <td>
        <table class="table-hover tabela" #tabprocesso id="tabprocesso">
          <caption>PROCESSO</caption>
          <tr>
            <th>
              Número do processo:
            </th>
            <td>
              {{processo.processo_numero}}
            </td>
            <th>
              Situação:
            </th>
            <td>
              {{processo.processo_status}}
            </td>
          </tr>
          <tr>
            <th>
              Data:
            </th>
            <td>
              {{processo.solicitacao_data}}
            </td>
            <th>
              Assunto:
            </th>
            <td>
              {{processo.solicitacao_assunto_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Resp. Análise:
            </th>
            <td>
              {{processo.solicitacao_reponsavel_analize_nome}}
            </td>
            <th>
              Área de interesse:
            </th>
            <td>
              {{processo.solicitacao_area_interesse_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Núcleo:
            </th>
            <td colspan="3">
              {{processo.solicitacao_local_nome}}
            </td>
          </tr>
        </table>
        <br>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr *ngIf="authenticationService.cadastro_listar">
      <td>
        <table class="table-hover tabela" #tabcadastro id="tabcadastro">
          <caption>SOLICITANTE</caption>
          <tr>
            <th>
              Solicitante:
            </th>
            <td>
              {{cadastro.cadastro_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Tipo de Cadastro:
            </th>
            <td>
              {{cadastro.cadastro_tipo_nome}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_endereco">
            <th>
              Endereço:
            </th>
            <td>
              {{cadastro.cadastro_endereco}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_endereco_numero">
            <th>
              Número:
            </th>
            <td>
              {{cadastro.cadastro_endereco_numero}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_endereco_complemento">
            <th>
              Complemento:
            </th>
            <td>
              {{cadastro.cadastro_endereco_complemento}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_bairro">
            <th>
              Bairro:
            </th>
            <td>
              {{cadastro.cadastro_bairro}}
            </td>
          </tr>
          <tr>
            <th>
              Município:
            </th>
            <td>
              {{cadastro.cadastro_municipio_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Estado:
            </th>
            <td>
              {{cadastro.cadastro_estado_nome}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_cep">
            <th>
              CEP:
            </th>
            <td>
              {{cadastro.cadastro_cep}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_regiao_nome">
            <th>
              Região:
            </th>
            <td>
              {{cadastro.cadastro_regiao_nome}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_telefone">
            <th>
              Telefone 1:
            </th>
            <td>
              {{cadastro.cadastro_telefone}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_telcom">
            <th>
              Telefone 2:
            </th>
            <td>
              {{cadastro.cadastro_telcom}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_telefone2">
            <th>
              Telefone 3:
            </th>
            <td>
              {{cadastro.cadastro_telefone2}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_celular">
            <th>
              Celular 1:
            </th>
            <td>
              {{cadastro.cadastro_celular}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_celular2">
            <th>
              Celular 2:
            </th>
            <td>
              {{cadastro.cadastro_celular2}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_fax">
            <th>
              WhatsApp:
            </th>
            <td>
              {{cadastro.cadastro_fax}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_email">
            <th>
              E-mail 1:
            </th>
            <td>
              {{cadastro.cadastro_email}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_email2">
            <th>
              E-mail 2:
            </th>
            <td>
              {{cadastro.cadastro_email2}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_rede_social">
            <th>
              Facebook:
            </th>
            <td>
              {{cadastro.cadastro_rede_social}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_outras_midias">
            <th>
              Outras mídias:
            </th>
            <td>
              {{cadastro.cadastro_outras_midias}}
            </td>
          </tr>
          <tr *ngIf="cadastro.cadastro_data_nascimento">
            <th>
              Data Nascimento/Fundação:
            </th>
            <td>
              {{cadastro.cadastro_data_nascimento}}
            </td>
          </tr>

          <tr *ngIf="processo.solicitacao_descricao">
            <th colspan="2">
              Descrição da solicitação:
            </th>
          </tr>
          <tr *ngIf="processo.solicitacao_descricao">
            <td colspan="2">
              <quill-view-html id="solicitacao_descricao" #solicitacao_descricao [content]="processo.solicitacao_descricao" class="detalhe"></quill-view-html>
            </td>
          </tr>

          <tr *ngIf="processo.solicitacao_aceita_recusada">
            <th colspan="2">
              Observações:
            </th>
          </tr>
          <tr *ngIf="processo.solicitacao_aceita_recusada">
            <td colspan="2">
              <quill-view-html id="solicitacao_aceita_recusada" #solicitacao_aceita_recusada [content]="processo.solicitacao_aceita_recusada" class="detalhe"></quill-view-html>
            </td>
          </tr>

          <tr *ngIf="processo.processo_carta">
            <th colspan="2">
              Carta:
            </th>
          </tr>
          <tr *ngIf="processo.processo_carta">
            <td colspan="2">
              <quill-view-html id="processo_carta" #processo_carta [content]="processo.processo_carta" class="detalhe"></quill-view-html>
            </td>
          </tr>

        </table>
        <br>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr *ngIf="oficios && authenticationService.oficio_listar">
      <td>
        <ng-container *ngFor="let ofi of oficios; let i=index">
          <table class="tabela" #taboficio_{{i}} id="taboficio_{{i}}">
            <caption>OFÍCIO <span *ngIf="ofi.oficio_codigo"> - Código: {{ofi.oficio_codigo}}</span> <span
              *ngIf="ofi.oficio_orgao_solicitado_nome"> - Orgão Solicitado: {{ofi.oficio_orgao_solicitado_nome}}</span>
            </caption>
            <tr *ngIf="ofi.oficio_codigo">
              <th>
                Código:
              </th>
              <td>
                {{ofi.oficio_codigo}}
              </td>
            </tr>
            <tr>
              <th>
                Orgão Solicitado:
              </th>
              <td>
                {{ofi.oficio_orgao_solicitado_nome}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_numero">
              <th>
                Número do ofício:
              </th>
              <td>
                {{ofi.oficio_numero}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_status">
              <th>
                Situação:
              </th>
              <td>
                {{ofi.oficio_status}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_data_emissao">
              <th>
                Data da emissão:
              </th>
              <td>
                {{ofi.oficio_data_emissao}}
              </td>
            <tr *ngIf="ofi.oficio_prioridade_nome">
              <th>
                Prioridade:
              </th>
              <td>
                {{ofi.oficio_prioridade_nome}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_protocolo_numero">
              <th>
                Número do protocolo:
              </th>
              <td>
                {{ofi.oficio_protocolo_numero}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_data_protocolo">
              <th>
                Data do protocolo:
              </th>
              <td>
                {{ofi.oficio_data_protocolo}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_orgao_protocolante_nome">
              <th>
                Orgão protocolante:
              </th>
              <td>
                {{ofi.oficio_orgao_protocolante_nome}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_protocolante_funcionario">
              <th>
                Funcionário do orgão:
              </th>
              <td>
                {{ofi.oficio_protocolante_funcionario}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_tipo_andamento_nome">
              <th>
                Tipo de andamento:
              </th>
              <td>
                {{ofi.oficio_tipo_andamento_nome}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_data_recebimento">
              <th>
                Data recebimeento:
              </th>
              <td>
                {{ofi.oficio_data_recebimento}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_convenio">
              <th>
                Concênio:
              </th>
              <td>
                {{ofi.oficio_convenio}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_valor_solicitado">
              <th>
                Valor solicitado:
              </th>
              <td>
                {{ofi.oficio_valor_solicitado}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_valor_recebido">
              <th>
                Valor recebido:
              </th>
              <td>
                {{ofi.oficio_valor_recebido}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_data_pagamento">
              <th>
                Data do pagamento:
              </th>
              <td>
                {{ofi.oficio_data_pagamento}}
              </td>
            </tr>
            <tr *ngIf="ofi.oficio_prazo">
              <th>
                Prazo:
              </th>
              <td>
                {{ofi.oficio_prazo}}
              </td>
            </tr>

            <tr *ngIf="ofi.oficio_descricao_acao">
              <th colspan="2">
                Descrição da ação:
              </th>
            </tr>
            <tr *ngIf="ofi.oficio_descricao_acao" >
              <td colspan="2">
                <quill-view-html id="acao_{{ofi.oficio_id}}" #acao_{{ofi.oficio_id}} [content]="ofi.oficio_descricao_acao" class="detalhe"></quill-view-html>
              </td>
            </tr>
          </table>

        </ng-container>
      </td>
    </tr>
    <tr *ngIf="oficios && !authenticationService.oficio_listar">
      <td>
        <table class="tabelainterna" #taboficio id="taboficio">
          <caption>OFÍCIOS</caption>
          <tr>
            <td>
              Existem {{oficios_num}} ofícios vinculados a esse processo
              <br>
            </td>
          </tr>
        </table>
        <br>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr *ngIf="historicos">
      <td>
        <table class="table-hover tabela" #tabhistorico id="tabhistorico">
          <caption>HISTÓRICOS</caption>
          <tr>
            <td>Data</td>
            <td>Andamento</td>
          </tr>
          <tr *ngFor="let his of historicos">
            <td style="font-weight: normal">{{his.historico_data}}</td>
            <td style="font-weight: normal">{{his.historico_andamento}}</td>
          </tr>
        </table>
        <br>
      </td>
    </tr>
  </table>
  <br>
</p-scrollPanel>
<div class="botoesdetalhe">
  <button pButton type="button" label="FECHAR" class="p-button-raised p-button-rounded" (click)="fechar()"></button>
  &nbsp;&nbsp;
  <button pButton type="button" icon="pi pi-file-pdf" label="PDF"
          class="p-button-raised p-button-rounded p-button-secondary"
          (click)="getPdf(false)"></button>
  &nbsp;&nbsp;
  <button pButton type="button" icon="pi pi-print" label="IMPRIMIR"
          class="p-button-raised p-button-rounded p-button-secondary"
          (click)="getPdf(true)"></button>
</div>

