<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <div class="p-fluid formulario-bg-externo">
      <div class="p-d-flex p-jc-center">
        <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
          <span class="formulario-titulo">SOLICITAÇÃO - APAGAR</span>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">

          <div class="p-fluid p-formgrid p-grid formulario">
            <div class="p-field p-col-12">
              <table class="table-hover tabela">
                <caption>SOLICITAÇÃO</caption>
                <tr>
                  <th>
                    Posição:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_posicao}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Solicitante:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_cadastro_nome}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Tipo de Solicitante:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_cadastro_tipo_nome}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Data:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_data}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Assunto:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_assunto_nome}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Área de interesse:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_area_interesse_nome}}
                  </td>
                </tr>
                <tr *ngIf="solicitacao.solicitacao_local_nome">
                  <th>
                    Núcleo:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_local_nome}}
                  </td>
                </tr>
                <tr *ngIf="solicitacao.solicitacao_indicacao_sn">
                  <th>
                    Indicação S/N:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_indicacao_sn}}
                  </td>
                </tr>
                <tr *ngIf="solicitacao.solicitacao_indicacao_nome">
                  <th>
                    Indicação:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_indicacao_nome}}
                  </td>
                </tr>
                <tr *ngIf="solicitacao.solicitacao_reponsavel_analize_nome">
                  <th>
                    Responsável:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_reponsavel_analize_nome}}
                  </td>
                </tr>
                <tr *ngIf="solicitacao.solicitacao_atendente_cadastro_nome">
                  <th>
                    Atendente:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_atendente_cadastro_nome}}
                  </td>
                </tr>
                <tr *ngIf="solicitacao.solicitacao_data_atendimento">
                  <th>
                    Dt. Atendimento:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_data_atendimento}}
                  </td>
                </tr>
                <tr *ngIf="solicitacao.solicitacao_tipo_recebimento_nome">
                  <th>
                    Tp. Recebimento:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_tipo_recebimento_nome}}
                  </td>
                </tr>
                <tr *ngIf="solicitacao.solicitacao_cadastrante_cadastro_nome">
                  <th>
                    Cadastrante:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_cadastrante_cadastro_nome}}
                  </td>
                </tr>
                <tr *ngIf="solicitacao.solicitacao_orgao">
                  <th>
                    Orgão solicitado:
                  </th>
                  <td>
                    {{solicitacao.solicitacao_orgao}}
                  </td>
                </tr>

                <tr *ngIf="solicitacao.solicitacao_descricao" class="novaPagina">
                  <th colspan="2" class="tituloEditor">
                    <span style="font-weight: bold; color: var(--text-color)">Descrição:</span>
                    <div>
                      <quill-view-html [content]="solicitacao.solicitacao_descricao" class="detalhe"></quill-view-html>
                    </div>
                  </th>
                </tr>
                <tr *ngIf="solicitacao.solicitacao_aceita_recusada !== null" class="novaPagina">
                  <th colspan="2" class="tituloEditor">
                    <span style="font-weight: bold; color: var(--text-color)">Observações:</span>
                    <div>
                      <quill-view-html id="observacao" #observacao [content]="solicitacao.solicitacao_aceita_recusada" class="detalhe"></quill-view-html>
                    </div>
                  </th>
                </tr>

                <tr *ngIf="solicitacao.solicitacao_carta !== null" class="novaPagina">
                  <th colspan="2" class="tituloEditor">
                    <span style="font-weight: bold; color: var(--text-color)">Carta:</span>
                    <!--<quill-view [content]="solicitacao.solicitacao_carta" format="text" theme="snow"></quill-view>-->
                    <!--<div class="ql-container ql-snow" style="border-width: 0;">
                      <div class="ql-editor" [innerHTML]="solicitacao.solicitacao_carta">
                      </div>
                    </div>-->
                    <div>
                      <quill-view-html [content]="solicitacao.solicitacao_carta" class="detalhe"></quill-view-html>
                    </div>
                  </th>
                </tr>
                <tr>
                  <td colspan="2" style="padding-left: 0; padding-right: 0">
                    <app-arquivo
                      [modulo]="'solicitacao'"
                      [modelo]="'excluir'"
                      [registro_id]="solicitacao.solicitacao_id"
                      (onBlockSubmit)="onBlockSubmit($event)"
                    ></app-arquivo>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div *ngIf="cadastro" class="p-fluid p-formgrid p-grid formulario">
            <div class="p-field p-col-12">
              <table class="table-hover tabela">
                <caption>SOLICITANTE</caption>
                <tr>
                  <th>
                    Tipo de Cadastro:
                  </th>
                  <td>
                    {{cadastro.cadastro_tipo_nome}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Tratamento:
                  </th>
                  <td>
                    {{cadastro.cadastro_tratamento_nome}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Nome/Rasão Social:
                  </th>
                  <td>
                    {{cadastro.cadastro_nome}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_responsavel">
                  <th>
                    Empresa/Responsável:
                  </th>
                  <td>
                    {{cadastro.cadastro_responsavel}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_cargo">
                  <th>
                    Cargo:
                  </th>
                  <td>
                    {{cadastro.cadastro_cargo}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_endereco">
                  <th>
                    Endereço:
                  </th>
                  <td>
                    {{cadastro.cadastro_endereco}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_endereco_numero">
                  <th>
                    Número:
                  </th>
                  <td>
                    {{cadastro.cadastro_endereco_numero}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_endereco_complemento">
                  <th>
                    Complemento:
                  </th>
                  <td>
                    {{cadastro.cadastro_endereco_complemento}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_bairro">
                  <th>
                    Bairro:
                  </th>
                  <td>
                    {{cadastro.cadastro_bairro}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Município:
                  </th>
                  <td>
                    {{cadastro.cadastro_municipio_nome}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Estado:
                  </th>
                  <td>
                    {{cadastro.cadastro_estado_nome}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_cep">
                  <th>
                    CEP:
                  </th>
                  <td>
                    {{cadastro.cadastro_cep}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_regiao_nome">
                  <th>
                    Região:
                  </th>
                  <td>
                    {{cadastro.cadastro_regiao_nome}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_grupo_nome">
                  <th>
                    Grupo:
                  </th>
                  <td>
                    {{cadastro.cadastro_grupo_nome}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_cpfcnpj">
                  <th>
                    CPF/CNPJ:
                  </th>
                  <td>
                    {{cadastro.cadastro_cpfcnpj}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_telefone">
                  <th>
                    Telefone 1:
                  </th>
                  <td>
                    {{cadastro.cadastro_telefone}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_telcom">
                  <th>
                    Telefone 2:
                  </th>
                  <td>
                    {{cadastro.cadastro_telcom}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_telefone2">
                  <th>
                    Telefone 3:
                  </th>
                  <td>
                    {{cadastro.cadastro_telefone2}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_celular">
                  <th>
                    Celular 1:
                  </th>
                  <td>
                    {{cadastro.cadastro_celular}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_celular2">
                  <th>
                    Celular 2:
                  </th>
                  <td>
                    {{cadastro.cadastro_celular2}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_fax">
                  <th>
                    WhatsApp:
                  </th>
                  <td>
                    {{cadastro.cadastro_fax}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_email">
                  <th>
                    E-mail 1:
                  </th>
                  <td>
                    {{cadastro.cadastro_email}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_email2">
                  <th>
                    E-mail 2:
                  </th>
                  <td>
                    {{cadastro.cadastro_email2}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_rede_social">
                  <th>
                    Facebook:
                  </th>
                  <td>
                    {{cadastro.cadastro_rede_social}}
                  </td>
                </tr>
                <tr *ngIf="cadastro.cadastro_outras_midias">
                  <th>
                    Outras mídias:
                  </th>
                  <td>
                    {{cadastro.cadastro_outras_midias}}
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div *ngIf="vinculos" class="p-fluid p-formgrid p-grid formulario">
            <div class="p-field p-col-12">

              <table class="table-hover tabela">
                <caption>VÍNCULOS DESTA SOLICITAÇÃO</caption>
                <tr *ngIf="processo_num">
                  <th>
                    Processo:
                  </th>
                  <td>
                    Esta solicitacao está vinculada ao processo {{processo_num.num}}.
                  </td>
                </tr>
                <tr *ngIf="oficio_num">
                  <th>
                    Ofício(s):
                  </th>
                  <td>
                    Esta solicitacao está vinculada a {{oficio_num.num}} ofício(s).
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div *ngIf="processo" class="p-fluid p-formgrid p-grid formulario">
            <div class="p-field p-col-12">

              <table class="table-hover tabela">
                <caption>
                  PROCESSO - Esta solicitação está vinculada ao seguinte processo.
                </caption>
                <tr>
                  <th>NÚMERO</th>
                  <th>SITUAÇÃO</th>
                </tr>
                <tr>
                  <td>{{processo.processo_numero}}</td>
                  <td>{{processo.processo_status}}</td>
                </tr>
              </table>

            </div>
          </div>

          <div *ngIf="oficio" class="p-fluid p-formgrid p-grid formulario">
            <div class="p-field p-col-12">

              <table class="table-hover tabdetalhe" style="width: 100%">
                <caption>
                  OFÍCIOS - Esta solicitação está vinculada ao(s) seguinte(s) ofício(s).
                </caption>
                <tr>
                  <th>POSIÇÃO</th>
                  <th>CÓDIGO</th>
                  <th>NÚMERO</th>
                  <th>DATA</th>
                  <th>ORGÃO SOLICITADO</th>
                </tr>
                <tr *ngFor="let ofi of oficio">
                  <td>{{ofi.oficio_status}}</td>
                  <td>{{ofi.oficio_codigo}}</td>
                  <td>{{ofi.oficio_numero}}</td>
                  <td>{{ofi.oficio_data_emissao}}</td>
                  <td>{{ofi.oficio_orgao_solicitado_nome}}</td>
                </tr>
              </table>

            </div>
          </div>

          <div *ngIf="!apagarSN" class="p-fluid p-formgrid p-grid formulario">
            <div class="p-field p-col-12">

              <div class="p-col-12 msg" *ngFor="let m of msg">
               {{m}}
              </div>

            </div>
          </div>

        </div>
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
    </div>

    <div class="p-fluid formulario-bg-externo">
      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-grid p-input-filled">

            <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
              <div class="p-col-12 formulario">
                <!--*** Botões ***-->
                <div class="p-d-flex p-jc-start p-pb-2">
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      [disabled]="botaoEnviarVF || arquivoBlockSubmit"
                      label="APAGAR"
                      class="p-button-rounded p-button-danger"
                      (click)="excluirSolicitacao()">
                    </button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      icon="fas fa-print"
                      [disabled]="apagarSN"
                      label="VOLTAR"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()">
                    </button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="p-fluid formulario-bg-externo">
      <div class="p-grid formulario-bg-externo">
        <div class="p-col-12"> </div>
        <div class="p-col-12"> </div>
      </div>
    </div>
  </div>
</p-scrollPanel>

<p-toast key="solicitacaoExcluirArrayToast" [style]="{marginTop: '200px'}"></p-toast>
<p-toast key="solicitacaoExcluirToast" [style]="{marginTop: '200px'}"  (onClose)="voltarListar()"></p-toast>
<p-toast key="solicitacaoExcluirErroToast" [style]="{marginTop: '200px'}"></p-toast>
