<form (ngSubmit)="onSubmit(nForm)" #nForm="ngForm">
  <input type="hidden" [(ngModel)]="ns.nuForm.local_id" #local_id="ngModel" id="local_id" name="local_id">
  <div class="inline-block formulario-bg-externo">

    <div class="flex justify-content-center">
      <div class="mt-1 mb-1 pt-2 px-3 pb-1">
      </div>
    </div>
    <div class="grid">
      <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
        <div class="p-3">
          <div class="grid p-input-filled">


            <div class="col-12 formulario">
              <div class="formgrid grid formulario">


                <div [ngClass]="aplicaCssErro(local_nome)" class="field col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6">
                  <label for="local_nome"><span class="atencao">*</span> Nome</label>
                  <input
                    pInputText
                    id="local_nome"
                    name="local_nome"
                    #local_nome="ngModel"
                    type="text"
                    [maxlength]="50"
                    [minlength]="3"
                    [(ngModel)]="ns.nuForm.local_nome"
                    [ngClass]="aplicaCssErro(local_nome)"
                    [required]="true"
                  >
                  <app-campo-control-erro
                    [mostrarErro]="verificaValidTouched(local_nome)"
                    msgErro="Nome é obrigatório.">
                  </app-campo-control-erro>
                </div>
                <div class="field col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6">
                  <label for="local_endereco">Endreço</label>
                  <input pInputText id="local_endereco" name="local_endereco" #local_endereco="ngModel" type="text"
                         maxlength="254" [(ngModel)]="ns.nuForm.local_endereco">
                </div>
                <div class="field col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6">
                  <label for="local_telefone">Telefone</label>
                  <input pInputText id="local_telefone" name="local_telefone" #local_telefone="ngModel" type="text"
                         maxlength="40" [(ngModel)]="ns.nuForm.local_telefone">
                </div>
                <div class="field col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6">
                  <div class="mr-2">
                    <label for="local_color" style="font-weight: var(--formulario-field-label-font-weight)">Cor</label>
                  </div>
                  <p-colorPicker
                    id="local_color"
                    [(ngModel)]="ns.nuForm.local_color"
                    name="local_color"
                    [appendTo]="'body'"
                    [autoZIndex]="true"
                  ></p-colorPicker>
                </div>
                <div class="field col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6">
                  <label for="local_responsavel_id">Usuário responsável</label>
                  <p-dropdown
                    id="local_responsavel_id"
                    name="local_responsavel_id"
                    [placeholder]="'Selecione...'"
                    [options]="ns.ddUsuario_id"
                    [(ngModel)]="ns.nuForm.local_responsavel_usuario_id"
                    [appendTo]="'body'"
                  ></p-dropdown>
                </div>


              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno my-3"></div>
    </div>

  </div>

  <div class="grid">
    <div class="col-10 p-offset-1 formulario-bg-externo"></div>
  </div>

  <div class="inline-block formulario-bg-externo espacoInferiorMenu">
    <div class="grid">
      <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
        <div class="grid p-input-filled">
          <div class="col-12 formulario">
            <!--*** Botões ***-->
            <div class="flex justify-content-start pb-2 pt-3 pt-2">
              <div *ngIf="ns.nuAcao === 'INCLUIR'" class="mx-2">
                <button
                  pButton
                  *ngIf="ns.nuMostraBt && ns.nuAcao === 'INCLUIR'"
                  label="Incluir"
                  type="submit"
                  [disabled]="!nForm.valid || btnDesativado"
                  class="p-button-rounded"
                ></button>
              </div>
              <div *ngIf="ns.nuAcao === 'ALTERAR'" class="mr-2">
                <button
                  pButton
                  *ngIf="ns.nuMostraBt && ns.nuAcao === 'ALTERAR'"
                  label="Alterar"
                  type="submit"
                  [disabled]="!nForm.valid || btnDesativado"
                  class="p-button-rounded"
                ></button>
              </div>
              <div class="mr-2">
                <button
                  pButton
                  *ngIf="ns.nuMostraBt"
                  type="button"
                  label="Fechar"
                  (click)="cancelar()"
                  [disabled]="btnDesativado"
                  class="p-button-rounded p-button-secondary"
                ></button>
              </div>
              <div *ngIf="nForm.dirty" class="mr-2">
                <button
                  pButton
                  *ngIf="ns.nuMostraBt"
                  type="button"
                  label="Limpar"
                  (click)="reset()"
                  [disabled]="btnDesativado"
                  class="p-button-rounded p-button-secondary"
                ></button>
              </div>
            </div>
          </div>
          <!--*** FIM BOTOES ***-->
        </div>


      </div>
    </div>
  </div>
</form>
