
<form (ngSubmit)="onSubmit()" #nForm="ngForm">
  <div class="p-grid p-align-stretch  vertical-container">
    <div class="p-col-12 p-sm-12 p-md-6 p-xl-6 campoLabel" [ngClass]="aplicaCssErro(local_nome)">
      <h6><span style="color: var(--ativo);">*</span> Nome</h6>
      <input pInputText id="local_nome" name="local_nome" #local_nome="ngModel" type="text" maxlength="50" [(ngModel)]="ns.nuForm.local_nome" required>
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched(local_nome)"
        msgErro="Nome é obrigatório.">
      </app-campo-control-erro>
    </div>
    <div class="p-col-12 p-sm-12 p-md-6 p-xl-6 campoLabel">
      <h6>Endreço</h6>
      <input pInputText id="local_endereco" name="local_endereco" #local_endereco="ngModel" type="text" maxlength="254" [(ngModel)]="ns.nuForm.local_endereco">
    </div>
    <div class="p-col-12 p-sm-12 p-md-6 p-xl-6 campoLabel">
      <h6>Telefone</h6>
      <input pInputText id="local_telefone" name="local_telefone" #local_telefone="ngModel" type="text" maxlength="40" [(ngModel)]="ns.nuForm.local_telefone">
    </div>
    <div class="p-col-12 p-sm-12 p-md-6 p-xl-6 campoLabel">
      <h6>Usuário responsável</h6>
      <p-dropdown
        name="local_responsavel_id"
        [options]="ddUsuario_id"
        [(ngModel)]="ns.nuForm.local_responsavel_usuario_id"
        [appendTo]="'body'"
      ></p-dropdown>
    </div>
    <div class="p-col-12 p-sm-12 p-md-6 p-xl-6 campoLabel">
      <h6>Cor</h6>
      <p-colorPicker [(ngModel)]="ns.nuForm.local_color" name="local_color"></p-colorPicker>
    </div>
    <div class="p-col-12">
      <p-button
        *ngIf="ns.nuMostraBt && ns.nuAcao === 'INCLUIR'"
        label="Incluir"
        type="submit"
        [disabled]="!nForm.valid"
      ></p-button>
      &nbsp;
      <p-button
        *ngIf="ns.nuMostraBt && ns.nuAcao === 'ALTERAR'"
        label="Alterar"
        type="submit"
        [disabled]="!nForm.valid"
      ></p-button>
      &nbsp;
      <p-button
        *ngIf="ns.nuMostraBt"
        type="button"
        label="Cancelar / Fechar"
        (onClick)="cancelar()"
      ></p-button>
    </div>
  </div>
</form>

<p-toast key="msgForm" position="center" (onClose)="onToastClose($event)"></p-toast>
