<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <div class="p-fluid formulario-bg-externo">

      <div class="p-d-flex p-jc-center">
        <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
          <span class="formulario-titulo">EMENDA - APAGAR</span>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-fluid p-formgrid p-grid formulario">
            <div class="p-field p-col-12">
              <table class="table-hover tabela">
                <caption>EMENDA</caption>
                <ng-container *ngFor="let em of emenda; let i=index">
                  <tr *ngIf="em[1]">
                    <th>
                      {{em[0]}}
                    </th>
                    <td>
                      {{em[1]}}
                    </td>
                  </tr>
                </ng-container>

                <tr *ngIf="emenda['emenda_justificativa']" class="novaPagina">
                  <td colspan="2" class="tituloEditor">
                    {{emenda_titulo['emenda_justificativa']}}
                  </td>
                </tr>
                <tr *ngIf="emenda['emenda_justificativa']">
                  <td colspan="2" class="edi" #justificativa id="justificativa">
                    <div style="padding: 5px">
                      <quill-view-html [content]="es.emendaExcluir.emenda_justificativa"
                                       class="detalhe"></quill-view-html>

                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="historico_emenda_num > 0" class="p-field p-col-12">
              <table class="table-hover tabela" #tabhistorico id="tabhistorico">
                <caption>HISTÓRICO</caption>
                <tr>
                  <th>
                    {{historico_emenda_titulo['his_data']}}
                  </th>
                  <th>
                    {{historico_emenda_titulo['his_usuario']}}
                  </th>
                  <th>
                    {{historico_emenda_titulo['his_texto']}}
                  </th>
                </tr>
                <!--<tr *ngFor="let hi of es.emendaExcluir.historico_emenda">-->
                <tr *ngFor="let hi of historicos">
                  <td>{{hi.his_data}}</td>
                  <td>{{hi.his_usuario}}</td>
                  <td>{{hi.his_texto}}</td>
                </tr>
              </table>
            </div>
            <div class="p-field p-col-12">
              <app-arquivo
                [modulo]="'emenda'"
                [modelo]="'detalhe'"
                [registro_id]="emenda_id"
              ></app-arquivo>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="p-grid">
      <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
    </div>

    <div class="p-fluid formulario-bg-externo">
      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-grid p-input-filled">

            <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
              <div class="p-col-12 formulario">
                <br>

                <!--*** Botões ***-->
                <div class="p-d-flex p-jc-start p-pb-2">
                  <div class="p-mr-2">
                    <button
                      pButton
                      [disabled]="apagarAtivo || botaoEnviarInativo"
                      type="button"
                      class="p-button-rounded p-button-danger"
                      (click)="showDialog()"
                      label="APAGAR"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      [disabled]="botoesInativos"
                      label="Voltar"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="p-fluid formulario-bg-externo">
      <div class="p-grid formulario-bg-externo">
        <div class="p-col-12"></div>
        <div class="p-col-12"></div>
      </div>
    </div>
  </div>
</p-scrollPanel>

<p-toast key="emendaToast" [style]="{marginTop: '80px'}" (onClose)="voltarListar()"></p-toast>
<p-toast key="emendaErro" [style]="{marginTop: '80px'}"></p-toast>
<p-dialog header="ATENÇÃO" [(visible)]="display" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <p>Deseja excluir permanetemente este emenda?</p>
  <p-footer>
    <button type="button" class="p-button-rounded p-button-danger" pButton icon="pi pi-check"
            (click)="excluirEmenda()" label="Sim"></button>
    <button type="button" class="p-button-rounded p-button-secondary" pButton icon="pi pi-close"
            (click)="display=false" label="Não"></button>
  </p-footer>
</p-dialog>

