<ng-container *ngIf="tipo === 0">
  <table id="impressao2" class="a4-p">
  <caption>TAREFAS</caption>
  <thead>
  <tr>
    <th *ngFor="let cp of campos">{{cp.header}}</th>
  </tr>
  </thead>
  <tr *ngFor="let t of valores">
    <ng-container *ngFor="let cp of campos">
      <td *ngIf="verificaCampo(cp.field)">{{t[cp.field]}}</td>
      <ng-container *ngIf="!verificaCampo(cp.field)">
        <ng-container *ngIf="cp.field === 'tarefa_usuario' && t[cp.field].length > 0">
          <table>
            <tr *ngFor="let u of t[cp.field]">
              <td>
                {{u.tu_usuario_nome}}
              </td>
            </tr>
          </table>
        </ng-container>

        <ng-container *ngIf="cp.field === 'tarefa_usuario_situacao' && t[cp.field].length > 0">
          <table>
            <tr *ngFor="let s of t[cp.field]">
              <td>
                {{s.tu_usuario_nome}}
              </td>
              <td>
                {{s.tus_situacao_nome}}
              </td>
            </tr>
          </table>
        </ng-container>

        <ng-container *ngIf="cp.field === 'tarefa_historico' && t[cp.field].length > 0">
          <table>
            <tr *ngFor="let s of t[cp.field]">
              <td>
                {{s.th_data}}
              </td>
              <td>
                {{s.th_usuario_nome}}
              </td>
              <td>
                {{s.th_historico}}
              </td>

            </tr>
          </table>
        </ng-container>

        <ng-container *ngIf="cp.field === 'tarefaUsuarioSituacaoAndamento' && t[cp.field].length > 0">
          <table>
            <ng-container *ngFor="let tu of t[cp.field]">
            <tr>
              <td>
                {{tu.tu_usuario_nome}}
              </td>
              <td>
                {{tu.tus_situacao_nome}}
              </td>
              </tr>
              <ng-container *ngIf="tu.tarefa_historico.length > 0">
              <tr *ngFor="let h of tu.tarefa_historico">
                <td>
                  {{h.th_data}}
                </td>
                <td>
                  {{h.th_historico}}
                </td>
              </tr>
              </ng-container>
            </ng-container>

          </table>
        </ng-container>

      </ng-container>
    </ng-container>
  </tr>
</table>
</ng-container>

<ng-container *ngIf="tipo === 1">
  <div #imp id="impressao">
    <div><h2>TAREFAS</h2></div>
    <div *ngFor="let t of valores">
      <table style="width: 100%;">
        <tr>
          <th style="width: 80px;">Tarefa:</th>
          <td colspan="3">
            {{t.tarefa_titulo}}
          </td>
        </tr>
        <tr>
          <th style="width: 80px;">Data pedido:</th>
          <td>{{t.tarefa_datahora}}</td>
          <th style="width: 80px;">Prazo:</th>
          <td>{{t.tarefa_data}}</td>
        </tr>
        <tr>
          <th style="width: 80px;">Autor</th>
          <td colspan="3">{{t.tarefa_usuario_autor_nome}}</td>
        </tr>
        <tr>
          <th colspan="4">Tarefa</th>
        </tr>
        <tr>
          <td colspan="4">
            <quill-view [content]="t.tarefa_tarefa" format="html" theme="bubble"></quill-view>
          </td>
        </tr>
        <!--<tr *ngIf="t.tarefa_usuario_situacao.length > 0">
          <th colspan="2" style="width: 50%;">Demandado(s):</th>
          <th colspan="2" style="width: 50%;">Situação:</th>
        </tr>
        <tr *ngFor="let us of t.tarefa_usuario_situacao">
          <td colspan="2" style="width: 50%;">{{us.tu_usuario_nome}}</td>
          <td colspan="2" style="width: 50%;background-color:{{rowColor(us.tus_situacao_id)}};">{{us.tus_situacao_nome}}</td>
        </tr>-->
        <ng-container *ngIf="t.tarefa_usuario_situacao_andamento.length > 0">
          <ng-container *ngFor="let ta of t.tarefa_usuario_situacao_andamento">
            <tr>
              <th colspan="2" style="width: 50%;">Demandado:</th>
              <th colspan="2" style="width: 50%;">Situação:</th>
            </tr>
            <tr>
              <td colspan="2" style="width: 50%;">{{ta.tu_usuario_nome}}</td>
              <td colspan="2" style="width: 50%;background-color: {{rowColor(ta.tus_situacao_id)}};">{{ta.tus_situacao_nome}}</td>
            </tr>
            <ng-container *ngIf="ta.tarefa_historico.length > 0">
                <tr>
                  <th colspan="4" style="width: 100%;">Andamento(s):</th>
                </tr>
                <tr>
                  <th style="width: 80px;">Data:</th>
                  <th colspan="3">Andamento:</th>
                </tr>
              <ng-container *ngFor="let h of ta.tarefa_historico">
                <tr>
                  <td style="width: 80px;">{{h.th_data}}</td>
                  <td colspan="3">
                    <quill-view [content]="h.th_historico" format="html" theme="bubble"></quill-view>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </table>

      <br>

    </div>
  </div>
</ng-container>




<br>
<button type="button" onclick="printJS('impressao', 'html')">
  Print Form
</button>

<button type="button" (click)="PrintElem('impressao')">
  Print Form22
</button>
