<article id="artigo" class="artigo">
  <section class="etq-secao">
    <table class="etq-tabela">
      <tbody class="etq-tbody">
      <tr class="linha">
        <td class="cola">
        </td>
        <td class="colb">
          <p>
            <span style='font-size:1pt'>&nbsp;</span>
          </p>
        </td>

        <ng-container *ngIf="etq_colunas === 3">
          <td class="cold">
          </td>
          <td class="cole">
            <p><span style='font-size:1pt'>&nbsp;</span></p>
          </td>
        </ng-container>

        <td class="colc">
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</article>
