<div #menu class="p-fluid formulario-bg-externo">
  <form [formGroup]="formMenuProposicao" (keyup)="onKey($event)">
    <div class="p-d-flex p-jc-between p-pb-2 p-ml-2 p-pl-2">
      <div class="p-d-inline-flex">
        <div class="p-mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="p-mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-circle-fill"
            iconPos="left"
            label="Limpar"
            class="p-button-rounded p-button-secondary"
            (click)="formMenuProposicao.reset()"
          ></button>
        </div>
        <div class="p-mr-2">
          <button
            *ngIf="aut.oficio_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>

    <div class="p-d-flex p-ml-1 p-pl-2">
      <div class="p-fluid p-grid">

        <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
          <div class="p-fluid p-formgrid p-grid formulario">

            <!-- proposicao_tipo_id -->
            <div *ngIf="drd.ddProposicao_tipo_id" class="p-field p-col-12">
              <label for="proposicao_tipo_id">Tipo</label>
              <p-dropdown
                id="proposicao_tipo_id"
                [options]="drd.ddProposicao_tipo_id"
                [style]="estilo1"
                placeholder="TODOS"
                formControlName="proposicao_tipo_id"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_numero -->
            <div *ngIf="drd.ddProposicao_id" class="p-field p-col-12">
              <label for="proposicao_numero">Número</label>
              <p-dropdown
                id="proposicao_numero"
                [options]="drd.ddProposicao_id"
                [style]="estilo1"
                optionLabel="label"
                formControlName="proposicao_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_autor -->
            <div *ngIf="drd.ddProposicao_autor" class="p-field p-col-12">
              <label for="proposicao_autor">Autor</label>
              <p-dropdown
                id="proposicao_autor"
                [options]="drd.ddProposicao_autor"
                [style]="estilo1"
                optionLabel="label"
                formControlName="proposicao_autor"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_relator -->
            <div *ngIf="drd.ddProposicao_relator" class="p-field p-col-12">
              <label for="proposicao_relator">Relator</label>
              <p-dropdown
                id="proposicao_relator"
                [options]="drd.ddProposicao_relator"
                [style]="estilo1"
                optionLabel="label"
                formControlName="proposicao_relator"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_area_interesse_id -->
            <div *ngIf="drd.ddProposicao_area_interesse_id" class="p-field p-col-12">
              <label for="proposicao_area_interesse_id">Área de Interesse</label>
              <p-dropdown
                id="proposicao_area_interesse_id"
                [options]="drd.ddProposicao_area_interesse_id"
                [style]="estilo1"
                optionLabel="label"
                formControlName="proposicao_area_interesse_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_parecer -->
            <div *ngIf="drd.ddProposicao_parecer" class="p-field p-col-12">
              <label for="proposicao_parecer">Parecer</label>
              <p-dropdown
                id="proposicao_parecer"
                [options]="drd.ddProposicao_parecer"
                [style]="estilo1"
                optionLabel="label"
                formControlName="proposicao_parecer"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_origem_id -->
            <div *ngIf="drd.ddProposicao_origem_id" class="p-field p-col-12">
              <label for="proposicao_origem_id">Orgão de origem</label>
              <p-dropdown
                id="proposicao_origem_id"
                [options]="drd.ddProposicao_origem_id"
                [style]="estilo1"
                optionLabel="label"
                formControlName="proposicao_origem_id"
                placeholder="TODOS"
                [showClear]="true"
                appendTo="body"
              ></p-dropdown>
            </div>

          </div>
        </div>

        <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6 menu-lateral">
          <div class="p-fluid p-formgrid p-grid formulario">

            <!-- proposicao_emenda_tipo_id -->
            <div *ngIf="drd.ddProposicao_emenda_tipo_id" class="p-field p-col-12">
              <label for="proposicao_emenda_tipo_id">Tipo de emenda</label>
              <p-dropdown
                [options]="drd.ddProposicao_emenda_tipo_id"
                [style]="estilo1"
                optionLabel="label"
                id="proposicao_emenda_tipo_id"
                formControlName="proposicao_emenda_tipo_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_situacao_id -->
            <div *ngIf="drd.ddProposicao_situacao_id" class="p-field p-col-12">
              <label for="proposicao_situacao_id">Situação</label>
              <p-dropdown
                [options]="drd.ddProposicao_situacao_id"
                [style]="estilo1"
                optionLabel="label"
                id="proposicao_situacao_id"
                formControlName="proposicao_situacao_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_relator_atual -->
            <div *ngIf="drd.ddProposicao_relator_atual" class="p-field p-col-12">
              <label for="proposicao_relator_atual">Relator atual</label>
              <p-dropdown
                [options]="drd.ddProposicao_relator_atual"
                [style]="estilo1"
                optionLabel="label"
                id="proposicao_relator_atual"
                formControlName="proposicao_relator_atual"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_orgao_id -->
            <div *ngIf="drd.ddProposicao_orgao_id" class="p-field p-col-12">
              <label for="proposicao_orgao_id">Orgão atual</label>
              <p-dropdown
                [options]="drd.ddProposicao_orgao_id"
                [style]="estilo1"
                optionLabel="label"
                id="proposicao_orgao_id"
                formControlName="proposicao_orgao_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_data1 -->

            <div *ngIf="drd.ddProposicao_data1 && drd.ddProposicao_data2"
                 class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="proposicao_data1">Data apresentação</label>
              <p-dropdown
                [options]="drd.ddProposicao_data1"
                [style]="estilo1"
                optionLabel="label"
                id="proposicao_data1"
                formControlName="proposicao_data1"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_data2 -->
            <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="proposicao_data2">até</label>
              <p-dropdown
                [options]="drd.ddProposicao_data2"
                [style]="estilo1"
                optionLabel="label"
                id="proposicao_data2"
                formControlName="proposicao_data2"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- proposicao_ementa -->
            <div class="p-field p-col-12">
              <label for="proposicao_ementa">Ementa Contém</label>
              <input
                id="proposicao_ementa"
                type="text"
                pInputText
                formControlName="proposicao_ementa"
                [size]="40"
              >
            </div>

            <!-- proposicao_texto -->
            <div class="p-field p-col-12">
              <label for="proposicao_texto">Texto Contém</label>
              <input
                id="proposicao_texto"
                type="text"
                pInputText
                formControlName="proposicao_texto"
                [size]="40"
              >
            </div>

          </div>
        </div>
      </div>
    </div>

      <div class="p-d-flex p-jc-between p-pb-2 p-ml-2 p-pl-2">
        <div class="p-d-inline-flex">
          <div class="p-mr-2">
            <button
              pButton
              type="submit"
              icon="pi pi-search"
              iconPos="left"
              label="Procurar"
              class="p-button-rounded p-button-secondary"
              (click)="onMudaForm()"
            ></button>
          </div>
          <div class="p-mr-2">
            <button
              pButton
              type="submit"
              icon="pi pi-circle-fill"
              iconPos="left"
              label="Limpar"
              class="p-button-rounded p-button-secondary"
              (click)="formMenuProposicao.reset()"
            ></button>
          </div>
          <div class="p-mr-2">
            <button
              *ngIf="aut.oficio_incluir"
              pButton
              type="button"
              icon="pi pi-plus"
              iconPos="left"
              label="Incluir"
              class="p-button-rounded p-button-secondary"
              (click)="goIncluir()"
            ></button>
          </div>
        </div>
      </div>

  </form>
</div>

