<div class="inline-block formulario-bg-externo espacoInferiorMenu">
  <form [formGroup]="formMenuEmenda" (keyup)="onKey($event)">
    <div class="flex justify-content-between pb-2 ml-2 p-pl-2">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-circle-off"
            class="p-button-rounded p-button-secondary"
            (click)="formMenuEmenda.reset()"
            label="Limpar"
          ></button>
        </div>
        <div class="mr-2" *ngIf="aut.usuario_responsavel_sn || aut.usuario_principal_sn || aut.emenda_incluir">
          <button
            pButton
            type="button"
            icon="pi pi-times"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>
    <div class="flex ml-1 p-pl-2">
      <div class="formgrid grid formulario">

        <!-- emenda_situacao_id -->
        <div *ngIf="drd.dd_emenda_situacao_id.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_situacao_id">Situação</label>
          <p-dropdown
            id="emenda_situacao_id"
            [options]="drd.dd_emenda_situacao_id"
            [style]="{'width':'100%'}"
            placeholder="TODAS"
            formControlName="emenda_situacao_id"
            [showClear]="true"
            [emptyMessage]="'SEM REGISTROS'"
          ></p-dropdown>
        </div>

        <!-- emenda_cadastro_tipo_id -->
        <div *ngIf="drd.dd_emenda_cadastro_tipo.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_cadastro_tipo_id">Tipo de cadastro (solicitante)</label>
          <p-dropdown
            id="emenda_cadastro_tipo_id"
            [options]="drd.dd_emenda_cadastro_tipo"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_cadastro_tipo_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_cadastro_id -->
        <div *ngIf="drd.dd_emenda_cadastro.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_cadastro_id">Solicitante</label>
          <p-dropdown
            id="emenda_cadastro_id"
            [filter]="drd.dd_emenda_cadastro.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_cadastro"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_cadastro_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_cadastro_id2 -->
        <div *ngIf="drd.dd_emenda_cpfcnpj.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_cadastro_id2">C.N.P.J. (solicitante)</label>
          <p-dropdown
            id="emenda_cadastro_id2"
            [filter]="drd.dd_emenda_cpfcnpj.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_cpfcnpj"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_cadastro_id2"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_orgao_solicitado_nome -->
        <div *ngIf="drd.dd_emenda_orgao_solicitado.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_orgao_solicitado_nome">Orgão solicitado</label>
          <p-dropdown
            id="emenda_orgao_solicitado_nome"
            [filter]="drd.dd_emenda_orgao_solicitado.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_orgao_solicitado"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_orgao_solicitado_nome"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_assunto_id -->
        <div *ngIf="drd.dd_emenda_assunto.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_assunto_id">Assunto</label>
          <p-dropdown
            id="emenda_assunto_id"
            [filter]="drd.dd_emenda_assunto.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_assunto"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_assunto_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_local_id -->
        <div *ngIf="drd.dd_emenda_local.length > 0" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_local_id">Núcleo</label>
          <p-dropdown
            id="emenda_local_id"
            [options]="drd.dd_emenda_local"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_local_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_numero_protocolo -->
        <div *ngIf="drd.dd_emenda_numero_protocolo.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_numero_protocolo">Número do protocolo</label>
          <p-dropdown
            id="emenda_numero_protocolo"
            [filter]="drd.dd_emenda_numero_protocolo.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_numero_protocolo"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_numero_protocolo"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_numero_empenho -->
        <div *ngIf="drd.dd_emenda_numero_empenho.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_numero_empenho">Número do empenho</label>
          <p-dropdown
            id="emenda_numero_empenho"
            [filter]="drd.dd_emenda_numero_empenho.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_numero_empenho"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_numero_empenho"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_processo -->
        <div *ngIf="drd.dd_emenda_processo.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_processo">Número do processo</label>
          <p-dropdown
            id="emenda_processo"
            [filter]="drd.dd_emenda_processo.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_processo"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_processo"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_numero_ordem_bancaria -->
        <div *ngIf="drd.dd_emenda_numero_ordem_bancaria.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_numero_ordem_bancaria">Órdem bancária</label>
          <p-dropdown
            id="emenda_numero_ordem_bancaria"
            [filter]="drd.dd_emenda_numero_ordem_bancaria.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_numero_ordem_bancaria"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_numero_ordem_bancaria"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_regiao -->
        <div *ngIf="drd.dd_emenda_regiao.length > 0" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_regiao">Região</label>
          <p-dropdown
            id="emenda_regiao"
            [options]="drd.dd_emenda_regiao"
            [filter]="drd.dd_emenda_regiao.length > 50"
            filterBy="label"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_regiao"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_id2 -->
        <div *ngIf="drd.dd_emenda_codigo.length > 0" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_id2">Código</label>
          <p-dropdown
            id="emenda_id2"
            [options]="drd.dd_emenda_codigo"
            [filter]="drd.dd_emenda_codigo.length > 50"
            filterBy="label"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_id2"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_tipo_emenda_id -->
        <div *ngIf="drd.dd_emenda_tipo.length > 0" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_tipo_emenda_id">Tipo de emenda</label>
          <p-dropdown
            id="emenda_tipo_emenda_id"
            [options]="drd.dd_emenda_tipo"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_tipo_emenda_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_funcional_programatica -->
        <div *ngIf="drd.dd_emenda_funcional_programatica.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_funcional_programatica">Funcional programática</label>
          <p-dropdown
            id="emenda_funcional_programatica"
            [options]="drd.dd_emenda_funcional_programatica"
            [filter]="drd.dd_emenda_funcional_programatica.length > 50"
            filterBy="label"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_funcional_programatica"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_autor_nome -->
        <div *ngIf="drd.dd_emenda_autor.length > 0" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_autor_nome">Autor</label>
          <p-dropdown
            id="emenda_autor_nome"
            [filter]="drd.dd_emenda_autor.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_autor"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_autor_nome"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_crnr -->
        <div *ngIf="drd.dd_emenda_crnr.length > 0" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_crnr">CR.NR.</label>
          <p-dropdown
            id="emenda_crnr"
            [filter]="drd.dd_emenda_crnr.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_crnr"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_crnr"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_ogu_id -->
        <div *ngIf="drd.dd_emenda_ogu.length > 0" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_ogu_id">O.G.U.</label>
          <p-dropdown
            id="emenda_ogu_id"
            [options]="drd.dd_emenda_ogu"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_ogu_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_numero -->
        <div *ngIf="drd.dd_emenda_numero.length > 0" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_numero">Número da emenda</label>
          <p-dropdown
            id="emenda_numero"
            [filter]="drd.dd_emenda_numero.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_numero"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_numero"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_gmdna -->
        <div *ngIf="drd.dd_emenda_gmdna.length > 0" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_gmdna">GND/MA</label>
          <p-dropdown
            id="emenda_gmdna"
            [filter]="drd.dd_emenda_gmdna.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_gmdna"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_gmdna"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_uggestao -->
        <div *ngIf="drd.dd_emenda_uggestao.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_uggestao">UG/Gestão</label>
          <p-dropdown
            id="emenda_uggestao"
            [options]="drd.dd_emenda_uggestao"
            [filter]="drd.dd_emenda_uggestao.length > 50"
            filterBy="label"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            inputId="emenda_uggestao"
            formControlName="emenda_uggestao"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_data_solicitacao1 -->
        <div *ngIf="drd.dd_emenda_data_solicitacao1.length > 0"
             class="field col-12 sm:col-6 md:col-6 lg:col-3 xl:col-3 menu-lateral">
          <label for="emenda_data_solicitacao1">Data da solicitação</label>
          <p-dropdown
            id="emenda_data_solicitacao1"
            [options]="drd.dd_emenda_data_solicitacao1"
            [filter]="drd.dd_emenda_data_solicitacao1.length > 50"
            filterBy="label"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            inputId="emenda_data_solicitacao1"
            formControlName="emenda_data_solicitacao1"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_data_solicitacao2 -->
        <div *ngIf="drd.dd_emenda_data_solicitacao2.length > 0"
             class="field col-12 sm:col-6 md:col-6 lg:col-3 xl:col-3 menu-lateral">
          <label for="emenda_data_solicitacao2">Até</label>
          <p-dropdown
            id="emenda_data_solicitacao2"
            [filter]="drd.dd_emenda_data_solicitacao2.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_data_solicitacao2"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            inputId="emenda_data_solicitacao2"
            formControlName="emenda_data_solicitacao2"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>


        <!-- emenda_data_empenho1 -->
        <div *ngIf="drd.dd_emenda_data_empenho1.length > 0"
             class="field col-12 sm:col-6 md:col-6 lg:col-3 xl:col-3 menu-lateral">
          <label for="emenda_data_empenho1">Data do empenho</label>
          <p-dropdown
            id="emenda_data_empenho1"
            [filter]="drd.dd_emenda_data_empenho1.length > 50"
            filterBy="label"
            [options]="drd.dd_emenda_data_empenho1"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_data_empenho1"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_data_empenho2 -->
        <div *ngIf="drd.dd_emenda_data_empenho2.length > 0"
             class="field col-12 sm:col-6 md:col-6 lg:col-3 xl:col-3 menu-lateral">
          <label for="emenda_data_empenho2">Até</label>
          <p-dropdown
            id="emenda_data_empenho2"
            [options]="drd.dd_emenda_data_empenho2"
            [filter]="drd.dd_emenda_data_empenho2.length > 50"
            filterBy="label"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_data_empenho2"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_data_pagamento1 -->
        <div *ngIf="drd.dd_emenda_data_pagamento1.length > 0"
             class="field col-12 sm:col-6 md:col-6 lg:col-3 xl:col-3 menu-lateral">
          <label for="emenda_data_pagamento1">Data do pagamento</label>
          <p-dropdown
            id="emenda_data_pagamento1"
            [options]="drd.dd_emenda_data_pagamento1"
            [filter]="drd.dd_emenda_data_pagamento1.length > 50"
            filterBy="label"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_data_pagamento1"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_data_pagamento2 -->
        <div *ngIf="drd.dd_emenda_data_pagamento2.length > 0"
             class="field col-12 sm:col-6 md:col-6 lg:col-3 xl:col-3 menu-lateral">
          <label for="emenda_data_pagamento2">Até</label>
          <p-dropdown
            id="emenda_data_pagamento2"
            [options]="drd.dd_emenda_data_pagamento2"
            [filter]="drd.dd_emenda_data_pagamento2.length > 50"
            filterBy="label"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_data_pagamento2"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- cadastro_municipio_id -->
        <div *ngIf="drd.dd_emenda_cadastro_municipio.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="cadastro_municipio_id">Município</label>
          <p-dropdown
            id="cadastro_municipio_id"
            [options]="drd.dd_emenda_cadastro_municipio"
            [filter]="drd.dd_emenda_cadastro_municipio.length > 50"
            filterBy="label"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="cadastro_municipio_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- emenda_contrato -->
        <div *ngIf="drd.dd_emenda_contrato.length > 0"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="emenda_contrato">Contrato Caixa</label>
          <p-dropdown
            id="emenda_contrato"
            [options]="drd.dd_emenda_contrato"
            [filter]="drd.dd_emenda_contrato.length > 50"
            filterBy="label"
            [style]="{'width':'100%'}"
            [emptyMessage]="'SEM REGISTROS'"
            formControlName="emenda_contrato"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

      </div>
    </div>

    <div class="flex justify-content-between pb-2 ml-2 p-pl-2">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-circle-off"
            class="p-button-rounded p-button-secondary"
            (click)="formMenuEmenda.reset()"
            label="Limpar"
          ></button>
        </div>
        <div class="mr-2" *ngIf="aut.usuario_responsavel_sn || aut.usuario_principal_sn || aut.emenda_incluir">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>


