<div class="p-fluid formulario-bg-externo espacoInferiorMenu">
  <form [formGroup]="formListarSolicitacao" (keyup)="onKey($event)" class="menuinterno-form">
    <div class="p-d-flex p-jc-between p-pb-2 p-ml-2 p-pl-2">
      <div class="p-d-inline-flex">
        <div class="p-mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="p-mr-2">
          <button
            *ngIf="authenticationService.cadastro_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>
    <div class="p-d-flex p-ml-1 p-pl-2">
      <div class="p-fluid p-grid">
        <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
          <div class="p-fluid p-formgrid p-grid formulario">

            <!-- solicitacao_posicao -->
            <div class="p-field p-col-12">
              <label for="solicitacao_posicao">Posição</label>
              <p-dropdown
                id="solicitacao_posicao"
                [options]="ddSolicitacao_situacao"
                placeholder="TODOS"
                formControlName="solicitacao_posicao"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- solicitacao_cadastro_tipo_id -->
            <div class="p-field p-col-12">
              <label for="solicitacao_cadastro_tipo_id">Tipo de Cadastro</label>
              <p-dropdown
                id="solicitacao_cadastro_tipo_id"
                [options]="ddSolicitacao_cadastro_tipo_id"
                formControlName="solicitacao_cadastro_tipo_id"
                [group]="true"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- solicitacao_cadastro_id -->
            <div class="p-field p-col-12">
              <label for="solicitacao_cadastro_id">Solicitante</label>
              <p-dropdown
                id="solicitacao_cadastro_id"
                [options]="ddSolicitacao_cadastro_id"
                formControlName="solicitacao_cadastro_id"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- solicitacao_assunto_id -->
            <div class="p-field p-col-12">
              <label for="solicitacao_assunto_id">Assunto</label>
              <p-dropdown
                id="solicitacao_assunto_id"
                [options]="ddSolicitacao_assunto_id"
                formControlName="solicitacao_assunto_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- solicitacao_atendente_cadastro_id -->
            <div class="p-field p-col-12">
              <label for="solicitacao_atendente_cadastro_id">Atendente</label>
              <p-dropdown
                [options]="ddSolicitacao_atendente_cadastro_id"
                id="solicitacao_atendente_cadastro_id"
                formControlName="solicitacao_atendente_cadastro_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- solicitacao_cadastrante_cadastro_id -->
            <div class="p-field p-col-12">
              <label for="solicitacao_cadastrante_cadastro_id">Cadastrante</label>
              <p-dropdown
                [options]="ddSolicitacao_cadastrante_cadastro_id"
                id="solicitacao_cadastrante_cadastro_id"
                formControlName="solicitacao_cadastrante_cadastro_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_municipio_id -->
            <div class="p-field p-col-12">
              <label for="cadastro_municipio_id">Município</label>
              <p-dropdown
                [options]="ddCadastro_municipio_id"
                optionLabel="label"
                id="cadastro_municipio_id"
                formControlName="cadastro_municipio_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6 menu-lateral">
          <div class="p-fluid p-formgrid p-grid formulario">
            <!-- cadastro_municipio_id -->
            <div class="p-field p-col-12">
              <label for="cadastro_regiao_id">Região</label>
              <p-dropdown
                [options]="ddCadastro_regiao_id"
                id="cadastro_regiao_id"
                formControlName="cadastro_regiao_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- solicitacao_local_id -->
            <div class="p-field p-col-12">
              <label for="solicitacao_local_id">Núcleo</label>
              <p-dropdown
                [options]="ddSolicitacao_local_id"
                id="solicitacao_local_id"
                formControlName="solicitacao_local_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- solicitacao_tipo_recebimento_id -->
            <div class="p-field p-col-12">
              <label for="solicitacao_tipo_recebimento_id">Tipo de recebimento</label>
              <p-dropdown
                [options]="ddSolicitacao_tipo_recebimento_id"
                optionLabel="label"
                id="solicitacao_tipo_recebimento_id"
                formControlName="solicitacao_tipo_recebimento_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- solicitacao_area_interesse_id -->
            <div class="p-field p-col-12">
              <label for="solicitacao_area_interesse_id">Área de interesse</label>
              <p-dropdown
                [options]="ddSolicitacao_area_interesse_id"
                id="solicitacao_area_interesse_id"
                formControlName="solicitacao_area_interesse_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- solicitacao_reponsavel_analize_id -->
            <div class="p-field p-col-12">
              <label for="solicitacao_reponsavel_analize_id">Resp. p/ Análise</label>
              <p-dropdown
                [options]="ddSolicitacao_reponsavel_analize_id"
                id="solicitacao_reponsavel_analize_id"
                formControlName="solicitacao_reponsavel_analize_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- solicitacao_data -->
            <div class="p-field p-col-12">
              <label for="solicitacao_cadastro_tipo_id">Data</label>
              <p-dropdown
                [options]="ddSolicitacao_data"
                id="solicitacao_data"
                formControlName="solicitacao_data"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- solicitacao_descricao -->
            <div class="p-field p-col-12">
              <label for="solicitacao_cadastro_tipo_id">Descrição Contém</label>
              <input
                type="text"
                pInputText
                placeholder="Descrição"
                formControlName="solicitacao_descricao"
                size="40"
              >
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="p-d-flex p-jc-between p-pb-2 p-ml-2 p-pl-2">
      <div class="p-d-inline-flex">
        <div class="p-mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="p-mr-2">
          <button
            *ngIf="authenticationService.cadastro_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
