<div class="p-text-nowrap p-text-truncate">
  <ng-container *ngIf="campo.ativo">
    <ng-container *ngIf="campo.tipo === 3">
      <span class="p-mr-1">
        <a href="mailto:{{campo.email}}" class="campo-extendido"><i class="pi pi-at"></i></a>
      </span>
      {{campo.valor}}
    </ng-container>

    <ng-container *ngIf="campo.tipo === 2 || campo.tipo === 1">
      {{campo.valor}}
      <ng-container>
        <span class="p-ml-1">
        <a href="tel:{{campo.tel}}" class="campo-extendido"><i class="pi pi-phone"></i></a>
        </span>
      </ng-container>
      <ng-container *ngIf="campo.tipo === 1">
        <span class="p-ml-2">
          <a href="https://wa.me/{{campo.whats}}" class="campo-extendido"><i class="pi pi-whatsapp"></i></a>
        </span>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!campo.ativo">
    {{campo.valor}}
  </ng-container>
</div>
