<div class="p-grid">
  <div class="p-col-12"></div>
  <div class="p-col-12"></div>
  <div class="p-col-12">
    <div class="botoesmenu">
      <button pButton type="submit" icon="fas fa-lg fa-filter" label=" Procurar" class="p-button-rounded"
              (click)="onMudaForm()"></button>
      <button pButton type="submit" icon="fas fa-lg fa-filter" label=" Limpar" class="p-button-rounded"
              (click)="limpar()"></button>
    </div>
  </div>
</div>
<form [formGroup]="formMenuProcesso" (keyup)="onKey($event)">

  <div class="p-grid">
    <div class="p-col-12"></div>
    <div class="p-col-12"></div>
  </div>

  <div class="p-grid">
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">

      <!-- processo_id -->
      <div *ngIf="ddProcesso_numero" class="p-grid">
        <div class="p-col-12 campoLabelMenu">
          <h6>Número do processo</h6>
          <p-dropdown
            [options]="ddProcesso_numero"
            autoWidth="true"
            placeholder="TODOS"
            formControlName="processo_id"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>

      <!-- processo_status -->
      <div *ngIf="ddProcesso_status_nome" class="p-grid">
        <div class="p-col-12 campoLabelMenu">
          <h6>Situação</h6>
          <p-dropdown
            [options]="ddProcesso_status_nome"
            autoWidth="true"
            optionLabel="label"
            formControlName="processo_status_nome"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>

      <!-- solicitacao_cadastro_tipo_id -->
      <div *ngIf="ddCadastro_tipo_id" class="p-grid">
        <div class="p-col-12 campoLabelMenu">
          <h6>Tipo de cadastro</h6>
          <p-dropdown
            [options]="ddCadastro_tipo_id"
            optionLabel="label"
            formControlName="solicitacao_cadastro_tipo_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>

      <!-- processo_cadastro_id -->
      <div *ngIf="ddProcesso_cadastro_id" class="p-grid">
        <div class="p-col-12 campoLabelMenu">
          <h6>Solicitante</h6>
          <p-dropdown
            [options]="ddProcesso_cadastro_id"
            optionLabel="label"
            formControlName="processo_cadastro_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>

      <!-- solicitacao_area_interesse_id -->
      <div *ngIf="ddSolicitacao_area_interesse_id" class="p-grid">
        <div class="p-col-12 campoLabelMenu">
          <h6>Área de interesse</h6>
          <p-dropdown
            [options]="ddSolicitacao_area_interesse_id"
            optionLabel="label"
            inputId="solicitacao_area_interesse_id"
            formControlName="solicitacao_area_interesse_id"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>

      <!-- solicitacao_assunto_id -->
      <div *ngIf="ddSolicitacao_assunto_id" class="p-grid">
        <div class="p-col-12 campoLabelMenu">
          <h6>Assunto</h6>
          <p-dropdown
            [options]="ddSolicitacao_assunto_id"
            optionLabel="label"
            inputId="solicitacao_assunto_id"
            formControlName="solicitacao_assunto_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>


    </div>
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">

      <!-- cadastro_municipio_id -->
      <div *ngIf="ddCadastro_municipio_id" class="p-grid">
        <div class="p-col-12 campoLabelMenu">
          <h6>Município</h6>
          <p-dropdown
            [options]="ddCadastro_municipio_id"
            optionLabel="label"
            formControlName="cadastro_municipio_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>

      <!-- cadastro_regiao_id -->
      <div *ngIf="ddCadastro_regiao_id" class="p-grid">
        <div class="p-col-12 campoLabelMenu">
          <h6>Região</h6>
          <p-dropdown
            [options]="ddCadastro_regiao_id"
            optionLabel="label"
            inputId="cadastro_regiao_id"
            formControlName="cadastro_regiao_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>

      <!-- solicitacao_local_id -->
      <div *ngIf="ddSolicitacao_local_id" class="p-grid">
        <div class="p-col-12 campoLabelMenu">
          <h6>Núcleo</h6>
          <p-dropdown
            [options]="ddSolicitacao_local_id"
            optionLabel="label"
            inputId="solicitacao_local_id"
            formControlName="solicitacao_local_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>

      <!-- solicitacao_reponsavel_analize_id -->
      <div *ngIf="ddSolicitacao_reponsavel_analize_id" class="p-grid">
        <div class="p-col-12 campoLabelMenu">
          <h6>Responsável pela analise</h6>
          <p-dropdown
            [options]="ddSolicitacao_reponsavel_analize_id"
            optionLabel="label"
            inputId="solicitacao_reponsavel_analize_id"
            formControlName="solicitacao_reponsavel_analize_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>

      <!-- solicitacao_data1 -->
      <div *ngIf="ddSolicitacao_data1 && ddSolicitacao_data2" class="p-grid">

        <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6 campoLabelMenu">
          <h6>Prazo</h6>
          <p-dropdown
            [options]="ddSolicitacao_data1"
            optionLabel="label"
            inputId="solicitacao_data1"
            formControlName="solicitacao_data1"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- solicitacao_data2 -->
        <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6 campoLabelMenu">
          <h6>até</h6>
          <p-dropdown
            [options]="ddSolicitacao_data2"
            optionLabel="label"
            inputId="solicitacao_data2"
            formControlName="solicitacao_data2"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>

      </div>

    </div>
  </div>

</form>
<div class="p-grid">
  <div class="p-col-12"></div>
  <div class="p-col-12">
    <div class="botoesmenu">
      <button pButton type="submit" icon="fas fa-lg fa-filter" label="Procurar" class="p-button-rounded"
              (click)="onMudaForm()"></button>
    </div>
  </div>
  <div class="p-col-12"></div>
  <div class="p-col-12"></div>
  <div class="p-col-12"></div>
</div>
