<ng-container *ngIf="es.display">
  <p-dialog appendTo="body" [(visible)]="es.display" position="top-right" (onHide)="fechar()" (onShow)="abrir()">
    <ng-template pTemplate="header">
      ERRO -
    </ng-template>
    <ng-container *ngIf="es.err !== null && es.err.length > 0">
      <table>
        <tr>
          <th>CHAVE</th>
        </tr>
        <tr *ngFor="let e of es.err">
          <td>{{e}}</td>
        </tr>
      </table>


    </ng-container>
    <p-footer>
      //buttons
    </p-footer>
  </p-dialog>
</ng-container>

