<!--*** INICIO *****************************************************************************************************-->
<p-table #dtb
         id="tabelaconta"
         [value]="ct.contas"
         [columns]="ct.tabela.selectedColumns"
         [rows]="ct.tabela.rows"
         [lazy]="true"
         [lazyLoadOnInit]="false"
         [totalRecords]="ct.tabela.totalRecords"
         [sortField]="ct.tabela.sortField"
         dataKey="conta_id"
         [scrollable]="true"
         [scrollHeight]="altura"
         [(selection)]="ct.selecionados"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         [autoLayout]="false"
         columnResizeMode="expand"
         [rowHover]="true"
         [responsive]="true"
         rowExpandMode="single"
         [(first)]="ct.tabela.first"
         [(contextMenuSelection)]="ct.Contexto"
         contextMenuSelectionMode="separate"
         [contextMenu]="cm"
         editMode="row"
         [pageLinks]="5"
         [paginator]="true"
         [alwaysShowPaginator]="true"
         [rowsPerPageOptions]="ct.rowsPerPageOptions"
         (rowsChange)="ct.rowsChange($event)"
         (onLazyLoad)="onLazyLoad($event)"
         (onColReorder)="onColReorder($event)"
         (onRowExpand)="ct.onRowExpand($event)"
         (onRowCollapse)="ct.onRowCollapse($event)"
         (onStateSave)="ct.setState($event)"
         (onStateRestore)="ct.onStateRestore($event)"
         (onContextMenuSelect)="ct.onContextMenuSelect($event)"
         (sortFunction)="ct.customSort($event)"
         [customSort]="true"
         [tableStyle]="{'font-size':'1rem'}"
         stateStorage="session"
         stateKey="conta-table"
         selectionMode="multiple"
         styleClass="tablistagem p-datatable-sm p-datatable-striped p-datatable-gridlines p-selectable-row"
>

  <!--*** TOPO *****************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div [ngClass]="{'hide-datatable': md.mdt}">
      <div class="p-d-flex p-jc-between p-ai-center p-flex-column p-flex-md-row">
        <div class="p-d-inline-flex">
          <div class="p-mx-2">
            <button pButton type="button" label="Filtrar" icon="pi pi-search" class="p-button-text p-button-sm"
                    (click)="mostraMenu()"></button>
          </div>
          <!--<div class="p-mr-2">
            <button pButton type="button" label="Colunas" icon="pi pi-table" class="p-button-text p-button-sm"
                    (click)="mostraSelectColunas()"></button>
          </div>-->
          <div class="p-mr-2" *ngIf="aut.dispositivo!=='mobile'">
            <button pButton type="button" label="Relatórios" icon="pi pi-info" class="p-button-text p-button-sm"
                    (click)="men.toggle($event)"></button>
          </div>

          <div class="p-mr-0"
               *ngIf="aut.contabilidade_incluir || aut.usuario_responsavel_sn || aut.usuario_principal_sn">
            <button pButton type="button" label="Incluir" icon="pi pi-plus" class="p-button-text p-button-sm"
                    (click)="contaIncluir()"></button>
          </div>
        </div>

        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mx-2">CONTABILIDADE</div>
        </div>
        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mr-2"
               *ngIf="ct.selecionados !== undefined &&  ct.selecionados !== null &&  ct.selecionados.length > 0">
            <button pButton type="button" label="Reset" icon="pi pi-backward" class="p-button-text p-button-sm"
                    (click)="ct.resetSelecionados()"></button>
          </div>
          <div class="p-mr-2">
            <button pButton type="button" label="Soma" icon="pi pi-dollar" class="p-button-text p-button-sm"
                    (click)="showSoma()"></button>
          </div>
          <div class="p-mr-2">Página {{ct.tabela.currentPage}} de {{ct.tabela.pageCount}} - Num.
            Registros: {{ct.tabela.totalRecords}}</div>
        </div>

        <div *ngIf="aut.dispositivo==='mobile'" class="p-d-flex p-jc-center">
          <div class="p-mx-2">CONTABILIDADE</div>
          <div class="p-mr-2">Página {{ct.tabela.currentPage}} de {{ct.tabela.pageCount}} - Num.
            Registros: {{ct.tabela.totalRecords}}</div>
        </div>


      </div>
    </div>
    <p-menu #men styleClass="relatorio" [popup]="true" [model]="itemsAcao" appendTo="body"></p-menu>
  </ng-template>

  <!--*** TITULOS **************************************************************************************************-->
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 7rem;"></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [style.width]="col.width"
          pReorderableColumn
          pResizableColumn
      >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-cta let-columns="columns" let-editing="editing" let-expanded="expanded"
               let-rowIndex="rowIndex">
    <tr [pSelectableRow]="cta" [pContextMenuRow]="cta" [pContextMenuRowIndex]="rowIndex" [pEditableRow]="cta">
      <td style="width: 7rem; padding-bottom: 0; padding-top: .3em;text-align: center">
        <button
          *ngIf="!editing && btnExpandirVF && !botaoEnviarVF"
          type="button"
          pButton
          pRipple
          [pTooltip]="expanded ? 'Expandir' : 'Recolher'"
          tooltipPosition="top"
          [pRowToggler]="cta"
          class="p-button-rounded p-button-text p-button-sm"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
        <div class="p-m-0" (mouseover)="valido()">
          <button
            *ngIf="editing"
            pButton
            type="button"
            pSaveEditableRow
            icon="pi pi-check"
            class="p-button-success"
            style="margin-right: .5em"
            [disabled]="botaoEnviarVF || validaBtnVf(cta)"
            (click)="onRowEditSave(cta)"
          ></button>
          <button
            *ngIf="editing"
            pButton
            id="btncancel"
            type="button"
            pCancelEditableRow
            icon="pi pi-times"
            class="p-button-danger"
            [disabled]="botaoEnviarVF"
            (click)="onRowEditCancel(cta)"
          ></button>
        </div>
      </td>

      <td *ngFor="let col of columns" [ngStyle]="setCurrentStyles(col)"
          [ngClass]="setCurrentClass(col, cta[col.field], cta.conta_paga_id, cta.conta_vencimento3)"
          style="text-align: left">

        <p-cellEditor *ngIf="col.field === 'conta_valor'">
          <ng-template pTemplate="input">
            <div class="p-field">
              <p-inputNumber
                [(ngModel)]="cta.conta_valor"
                mode="currency"
                locale="pt-BR"
                currency="BRL"
                [min]="0"
                [required]="true"
              ></p-inputNumber>
            </div>
          </ng-template>
          <ng-template pTemplate="output">
            <div
              *ngIf="idx === null && (aut.contabilidade_alterar || aut.usuario_principal_sn || aut.usuario_responsavel_sn) && !ct.expandidoSN"
              pInitEditableRow
              (click)="onRowEditInit(cta, rowIndex)"
              pTooltip="Alterar"
              tooltipPosition="top"
              class="cell-edit"
            >{{formataValor(cta.conta_valor)}}</div>
            <div
              *ngIf="(idx !== null || !aut.contabilidade_alterar && !aut.usuario_principal_sn && !aut.usuario_responsavel_sn) || ct.expandidoSN">{{formataValor(cta.conta_valor)}}</div>
          </ng-template>
        </p-cellEditor>

        <p-cellEditor *ngIf="col.field === 'conta_paga'">
          <ng-template pTemplate="input">
            <div class="formulario p-field-radiobutton">
              <p-radioButton
                labelStyleClass="radiolabel"
                name="pago"
                value="0"
                [(ngModel)]="cta.conta_paga_id"
                label="NÃO"
                (onClick)="onNao(cta)"
              ></p-radioButton>
              <p-radioButton
                labelStyleClass="radiolabel"
                name="pago"
                value="1"
                [(ngModel)]="cta.conta_paga_id"
                label="SIM"
                (onClick)="onSim(cta)"
              ></p-radioButton>
              <p-radioButton
                labelStyleClass="radiolabel"
                name="pago"
                value="2"
                [(ngModel)]="cta.conta_paga_id"
                label="DB.AUT."
                (onClick)="onDa(cta)"
              ></p-radioButton>
            </div>
          </ng-template>
          <ng-template pTemplate="output">
            <div
              *ngIf="idx === null && (aut.contabilidade_alterar || aut.usuario_principal_sn || aut.usuario_responsavel_sn) && !ct.expandidoSN"
              pInitEditableRow
              (click)="onRowEditInit(cta, rowIndex)"
              pTooltip="Alterar"
              tooltipPosition="top"
              class="cell-edit"
            >{{cta.conta_paga}}</div>
            <div
              *ngIf="(idx !== null || !aut.contabilidade_alterar && !aut.usuario_principal_sn && !aut.usuario_responsavel_sn) || ct.expandidoSN">{{cta.conta_paga}}</div>
          </ng-template>
        </p-cellEditor>


        <p-cellEditor *ngIf="col.field === 'conta_pagamento'">
          <ng-template pTemplate="input">
            <div class="p-field">
              <p-calendar
                [(ngModel)]="cta.conta_pagamento"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2020:2035"
                placeholder="dd/mm/aaaa"
                dataType="string"
                class="estreito"
                [autoZIndex]="true"
                [appendTo]="'body'"
                [required]="+cta.conta_paga_id === 1 || +cta.conta_paga_id === 2"
                [readonlyInput]="+cta.conta_paga_id !== 1"
                [disabled]="+cta.conta_paga_id !== 1"
              ></p-calendar>
            </div>
          </ng-template>
          <ng-template pTemplate="output">
            <div
              *ngIf="idx === null && (aut.contabilidade_alterar  || aut.usuario_principal_sn || aut.usuario_responsavel_sn) && !ct.expandidoSN"
              pInitEditableRow
              (click)="onRowEditInit(cta, rowIndex)"
              pTooltip="Alterar"
              tooltipPosition="top"
              class="cell-edit"
            >{{cta.conta_pagamento}}&nbsp;
            </div>
            <div
              *ngIf="(idx !== null || !aut.contabilidade_alterar && !aut.usuario_principal_sn && !aut.usuario_responsavel_sn) || ct.expandidoSN">{{cta.conta_pagamento}}&nbsp;
            </div>
          </ng-template>
        </p-cellEditor>


        <ng-container
          *ngIf="col.field !== 'conta_valor' && col.field !== 'conta_paga' && col.field !== 'conta_pagamento'">
          <app-exporter-celula [celula]="{
          valor: cta[col.field],
          field: col.field,
          header:col.header,
          txtVF: ct.testaCampoTexto(col.field),
          cphtml: stripslashes(cta[col.field]),
          cpdelta: null,
          cptexto: null
           }"></app-exporter-celula>
        </ng-container>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="footer" let-columns>
    <tr *ngIf="mostraSoma">
      <td
        style="width: 7rem; padding-bottom: 0; padding-top: .3em;text-align: center; background-color: var(--primary-color);"></td>
      <td *ngFor="let col of columns" class="ui-resizable-column" [style.width]="col.width"
          style="text-align: right; padding-bottom: 0; padding-top: .3em; background-color: var(--primary-color); color: var(--claro)">
        <span *ngIf="col.field === 'conta_valor'">{{soma}}</span>
      </td>
    </tr>
  </ng-template>
  <!--*** EXPANDIDO ************************************************************************************************-->
  <ng-template pTemplate="rowexpansion" let-cta let-indice="rowIndex" let-columns="columns">

    <tr class="expandido">
      <td [attr.colspan]="columns.length + 1" class="expandido">
        <div class="rowexpansion-corpo">
          <div class="p-fluid">
            <div class="p-d-flex p-jc-start p-pb-2">
              <div class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-eye"
                  class="p-button-rounded"
                  pTooltip="Detalhes"
                  tooltipPosition="top"
                  (click)="contaDetalheCompleto(cta)"
                >
                </button>
              </div>

              <div *ngIf="aut.contabilidade_alterar || aut.usuario_principal_sn || aut.usuario_responsavel_sn"
                   class="p-mr-2">
                <button
                  pButton
                  pRipple
                  (click)="contaAlterar(cta, indice)"
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"
                  pTooltip="Alterar"
                  tooltipPosition="top"
                  [disabled]="btnInativo"
                >
                </button>
              </div>
              <div
                *ngIf="permissaoArquivo(cta.conta_arquivos.length) || aut.usuario_principal_sn || aut.usuario_responsavel_sn"
                class="p-mr-2">
                <button
                  pButton
                  pRipple
                  (click)="contaApagar(indice, cta)"
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                  [disabled]="btnInativo"
                >
                </button>
              </div>
            </div>

            <div class="p-grid">
              <div *ngFor="let ce of ct.tabela.celulas;" class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div class="registros p-shadow-1">
                  <h5>{{ce.header}}</h5>
                  <app-exporter-expandido [celula]="ce"></app-exporter-expandido>
                </div>
              </div>
              <div
                *ngIf="cta.conta_arquivos.length > 0 && (aut.arquivos_baixar  || aut.usuario_responsavel_sn || aut.usuario_principal_sn)"
                class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
                <app-detalhe-explorer [arquivos]="cta.conta_arquivos"></app-detalhe-explorer>
              </div>
            </div>

          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" id="tabela-vazia">
        <div class="tabela-vazia-a">
          <div class="tabela-vazia-b">
            <div class="tabela-vazia-c p-shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** MENU *****************************************************************************************************-->
</p-table>
<!--*** FIM ********************************************************************************************************-->
<p-contextMenu #cm [model]="contextoMenu" styleClass="tablistagem"></p-contextMenu>

<p-confirmDialog
  [style]="{width: '50vw'}"
  [baseZIndex]="10000"
  [autoZIndex]="true"
  acceptLabel="Sim"
  rejectLabel="Não"
  styleClass="tablistagem"
  acceptIcon="pi pi-trash"
  acceptButtonStyleClass="p-button-rounded p-button-danger"
  rejectIcon="pi pi-times"
  rejectButtonStyleClass=""
></p-confirmDialog>

<ng-container *ngIf="showDetalhe">
  <p-dialog
    [(visible)]="showDetalhe"
    [modal]="true"
    [dismissableMask]="false"
    [style]="{width: '80vw'}"
    styleClass="tablistagem"
    header="DETALHE"
    (onHide)="escondeDetalhe()"
  >
    <app-conta-detalhe></app-conta-detalhe>
  </p-dialog>
</ng-container>

<ng-container *ngIf="ct.showForm">
  <p-dialog
    [breakpoints]="{'1400px': '80vw', '1300px': '85vw', '1200px': '90vw', '1000px': '95vw', '640px': '100vw'}"
    [style]="{width: '80vw'}"
    [(visible)]="ct.showForm"
    styleClass="tablistagem"
    [header]="'CONTA'"
    [modal]="true"
    [dismissableMask]="false"
    [baseZIndex]="0"
    [blockScroll]="true"
    transitionOptions="350ms cubic-bezier(0, 0, 0.2, 1)"
  >
    <app-conta-formulario *ngIf="ct.showForm"></app-conta-formulario>
  </p-dialog>
</ng-container>

<ng-container *ngIf="showApagar">
  <p-dialog [(visible)]="showApagar" styleClass="tablistagem atencao">
    <ng-template pTemplate="header">
      <i class="pi pi-spin pi-exclamation-triangle" style="font-size: 2rem"></i> APAGAR REGISTRO
    </ng-template>
    <div *ngIf="apagarTipo===1">
      <b>Você confirma apagar este registro?</b>
    </div>
    <div *ngIf="apagarTipo===2">
      <b>Existém mais {{apagarParceleas - 1}} recorrência(s) / parcela(s) vinculada a esse pagamento.</b><br>
      <b>Você deseja apagar apenas este ou todos?</b>
    </div>


    <p-footer>
      <div class="p-d-flex p-jc-start p-pb-2">
        <div class="p-ml-1 p-mr-2">
          <button *ngIf="apagarTipo===1" pButton pRipple type="button" (click)="acaoApagar(0)" label="Não"
                  class="p-button-sm p-button-rounded p-button-secondary "></button>
          <button *ngIf="apagarTipo===2" pButton pRipple type="button" (click)="acaoApagar(0)" label="Cancelar"
                  class="p-button-sm p-button-rounded p-button-secondary "></button>
        </div>
        <div *ngIf="apagarTipo===2" class="p-mr-2">
          <button pButton pRipple type="button" label="Este" (click)="acaoApagar(1)"
                  class="p-button-sm p-button-rounded p-button-danger"></button>
        </div>
        <div *ngIf="apagarTipo===2" class="p-mr-2">
          <button pButton pRipple type="button" label="Todos" (click)="acaoApagar(3)"
                  class="p-button-sm p-button-rounded p-button-danger"></button>
        </div>
        <div *ngIf="apagarTipo===1" class="p-mr-2">
          <button pButton pRipple type="button" label="Sim" (click)="acaoApagar(1)"
                  class="p-button-sm p-button-rounded p-button-danger"></button>
        </div>
      </div>

    </p-footer>
  </p-dialog>

</ng-container>
