<div class="inline-block formulario-bg-externo" [style]=estilo2>
  <form [formGroup]="formMenuTarefa" (keyup)="onKey($event)" class="menuinterno-form">
    <div class="flex justify-content-between pb-2 ml-2 p-pl-2">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm(true)"
          ></button>
        </div>
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>
    <div class="flex ml-1 p-pl-2">
      <div class="inline-block grid">
        <div class="col-12">
          <div class="formgrid grid formulario">

            <!-- tp_listagem -->
            <div class="field col-12">
              <label for="tpListagem">De (Autor)</label>
              <p-selectButton #tpl id="tpListagem" [options]="ddTipo" formControlName="tipo_listagem"></p-selectButton>
            </div>


            <!-- tarefa_usuario_autor_id -->
            <div *ngIf="tpl.value==0" class="field col-12">
              <label for="tarefa_usuario_autor_id">De (Autor)</label>
              <p-dropdown
                id="tarefa_usuario_autor_id"
                [options]="dd.ddTarefa_autor_id"
                [style]="estilo1"
                formControlName="tarefa_usuario_autor_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- tarefa_usuario_id -->
            <div *ngIf="tpl.value==1" class="field col-12">
              <label for="tarefa_usuario_id">Para (Demandados)</label>
              <p-dropdown
                id="tarefa_usuario_id"
                [options]="dd.ddTarefa_demandados_id"
                [style]="estilo1"
                formControlName="tarefa_usuario_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>


            <!-- tarefa_titulo -->
            <div class="field col-12">
              <label for="tarefa_titulo">Titulo Contém</label>
              <input
                id="tarefa_titulo"
                type="text"
                pInputText
                formControlName="tarefa_titulo"
                size="40"
              >
            </div>

            <!-- tarefa_situacao_id -->
            <div class="field col-12">
              <label for="tarefa_situacao_id">Situação</label>
              <p-dropdown
                id="tarefa_situacao_id"
                [options]="dd.ddTarefa_situacao_id"
                [style]="estilo1"
                formControlName="tarefa_situacao_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- tarefa_datahora1 -->


            <div class="field col-12 xl:col-6 lg:col-6 md:col-12 sm:col-12">
              <label for="tarefa_datahora1"> De (Pedido)</label>
              <p-calendar
                id="tarefa_datahora1"
                formControlName="tarefa_datahora1"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"
                [showTime]="false"
                dataType="date"
              ></p-calendar>
            </div>

            <!-- tarefa_datahora2 -->
            <div class="field col-12 xl:col-6 lg:col-6 md:col-12 sm:col-12">
              <label for="tarefa_datahora2">até</label>
              <p-calendar
                id="tarefa_datahora2"
                formControlName="tarefa_datahora2"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"
                [showTime]="false"
                dataType="date"
              ></p-calendar>
            </div>


            <!-- tarefa_data1 -->


            <div class="field col-12 xl:col-6 lg:col-6 md:col-12 sm:col-12">
              <label for="tarefa_data1"> De (Execução)</label>
              <p-calendar
                id="tarefa_data1"
                formControlName="tarefa_data1"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"
                [showTime]="true"
                dataType="date"
              ></p-calendar>
            </div>

            <!-- tarefa_data2 -->
            <div class="field col-12 xl:col-6 lg:col-6 md:col-12 sm:col-12">
              <label for="tarefa_data2">até</label>
              <p-calendar
                id="tarefa_data2"
                formControlName="tarefa_data2"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"
                [showTime]="true"
                dataType="date"
              ></p-calendar>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-content-between pb-2 ml-2 p-pl-2">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm(true)"
          ></button>
        </div>
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
