<div class="p-fluid formulario-bg-externo" [style]=estilo2>
  <form [formGroup]="formMenuTarefa" (keyup)="onKey($event)" class="menuinterno-form">
    <div class="p-d-flex p-jc-between p-pb-2 p-ml-2 p-pl-2">
      <div class="p-d-inline-flex">
        <div class="p-mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="p-mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>
    <div class="p-d-flex p-ml-1 p-pl-2">
      <div class="p-fluid p-grid">
        <div class="p-col-12">
          <div class="p-fluid p-formgrid p-grid formulario">

            <!-- tp_listagem -->
            <div class="p-field p-col-12">
              <label for="tpListagem">De (Autor)</label>
              <p-selectButton id="tpListagem" [options]="ddTipo_listagem" [(ngModel)]="tpListagem"></p-selectButton>
            </div>


            <!-- tarefa_usuario_autor_id -->
            <div *ngIf="tpListagem=='Recebidas'" class="p-field p-col-12">
              <label for="tarefa_usuario_autor_id">De (Autor)</label>
              <p-dropdown
                id="tarefa_usuario_autor_id"
                [options]="ddTarefa_autor_id1"
                [style]="estilo1"
                formControlName="tarefa_usuario_autor_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- tarefa_usuario_id -->
            <div *ngIf="tpListagem=='Enviadas'" class="p-field p-col-12">
              <label for="tarefa_usuario_id">Para (Demandados)</label>
              <p-dropdown
                id="tarefa_usuario_id"
                [options]="ddTarefa_autor_id2"
                [style]="estilo1"
                formControlName="tarefa_usuario_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>


            <!-- tarefa_titulo -->
            <div class="p-field p-col-12">
              <label for="tarefa_titulo">Titulo Contém</label>
              <input
                id="tarefa_titulo"
                type="text"
                pInputText
                formControlName="tarefa_titulo"
                size="40"
              >
            </div>

            <!-- tarefa_situacao_id -->
            <div class="p-field p-col-12">
              <label for="tarefa_situacao_id">Situação</label>
              <p-dropdown
                id="tarefa_situacao_id"
                [options]="ddTarefa_situacao_id"
                [style]="estilo1"
                formControlName="tarefa_situacao_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- tarefa_datahora1 -->


            <div class="p-field p-col-12 p-xl-6 p-lg-6 p-md-12 p-sm-12">
              <label for="tarefa_datahora1"> De (Pedido)</label>
              <p-calendar
                id="tarefa_datahora1"
                formControlName="tarefa_datahora1"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"

                [showTime]="false"
                dataType="string"
              ></p-calendar>
            </div>

            <!-- tarefa_datahora2 -->
            <div class="p-field p-col-12 p-xl-6 p-lg-6 p-md-12 p-sm-12">
              <label for="tarefa_datahora2">até</label>
              <p-calendar
                id="tarefa_datahora2"
                formControlName="tarefa_datahora2"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"

                [showTime]="false"
                dataType="string"
              ></p-calendar>
            </div>


            <!-- tarefa_data1 -->


            <div class="p-field p-col-12 p-xl-6 p-lg-6 p-md-12 p-sm-12">
              <label for="tarefa_data1"> De (Execução)</label>
              <p-calendar
                id="tarefa_data1"
                formControlName="tarefa_data1"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"

                [showTime]="false"
                dataType="string"
              ></p-calendar>
            </div>

            <!-- tarefa_data2 -->
            <div class="p-field p-col-12 p-xl-6 p-lg-6 p-md-12 p-sm-12">
              <label for="tarefa_data2">até</label>
              <p-calendar
                id="tarefa_data2"
                formControlName="tarefa_data2"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"

                [showTime]="false"
                dataType="string"
              ></p-calendar>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="p-d-flex p-jc-between p-pb-2 p-ml-2 p-pl-2">
      <div class="p-d-inline-flex">
        <div class="p-mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="p-mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
