<ng-container *ngIf="!imprimir">
  <table class="table-hover tabela" id="tabhistorico">
    <caption>HISTÓRICOS</caption>
    <tr>
      <td>Data</td>
      <td>Andamento</td>
      <td style="width: 3em"></td>
    </tr>
    <tr *ngFor="let his of has.histListI.hist; let i=index;">
      <td style="font-weight: normal">{{his.historico_data}} {{mudaI(i)}}</td>
      <td style="font-weight: normal">
        <app-quill-view [cpdelta]="his.historico_andamento_delta" [cphtml]="his.historico_andamento"  class="detalhe"></app-quill-view>
      </td>
      <td style="width: 3em">
        <app-hist-form [idx]="idx" [id]="his.historico_id" [acao]="'alterar'" (novoRegistro)="recebeRegistro($event)" (dialogExterno)="dialogExternoSN($event)"></app-hist-form>
        <app-hist-excluir [idx]="idx" [id]="his.historico_id" [modulo]="modulo" (onExcluir)="onExcluir($event)"></app-hist-excluir>
        <!-- <app-historico-processo-form *ngIf="authenticationService.historico_alterar" [acao]="'alterar'" [dados]="his" (novosDados)="historicos[i]=$event"></app-historico-processo-form>
         <app-historico-processo-excluir *ngIf="authenticationService.historico_apagar" [id]="his.historico_id" [idx]="i" (OnExcluir)="onExluir($event)"></app-historico-processo-excluir>-->
      </td>
    </tr>
  </table>
</ng-container>


<ng-container *ngIf="imprimir && hisI">
  <table #tb class="table-hover tabela">
    <caption>{{caption}}</caption>
    <thead>
    <tr>
      <th style="width: 100px" nowrap>Data</th>
      <th>Andamento</th>
    </tr>
    </thead>
    <tr *ngFor="let h of hisI">
      <td nowrap>{{h.historico_data}}</td>
      <td>{{h.historico_andamento}}</td>
    </tr>
  </table>
</ng-container>

<!---->

<div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
  <app-hist-form [idx]="null" [id]="has.histListI.registro_id" [acao]="'incluir'" (dialogExterno)="dialogExternoSN($event)" (novoRegistro)="recebeRegistro($event)"></app-hist-form>
  <div class="p-mr-2">
    <button
      pButton
      pRipple
      pTooltip="FECHAR"
      type="button"
      class="botaoinferior p-button-rounded p-button-secondary"
      (click)="fechar()"
      label="FECHAR"
    ></button>
  </div>
</div>

