<ng-container *ngIf="!imprimir && !showHistorico">

  <table class="table-hover tabela" id="tabhistorico">
    <caption>HISTÓRICOS</caption>
    <tr>
      <td>Data</td>
      <td>Andamento</td>
      <td style="width: 3em" *ngIf="permitirAcao"></td>
    </tr>
    <tr *ngFor="let his of histListI.hist; let i=index;">
      <td style="font-weight: normal; width: 8rem;">{{his.historico_data}}</td>
      <td style="font-weight: normal">
        <app-quill-view [cpdelta]="his.historico_andamento_delta" [cphtml]="his.historico_andamento"
                        class="detalhe"></app-quill-view>
      </td>

      <td style="width: 3em; vertical-align:top;" *ngIf="permitirAcao">

        <div *ngIf="alterar" class="p-m-1">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            pTooltip="ALTERAR"
            class="historico p-button-sm p-button-rounded p-button-warning"
            tooltipPosition="top"
            (click)="historicoAcao('alterar', i, his)"
          >
          </button>
        </div>

        <div class="p-m-1">
          <p-confirmPopup></p-confirmPopup>
          <button *ngIf="apagar" pButton pRipple type="button" icon="pi pi-trash" pTooltip="APAGAR"
                  class="historico p-button-sm p-button-rounded p-button-danger"
                  (click)="confirm($event, his.historico_id, i)"></button>
        </div>

      </td>
    </tr>
  </table>

  <div class="p-d-flex p-jc-start p-pb-2 p-pt-4">
    <div class="p-mr-2">
      <button
        pButton
        pRipple
        pTooltip="FECHAR"
        tooltipPosition="top"
        type="button"
        class="botaoinferior p-button-rounded p-button-secondary"
        (click)="fechar()"
        label="FECHAR"
      ></button>
    </div>
    <div *ngIf="incluir && permitirAcao" class="p-mr-2">
      <button
        pButton
        pRipple
        type="button"
        class="botaoinferior p-button-rounded"
        label="INCLUIR"
        pTooltip="INCLUIR"
        tooltipPosition="top"
        (click)="historicoAcao('incluir')"
      >
      </button>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="imprimir && hisI">
  <table #tb class="table-hover tabela">
    <caption>{{caption}}</caption>
    <thead>
    <tr>
      <th style="width: 100px" nowrap>Data</th>
      <th>Andamento</th>
    </tr>
    </thead>
    <tr *ngFor="let h of hisI">
      <td nowrap>{{h.historico_data}}</td>
      <td>{{h.historico_andamento}}</td>
    </tr>
  </table>
</ng-container>


<!--*** HISTORICO PROCESSO ****************************************************************************************-->
<ng-container *ngIf="showHistorico">
  <app-hist-form [histFormI]="histFormI" (novoRegistro)="recebeRegistro($event)"
                 [(display)]="showHistorico"></app-hist-form>
</ng-container>

