<ng-container  *ngIf="!imprimir && his">
  <p-table #tb [value]="his" [styleClass]="estilo">
    <ng-template pTemplate="caption">{{caption}}</ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>DATA</th>
        <th>ANDAMENTO</th>
        <th *ngIf="incluir || alterar || apagar">
          <div *ngIf="incluir" class="p-ml-2">
            <i class="bigbt minbt-incluir pi pi-plus" (click)="onIncluir()"></i>
          </div>
          <div *ngIf="!incluir">
            AÇÃO
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-his let-rowIndex="rowIndex">
      <tr>
        <td>{{his.historico_data}}</td>
        <td><quill-view-html [content]="his.historico_andamento" class="detalhe"></quill-view-html></td>
        <td *ngIf="incluir || alterar || apagar">
          <div *ngIf="alterar" class="p-mr-2">
            <i class="minbt minbt-incluir pi pi-pencil" (click)="onAlterar(his, rowIndex)"></i>
          </div>
          <div *ngIf="apagar" class="p-mr-2">
            <i class="minbt minbt-incluir pi pi-trash" (click)="onApagar(his, rowIndex)"></i>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-sidebar [(visible)]="displayForm" [fullScreen]="true" [modal]="false" position="bottom" [appendTo]="tb" (onHide)="onHide()">

    <app-hist-form [(dados)]="histForm" [(display)]="displayForm" ></app-hist-form>

  </p-sidebar>
</ng-container>


<ng-container *ngIf="imprimir && hisI">
  <table #tb class="table-hover tabela">
    <caption>{{caption}}</caption>
    <thead>
    <tr>
      <th style="width: 100px" nowrap>Data</th>
      <th>Andamento</th>
    </tr>
    </thead>
    <tr *ngFor="let h of hisI">
      <td nowrap>{{h.historico_data}}</td>
      <td>{{h.historico_andamento}}</td>
    </tr>
  </table>
</ng-container>

<!--<ng-container *ngIf="side">-->

<!--</ng-container>-->
