<div class="container" style="text-align:center">
  <h4>EMENDA - ALTERAR</h4>
</div>
<div class="container-fluid">
  <p-scrollPanel [style]="{width: '100%', height: 'auto'}">
    <div class="p-grid">
      <div class="p-col-12"></div>
      <div class="p-md-1 p-xl-1"></div>
      <div class="p-col-12 p-sm-12 p-md-10 p-xl-10 divform">

        <form [formGroup]="formEmendaAlterar" (ngSubmit)="onSubmit()">
          <div class="p-grid formDiv">
            <!--*** COLUNA 1 ***-->
            <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
              <div class="p-grid">

                <!--*** Tipo de Cadastro ***-->
                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErro('emenda_cadastro_tipo_id')">
                  <h6><span style="color: var(--ativo)">*</span> Tipo de Cadastro</h6>
                  <p-dropdown
                    formControlName="emenda_cadastro_tipo_id"
                    placeholder="Selecione &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                    [options]="ddEmenda_cadastro_tipo_id"
                    [required]="true"
                    [autofocus]="true"
                    [style]="{'width':'100%', 'max-width': '313px'}"
                  ></p-dropdown>
                  <app-campo-control-erro msgErro="Tipo de Cadastro é obrigatório.">
                  </app-campo-control-erro>
                </div>

                <!--*** Solicitante ***-->
                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErro('emenda_cadastro_id')">
                  <h6><span style="color: var(--ativo)">*</span> Solicitante</h6>
                  <div class="ui-inputgroup">
                    <p-autoComplete
                      #emdId
                      id="emenda_cadastro_id"
                      formControlName="emenda_cadastro_id"
                      [suggestions]="sgt"
                      (completeMethod)="autoComp($event, 'cadastro')"
                      [dropdown]="true"
                      dropdownIcon="pi pi-chevron-down"
                      field="label"
                      [forceSelection]="true"
                      [minLength]="3"
                      [delay]="500"
                      [size]="32"
                      dataKey="value"
                      [maxlength]="50"
                      [required]="true"
                      [emptyMessage]="emptyMessage"
                      placeholder="Solicitante "
                    ></p-autoComplete>
                    <button
                      pButton
                      type="button"
                      icon="far fa-address-card"
                      *ngIf="cadastro_incluir"
                      (click)="goAlterar()"
                      [disabled]="cadastroDisabled"
                    ></button>
                  </div>
                  <app-campo-control-erro msgErro="Solicitante é obrigatório."></app-campo-control-erro>
                </div>

                <!--*** emenda_autor_nome ***-->
                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErro('emenda_autor_nome')">
                  <h6><span style="color: var(--ativo)">*</span> Autor</h6>
                  <input
                    formControlName="emenda_autor_nome"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                  <app-campo-control-erro msgErro="Autor é obrigatório."></app-campo-control-erro>
                </div>

                <!--*** emenda_assunto_id ***-->
                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErro('emenda_assunto_id')">
                  <h6><span style="color: var(--ativo)">*</span> Assunto</h6>
                  <div class="ui-fluid ui-inputgroup" [style]="{'width':'100%', 'max-width':'313px'}">
                    <p-dropdown
                      formControlName="emenda_assunto_id"
                      placeholder="Selecione &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                      [options]="ddEmenda_assunto_id"
                      [required]="true"
                      [style]="{'width':'100%'}"
                    ></p-dropdown>
                    <app-configaux-incluir
                      [desabilitado]="false"
                      [titulo]="'Alterar assunto'"
                      [tituloCampo]="'Assunto'"
                      [campoNome]="'emenda_assunto_id'"
                      [tamanho]="50"
                      [tamanhomax]="100"
                      [dropdown]="'ddEmenda_assunto_id'"
                      [arrai]="ddEmenda_assunto_id"
                      (onNovoRegistroAux)="onNovoRegistroAux($event)"
                      (onBlockSubmit)="onBlockSubmit($event)"
                    ></app-configaux-incluir>
                  </div>
                  <app-campo-control-erro msgErro="Assunto é obrigatório."></app-campo-control-erro>
                </div>

                <!--*** emenda_tipo_emenda_id ***-->
                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErro('emenda_tipo_emenda_id')">
                  <h6><span style="color: var(--ativo)">*</span> Tipo de emenda</h6>
                  <p-dropdown
                    formControlName="emenda_tipo_emenda_id"
                    placeholder="Selecione &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                    [options]="ddEmenda_tipo_emenda_id"
                    [required]="true"
                    [style]="{'width':'100%', 'max-width': '313px'}"
                  ></p-dropdown>
                  <app-campo-control-erro msgErro="Tipo de emenda é obrigatório."></app-campo-control-erro>
                </div>

                <!--*** emenda_orgao_solicitado_nome ***-->
                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErro('emenda_orgao_solicitado_nome')">
                  <h6><span style="color: var(--ativo)">*</span> Orgão solicitado</h6>
                  <input
                    formControlName="emenda_orgao_solicitado_nome"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                  <app-campo-control-erro msgErro="Orgão solicitado é obrigatório."></app-campo-control-erro>
                </div>

                <!--*** emenda_situacao ***-->
                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErro('emenda_situacao')">
                  <h6><span style="color: var(--ativo)">*</span> Situação</h6>
                  <p-dropdown
                    formControlName="emenda_situacao"
                    placeholder="Selecione &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                    [options]="ddEmenda_situacao"
                    [required]="true"
                    [style]="{'width':'100%', 'max-width': '313px'}"
                  ></p-dropdown>
                  <app-campo-control-erro msgErro="Situação é obrigatório."></app-campo-control-erro>
                </div>

                <!--*** emenda_numero ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Número da emenda</h6>
                  <input
                    formControlName="emenda_numero"
                    type="text"
                    [size]="30"
                    [maxlength]="30"
                    pInputText
                  />
                </div>

                <!--*** emenda_funcional_programatica ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Funcional programática</h6>
                  <input
                    formControlName="emenda_funcional_programatica"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** emenda_numero_protocolo ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Número do protocolo</h6>
                  <input
                    formControlName="emenda_numero_protocolo"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

              </div>
            </div>
            <!--*** FIM COLUNA 1 ***-->

            <!--*** COLUNA 2 ***-->
            <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
              <div class="p-grid">

                <!--*** emenda_local_id ***-->
                <div class="p-col-12 campoLabel">
                  <h6> Núcleo</h6>
                  <p-dropdown
                    formControlName="emenda_local_id"
                    placeholder="Selecione &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                    [options]="ddEmenda_local_id"
                    [style]="{'width':'100%', 'max-width': '313px'}"
                  ></p-dropdown>
                </div>

                <!--*** emenda_data_solicitacao ***-->
                <div class="p-col-12 campoLabel">
                  <h6> Data da solicitação</h6>
                  <p-calendar
                    formControlName="emenda_data_solicitacao"
                    dateFormat="dd/mm/yy"
                    placeholder="dd/mm/aaaa"
                    dataType="string"
                  ></p-calendar>
                </div>

                <!--*** emenda_processo ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Contrato/Processo</h6>
                  <input
                    formControlName="emenda_processo"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** emenda_contrato ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Contrato Caixa</h6>
                  <input
                    formControlName="emenda_contrato"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** emenda_ogu_id ***-->
                <div class="p-col-12 campoLabel">
                  <h6> O.G.U.</h6>
                  <p-dropdown
                    formControlName="emenda_ogu_id"
                    placeholder="Selecione &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                    [options]="ddEmenda_ogu_id"
                    [style]="{'width':'100%', 'max-width': '313px'}"
                  ></p-dropdown>
                </div>

                <!--*** emenda_crnr ***-->
                <div class="p-col-12 campoLabel">
                  <h6>CR.NR.</h6>
                  <input
                    formControlName="emenda_crnr"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** emenda_gmdna ***-->
                <div class="p-col-12 campoLabel">
                  <h6>GDM/MA</h6>
                  <input
                    formControlName="emenda_gmdna"
                    type="text"
                    [size]="15"
                    [maxlength]="20"
                    pInputText
                  />
                </div>

                <!--*** emenda_uggestao ***-->
                <div class="p-col-12 campoLabel">
                  <h6>UG/GESTÃO</h6>
                  <input
                    formControlName="emenda_uggestao"
                    type="text"
                    [size]="15"
                    [maxlength]="20"
                    pInputText
                  />
                </div>

                <!--*** emenda_siconv ***-->
                <div class="p-col-12 campoLabel">
                  <h6>SICONV</h6>
                  <input
                    formControlName="emenda_siconv"
                    type="text"
                    [size]="15"
                    [maxlength]="30"
                    pInputText
                  />
                </div>

                <!--*** emenda_porcentagem ***-->
                <div class="p-col-12 p-md-6 p-lg-6 p-xl-12 campoLabel">
                  <h6>% Concluida</h6>
                  <p-inputNumber
                    formControlName="emenda_porcentagem"
                    mode="decimal"
                    [showButtons]="true"
                    inputId="emenda_porcentagem"
                    [min]="0"
                    [max]="100">
                  </p-inputNumber>
                </div>

              </div>
            </div>
            <!--*** FIM COLUNA 2 ***-->

            <!--*** COLUNA 3 ***-->
            <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-4">
              <div class="p-grid">

                <!--*** emenda_valor_solicitadado ***-->
                <div class="p-col-12 campoLabel">
                  <h6> Valor solicitado</h6>
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">R$</span>
                    <p-inputNumber inputId="integeronly" formControlName="emenda_valor_solicitadado"></p-inputNumber>
                    <!--
                    <p-inputMask
                      formControlName="emenda_valor_solicitadado"
                      mask="?99999999999999999999"
                      unmask="true"
                      characterPattern="[0-9]"
                      [size]="25"
                      [maxlength]="50"
                    ></p-inputMask>
                    -->
                    <span class="ui-inputgroup-addon">,00</span>
                  </div>
                </div>

                <!--*** emenda_valor_empenhado ***-->
                <div class="p-col-12 campoLabel">
                  <h6> Valor empenhado</h6>
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">R$</span>
                    <p-inputNumber inputId="integeronly" formControlName="emenda_valor_empenhado"></p-inputNumber>
                    <!--
                    <p-inputMask
                      formControlName="emenda_valor_empenhado"
                      mask="?99999999999999999999"
                      unmask="true"
                      characterPattern="[0-9]"
                      [size]="25"
                      [maxlength]="50"
                    ></p-inputMask>
                    -->
                    <span class="ui-inputgroup-addon">,00</span>
                  </div>
                </div>

                <!--*** emenda_data_empenho ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Data do empenho</h6>
                  <p-calendar
                    formControlName="emenda_data_empenho"
                    dateFormat="dd/mm/yy"
                    placeholder="dd/mm/aaaa"
                    dataType="string"
                  ></p-calendar>
                </div>

                <!--*** emenda_numero_empenho ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Número do empenho</h6>
                  <input
                    formControlName="emenda_numero_empenho"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** emenda_data_pagamento ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Data do pagamento (1&deg; parcela ou a vista)</h6>
                  <p-calendar
                    formControlName="emenda_data_pagamento"
                    dateFormat="dd/mm/yy"
                    placeholder="dd/mm/aaaa"
                    dataType="string"
                  ></p-calendar>
                </div>

                <!--*** emenda_valor_pago ***-->
                <div class="p-col-12 campoLabel">
                  <h6> Valor pago</h6>
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">R$</span>
                    <p-inputNumber inputId="integeronly" formControlName="emenda_valor_pago"></p-inputNumber>
                    <!--<p-inputMask
                      formControlName="emenda_valor_pago"
                      mask="?99999999999999999999"
                      unmask="true"
                      characterPattern="[0-9]"
                      [size]="25"
                      [maxlength]="50"
                    ></p-inputMask>-->
                    <span class="ui-inputgroup-addon">,00</span>
                  </div>
                </div>

                <!--*** emenda_numero_ordem_bancaria ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Órdem bancária</h6>
                  <input
                    formControlName="emenda_numero_ordem_bancaria"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** emenda_observacao_pagamento ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Informações sobre pagamento (quando parcelado)</h6>
                  <textarea
                    [rows]="5"
                    [cols]="40"
                    formControlName="emenda_observacao_pagamento"
                    [autoResize]="true"
                    pInputTextarea
                  >
                  </textarea>
                </div>

                <ng-container *ngIf="authenticationService.arquivos">
                  <app-arquivo
                      [modulo]="'emenda'"
                      [modelo]="'alterar'"
                      [registro_id]="emenda_id"
                      [uploadDisabled]="arquivoDesativado || !formEmendaAlterar.valid"
                      [stiloClass]="'p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel'"
                      (onBlockSubmit)="onBlockSubmit($event)"
                      (onPossuiArquivos)="onPossuiArquivos($event)"
                  ></app-arquivo>
                </ng-container>

              </div>
            </div>
            <!--*** FIM COLUNA 3 ***-->

            <!--*** COLUNA 4 ***-->
            <div class="p-col-12">
              <div class="p-grid">

                <!--*** emenda_justificativa ***-->
                <div class="p-lg-2 p-xl-1"></div>
                <div class="p-col-12 p-lg-8 p-xl-10 campoLabel">
                  <h6>Justificativa</h6>
                  <div style="background-color: var(--claro)">
                    <quill-editor
                      formControlName="emenda_justificativa"
                      [preserveWhitespace]="true"
                      [sanitize]="true"
                      placeholder=""
                      (onFocus)="focus1($event)"
                    >
                      <div quill-editor-toolbar [ngStyle]="{'display': mostraModulos1}">
                        <span class="ql-formats">
                          <select class="ql-font">
                            <option selected></option>
                            <option value="serif"></option>
                            <option value="monospace"></option>
                          </select>
                          <select class="ql-size">
                            <option value="small"></option>
                            <option selected></option>
                            <option value="large"></option>
                            <option value="huge"></option>
                          </select>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-bold" [title]="'Bold'"></button>
                          <button class="ql-italic" [title]="'Italico'"></button>
                          <button class="ql-underline" [title]="'Underline'"></button>
                          <button class="ql-strike" [title]="'Strike'"></button>
                        </span>
                        <span class="ql-formats">
                          <select class="ql-color" [title]="'Cor do texto'"></select>
                          <select class="ql-background" [title]="'Cor de fundo'"></select>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-indent" value="+1" [title]="'Identaçao +1'"></button>
                          <button class="ql-indent" value="-1" [title]="'Identaçao -1'"></button>
                          <select class="ql-align">
                            <option selected></option>
                            <option value="center"></option>
                            <option value="right"></option>
                            <option value="justify"></option>
                          </select>
                          <button class="ql-list" value="ordered"></button>
                          <button class="ql-list" value="bullet"></button>
                        </span>
                      </div>
                    </quill-editor>
                  </div>
                </div>
                <div class="p-lg-2 p-xl-1"></div>

                <!--*** his_texto ***-->


                <!--*** his_texto ***-->
                <div class="p-lg-2 p-xl-1"></div>

                <!--*** his_texto ***-->
                <div class="p-col-8 campoLabel">
                  <h6>Andamento</h6>
                  <textarea
                    [rows]="5"
                    [cols]="40"
                    formControlName="his_texto"
                    [autoResize]="true"
                    pInputTextarea
                  >
                  </textarea>
                </div>
                <div class="p-lg-2 p-xl-1"></div>

              </div>
            </div>

          </div>

          <div class="p-grid formDiv">
            <div class="p-12">&nbsp;</div>
          </div>
          <!--*** Botões ***-->
          <div class="p-grid formDiv">
            <div class="p-col-12 campoLabel" style="text-align: center">
              <button
                pButton
                type="button"
                class="p-button-rounded"
                [disabled]="!formEmendaAlterar.valid || !mostraForm"
                (click)="enviarEmenda()"
                label="Alterar"
              ></button>
              &nbsp;&nbsp;
              <button
                pButton
                type="button"
                class="p-button-rounded p-button-secondary"
                (click)="resetForm()"
                label="Cancelar"
                [disabled]="botaoEnviarVF"
              ></button>
              &nbsp;&nbsp;
              <button
                pButton
                type="button"
                class="p-button-rounded p-button-secondary"
                (click)="voltarListar()"
                label="Voltar"
                [disabled]="botaoEnviarVF"
              ></button>
            </div>
            <div class="p-col-12">&nbsp;</div>
            <div class="p-col-12">{{mostraForm}}</div>
          </div>
        </form>

      </div>
      <div class="p-md-1 p-xl-1"></div>
    </div>
    <app-form-debug [form]="formEmendaAlterar"></app-form-debug>
  </p-scrollPanel>
</div>
<p-toast key="emendaToast" [style]="{marginTop: '80px'}"></p-toast>


