<div class="home">

  <div class="grid">
    <div class="col-1 sm:col-1 md:col-1 lg:col-2 xl:col-3"></div>
    <div class="col-10 sm:col-10 md:col-10 lg:col-8 xl:col-6">
      <div class="grid">
        <div class="col-12">

          <div class="grid">
            <div class="col-12">
              <div class="col-12 border-round-2xl shadow-4">
                <div class="text-center text-primary">
                  <h1>GABNET</h1>
                </div>

                <div class="text-center text-primary">
                  <h1>GERENCIADOR DE GABINETES</h1>
                </div>
              </div>

              <div class="col-12 mt-5 border-round-2xl shadow-4">
                <form [formGroup]="loginForm" autocomplete="on">
                  <div class="formgrid grid mt-3 px-3 text-2xl">

                    <div class="field col-12 sm:col-12 md:col-12 lg:col-5 xl:col-5"
                         [ngClass]="aplicaCssErro('username')">
                      <label for="username" class="text-primary">E-mail</label>
                      <input pInputText id="username" type="email" autocomplete="email" autofocus
                             formControlName="username"
                             class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                             [ngClass]="aplicaCssErro('username')" placeholder="E-mail">
                      <app-campo-control-erro [mostrarErro]="verificaValidTouched('username')"
                                              msgErro="Login é obrigatório.">
                      </app-campo-control-erro>
                      <app-campo-control-erro [mostrarErro]="verificaValidTouched('username')"
                                              msgErro="Login menor que 7 caracteres.">
                      </app-campo-control-erro>
                    </div>
                    <div class="field col-12 sm:col-12 md:col-12 lg:col-5 xl:col-5"
                         [ngClass]="aplicaCssErro('password')">
                      <label for="password" class="text-primary">Senha</label>
                      <input pInputText id="password" type="password" formControlName="password"
                             autocomplete="current-password"
                             class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                             [ngClass]="aplicaCssErro('password')" placeholder="Senha">
                      <app-campo-control-erro [mostrarErro]="verificaValidTouched('password')"
                                              msgErro="Senha é obrigatória.">
                      </app-campo-control-erro>
                      <app-campo-control-erro [mostrarErro]="verificaValidTouched('password')"
                                              msgErro="Senha menor que 7 caracteres.">
                      </app-campo-control-erro>
                    </div>
                    <div class="field col-4 sm:col-4 md:col-3 lg:col-2 xl:col-2">
                      <h5>&nbsp;</h5>
                      <button pButton type="button" label="Enviar" (click)="submeter()" id="enviar"
                              class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700"
                              [disabled]="!loginForm.valid && mostraForm"></button>
                    </div>
                    <div class="field col-8 sm:col-8 md:col-9"></div>

                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
        <div class="col-1 sm:col-1 md:col-2 lg:col-3 xl:col-3"></div>
      </div>

    </div>
    <div class="col-1 sm:col-1 md:col-1 lg:col-2 xl:col-3"></div>
  </div>
</div>
