<div class="container-fluid">
  <div class="p-grid">
    <div class="p-col-12"></div>
    <div class="p-col-12 formDiv">
      <div class="p-grid">
        <div class="p-col-2">
          <p-panel header="SOLICITAÇÕES">
            <div class="ui-fluid p-formgrid p-grid">

              <div class="p-field">
                <p-calendar
                  [(ngModel)]="data1"
                  placeholder="De"
                  dateFormat="dd/mm/yy"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  [locale]="ptbr"
                  [styleClass]="'estreito'"
                  yearRange="1900:2030"
                  id="data1"
                  dataType="string"
                ></p-calendar>
              </div>
              <div class="p-field">
                <p-calendar
                  [(ngModel)]="data2"
                  placeholder="Até"
                  dateFormat="dd/mm/yy"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  [locale]="ptbr"
                  [styleClass]="'estreito'"
                  yearRange="1900:2030"
                  id="data2"
                  dataType="string"
                ></p-calendar>
              </div>
              <div class="p-field">
                <button pButton type="button" label="ENVIAR" (click)="buscaData()"></button>
              </div>

              <div class="p-formgroup">
                <div class="p-field-radiobutton">
                  <p-radioButton name="campo1" id="campo1" value="solicitacao_data" [(ngModel)]="campo" (onClick)="onCampoClick($event)"></p-radioButton>
                  <label for="campo1">Mês / Ano</label>
                </div>
                <div class="p-field-radiobutton">
                  <p-radioButton name="campo2" id="campo2" value="solicitacao_assunto_nome" [(ngModel)]="campo" (onClick)="onCampoClick($event)"></p-radioButton>
                  <label for="campo2">Assuntos</label>
                </div>
                <div class="p-field-radiobutton">
                  <p-radioButton name="campo3" id="campo3" value="solicitacao_cadastrante_cadastro_nome" [(ngModel)]="campo" (onClick)="onCampoClick($event)"></p-radioButton>
                  <label for="campo3">Cadastrantes</label>
                </div>
                <div class="p-field-radiobutton">
                  <p-radioButton name="campo4" id="campo4" value="solicitacao_atendente_cadastro_nome" [(ngModel)]="campo" (onClick)="onCampoClick($event)"></p-radioButton>
                  <label for="campo4">Atendente</label>
                </div>
                <div class="p-field-radiobutton">
                  <p-radioButton name="campo5" id="campo5" value="solicitacao_reponsavel_analize_nome" [(ngModel)]="campo" (onClick)="onCampoClick($event)"></p-radioButton>
                  <label for="campo5">Resp. pela análise</label>
                </div>
                <div class="p-field-radiobutton">
                  <p-radioButton name="campo6" id="campo6" value="cadastro_municipio_nome" [(ngModel)]="campo" (onClick)="onCampoClick($event)"></p-radioButton>
                  <label for="campo6">Municípios</label>
                </div>
                <div class="p-field-radiobutton">
                  <p-radioButton name="campo7" id="campo7" value="solicitacao_area_interesse_nome" [(ngModel)]="campo" (onClick)="onCampoClick($event)"></p-radioButton>
                  <label for="campo7">Áreas de interesse</label>
                </div>

                <div class="p-field p-col-12">
                  <label for="tipografico">Tipo de gráfico</label>
                  <p-dropdown id="tipografico" [options]="ddTipoGraf" [(ngModel)]="tipoGraf" (onChange)="onTipoGraficoChange($event)"></p-dropdown>
                </div>
              </div>
            </div>
            <button pButton type="button" label="VOLTAR" (click)="voltar()"></button>
          </p-panel>
        </div>
        <div class="p-col-10">
          <div id="pdfContent" class="p-grid">
            <div *ngIf="tipoGraf=='horizontalBar' && linhas > 30" class="p-col-12">
              <p-card [header]="titulo">
                <p-chart #hbar
                         type="horizontalBar"
                         [data]="dados"
                         [height]="alturaGrafico"
                ></p-chart>
                <button pButton type="button" icon="fas fa-file-pdf" label="PDF"
                        class="p-button-rounded p-button-secondary"
                        (click)="imprimir2(hbar.el)"></button>&nbsp;
                <button pButton type="button" icon="pi pi-print" label="&nbsp;IMPRIMIR"
                        class="p-button-rounded p-button-secondary"
                        (click)="printImg2(hbar.el)"></button>
              </p-card>
            </div>
            <div *ngIf="tipoGraf=='horizontalBar' && linhas <= 30" class="p-col-12">
              <p-card [header]="titulo">
                <p-chart #hbar
                         type="horizontalBar"
                         [data]="dados"
                ></p-chart>
                <button pButton type="button" icon="fas fa-file-pdf" label="PDF"
                        class="p-button-rounded p-button-secondary"
                        (click)="imprimir(hbar.el)"></button>&nbsp;
                <button pButton type="button" icon="pi pi-print" label="&nbsp;IMPRIMIR"
                        class="p-button-rounded p-button-secondary"
                        (click)="printImg(hbar.el)"></button>
              </p-card>
            </div>
            <div *ngIf="tipoGraf=='bar'" class="p-col-12">
              <p-card [header]="titulo">
                <p-chart #hbar
                         type="bar"
                         [data]="dados"
                ></p-chart>
                <button pButton type="button" icon="fas fa-file-pdf" label="PDF"
                        class="p-button-rounded p-button-secondary"
                        (click)="imprimir(hbar.el)"></button>&nbsp;
                <button pButton type="button" icon="pi pi-print" label="&nbsp;IMPRIMIR"
                        class="p-button-rounded p-button-secondary"
                        (click)="printImg(hbar.el)"></button>
              </p-card>
            </div>
            <div *ngIf="tipoGraf=='doughnut'" class="p-col-12">
              <p-card [header]="titulo">
                <p-chart #hbar
                         type="doughnut"
                         [data]="dados"
                ></p-chart>
                <button pButton type="button" icon="fas fa-file-pdf" label="PDF"
                        class="p-button-rounded p-button-secondary"
                        (click)="imprimir(hbar.el)"></button>&nbsp;
                <button pButton type="button" icon="pi pi-print" label="&nbsp;IMPRIMIR"
                        class="p-button-rounded p-button-secondary"
                        (click)="printImg(hbar.el)"></button>
              </p-card>
            </div>
            <div *ngIf="tipoGraf=='polarArea'" class="p-col-12">
              <p-card [header]="titulo">
                <p-chart #hbar
                         type="polarArea"
                         [data]="dados"
                ></p-chart>
                <button pButton type="button" icon="fas fa-file-pdf" label="PDF"
                        class="p-button-rounded p-button-secondary"
                        (click)="imprimir(hbar.el)"></button>&nbsp;
                <button pButton type="button" icon="pi pi-print" label="&nbsp;IMPRIMIR"
                        class="p-button-rounded p-button-secondary"
                        (click)="printImg(hbar.el)"></button>
              </p-card>
            </div>
            <div *ngIf="tipoGraf=='pie'" class="p-col-12">
              <p-card [header]="titulo">
                <p-chart #hbar
                         type="pie"
                         [data]="dados"
                ></p-chart>
                <button pButton type="button" icon="fas fa-file-pdf" label="PDF"
                        class="p-button-rounded p-button-secondary"
                        (click)="imprimir(hbar.el)"></button>&nbsp;
                <button pButton type="button" icon="pi pi-print" label="&nbsp;IMPRIMIR"
                        class="p-button-rounded p-button-secondary"
                        (click)="printImg(hbar.el)"></button>
              </p-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
