<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <div class="p-fluid formulario-bg-externo">
      <div class="p-d-flex p-jc-center">
        <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
          <span class="formulario-titulo">PROPOSIÇÃO - APAGAR</span>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-fluid p-formgrid p-grid formulario">
            <div class="p-field p-col-12">
                <table class="table-hover tabela" #tabproposicao id="tabproposicao">
                  <caption>PROPOSIÇÃO</caption>
                  <tr *ngIf="proposicao.proposicao_tipo_nome">
                    <th>
                      Tipo:
                    </th>
                    <td>
                      {{proposicao.proposicao_numero}}
                    </td>
                  </tr>
                  <tr *ngIf="proposicao.proposicao_numero">
                    <th>
                      Número:
                    </th>
                    <td>
                      {{proposicao.proposicao_numero}}
                    </td>
                  </tr>
                  <tr *ngIf="proposicao.andamento_proposicao_situacao_nome">
                    <th>
                      Situação:
                    </th>
                    <td>
                      {{proposicao.andamento_proposicao_situacao_nome}}
                    </td>
                  </tr>
                  <tr *ngIf="proposicao.proposicao_autor">
                    <th>
                      Autor:
                    </th>
                    <td>
                      {{proposicao.proposicao_autor}}
                    </td>
                  </tr>
                  <tr *ngIf="proposicao.proposicao_relator">
                    <th>
                      Relator:
                    </th>
                    <td>
                      {{proposicao.proposicao_relator}}
                    </td>
                  </tr>
                  <tr *ngIf="proposicao.proposicao_origem_nome">
                    <th>
                      Orgão de origem:
                    </th>
                    <td>
                      {{proposicao.proposicao_origem_nome}}
                    </td>
                  </tr>
                  <tr *ngIf="proposicao.proposicao_data_apresentacao">
                    <th>
                      Data de apresentação:
                    </th>
                    <td>
                      {{proposicao.proposicao_data_apresentacao}}
                    </td>
                  </tr>
                  <tr *ngIf="proposicao.proposicao_area_interesse_nome">
                    <th>
                      Área de interesse:
                    </th>
                    <td>
                      {{proposicao.proposicao_area_interesse_nome}}
                    </td>
                  </tr>
                  <tr *ngIf="proposicao.proposicao_area_interesse_nome">
                    <th>
                      Área de interesse:
                    </th>
                    <td>
                      {{proposicao.proposicao_area_interesse_nome}}
                    </td>
                  </tr>
                  <tr *ngIf="proposicao.proposicao_parecer">
                    <th>
                      Parecer:
                    </th>
                    <td>
                      {{proposicao.proposicao_parecer}}
                    </td>
                  </tr>
                  <tr *ngIf="proposicao.proposicao_orgao_nome">
                    <th>
                      Orgão Atual:
                    </th>
                    <td>
                      {{proposicao.proposicao_orgao_nome}}
                    </td>
                  </tr>


                  <tr *ngIf="proposicao.proposicao_ementa" class="novaPagina">
                    <th colspan="2" class="tituloEditor">
                      Ementa:
                      <div *ngIf="proposicao.proposicao_ementa" style="margin-top: .25em">
                        <quill-view-html #ementa id="ementa" [content]="proposicao.proposicao_ementa" class="detalhe"></quill-view-html>
                      </div>
                    </th>
                  </tr>

                  <tr *ngIf="proposicao.proposicao_texto" class="novaPagina">
                    <th colspan="2" class="tituloEditor">
                      Texto:
                      <div *ngIf="proposicao.proposicao_texto" style="margin-top: .25em">
                        <quill-view-html #texto id="texto" [content]="proposicao.proposicao_texto" class="detalhe"></quill-view-html>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <td colspan="2" style="padding-left: 0; padding-right: 0">
                      <app-arquivo
                        [modulo]="'proposicao'"
                        [modelo]="'excluir'"
                        [registro_id]="proposicao.proposicao_id"
                        (onBlockSubmit)="onBlockSubmit($event)"
                      ></app-arquivo>
                    </td>
                  </tr>
                </table>
            </div>

            <div class="p-field p-col-12"><br></div>

            <div class="p-field p-col-12">
              <table *ngIf="andamento_proposicao" class="table-hover tabelasimples" #tabandamento id="tabandamento">
                <caption>ANDAMENTO</caption>
                <tr>
                  <th>
                    Data:
                  </th>
                  <th>
                    Redator:
                  </th>
                  <th>
                    Orgão:
                  </th>
                  <th>
                    Situação:
                  </th>
                </tr>
                <ng-container *ngFor="let and of andamento_proposicao">
                  <tr>
                    <td>
                      {{and.andamento_proposicao_data}}
                    </td>
                    <td>
                      {{and.andamento_proposicao_relator_atual}}
                    </td>
                    <td>
                      {{and.andamento_proposicao_orgao_nome}}
                    </td>
                    <td>
                      {{and.andamento_proposicao_situacao_nome}}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <span [innerHTML]="and.andamento_proposicao_texto"></span>
                    </td>
                  </tr>
                </ng-container>
              </table>
            </div>
          </div>
        </div>
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
    </div>

    <div class="p-fluid formulario-bg-externo">
      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-grid p-input-filled">

            <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
              <div class="p-col-12 formulario">
                <!--*** Botões ***-->
                <div class="p-d-flex p-jc-start p-pb-2">
                  <div class="p-mr-2">
                    <button
                      pButton
                      [disabled]="apagarAtivo || botaoEnviarInativo"
                      type="button"
                      class="p-button-rounded p-button-danger"
                      (click)="showDialog()"
                      label="APAGAR"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      [disabled]="botoesInativos"
                      label="Voltar"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="p-fluid formulario-bg-externo">
      <div class="p-grid formulario-bg-externo">
        <div class="p-col-12"> </div>
        <div class="p-col-12"> </div>
      </div>
    </div>
  </div>
</p-scrollPanel>

<p-toast key="proposicaoToast" [style]="{marginTop: '80px'}" (onClose)="voltarListar()"></p-toast>
<p-toast key="proposicaoErro" [style]="{marginTop: '80px'}"></p-toast>
<p-dialog header="ATENÇÃO" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <p>Deseja excluir permanetemente esta proposição?</p>
  <p-footer>
    <button type="button" class="p-button-rounded p-button-danger" pButton icon="pi pi-check" (click)="excluirProposicao()" label="Sim"></button>
    <button type="button" class="p-button-rounded p-button-secondary" pButton icon="pi pi-close" (click)="display=false" label="Não"></button>
  </p-footer>
</p-dialog>
