div#topo-config.layout-config-active {
  transform: translate(0);
}

div#topo-config .layout-config-button-mn.layout-config-active i {
  transform: rotate(0);
  transition: transform 1s;
  color: var(--text-color-secondary);
}

div#topo-config .layout-config-button-mn i {
  font-size: 1.4rem;
  line-height: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 1s;
}

div#topo-config .layout-config-button-mn:hover {
  transform: scale(1.1);
}
