<div class="formulariotelefone" style="background-color: var(--formulario-bg-externo-color);">
  <form [formGroup]="formPassagem">
    <div class="inline-block">

      <div class="flex justify-content-center">
        <div class="mt-1 mb-1 pt-2 px-3 pb-1">
        </div>
      </div>
      <div class="grid">
        <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
          <div class="grid p-input-filled">


            <div class="col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6 formulario">
              <div class="formgrid grid formulario">

                <!-- passagem_beneficiario -->
                <div class="field col-12" [ngClass]="aplicaCssErro('passagem_beneficiario')">
                  <label for="passagem_beneficiario"><span class="atencao">*</span>Beneficiário</label>
                  <p-autoComplete
                    id="passagem_beneficiario"
                    formControlName="passagem_beneficiario"
                    [maxlength]="50"
                    [minLength]="3"
                    [size]="40"
                    [delay]="500"
                    [suggestions]="sgt"
                    dropdownMode="current"
                    (completeMethod)="autoComp($event)"
                  ></p-autoComplete>
                  <app-campo-control-erro msgErro="Beneficiário é obrigatório."></app-campo-control-erro>
                </div>

                <!-- passagem_data -->
                <div class="field col-12" [ngClass]="aplicaCssErro('passagem_data')">
                  <div style="float: left; margin-right: 7px">
                    <label for="passagem_data"><span class="atencao">*</span>Data</label>
                    <p-calendar
                      id="passagem_data"
                      formControlName="passagem_data"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="2000:2035"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                      [styleClass]="'estreito'"
                    ></p-calendar>
                    <app-campo-control-erro msgErro="Data é obrigatório."></app-campo-control-erro>
                  </div>

                  <!-- passagem_hora -->
                  <div>
                    <label for="passagem_hora">Hora</label>
                    <p-calendar
                      id="passagem_hora"
                      formControlName="passagem_hora"
                      placeholder="hh:mm"
                      dataType="string"
                      hourFormat="24"
                      [timeOnly]="true"
                      [styleClass]="'estreito'"
                    ></p-calendar>
                  </div>
                </div>


                <!-- passagem_trecho -->
                <div class="field col-12" [ngClass]="aplicaCssErro('passagem_trecho')">
                  <label for="passagem_trecho"><span class="atencao">*</span>Trecho</label>
                  <p-autoComplete
                    id="passagem_trecho"
                    formControlName="passagem_trecho"
                    [maxlength]="150"
                    [minLength]="3"
                    [size]="40"
                    [delay]="500"
                    [suggestions]="sgt2"
                    dropdownMode="current"
                    (completeMethod)="autoComp2($event)"
                  ></p-autoComplete>
                  <app-campo-control-erro msgErro="Trecho é obrigatório."></app-campo-control-erro>
                </div>

                <!--*** passagem_aerolinha_id ***-->
                <div class="field col-12" [ngClass]="aplicaCssErro('passagem_aerolinha_id')">
                  <label for="passagem_aerolinha_id"><span class="atencao">*</span>Companhia aerea</label>
                  <p-dropdown
                    id="passagem_aerolinha_id"
                    formControlName="passagem_aerolinha_id"
                    placeholder="Selecione"
                    [options]="ddPassagem_aerolinha_id"
                    [required]="true"
                    [style]="{'width':'100%','max-width':'311px'}"
                  ></p-dropdown>
                  <app-campo-control-erro msgErro="Companhia aerea é obrigatório.">
                  </app-campo-control-erro>
                </div>

                <!-- passagem_voado_id -->
                <div class="field col-12" [ngClass]="aplicaCssErro('passagem_voado_id')">
                  <label for="passagem_voado_id"><span *ngIf="acao !== 'alterar'" class="atencao">*</span>Voado
                    S/N</label>
                  <p-selectButton
                    id="passagem_voado_id"
                    [options]="ddPassagem_voado_id"
                    formControlName="passagem_voado_id"
                  ></p-selectButton>
                  <app-campo-control-erro msgErro="Voado S/N é obrigatório."></app-campo-control-erro>
                </div>


              </div>
            </div>
            <div class="col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6 formulario">
              <div class="formgrid grid formulario">

                <!-- passagem_valor -->
                <div class="field col-12">
                  <label for="passagem_valor">Valor</label>
                  <input
                    id="passagem_valor"
                    formControlName="passagem_valor"
                    type="text"
                    [size]="40"
                    [maxlength]="40"
                    pKeyFilter="money"
                    pInputText
                  />
                </div>

                <!-- passagem_voo -->
                <div class="field col-12">
                  <label for="passagem_voo">Voo</label>
                  <input
                    id="passagem_voo"
                    formControlName="passagem_voo"
                    type="text"
                    [size]="40"
                    [maxlength]="45"
                    pInputText
                  />
                </div>

                <!-- passagem_localizador -->
                <div class="field col-12">
                  <label for="passagem_localizador">Localizador</label>
                  <input
                    id="passagem_localizador"
                    formControlName="passagem_localizador"
                    type="text"
                    [size]="40"
                    [maxlength]="45"
                    pInputText
                  />
                </div>

                <!-- agenda -->
                <div *ngIf="acao !== 'alterar'" class="field col-12">
                  <label for="agenda">Lembrete na agenda</label>
                  <p-inputSwitch
                    id="agenda"
                    formControlName="agenda"
                  ></p-inputSwitch>
                </div>

                <!-- passagem_observacao -->
                <div class="field col-12">
                  <label for="passagem_observacao">Observações</label>
                  <textarea
                    id="passagem_observacao"
                    formControlName="passagem_observacao"
                    [rows]="5"
                    [cols]="40"
                    pInputTextarea
                    [autoResize]="true"
                    style="max-width :90%"
                  ></textarea>
                </div>

              </div>
            </div>


          </div>
        </div>
        <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno"></div>
      </div>

    </div>

    <div class="grid">
      <div class="col-10 p-offset-1" style="background-color: var(--formulario-bg-externo-color);">&nbsp;</div>
    </div>

    <div class="inline-block">
      <div class="grid">
        <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
          <div class="grid p-input-filled">
            <div class="col-12 formulario">
              <!--*** Botões ***-->
              <div class="flex justify-content-start pb-2 pt-2">
                <div class="inline-flex">
                  <div class="mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded"
                      [disabled]="!formPassagem.valid || !mostraForm"
                      (click)="enviarPassagem()"
                      label="Enviar"
                    ></button>
                  </div>
                  <div class="mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Limpar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                  <div class="mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Fechar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col-10 p-offset-1">&nbsp;</div>
    </div>

  </form>
</div>

