
<p-scrollPanel class="detalhe">
  <table #detalhesolicitacao class="detalhefull">
    <tr>
      <td>

        <table #detsolicitacao class="table-hover tabela">
          <caption>SOLICITAÇÃO</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th colspan="2">
              SOLICITAÇÃO
            </th>
          </tr>
          </thead>
          <tbody class="detalhe-horiz">
          <tr>
            <td>
              Situação:
            </td>
            <td>
              {{sol.solicitacao_situacao}}
            </td>
          </tr>
          <tr>
            <td>
              Status:
            </td>
            <td>
              {{sol.solicitacao_status_nome}}
            </td>
          </tr>
          <tr>
            <td>
              Solicitante:
            </td>
            <td>
              {{sol.solicitacao_cadastro_nome}}
            </td>
          </tr>
          <tr>
            <td>
              Tipo de Solicitante:
            </td>
            <td>
              {{sol.solicitacao_cadastro_tipo_nome}}
            </td>
          </tr>
          <tr>
            <td>
              Data:
            </td>
            <td>
              {{sol.solicitacao_data}}
            </td>
          </tr>
          <tr>
            <td>
              Assunto:
            </td>
            <td>
              {{sol.solicitacao_assunto_nome}}
            </td>
          </tr>
          <tr>
            <td>
              Área de interesse:
            </td>
            <td>
              {{sol.solicitacao_area_interesse_nome}}
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_orgao">
            <td>
              Orgão solicitado:
            </td>
            <td>
              {{sol.solicitacao_orgao}}
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_numero_oficio">
            <td>
              Num. ofício:
            </td>
            <td>
              {{sol.solicitacao_numero_oficio}}
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_local_nome">
            <td>
              Núcleo:
            </td>
            <td>
              {{sol.solicitacao_local_nome}}
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_indicacao_sn">
            <td>
              Indicação S/N:
            </td>
            <td>
              {{sol.solicitacao_indicacao_sn}}
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_indicacao_nome">
            <td>
              Indicação:
            </td>
            <td>
              {{sol.solicitacao_indicacao_nome}}
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_reponsavel_analize_nome">
            <td>
              Responsável:
            </td>
            <td>
              {{sol.solicitacao_reponsavel_analize_nome}}
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_data_atendimento">
            <td>
              Dt. Atendimento:
            </td>
            <td>
              {{sol.solicitacao_data_atendimento}}
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_atendente_cadastro_nome">
            <td>
              Atendente:
            </td>
            <td>
              {{sol.solicitacao_atendente_cadastro_nome}}
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_cadastrante_cadastro_nome">
            <td>
              Cadastrante:
            </td>
            <td>
              {{sol.solicitacao_cadastrante_cadastro_nome}}
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_tipo_recebimento_nome">
            <td>
              Tp. Recebimento:
            </td>
            <td>
              {{sol.solicitacao_tipo_recebimento_nome}}
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_descricao">
            <td colspan="2" class="tituloEditor">
              Descrição:
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_descricao">
            <td colspan="2" id="solicitacao_descricao3">
              <quill-view [content]="sol.solicitacao_descricao" [format]="'html'" theme="snow"></quill-view>
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_aceita_recusada" class="novaPagina">
            <td colspan="2" class="tituloEditor">
              Observações:
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_aceita_recusada" class="novaPagina">
            <td colspan="2">
              <quill-view [content]="sol.solicitacao_aceita_recusada" [format]="'html'" theme="snow"></quill-view>
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_carta" class="novaPagina">
            <td colspan="2" class="tituloEditor">
              Resposta:
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_carta">
            <td colspan="2">
              <quill-view [content]="sol.solicitacao_carta" [format]="'html'" theme="snow"></quill-view>
            </td>
          </tr>
          <tr *ngIf="sol.solicitacao_arquivos.length > 0 && aut.arquivos_baixar" >
            <th colspan="2">
              Arquivos:
            </th>
          </tr>
          <tr *ngIf="sol.solicitacao_arquivos.length > 0 && aut.arquivos_baixar">
            <td colspan="2">
              <app-detalhe-explorer [arquivos]="sol.solicitacao_arquivos"></app-detalhe-explorer>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>

<!--    <tr *ngIf="textoEditor" class="novaPagina">
      <td></td>
    </tr>-->

    <tr>
      <td>
        <br>

        <table *ngIf="sol.cadastro_id" class="table-hover tabela">
          <caption>SOLICITANTE</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th colspan="2">
              SOLICITANTE
            </th>
          </tr>
          </thead>
          <tbody class="detalhe-horiz">
          <tr>
            <th style="width: 3%;" nowrap>
              Tipo de Cadastro:
            </th>
            <td>
              {{sol.solicitacao_cadastro_tipo_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Tratamento:
            </th>
            <td>
              {{sol.cadastro_tratamento_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Nome/Rasão Social:
            </th>
            <td>
              {{sol.solicitacao_cadastro_nome}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_responsavel">
            <th>
              Empresa/Responsável:
            </th>
            <td>
              {{sol.cadastro_responsavel}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_cargo && aut.cadastro_listar">
            <th>
              Cargo:
            </th>
            <td>
              {{sol.cadastro_cargo}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_profissao && aut.cadastro_listar">
            <th>
              Profissão:
            </th>
            <td>
              {{sol.cadastro_profissao}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_endereco && aut.cadastro_listar">
            <th>
              Endereço:
            </th>
            <td>
              {{sol.cadastro_endereco}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_endereco_numero && aut.cadastro_listar">
            <th>
              Número:
            </th>
            <td>
              {{sol.cadastro_endereco_numero}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_endereco_complemento && aut.cadastro_listar">
            <th>
              Complemento:
            </th>
            <td>
              {{sol.cadastro_endereco_complemento}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_bairro">
            <th>
              Bairro:
            </th>
            <td>
              {{sol.cadastro_bairro}}
            </td>
          </tr>
          <tr>
            <th>
              Município:
            </th>
            <td>
              {{sol.cadastro_municipio_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Estado:
            </th>
            <td>
              {{sol.cadastro_estado_nome}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_cep && aut.cadastro_listar">
            <th>
              CEP:
            </th>
            <td>
              {{sol.cadastro_cep}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_regiao_nome">
            <th>
              Região:
            </th>
            <td>
              {{sol.cadastro_regiao_nome}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_grupo_nome">
            <th>
              Grupo:
            </th>
            <td>
              {{sol.cadastro_grupo_nome}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_cpfcnpj && aut.cadastro_listar">
            <th>
              CPF/CNPJ:
            </th>
            <td>
              {{sol.cadastro_cpfcnpj}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_telefone && aut.cadastro_listar">
            <th>
              Telefone 1:
            </th>
            <td>
              {{sol.cadastro_telefone}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_telefone2 && aut.cadastro_listar">
            <th>
              Telefone 2:
            </th>
            <td>
              {{sol.cadastro_telefone2}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_telcom && aut.cadastro_listar">
            <th>
              Telefone comercial:
            </th>
            <td>
              {{sol.cadastro_telcom}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_celular && aut.cadastro_listar">
            <th>
              Celular 1:
            </th>
            <td>
              {{sol.cadastro_celular}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_celular2 && aut.cadastro_listar">
            <th>
              Celular 2:
            </th>
            <td>
              {{sol.cadastro_celular2}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_fax && aut.cadastro_listar">
            <th>
              WhatsApp:
            </th>
            <td>
              {{sol.cadastro_fax}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_email && aut.cadastro_listar">
            <th>
              E-mail 1:
            </th>
            <td>
              {{sol.cadastro_email}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_email2 && aut.cadastro_listar">
            <th>
              E-mail 2:
            </th>
            <td>
              {{sol.cadastro_email2}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_rede_social && aut.cadastro_listar">
            <th>
              Facebook:
            </th>
            <td>
              {{sol.cadastro_rede_social}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_outras_midias && aut.cadastro_listar">
            <th>
              Outras mídias:
            </th>
            <td>
              {{sol.cadastro_outras_midias}}
            </td>
          </tr>
          <tr *ngIf="sol.cadastro_arquivos.length > 0 && aut.cadastro_listar && aut.arquivos_baixar">
            <th colspan="2">
              Arquivos:
            </th>
          </tr>
          <tr *ngIf="sol.cadastro_arquivos.length > 0 && aut.cadastro_listar && aut.arquivos_baixar">
            <td colspan="2">
              <app-detalhe-explorer [arquivos]="sol.cadastro_arquivos"></app-detalhe-explorer>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>

    <tr *ngIf="sol.historico_solicitcao.length > 0" class="novaPagina">
      <td>
        <br>

        <table class="table-hover tabela">
          <caption>ANDAMENTOS DA SOLICITAÇÃO</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th colspan="2">
              ANDAMENTOS DA SOLICITAÇÃO
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th style="width: 3%;" nowrap>
              Data:
            </th>
            <th>
              Andamento:
            </th>
          </tr>
          <tr *ngFor="let ands of sol.historico_solicitcao">
            <td style="width: 3%; vertical-align:top;" nowrap>
              {{ands.historico_data}}
            </td>
            <td>
              <app-quill-view [cpdelta]="ands.historico_andamento_delta" [cphtml]="ands.historico_andamento"></app-quill-view>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>

    <tr *ngIf="vs.solicitacaoVersao === 1 && sol.processo_id && aut.processo_listar">
      <td>
        <br>

        <table class="table-hover tabela">
          <caption>PROCESSO</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th colspan="2">
              PROCESSO
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="sol.processo_status_nome">
            <th style="width: 3%;" nowrap>
              Situação:
            </th>
            <td>
              {{sol.processo_status_nome}}.
            </td>
          </tr>
          <tr *ngIf="sol.processo_numero">
            <th>
              Número do processo:
            </th>
            <td>
              {{sol.processo_numero}}.
            </td>
          </tr>
          <tr *ngIf="sol.processo_arquivos.length > 0 && aut.arquivos_baixar">
            <th colspan="2">
              Arquivos:
            </th>
          </tr>
          <tr *ngIf="sol.processo_arquivos.length > 0 && aut.arquivos_baixar">
            <td colspan="2">
              <app-detalhe-explorer [arquivos]="sol.processo_arquivos"></app-detalhe-explorer>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>

    <tr *ngIf="vs.solicitacaoVersao === 1 && sol.historico_processo.length > 0 && aut.processo_listar" class="novaPagina">
      <td>
        <br>

        <table class="table-hover tabela">
          <caption>ANDAMENTOS DO PROCESSO</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th colspan="2">
              ANDAMENTOS DO PROCESSO
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th style="width: 3%;" nowrap>
              Data:
            </th>
            <th>
              Andamento:
            </th>
          </tr>
          <tr *ngFor="let andp of sol.historico_processo">
            <td style="width: 3%; vertical-align:top;" nowrap>
              {{andp.historico_data}}
            </td>
            <td>
              <quill-view [content]="andp.historico_andamento_delta" [format]="'html'" theme="snow"></quill-view>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>

    <tr *ngIf="vs.solicitacaoVersao === 1 && sol.oficio.length > 0 && aut.oficio">
      <td>
        <br>

        <table class="table-hover tabela">
          <caption>OFÍCIO(S)</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th>
              OFÍCIO(S)
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ofi of sol.oficio">
            <td style="background-color: #fff">
              <br>
              <table class="table-hover tabela">
                <caption>OFÍCIO</caption>
                <thead class="detalheTitulo-horiz">
                <tr>
                  <th colspan="2">
                    OFÍCIO
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="ofi.oficio_numero">
                  <th style="width: 3%;" nowrap>
                    Número:
                  </th>
                  <td>
                    {{ofi.oficio_numero}}.
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_codigo">
                  <th style="width: 3%;" nowrap>
                    Código:
                  </th>
                  <td>
                    {{ofi.oficio_codigo}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_status">
                  <th style="width: 3%;" nowrap>
                    Situação:
                  </th>
                  <td>
                    {{ofi.oficio_status}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_convenio && aut.oficio_listar">
                  <th>
                    Convênio:
                  </th>
                  <td>
                    {{ofi.oficio_convenio}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_prioridade_nome && aut.oficio_listar">
                  <th>
                    Prioridade:
                  </th>
                  <td>
                    {{ofi.oficio_prioridade_nome}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_data_emissao && aut.oficio_listar">
                  <th style="width: 3%;" nowrap>
                    Data emissão:
                  </th>
                  <td>
                    {{ofi.oficio_data_emissao}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_data_recebimento && aut.oficio_listar">
                  <th>
                    Data recebimento:
                  </th>
                  <td>
                    {{ofi.oficio_data_recebimento}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_orgao_solicitado_nome && aut.oficio_listar">
                  <th>
                    Orgão solicitado:
                  </th>
                  <td>
                    {{ofi.oficio_orgao_solicitado_nome}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_data_protocolo && aut.oficio_listar">
                  <th>
                    Data protocolo:
                  </th>
                  <td>
                    {{ofi.oficio_data_protocolo}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_protocolo_numero && aut.oficio_listar">
                  <th>
                    Número do protocolo:
                  </th>
                  <td>
                    {{ofi.oficio_protocolo_numero}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_orgao_protocolante_nome && aut.oficio_listar">
                  <th>
                    Orgão protocolante:
                  </th>
                  <td>
                    {{ofi.oficio_orgao_protocolante_nome}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_prazo && aut.oficio_listar">
                  <th>
                    Praso:
                  </th>
                  <td>
                    {{ofi.oficio_prazo}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_tipo_andamento_nome && aut.oficio_listar">
                  <th>
                    Tipo de andamento:
                  </th>
                  <td>
                    {{ofi.oficio_tipo_andamento_nome}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_tipo_recebimento_nome && aut.oficio_listar">
                  <th>
                    Tipo de recebimento:
                  </th>
                  <td>
                    {{ofi.oficio_tipo_recebimento_nome}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_valor_solicitado && aut.oficio_listar">
                  <th>
                    Valor solicitado:
                  </th>
                  <td>
                    {{ofi.oficio_valor_solicitado}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_valor_recebido && aut.oficio_listar">
                  <th>
                    Valor recebido:
                  </th>
                  <td>
                    {{ofi.oficio_valor_recebido}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_data_pagamento && aut.oficio_listar">
                  <th>
                    Data pagamento:
                  </th>
                  <td>
                    {{ofi.oficio_data_pagamento}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_data_empenho && aut.oficio_listar">
                  <th>
                    Data empenho:
                  </th>
                  <td>
                    {{ofi.oficio_data_empenho}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_descricao_acao" class="novaPagina">
                  <th colspan="2" class="tituloEditor">
                    Descrição:
                  </th>
                </tr>
                <tr *ngIf="ofi.oficio_descricao_acao && aut.oficio_listar">
                  <td colspan="2">
                    <quill-view [content]="ofi.oficio_descricao_acao" [format]="'html'" theme="snow"></quill-view>
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_arquivos.length > 0 && aut.oficio_listar && aut.arquivos_baixar">
                  <th colspan="2">
                    Arquivos:
                  </th>
                </tr>
                <tr *ngIf="ofi.oficio_arquivos.length > 0 && aut.oficio_listar && aut.arquivos_baixar">
                  <td colspan="2">
                    <app-detalhe-explorer [arquivos]="ofi.oficio_arquivos"></app-detalhe-explorer>
                  </td>
                </tr>
                </tbody>
              </table>
              <br>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </table>
  <br>
</p-scrollPanel>

<div class="botoesdetalhe">
  <button pButton type="button" label="FECHAR" icon="pi pi-times" class="p-button-rounded" (click)="fechar()"></button>
  &nbsp;&nbsp;
  <app-exporter-detalhe [arquivoNome]="'solicitacao_detalhes'" [classe]="'tabela'"></app-exporter-detalhe>
  <!--<button pButton type="button" icon="pi pi-file-pdf" label="PDF"
          class="p-button-rounded p-button-secondary"
          (click)="getPdf2()"></button>-->
  &nbsp;&nbsp;
  <app-impressao-botao [dados]="['SOLICITAÇÃO',detalhesolicitacao]"></app-impressao-botao>
</div>

