<p-scrollPanel class="detalhe">
  <table class="detalhefull">
    <tr>
      <td>
        <table class="table-hover tabela">
          <caption>SOLICITAÇÃO</caption>
          <tr>
            <th>
              Posição:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_posicao}}
            </td>
          </tr>
          <tr>
            <th>
              Solicitante:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_cadastro_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Tipo de Solicitante:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_cadastro_tipo_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Data:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_data}}
            </td>
          </tr>
          <tr>
            <th>
              Assunto:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_assunto_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Área de interesse:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_area_interesse_nome}}
            </td>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_orgao">
            <th>
              Orgão solicitado:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_orgao}}
            </td>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_numero_oficio">
            <th>
              Num. ofício:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_numero_oficio}}
            </td>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_local_nome">
            <th>
              Núcleo:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_local_nome}}
            </td>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_indicacao_sn">
            <th>
              Indicação S/N:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_indicacao_sn}}
            </td>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_indicacao_nome">
            <th>
              Indicação:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_indicacao_nome}}
            </td>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_reponsavel_analize_nome">
            <th>
              Responsável:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_reponsavel_analize_nome}}
            </td>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_data_atendimento">
            <th>
              Dt. Atendimento:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_data_atendimento}}
            </td>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_atendente_cadastro_nome">
            <th>
              Atendente:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_atendente_cadastro_nome}}
            </td>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_cadastrante_cadastro_nome">
            <th>
              Cadastrante:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_cadastrante_cadastro_nome}}
            </td>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_tipo_recebimento_nome">
            <th>
              Tp. Recebimento:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_tipo_recebimento_nome}}
            </td>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_aceita_sn">
            <th>
              Aceita S/N:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_aceita_sn}}
            </td>
          </tr>

          <tr *ngIf="detalhe.solicitacao.solicitacao_descricao" class="novaPagina">
            <th colspan="2" class="tituloEditor">
              <span style="font-weight: bold">Descrição:</span>
              <div *ngIf="detalhe.solicitacao.solicitacao_descricao">
                <quill-view-html id="descricao" #descricao [content]="detalhe.solicitacao.solicitacao_descricao"
                                 class="detalhe"></quill-view-html>
              </div>
            </th>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_aceita_recusada" class="novaPagina">
            <th colspan="2" class="tituloEditor">
              <span style="font-weight: bold">Observações:</span>
              <div>
                <quill-view-html id="observacao" #observacao [content]="detalhe.solicitacao.solicitacao_aceita_recusada"
                                 class="detalhe"></quill-view-html>
              </div>
            </th>
          </tr>
          <tr *ngIf="detalhe.solicitacao.solicitacao_carta" class="novaPagina">
            <th colspan="2" class="tituloEditor">
              <span style="font-weight: bold">Resposta:</span>
              <div>
                <quill-view-html id="carta" #carta [content]="detalhe.solicitacao.solicitacao_carta"
                                 class="detalhe"></quill-view-html>
              </div>
            </th>
          </tr>
        </table>

      </td>
    </tr>
    <tr>
      <td>
        <br>

        <app-arquivo
          [modulo]="'solicitacao'"
          [modelo]="'detalhe'"
          [registro_id]="detalhe.solicitacao.solicitacao_id"
        ></app-arquivo>
      </td>
    </tr>
    <tr *ngIf="textoEditor" class="novaPagina">
      <td></td>
    </tr>
    <tr *ngIf="detalhe.historico_solicitcao" class="novaPagina">
      <td>
        <br>
        <table class="table-hover tabela">
          <caption>ANDAMENTOS DA SOLICITAÇÃO</caption>
          <tr>
            <th>
              Data:
            </th>
            <th>
              Andamento:
            </th>
          </tr>
          <tr *ngFor="let ands of detalhe.historico_solicitcao">
            <td>
              {{ands.historico_data}}
            </td>
            <td>
              <quill-view-html id="ands" [content]="ands.historico_andamento"
                               class="detalhe"></quill-view-html>
            </td>
          </tr>
        </table>


      </td>
    </tr>
    <tr>
      <td>
        <br>

        <table *ngIf="detalhe.cadastro" class="table-hover tabela">
          <caption>SOLICITANTE</caption>
          <tr>
            <th>
              Tipo de Cadastro:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_cadastro_tipo_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Tratamento:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_tratamento_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Nome/Rasão Social:
            </th>
            <td>
              {{detalhe.solicitacao.solicitacao_cadastro_nome}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_responsavel">
            <th>
              Empresa/Responsável:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_responsavel}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_cargo">
            <th>
              Cargo:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_cargo}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_profissao">
            <th>
              Profissão:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_profissao}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_endereco">
            <th>
              Endereço:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_endereco}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_endereco_numero">
            <th>
              Número:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_endereco_numero}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_endereco_complemento">
            <th>
              Complemento:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_endereco_complemento}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_bairro">
            <th>
              Bairro:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_bairro}}
            </td>
          </tr>
          <tr>
            <th>
              Município:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_municipio_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Estado:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_estado_nome}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_cep">
            <th>
              CEP:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_cep}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_regiao_nome">
            <th>
              Região:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_regiao_nome}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_grupo_nome">
            <th>
              Grupo:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_grupo_nome}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_cpfcnpj">
            <th>
              CPF/CNPJ:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_cpfcnpj}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_telefone">
            <th>
              Telefone 1:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_telefone}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_telcom">
            <th>
              Telefone 2:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_telcom}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_telefone2">
            <th>
              Telefone 3:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_telefone2}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_celular">
            <th>
              Celular 1:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_celular}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_celular2">
            <th>
              Celular 2:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_celular2}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_fax">
            <th>
              WhatsApp:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_fax}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_email">
            <th>
              E-mail 1:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_email}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_email2">
            <th>
              E-mail 2:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_email2}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_rede_social">
            <th>
              Facebook:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_rede_social}}
            </td>
          </tr>
          <tr *ngIf="detalhe.cadastro.cadastro_outras_midias">
            <th>
              Outras mídias:
            </th>
            <td>
              {{detalhe.cadastro.cadastro_outras_midias}}
            </td>
          </tr>

        </table>

      </td>
    </tr>
    <tr>
      <td>
        <br>
        <app-arquivo
          [modulo]="'cadastro'"
          [modelo]="'detalhe'"
          [registro_id]="detalhe.cadastro.cadastro_id"
        ></app-arquivo>
      </td>
    </tr>
    <tr *ngIf="detalhe.processo">
      <td>
        <br>

        <table class="table-hover tabela">
          <caption>PROCESSO</caption>
          <tr *ngIf="detalhe.processo.processo_status">
            <th>
              Situação:
            </th>
            <td>
              {{detalhe.processo.processo_status}}.
            </td>
          </tr>
          <tr *ngIf="detalhe.processo.processo_numero">
            <th>
              Número do processo:
            </th>
            <td>
              {{detalhe.processo.processo_numero}}.
            </td>
          </tr>
        </table>

      </td>
    </tr>
    <tr *ngIf="detalhe.historico_processo" class="novaPagina">
      <td>
        <br>
        <table class="table-hover tabela">
          <caption>ANDAMENTOS DO PROCESSO</caption>
          <tr>
            <th>
              Data:
            </th>
            <th>
              Andamento:
            </th>
          </tr>
          <tr *ngFor="let andp of detalhe.historico_processo">
            <td>
              {{andp.historico_data}}
            </td>
            <td>
              <quill-view-html id="andp" [content]="andp.historico_andamento"
                               class="detalhe"></quill-view-html>
            </td>
          </tr>
        </table>


      </td>
    </tr>
    <tr *ngIf="detalhe.oficio">
      <td>
        <br>
        <table class="table-hover tabela">
          <caption>OFÍCIO(S)</caption>
          <tr *ngFor="let ofi of detalhe.oficio">
            <td style="background-color: #fff">
              <br>
              <table class="table-hover tabela">
                <caption>OFÍCIO</caption>
                <tr *ngIf="ofi.oficio_numero">
                  <th>
                    Número:
                  </th>
                  <td>
                    {{ofi.oficio_numero}}.
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_codigo">
                  <th>
                    Código:
                  </th>
                  <td>
                    {{ofi.oficio_codigo}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_status">
                  <th>
                    Posição:
                  </th>
                  <td>
                    {{ofi.oficio_status}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_convenio">
                  <th>
                    Convênio:
                  </th>
                  <td>
                    {{ofi.oficio_convenio}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_prioridade_nome">
                  <th>
                    Prioridade:
                  </th>
                  <td>
                    {{ofi.oficio_prioridade_nome}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_data_emissao">
                  <th>
                    Data emissão:
                  </th>
                  <td>
                    {{ofi.oficio_data_emissao}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_data_recebimento">
                  <th>
                    Data recebimento:
                  </th>
                  <td>
                    {{ofi.oficio_data_recebimento}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_orgao_solicitado_nome">
                  <th>
                    Orgão solicitado:
                  </th>
                  <td>
                    {{ofi.oficio_orgao_solicitado_nome}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_data_protocolo">
                  <th>
                    Data protocolo:
                  </th>
                  <td>
                    {{ofi.oficio_data_protocolo}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_protocolo_numero">
                  <th>
                    Número do protocolo:
                  </th>
                  <td>
                    {{ofi.oficio_protocolo_numero}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_orgao_protocolante_nome">
                  <th>
                    Orgão protocolante:
                  </th>
                  <td>
                    {{ofi.oficio_orgao_protocolante_nome}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_prazo">
                  <th>
                    Praso:
                  </th>
                  <td>
                    {{ofi.oficio_prazo}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_tipo_andamento_nome">
                  <th>
                    Tipo de andamento:
                  </th>
                  <td>
                    {{ofi.oficio_tipo_andamento_nome}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_tipo_recebimento_nome">
                  <th>
                    Tipo de recebimento:
                  </th>
                  <td>
                    {{ofi.oficio_tipo_recebimento_nome}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_valor_solicitado">
                  <th>
                    Valor solicitado:
                  </th>
                  <td>
                    {{ofi.oficio_valor_solicitado}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_valor_recebido">
                  <th>
                    Valor recebido:
                  </th>
                  <td>
                    {{ofi.oficio_valor_recebido}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_data_pagamento">
                  <th>
                    Data pagamento:
                  </th>
                  <td>
                    {{ofi.oficio_data_pagamento}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_data_empenho">
                  <th>
                    Data empenho:
                  </th>
                  <td>
                    {{ofi.oficio_data_empenho}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_descricao_acao" class="novaPagina">
                  <th colspan="2" class="tituloEditor">
                    Descrição:
                  </th>
                </tr>
                <tr *ngIf="ofi.oficio_descricao_acao">
                  <td colspan="2">
                    <quill-view-html id="oficio_descricao_acao" #oficio_descricao_acao
                                     [content]="ofi.oficio_descricao_acao" class="detalhe"></quill-view-html>
                  </td>
                </tr>
                <tr>
                  <th colspan="2">
                    <br>
                    <app-arquivo
                      [modulo]="'oficio'"
                      [modelo]="'detalhe'"
                      [registro_id]="ofi.oficio_id"
                    ></app-arquivo>
                  </th>
                </tr>
              </table>

              <br>

            </td>
          </tr>


        </table>

      </td>
    </tr>
  </table>
  <br>
</p-scrollPanel>

<div class="botoesdetalhe">
  <button pButton type="button" label="FECHAR" icon="pi pi-times" class="p-button-rounded" (click)="fechar()"></button>
  &nbsp;&nbsp;
  <button pButton type="button" icon="pi pi-file-pdf" label="PDF"
          class="p-button-rounded p-button-secondary"
          (click)="getPdf(false)"></button>
  &nbsp;&nbsp;
  <button pButton type="button" icon="pi pi-print" label="IMPRIMIR"
          class="p-button-rounded p-button-secondary"
          (click)="getPdf(true)"></button>
</div>

