<!--<div class="card">
  <div style="text-align:center; background-color: var(&#45;&#45;primary-color); height: 48px;">
    <div style="color: var(&#45;&#45;claro); padding-top: .8em"><h5>NÚCLEOS</h5></div>
  </div>-->
<p-table
    [value]="ns.locais"
    dataKey="local_id"
    [tableStyle]="{'font-size':'var(--font-padrao)'}"
    styleClass="tablistagem p-datatable-sm p-datatable-striped p-datatable-gridlines p-selectable-row"
  >
    <ng-template pTemplate="header">
      <tr style="font-size: small;">
        <th>Nome</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Responsável</th>
        <th>Cor</th>
        <th colspan="2" style="text-align:left;width: 7rem;">
          <button *ngIf="perIncluir" pButton type="button" icon="pi pi-plus" (click)="onIncluindo()" class="p-button-raised p-button-rounded p-button-sm"></button>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-local let-ri="rowIndex">
      <tr>
        <td>
          {{local.local_nome}}
        </td>
        <td>
          {{local.local_endereco}}
        </td>
        <td>
          {{local.local_telefone}}
        </td>
        <td>
          {{local.local_responsavel_usuario_nome}}
        </td>
        <td>
          <div *ngIf="local.local_color !== null" style="
            background-color: #cccccc;
            border: 2px solid var(--surface-400);
            padding: 0.429em;
            height: 30px;
            width: 2em;
            float: left"
            [style]="{'backgroundColor':local.local_color}">

          </div> &nbsp;&nbsp; {{local.local_color}}
        </td>
        <!--<td [style]="{'backgroundColor': local.local_color}">
          {{local.local_color}}
        </td>-->
        <td>
          <button pButton type="button" icon="pi pi-pencil" (click)="onEdit(local, ri)" class="p-button-raised p-button-rounded p-button-sm" [disabled]="!perAltarar"></button>
        </td>
        <td>
          <button pButton type="button" icon="pi pi-trash" (click)="onDelete(local, ri, $event)" class="p-button-raised p-button-rounded p-button-danger p-button-sm" [disabled]="!perDeletar"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
<!--</div>-->


<p-confirmPopup styleClass="apagar"></p-confirmPopup>

<ng-container *ngIf="ns.formularioSN">
<p-dialog
  header="{{acao}}"
  [(visible)]="ns.formDisplay"
  [modal]="true"
  [closable]="true"
  [blockScroll]="true"
  styleClass="tablistagem"
  [style]="{ width: '800px'}"
>
  <app-nucleo-form *ngIf="ns.formDisplay" (hideForm)="hideForm($event)"></app-nucleo-form>
</p-dialog>
</ng-container>
