<p-scrollPanel class="detalhe">
  <table #detalheproposicao class="detalhefull">
    <tr>
      <td>

        <table #detproposicao class="table-hover tabela">
          <caption>PROPOSIÇÃO</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th colspan="2">
              PROPOSIÇÃO
            </th>
          </tr>
          </thead>
          <tbody class="detalhe-horiz">
          <tr *ngIf="proposicao.proposicao_tipo_nome">
            <th>
              Tipo:
            </th>
            <td>
              {{proposicao.proposicao_numero}}
            </td>
          </tr>
          <tr *ngIf="proposicao.proposicao_numero">
            <th>
              Número:
            </th>
            <td>
              {{proposicao.proposicao_numero}}
            </td>
          </tr>
          <tr *ngIf="proposicao.andamento_proposicao_situacao_nome">
            <th>
              Situação:
            </th>
            <td>
              {{proposicao.andamento_proposicao_situacao_nome}}
            </td>
          </tr>
          <tr *ngIf="proposicao.proposicao_autor">
            <th>
              Autor:
            </th>
            <td>
              {{proposicao.proposicao_autor}}
            </td>
          </tr>
          <tr *ngIf="proposicao.proposicao_relator">
            <th>
              Relator:
            </th>
            <td>
              {{proposicao.proposicao_relator}}
            </td>
          </tr>
          <tr *ngIf="proposicao.proposicao_origem_nome">
            <th>
              Orgão de origem:
            </th>
            <td>
              {{proposicao.proposicao_origem_nome}}
            </td>
          </tr>
          <tr *ngIf="proposicao.proposicao_data_apresentacao">
            <th>
              Data de apresentação:
            </th>
            <td>
              {{proposicao.proposicao_data_apresentacao}}
            </td>
          </tr>
          <tr *ngIf="proposicao.proposicao_area_interesse_nome">
            <th>
              Área de interesse:
            </th>
            <td>
              {{proposicao.proposicao_area_interesse_nome}}
            </td>
          </tr>
          <tr *ngIf="proposicao.proposicao_area_interesse_nome">
            <th>
              Área de interesse:
            </th>
            <td>
              {{proposicao.proposicao_area_interesse_nome}}
            </td>
          </tr>
          <tr *ngIf="proposicao.proposicao_parecer">
            <th>
              Parecer:
            </th>
            <td>
              {{proposicao.proposicao_parecer}}
            </td>
          </tr>
          <tr *ngIf="proposicao.proposicao_orgao_nome">
            <th>
              Orgão Atual:
            </th>
            <td>
              {{proposicao.proposicao_orgao_nome}}
            </td>
          </tr>
          <tr *ngIf="proposicao.proposicao_ementa" class="novaPagina">
            <th colspan="2" class="tituloEditor">
              Ementa:
            </th>
          </tr>
          <tr *ngIf="proposicao.proposicao_ementa">
            <td colspan="2" class="tituloEditor">
              <div *ngIf="proposicao.proposicao_ementa" style="margin-top: .25em">
                <app-kill-view
                  [kill]="{html: proposicao.proposicao_ementa, delta: proposicao.proposicao_ementa_delta}"></app-kill-view>
              </div>
            </td>
          </tr>

          <tr *ngIf="proposicao.proposicao_texto" class="novaPagina">
            <th colspan="2" class="tituloEditor">
              Texto:
            </th>
          </tr>
          <tr *ngIf="proposicao.proposicao_texto">
            <td colspan="2" class="tituloEditor">
              <div *ngIf="proposicao.proposicao_texto" style="margin-top: .25em">
                <app-kill-view
                  [kill]="{html: proposicao.proposicao_texto, delta: proposicao.proposicao_texto_delta}"></app-kill-view>
              </div>
            </td>
          </tr>
          <tr *ngIf="pdfOnOff && proposicao.proposicao_arquivos.length > 0 && aut.arquivos_baixar">
            <td colspan="2">
              <app-detalhe-explorer [arquivos]="proposicao.proposicao_arquivos"></app-detalhe-explorer>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>

    <tr *ngIf="proposicao.andamento_proposicao.length > 0" class="novaPagina">
      <td>
        <br>
        <table class="table-hover tabela">
          <caption>ANDAMENTOS DA PROPOPSIÇÃO</caption>
          <thead class="detalheTitulo">
          <tr>
            <th colspan="4">
              ANDAMENTOS DA PROPOPSIÇÃO
            </th>
          </tr>
          </thead>
          <tbody class="detalhe-vert">
          <tr>
            <th style="width: 3%;" nowrap>
              Data:
            </th>
            <th>
              Redator:
            </th>
            <th>
              Orgão:
            </th>
            <th>
              Situação:
            </th>
          </tr>
          <ng-container  *ngFor="let and of proposicao.andamento_proposicao">
            <tr>
              <td style="width: 3%; vertical-align:top;" nowrap>
                {{and.andamento_proposicao_data}}
              </td>
              <td>
                {{and.andamento_proposicao_relator_atual}}
              </td>
              <td>
                {{and.andamento_proposicao_orgao_nome}}
              </td>
              <td>
                {{and.andamento_proposicao_situacao_nome}}
              </td>
            </tr>
            <tr *ngIf="and.andamento_proposicao_texto">
              <td colspan="4">
                <quill-view [content]="stripslashes(and.andamento_proposicao_texto)" [format]="'html'" theme="snow"></quill-view>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>

      </td>
    </tr>

  </table>
  <br>
</p-scrollPanel>

<div class="botoesdetalhe">
  <button pButton type="button" label="FECHAR" icon="pi pi-times" class="p-button-rounded" (click)="fechar()"></button>
  &nbsp;&nbsp;
  <app-exporter-detalhe [arquivoNome]="'proposicao_detalhes'" [classe]="'tabela'" [(pdfOnOff)]="pdfOnOff"></app-exporter-detalhe>
  &nbsp;&nbsp;
  <app-impressao-botao [dados]="['EMENDA',detalheproposicao]"></app-impressao-botao>
</div>
