html {
  font-size: 14px;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.p-toast.p-toast-topright,
.p-toast.p-toast-topleft {
  top: 100px;
}

.action-button {
  font-weight: bold;
  text-align: center;
  color: #ffffff !important;
  background-color: #455C71;
  padding: 10px 24px 9px 24px;
  border-radius: 3px;
  transition: background-color 0.2s;
}
.action-button:hover {
  background-color: #708EA5;
  color: #ffffff;
  text-decoration: none !important;
}

.layout-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--surface-a);
  width: 250px;
  user-select: none;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  display: flex;
  flex-direction: column;
}
.layout-sidebar .logo {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.layout-sidebar .logo img {
  width: 180px;
}
.layout-sidebar .logo:focus {
  outline: 0 none;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 0.2rem #BBDEFB;
}
.layout-sidebar .layout-menu {
  padding: 0 1rem;
  overflow-y: auto;
  flex-grow: 1;
}
.layout-sidebar .layout-menu .menu-category {
  display: block;
  color: var(--surface-900);
  font-weight: 600;
  user-select: none;
  padding: 1.5rem 0 1rem 0;
  font-size: 0.857rem;
  text-transform: uppercase;
}
.layout-sidebar .layout-menu .menu-category:first-child {
  border-top: 0 none;
  padding-top: 1rem;
}
.layout-sidebar .layout-menu .menu-items {
  padding: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
}
.layout-sidebar .layout-menu .menu-items a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}
.layout-sidebar .layout-menu .menu-items a:hover {
  background-color: var(--surface-c);
}
.layout-sidebar .layout-menu .menu-items a:focus {
  z-index: 1;
  outline: 0 none;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 0.2em #BBDEFB;
}
.layout-sidebar .layout-menu .menu-items a.router-link-exact-active {
  font-weight: 700;
}
.layout-sidebar .layout-menu .menu-items a .p-tag {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  margin-left: 0.5rem;
  line-height: 1.5;
}
.layout-sidebar .layout-menu .menu-items.menu-banner a {
  padding: 0;
}
.layout-sidebar .layout-menu .menu-items.menu-banner a:hover {
  background-color: transparent;
}
.layout-sidebar .layout-menu .menu-items.menu-banner a:hover img {
  background-color: var(--surface-c);
}
.layout-sidebar .layout-menu .menu-items.menu-banner a:focus {
  box-shadow: none;
}
.layout-sidebar .layout-menu .menu-items div.router-link-exact-active > a {
  font-weight: 700;
}
.layout-sidebar .layout-menu .menu-items div.router-link-exact-active ul {
  display: block;
}
.layout-sidebar .layout-menu .menu-items div ul {
  padding: 0.5rem 0;
  margin: 0;
  list-style-type: none;
}
.layout-sidebar .layout-menu .menu-items div ul a {
  font-size: 0.875rem;
  padding: 0.475rem 0.5rem 0.475rem 2rem;
}
.layout-sidebar .layout-sidebar-filter {
  padding: 1.25rem 1rem;
  background-color: var(--surface-a);
}

.layout-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.layout-content {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: var(--altura-main);
  z-index: 0;
}


.layout-wrapper .layout-content {
  position: fixed;
  top: 2.45rem;
  left: 0;
  z-index: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/*.main {
  position: fixed;
  display: block;
  box-sizing: border-box;
  top: 2.45rem;
  left: 0;
  --tamanhomenu: 12.5em;
  width: 100%;
  height: var(--altura-main);
  z-index: 0;
}*/

.layout-wrapper .layout-content .content-section {
  padding: 2rem;
  flex-grow: 1;
}
.layout-wrapper .layout-content .content-section.introduction {
  color: var(--text-color);
  padding-bottom: 0;
  display: flex;
  align-items: normal;
  justify-content: space-between;
}
.layout-wrapper .layout-content .content-section.introduction .feature-intro h1 {
  color: var(--surface-900);
}
.layout-wrapper .layout-content .content-section.introduction .feature-intro h1 span {
  font-weight: 400;
  color: var(--text-color-secondary);
}
.layout-wrapper .layout-content .content-section.introduction .feature-intro p {
  font-size: 1.25rem;
  margin: 0;
}
.layout-wrapper .layout-content .content-section.introduction .feature-intro a {
  text-decoration: none;
  color: #2196f3;
  font-weight: 600;
}
.layout-wrapper .layout-content .content-section.introduction .feature-intro a:hover {
  text-decoration: underline;
}
.layout-wrapper .layout-content .content-section.introduction app-demoActions {
  display: flex;
  justify-content: flex-end;
}
.layout-wrapper .layout-content .content-section.introduction app-demoActions .p-button-icon-only {
  padding: 0.5rem 0;
}
.layout-wrapper .layout-content .content-section.introduction .app-inputstyleswitch {
  margin-left: 2rem;
}
.layout-wrapper .layout-content .content-section.implementation {
  color: var(--text-color);
}
.layout-wrapper .layout-content .content-section.implementation + .documentation {
  padding-top: 0;
}
.layout-wrapper .layout-content .content-section.documentation {
  color: var(--text-color);
}
.layout-wrapper .layout-content .content-section.documentation li {
  line-height: 1.5;
}
.layout-wrapper .layout-content .content-section.documentation a {
  text-decoration: none;
  color: #2196f3;
  font-weight: 600;
}
.layout-wrapper .layout-content .content-section.documentation a:hover {
  text-decoration: underline;
}
.layout-wrapper .layout-content .content-section.documentation .doc-tablewrapper {
  margin: 1rem 0;
  overflow: auto;
  border-radius: 10px;
}
.layout-wrapper .layout-content .content-section.documentation i:not([class~=pi]) {
  background-color: var(--surface-a);
  color: #2196f3;
  font-family: Monaco, courier, monospace;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 4px;
  letter-spacing: 0.5px;
  border-radius: 3px;
  font-weight: 600;
  margin: 0 2px;
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview {
  background: transparent;
  border: 0 none;
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav {
  border-radius: 0;
  padding: 0;
  border-bottom: 1px solid var(--surface-d);
  background-color: transparent;
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li {
  margin-right: 0;
  border: 0 none;
  top: 1px;
  line-height: 1;
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a, .layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:visited {
  color: var(--text-color-secondary);
  text-shadow: none;
  height: inherit;
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  transition: border-bottom-color 0.2s;
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:focus, .layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:visited:focus {
  outline: 0 none;
  transition: box-shadow 0.2s;
  box-shadow: inset 0 0 0 0.2rem #BBDEFB;
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:hover, .layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:visited:hover {
  background: transparent;
  text-decoration: none;
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li.p-highlight a, .layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li.p-highlight:hover a {
  background: transparent;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover a {
  color: var(--text-color);
  border-bottom: 1px solid var(--primary-color);
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav .p-tabview-ink-bar {
  display: none;
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-panels {
  background: transparent;
  border: 0 none;
  padding: 2rem 1rem;
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-panels .btn-viewsource {
  display: inline-block;
  padding: 0.5rem 1rem;
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-panels a {
  text-decoration: none;
  color: #2196f3;
  font-weight: 600;
}
.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-panels a:hover {
  text-decoration: underline;
}
.layout-wrapper .layout-content .content-section .doc-table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--surface-a);
}
.layout-wrapper .layout-content .content-section .doc-table th {
  border-bottom: 1px solid var(--surface-d);
  padding: 1rem;
  text-align: left;
}
.layout-wrapper .layout-content .content-section .doc-table tbody td {
  padding: 1rem;
  border-bottom: 1px solid var(--surface-d);
}
.layout-wrapper .layout-content .content-section .doc-table tbody td:first-child {
  font-family: "Courier New", monospace;
  font-weight: bold;
  color: var(--text-color-secondary);
}
.layout-wrapper .layout-content .content-section .doc-table.browsers td:first-child {
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
}
.layout-wrapper .layout-content .card {
  background: var(--surface-card);
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin-bottom: 2rem;
}
.layout-wrapper .layout-content .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout-wrapper .layout-content > .ng-star-inserted {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.layout-config {
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  display: block;
  width: 550px;
  z-index: 1101;
  height: 100%;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  transform: translateX(100%);
  backface-visibility: hidden;
}
.layout-config.layout-config-active {
  transform: translateX(0);
}
.layout-config.layout-config-active .layout-config-content-wrapper .layout-config-button i {
  transform: rotate(0deg);
}
.layout-config .layout-config-content-wrapper {
  position: relative;
  height: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24);
  color: var(--text-color);
  background-color: var(--surface-f);
}
.layout-config .layout-config-content-wrapper .layout-config-button {
  display: block;
  position: absolute;
  width: 52px;
  height: 52px;
  line-height: 52px;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--primary-color-text);
  top: 270px;
  left: -51px;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
  outline: 0 none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.layout-config .layout-config-content-wrapper .layout-config-button i {
  font-size: 26px;
  line-height: inherit;
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 1s;
}
.layout-config a {
  color: #2196f3;
  font-weight: 600;
}
.layout-config a:hover {
  text-decoration: underline;
}

.config-dark {

}

.layout-config.layout-config-active .layout-config-content-wrapper .layout-config-content .config-dark .layout-config-button-dark i {
  transform: rotate(0deg);
}

.layout-config .layout-config-content-wrapper .layout-config-content .config-dark .layout-config-button-dark {
  display: block;
  width: 52px;
  height: 52px;
  line-height: 52px;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--primary-color-text);
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
  outline: 0 none;
  border-radius: 3px;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
}

.layout-config .layout-config-content-wrapper .layout-config-content .config-dark .layout-config-button-dark i {
  font-size: 26px;
  line-height: inherit;
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 1s;
}

.layout-config .layout-config-content {
  overflow: auto;
  height: 100%;
  padding: 2rem;
}
.layout-config .config-scale {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
.layout-config .config-scale .p-button {
  margin-right: 0.5rem;
}
.layout-config .config-scale i {
  margin-right: 0.5rem;
  font-size: 0.75rem;
  color: var(--text-color-secondary);
}
.layout-config .config-scale i.scale-active {
  font-size: 1.25rem;
  color: #2196f3;
}
.layout-config .layout-config-close {
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  right: 20px;
  top: 20px;
  z-index: 999;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
}
.layout-config .layout-config-close i {
  color: var(--primary-color-text);
  line-height: inherit;
  font-size: 14px;
}
.layout-config .layout-config-close:hover {
  transform: scale(1.1);
}
.layout-config .layout-config-close:focus {
  outline: 0 none;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 0.2rem #BBDEFB;
}
.layout-config .grid > div {
  padding: 1rem;
  text-align: center;
}
.layout-config .grid > div span {
  display: block;
}
.layout-config .grid > div button {
  position: relative;
  display: inline-flex;
  justify-content: center;
}
.layout-config .grid > div button:focus {
  outline: 0 none;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 0.2rem #BBDEFB;
}
.layout-config .free-themes img {
  width: 50px;
  border-radius: 4px;
  transition: transform 0.2s;
}
.layout-config .free-themes img:hover {
  transform: scale(1.1);
}
.layout-config .free-themes span {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.layout-config .premium-themes img {
  width: 100%;
  transition: transform 0.2s;
}
.layout-config .premium-themes img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1729px) {
  .layout-content-inner {
    width: 1478px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 960px) {

  .layout-sidebar {
    transform: translateX(-100%);
    z-index: 9999;
  }
  .layout-sidebar.active {
    transform: translateX(0);
  }

  .layout-wrapper .layout-content {
    margin-left: 0;
    padding-top: 110px;
  }
  .layout-wrapper .layout-content .content-section.introduction {
    flex-direction: column;
  }
  .layout-wrapper .layout-content .content-section.introduction .app-inputstyleswitch {
    margin-top: 1.5rem;
    margin-left: 0;
  }
  .layout-wrapper .layout-mask {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .layout-wrapper .layout-mask.layout-mask-active {
    z-index: 998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.5s;
  }
  .layout-wrapper .home .introduction > div {
    width: 100%;
  }
  .layout-wrapper .home .features > div {
    width: 100%;
  }
  .layout-wrapper .home .whouses > div {
    width: 100%;
  }
  .layout-wrapper .home .prosupport > div {
    width: 100%;
  }
  .layout-wrapper .layout-config.layout-config-active {
    width: 100%;
  }
  .layout-wrapper .blocked-scroll {
    overflow: hidden;
  }
}

.image-text {
  vertical-align: middle;
  margin-left: 0.5rem;
}
.text-secondary {
  color: var(--home-secondary-text-color);
}
.hover\:surface-hover:hover {
  background-color: var(--surface-hover);
}

