:root {
  --menu-lateral-width: 1100px;
  --menu-lateral-width-1200: 70vw;
  --menu-lateral-width-992: 80vw;
  --menu-lateral-width-768: 100vw;
  --menu-lateral-width-576: 100vw;

  --menu-lateral-pq-width: 550px;
  --menu-lateral-pq-width-1200: 40vw;
  --menu-lateral-pq-width-992: 50vw;
  --menu-lateral-pq-width-768: 60vw;
  --menu-lateral-pq-width-576: 100vw;

  --altura-main: calc(100vh - 2.4em);
  --menu-lateral-height: calc(100vh - 4.6em);
}


@font-face {
  font-family: 'word';
  font-display: block;
  src: url('../icons/file-word.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bi {
  font-family: 'word', serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi:before {
  --webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bi-file-word:before {
  content: "\F3BB";
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  /*height: 2.6rem;*/
  color: var(--primary-color-text);
  background-color: var(--primary-color);
  text-align: center;
  padding: 0;
  font-size: 1.6rem;
  /*line-height: 2rem;*/
}

.topo-esquerda {
  display: flex;
  flex-wrap: nowrap;
  width: 50vw;
  padding: 0.2rem 0;
}

.topo-direita .p-avatar {
  font-size: 1.2rem;
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 0.2rem;
  align-items: end;
  overflow: unset;
}

.topo-direita {
  display: flex;
  flex-wrap: nowrap;
  width: 50vw;
  padding: 0.2rem 0;
}

.topo-direita .p-badge.p-badge-warning {
  z-index: 200;
  /*background-color: var(--amarelo);*/
  /*color: var(--text-color);*/
}

.topo-direita .p-avatar.p-avatar-circle {
  border-radius: 50%;
  overflow: unset;
}

.topo-direita .p-overlay-badge .p-badge {
  top: 0.5rem;
  right: 1.5rem;
}

.topo-direita  .p-badge {
  background: var(--primary-color);
  color: var(--surface-a);
  font-size: 0.8rem;
  font-weight: 700;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

.topo-direita  .p-badge:hover {
  font-size: 1rem;
  font-weight: 700;
  min-width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
}

.btn-menu-principal {
  padding-top: .1rem;
  font-size: 1.5rem !important;
  color: var(--primary-color-text);
}

.btn-menu-principal:hover {
  padding-top: 0;
  font-size: 1.7rem !important;
  cursor: pointer;
}

.main {
  position: fixed;
  display: block;
  box-sizing: border-box;
  top: 2.4rem;
  left: 0;
  --tamanhomenu: 12.5em;
  width: 100%;
  height: var(--altura-main);
  z-index: 0;
}

.menu-principal {
  position: absolute;
  top: .2em;
  left: 0;
  width: 30ch;
  height: calc(100% - 3em);
  z-index: 10000;
  overflow: auto !important;
  /*transition: height 2s;*/
}

.menu-principal-fechado {
  position: fixed;
  top: 0;
  left: 0;
  width: 12.5em;
  height: 0;
  z-index: 10000;
  background-color: var(--surface-200);
  /*transition: height 1s;*/
}
