/*
//  CALENDARIO ***************************************
*/

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0 !important;
}
.fc .fc-toolbar.fc-footer-toolbar {
  margin-top: 0 !important;
  position: relative !important;
  bottom: 0 !important;
}
/*

.caldialog {
  max-height: calc(100vh - 3.1em) !important;
  min-width: 400px;
  background: var(--fc-neutral-bg-color);
  top: var(--topo) !important;
  margin-top: 0 !important;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 0.75em;
}

.caldialog .p-dialog-top {
  margin-top: 0 !important;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 0.75em;
}

*/
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
  h2.fc-toolbar-title {
    font-size: 1.3em !important;
  }
}

@media screen and (max-width: 576px) {
  h2.fc-toolbar-title {
    font-size: 1em !important;
  }
}

.calendariottip {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  box-sizing: border-box;
}

.calfull {
  display: flex;
  width: 100%;
}

.cal-esq0 {
  display: flex;
  width: 100%;
  clear: left;
  transition: 2s;
}

.cal-esq1 {
  display: flex;
  width: 80%;
  clear: left;
  transition: 2s;
}

.cal-esq-esq {
  width: 100%;
}

.cal-esq-dir {
  vertical-align: middle;
  width: 1em;
  background-color: var(--primary-color);
}

.cal-dir0 {
  width: 0;
  transition: width 2s;
  background: var(--fc-neutral-bg-color);
}

.cal-dir1 {
  width: 20%;
  background: var(--fc-neutral-bg-color);
  transition: 2s;
}

.calbtn {
  position: relative;
  top: 45%;
  color: var(--fc-button-text-color);
  cursor: pointer;
}

.calendariottip-description {
  background: var(--primary-color-text);
  padding: .4em;
  border-radius: .4em;
}


.caldetobs {
  background-color: greenyellow;
  border-radius: .4em;
}


.observacaostyle .p-card {
  padding: 0 5px 0 5px;
  margin: 0;
  box-shadow: 3px 3px 5px #888888;
}

.observacaostyle .p-card-content {
  background-color: var(--surface-a);
  padding: .5em;
}

.observacaostyle .p-card-body {
  padding: .5em;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.caltabela {
  border-collapse: collapse;
  width: 100%;
  border-spacing: .2em;
}

.caltabela tr, td {
  border-width: 1px 2px 1px 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: .4em;
}

.caltabelaobs {
  margin-top: .4em;
  /*border: .4em solid var(--primary-color-text);*/
  background-color: var(--primary-color-text);
  padding: 1em;
  overflow-y: auto;
  border-width: 1px 3px 1px 3px;
  border-style: solid;
  border-color: transparent;
  border-radius: .7em;
}

.caldetalhefull {
  border: 0;
  width: 100%;
  border-collapse: collapse;
}

.caldet {
  margin: .4em;
  /*background-color: var(--fundotabela);*/
  padding: .8em;
}

body .icsupload {
  -moz-border-radius: 1em !important;
  -webkit-border-radius: 1em !important;
  border-radius: 1em !important;
  /*overflow: hidden;*/
  background-color: var(--fundo-botao-claro);
  color: var(--fundo-botao-escuro);
  border: 1px solid var(--fundo-botao-claro);
}

body .icsupload:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border: 1px solid var(--primary-color);
}

.calexibir {
  background-color: red;
  padding: 1em;
  border-radius: .5em;
  min-height: 60%;
  min-width: 768px;
}

/*

.calexibir .p-dialog-title {
  padding: .4em .8em .4em .8em;
  background-color: var(--primary-color-text);
  border: 1px solid var(--primary-color-text);
  border-radius: 5px;
}

.calexibir .p-dialog-content {
  background-color: var(--surface-300);
  padding: .5em;
}

.calexibir .p-dialog-header {
  background-color: var(--surface-300);

  padding: .5em;
}

.calexibirpq {
  max-height: 75%;
}
*/
.calform {
  max-height: 80%;
  min-width: 400px;
  max-width: 768px;
}

.calform .p-calendar input[type=text] {
  width: 25%!important;
  min-width: 250px!important;
  border-collapse: collapse;
}

.calexibir2 {
  padding: .8em 1.5em .8em 1.5em;
  background-color: var(--primary-color-text);
  border: 1px solid var(--primary-color-text);
  border-radius: .5em;
}

.calendario-form .p-datepicker table th {
  padding: 0.3em;
}

.calendario-form .p-datepicker table th > span {
  width: 1.5em;
  height: 1.5em;
}

.calendario-form .p-datepicker table td {
  padding: 0.3em;
}

.calendario-form .p-datepicker table td > span {
  width: 1.5em;
  height: 1.5em;
}

.calendario-form > .p-multiselect.p-multiselect-chip .p-multiselect-token {
  padding: 0.25em 0.75em;
  margin-right: 0.5em;
  background: var(--secondary-bg);
  color: var(--secondary-color-text);
  border-radius: 4px;
  font-size: .5em !important;
}


/*
*** EXIBIR p-dialog ***********************************************************************
*/

.cal-exibir.p-dialog {
  max-height: calc(100vh - 3.1em) !important;
  min-width: 400px;
  background: var(--formulario-bg-externo-color);
  top: var(--topo) !important;
  margin-top: 0 !important;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 0.75em;
}
.cal-exibir.p-dialog .p-dialog-header {
  border-bottom: 1px solid var(--formulario-bg-externo-color);
  background: var(--formulario-bg-externo-color);
  color: var(--text-color);
  padding: .5em 1em 0;
}
.cal-exibir.p-dialog .p-dialog-header .p-dialog-header-icon {
  width: 2em;
  height: 2em;
  color: var(--text-color);
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: box-shadow 0.15s;
  margin-right: 0.5em;
}
.cal-exibir .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: var(--text-color-secondary);
  border-color: transparent;
  background: transparent;
}
.cal-exibir.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--bt-secundario-box-shadow-focus);
}
.cal-exibir.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 0;
}
.cal-exibir.p-dialog .p-dialog-content {
  margin: 1em;
  padding: 1em;
  border: 1px solid var(--formulario-bg-interno-color);
  border-radius: 1em;
  background: var(--formulario-bg-interno-color);
  color: var(--text-color);
}
.fc-event-main-frame {
  padding-left: 3px;
}

