.confalterar {
  color: black;
  text-align: center;
}

.confnaoalterar {
  color: black;
  text-align: center;
}

.confalterar:hover {
  background-color: var(--warning);
  cursor: pointer;
  text-align: center;
}

.confapagar {
  color: black;
  text-align: center;
}

.confnaoapagar {
  color: black;
  text-align: center;
}

.confapagar:hover {
  color: white;
  background-color: var(--danger);
  cursor: pointer;
  text-align: center;
}
