<!--*** INICIO ****************************************************************************************************-->
<ng-container *ngIf="!imprimir && !showForm">
<p-table
  #tbl
  [value]="proposicao.andamento_proposicao"
  [columns]="cols"
  [lazy]="false"
  [totalRecords]="proposicao.andamento_proposicao.length"
  [sortField]="sortField"
  dataKey="andamento_proposicao_id"
  [scrollable]="true"
  scrollHeight="flex"
  [reorderableColumns]="true"
  [resizableColumns]="true"
  [autoLayout]="false"
  columnResizeMode="expand"
  [rowHover]="true"
  [responsive]="false"
  (onColReorder)="onColReorder($event)"
  [tableStyle]="{'font-size':'14px'}"
  [style]="{width:'calc(100% - 20px)'}"
  selectionMode="multiple"
  styleClass="tablistagem p-datatable-sm p-datatable-striped p-datatable-gridlines"
>
  <!--*** TITULOS *************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div class="inline-flex align-items-center">
      <div class="mx-2">ANDAMENTOS DA PROPOSIÇÃO</div>
    </div>
    <div class="inline-flex align-items-end">
      <div class="mr-2">Num. Registros: {{proposicao.andamento_proposicao.length}}</div>
    </div>
  </ng-template>

  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3rem" *ngIf="permitirAcao"></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [style.width]="col.width"
          pReorderableColumn
          pResizableColumn
      >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td style="width: 3rem; vertical-align:top; text-align: left" *ngIf="permitirAcao">
        <div *ngIf="permitirAlterar" class="py-1 pr-2">
          <button
            #tgl
            id="tgh{{rowIndex}}"
            [pTooltip]="'Alterar'"
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            class="historico p-button-sm p-button-rounded p-button-warning"
            tooltipPosition="top"
            (click)="editar(rowData, rowIndex)"
          >
          </button>
        </div>

        <div *ngIf="permitirApagar" class="py-1 pr-2">
          <p-confirmPopup></p-confirmPopup>
          <button pButton pRipple type="button" icon="pi pi-trash" pTooltip="APAGAR"
                  class="historico p-button-sm p-button-rounded p-button-danger"
                  (click)="confirm($event, +rowData['andamento_proposicao_id'], rowIndex)"></button>
        </div>
      </td>
      <td *ngFor="let col of columns" [style.width]="col.width" style="vertical-align: top">
        <quill-view *ngIf="col.field === 'andamento_proposicao_texto'" [content]="stripslashes(rowData['andamento_proposicao_texto'])" [format]="'html'" theme="snow"></quill-view>
        <div *ngIf="col.field !== 'andamento_proposicao_texto'" class="p-text-uppercase">{{rowData[col.field]}}</div>
      </td>
    </tr>
  </ng-template>

</p-table>
  <div class="flex justify-content-start pb-1 pt-4">
    <div class="mr-2">
      <button
        pButton
        pRipple
        type="button"
        class="botaoinferior p-ripple p-button-rounded p-button-secondary"
        label="Fechar"
        [disabled]="botaoEnviarVF"
        (click)="fechar()"
      ></button>
    </div>
    <div *ngIf="permitirIncluir" class="mr-2">
      <button
        pButton
        pRipple
        type="button"
        class="botaoinferior p-ripple p-button-rounded"
        (click)="incluir()"
        label="Incluir"
        [disabled]="botaoEnviarVF"
      ></button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!imprimir && showForm">
  <ng-container *ngIf="acao==='alterar'">
    <app-andamento-proposicao-form
      (apListarChange)="proposicao.andamento_proposicao"
      [acao]="acao"
      [proposicao]="proposicao"
      [andamento] ="andamento"
      [andamento_proposicao_proposicao_id]="andamento_proposicao_proposicao_id"
      [listarVF]="true"
      [idx]="idx"
      [(display)]="showForm"
    ></app-andamento-proposicao-form>
  </ng-container>
  <ng-container *ngIf="acao==='incluir'">
    <app-andamento-proposicao-form
      (apListarChange)="apListarChange2($event)"
      [acao]="acao"
      [listarVF]="true"
      [idx]="idx"
      [proposicao]="proposicao"
      [andamento_proposicao_proposicao_id]="andamento_proposicao_proposicao_id"
      [(display)]="showForm"
    ></app-andamento-proposicao-form>
  </ng-container>
</ng-container>



<!--<ng-container *ngIf="imprimir && apListar.length > 0 && showForm">
  <table class="table-hover tabela">
    <caption>ANDAMENTOS DA PROPOPSIÇÃO</caption>
    <thead class="detalheTitulo">
    <tr>
      <th colspan="4">
        ANDAMENTOS DA PROPOPSIÇÃO
      </th>
    </tr>
    </thead>
    <tbody class="detalhe-vert">
    <tr>
      <th style="width: 3%;" nowrap>
        Data:
      </th>
      <th>
        Redator:
      </th>
      <th>
        Orgão:
      </th>
      <th>
        Situação:
      </th>
    </tr>
    <ng-container  *ngFor="let and of apListar">
      <tr>
        <td style="width: 3%; vertical-align:top;" nowrap>
          {{and.andamento_proposicao_data}}
        </td>
        <td>
          {{and.andamento_proposicao_relator_atual}}
        </td>
        <td>
          {{and.andamento_proposicao_orgao_nome}}
        </td>
        <td>
          {{and.andamento_proposicao_situacao_nome}}
        </td>
      </tr>
      <tr *ngIf="and.andamento_proposicao_texto">
        <td colspan="4">
          <quill-view [content]="stripslashes(and.andamento_proposicao_texto)" [format]="'html'" theme="snow"></quill-view>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-container>-->

<!--*** FIM ********************************************************************************************************-->




