<div class="p-fluid formulario-bg-externo">
  <form [formGroup]="formMenuConta" (keyup)="onKey($event)">
    <div class="p-d-flex p-jc-between p-pb-2 p-ml-2 p-pl-2">
      <div class="p-d-inline-flex">
        <div class="p-mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div *ngIf="authenticationService.contabilidade_incluir" class="p-mr-2">
          <button
            *ngIf="authenticationService.contabilidade_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>

    <div class="p-d-flex p-ml-1 p-pl-2">
      <div class="p-fluid p-grid">

        <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
          <div class="p-fluid p-formgrid p-grid formulario">

            <!-- cedente_array -->
            <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
              <label for="cedente_array">Cedente</label>
              <p-chips
                id="cedente_array"
                formControlName="cedente_array"
                [addOnTab]="true"
                [addOnBlur]="true"
              ></p-chips>
            </div>

            <!-- conta_tipo -->
            <div class="p-field p-col-12 p-sm-12 p-md-4 p-lg-4 p-xl-4">
              <h5>Tipo</h5>
              <div class="p-field-radiobutton">
                <p-radioButton
                  id="conta_tipo_id1"
                  labelStyleClass="radiolabel"
                  name="conta_tipo_id"
                  value="999"
                  formControlName="conta_tipo_id"
                ></p-radioButton>
                <label for="conta_tipo_id1">TODOS</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  id="conta_tipo_id2"
                  labelStyleClass="radiolabel"
                  name="conta_tipo_id"
                  value="0"
                  formControlName="conta_tipo_id"
                ></p-radioButton>
                <label for="conta_tipo_id2">FIXA</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  id="conta_tipo_id3"
                  labelStyleClass="radiolabel"
                  name="conta_tipo_id"
                  value="1"
                  formControlName="conta_tipo_id"
                ></p-radioButton>
                <label for="conta_tipo_id3">VARIÁVEL</label>
              </div>
            </div>

            <!-- conta_debito_automatico -->
            <div class="p-field p-col-12 p-sm-12 p-md-4 p-lg-4 p-xl-4">
              <h5>Débito automático</h5>
              <div class="p-field-radiobutton">
                <p-radioButton
                  labelStyleClass="radiolabel"
                  name="conta_debito_automatico_id"
                  value="999"
                  formControlName="conta_debito_automatico_id"
                  id="conta_debito_automatico_id1"
                ></p-radioButton>
                <label for="conta_debito_automatico_id1">TODOS</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  labelStyleClass="radiolabel"
                  name="conta_debito_automatico_id"
                  value="0"
                  formControlName="conta_debito_automatico_id"
                  id="conta_debito_automatico_id2"
                ></p-radioButton>
                <label for="conta_debito_automatico_id2">NÃO</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  labelStyleClass="radiolabel"
                  name="conta_debito_automatico_id"
                  value="1"
                  formControlName="conta_debito_automatico_id"
                  id="conta_debito_automatico_id3"
                ></p-radioButton>
                <label for="conta_debito_automatico_id3">SIM</label>
              </div>
            </div>

            <!-- conta_paga -->
            <div class="p-field p-col-12 p-sm-12 p-md-4 p-lg-4 p-xl-4">
              <h5>Pago</h5>
              <div class="p-field-radiobutton">
                <p-radioButton
                  id="conta_paga_id1"
                  labelStyleClass="radiolabel"
                  name="conta_paga_id"
                  value="999"
                  formControlName="conta_paga_id"
                ></p-radioButton>
                <label for="conta_paga_id1">TODOS</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  id="conta_paga_id2"
                  labelStyleClass="radiolabel"
                  name="conta_paga_id"
                  value="0"
                  formControlName="conta_paga_id"
                ></p-radioButton>
                <label for="conta_paga_id2">NÃO</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  id="conta_paga_id3"
                  labelStyleClass="radiolabel"
                  name="conta_paga_id"
                  value="1"
                  formControlName="conta_paga_id"
                ></p-radioButton>
                <label for="conta_paga_id3">SIM</label>
              </div>
            </div>

          </div>
        </div>

        <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
          <div class="p-fluid p-formgrid p-grid formulario">

            <!-- conta_pagamento_1data -->
            <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
              <label for="conta_pagamento_1data">Data pagamento</label>
              <p-calendar
                id="conta_pagamento_1data"
                formControlName="conta_pagamento_1data"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"

                dataType="string"
              ></p-calendar>
            </div>

            <!-- conta_pagamento_2data -->
            <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
              <label for="conta_pagamento_2data">até</label>
              <p-calendar
                id="conta_pagamento_2data"
                formControlName="conta_pagamento_2data"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"

                dataType="string"
              ></p-calendar>
            </div>

            <!-- conta_vencimento_1data -->
            <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
              <label for="conta_vencimento_1data">Data vencimento</label>
              <p-calendar
                id="conta_vencimento_1data"
                formControlName="conta_vencimento_1data"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"
                dataType="string"
              ></p-calendar>
            </div>

            <!-- conta_vencimento_2data -->
            <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
              <label for="conta_vencimento_2data">até</label>
              <p-calendar
                id="conta_vencimento_2data"
                formControlName="conta_vencimento_2data"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"

                dataType="string"
              ></p-calendar>
            </div>

            <!-- conta_local_id -->
            <div *ngIf="ddConta_local_id.length > 1" class="p-field p-col-12">
              <label for="conta_local_id">Núcleo</label>
              <p-dropdown
                id="conta_local_id"
                [options]="ddConta_local_id"
                formControlName="conta_local_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

          </div>
        </div>

      </div>
    </div>
    <br>
    <br>

    <div class="p-d-flex p-jc-between p-pb-2 p-ml-2 p-pl-2">
      <div class="p-d-inline-flex">
        <div class="p-mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div *ngIf="authenticationService.contabilidade_incluir" class="p-mr-2">
          <button
            *ngIf="authenticationService.contabilidade_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>

  </form>
</div>
