<!--*** INICIO *****************************************************************************************************-->
<p-table #dtb
         id="tabelatarefa"
         [value]="cs.cadastros"
         [columns]="cs.tabela.selectedColumns"
         [rows]="cs.tabela.rows"
         [lazy]="cs.lazy"
         [lazyLoadOnInit]="false"
         [totalRecords]="cs.tabela.totalRecords"
         [sortField]="cs.tabela.sortField"
         dataKey="cadastro_id"
         [scrollable]="true"
         [scrollHeight]="altura"
         [(selection)]="cs.selecionados"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         [autoLayout]="false"
         columnResizeMode="fit"
         [rowHover]="true"
         [responsive]="true"
         rowExpandMode="single"
         [(first)]="cs.tabela.first"
         [(contextMenuSelection)]="cs.Contexto"
         contextMenuSelectionMode="joint"
         [contextMenu]="cm"
         [pageLinks]="5"
         [paginator]="true"
         [alwaysShowPaginator]="true"
         [rowsPerPageOptions]="cs.rowsPerPageOptions"
         (rowsChange)="cs.rowsChange($event)"
         (onLazyLoad)="onLazyLoad($event)"
         (onColReorder)="onColReorder($event)"
         (onRowExpand)="cs.onRowExpand($event)"
         (onColResize)="cs.onColResize($event)"
         (onRowCollapse)="cs.onRowCollapse($event)"
         (onStateSave)="cs.setState($event)"
         (onStateRestore)="cs.onStateRestore($event)"
         (onContextMenuSelect)="cs.onContextMenuSelect($event)"
         (sortFunction)="cs.customSort($event)"
         [customSort]="true"
         [tableStyle]="{'font-size':'var(--font-padrao)'}"
         stateStorage="session"
         stateKey="cadastro-table"
         selectionMode="multiple"
         styleClass="tablistagem p-datatable-sm p-datatable-striped p-datatable-gridlines p-selectable-row"
>

  <!--*** TOPO *****************************************************************************************************-->

  <ng-template pTemplate="caption">
    <div [ngClass]="{'hide-datatable': md.mdt}">
      <div class="p-d-flex p-jc-between p-ai-center p-flex-column p-flex-md-row">

        <div class="p-d-inline-flex">
          <div class="p-mx-1">
            <button pButton type="button" label="Filtrar" icon="pi pi-search" class="p-button-text p-button-sm"
                    (click)="mostraMenu()"></button>
          </div>
          <div class="p-mr-1">
            <button pButton type="button" label="Colunas" icon="pi pi-table" class="p-button-text p-button-sm"
                    (click)="mostraSelectColunas()"></button>
          </div>

          <div *ngIf="aut.dispositivo!=='mobile'" class="p-mr-1">
            <button pButton type="button" label="Relatórios" icon="pi pi-info-circle" class="p-button-text p-button-sm"
                    (click)="men.toggle($event)"></button>
          </div>

          <div class="p-mr-0">
            <button pButton type="button" label="Incluir" icon="pi pi-plus" class="p-button-text p-button-sm"
                    (click)="cadastroIncluir()"></button>
          </div>
        </div>

          <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
            <div class="p-mx-2">CADASTRO</div>
          </div>
          <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
            <div class="p-mr-2"
                 *ngIf="cs.selecionados !== undefined &&  cs.selecionados !== null &&  cs.selecionados.length > 0">
              <button pButton type="button" label="Reset" icon="pi pi-backward" class="p-button-text p-button-sm"
                      (click)="cs.resetSelecionados()"></button>
            </div>
            <div class="p-mr-2">Página {{cs.tabela.currentPage}} de {{cs.tabela.pageCount}} - Num.
              Registros: {{cs.tabela.totalRecords}}</div>
          </div>

          <div *ngIf="aut.dispositivo==='mobile'" class="p-d-flex p-jc-center">
            <div class="p-mx-2">CADASTRO</div>
            <div class="p-mr-2">Página {{cs.tabela.currentPage}} de {{cs.tabela.pageCount}} - Num.
              Registros: {{cs.tabela.totalRecords}}</div>
          </div>


          <!--<div class="p-mr-0">
                 <button pButton type="button" label="Incluir" icon="pi pi-plus" class="p-button-text p-button-sm"
                         (click)="cadastroIncluir()"></button>
               </div>
             </div>

             <div class="p-d-inline-flex p-ai-center">
               <div class="p-mx-1">CADASTRO</div>
             </div>

             <div class="p-d-inline-flex p-ai-center">
               <div class="p-mr-1">Página {{cs.tabela.currentPage}} de {{cs.tabela.pageCount}} - Num. Registros: {{cs.tabela.totalRecords}}</div>
             </div>-->
        </div>
      </div>

    <p-menu #men [popup]="true" [model]="itemsAcao" appendTo="body"></p-menu>
  </ng-template>

  <!--*** TITULOS **************************************************************************************************-->
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col style="width: 2rem;" pResizableColumnDisabled>
      <col *ngFor="let col of columns" [style]="{width:col.width}">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3.5em;" pResizableColumnDisabled></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [style.width]="col.largura"
          pReorderableColumn
          pResizableColumn
      >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-cad let-cad2=cad let-columns="columns" let-expanded="expanded"
               let-rowIndex="rowIndex">
    <tr [pSelectableRow]="cad" [pContextMenuRow]="cad" [pSelectableRowIndex]="rowIndex">
      <td style="width: 3.5em" pResizableColumnDisabled>
        <button type="button" pButton pRipple [pTooltip]="expanded ? 'Expandir' : 'Recolher'" tooltipPosition="top"
                [pRowToggler]="cad" class="expandir p-button-rounded  p-button-text p-button-sm"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td *ngFor="let col of columns" [style.width]="col.largura">
        {{cad[col.field]}}
      </td>
    </tr>
  </ng-template>
  <!--*** EXPANDIDO ************************************************************************************************-->
  <ng-template pTemplate="rowexpansion" let-cad let-columns="columns" let-indice="rowIndex">
    <tr class="expandido">
      <td [attr.colspan]="columns.length + 1" class="expandido">
        <div class="rowexpansion-corpo">
          <div class="p-fluid">
            <div class="p-d-flex p-jc-start p-pb-2">
              <div class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-eye"
                  class="p-button-rounded"
                  pTooltip="Detalhes"
                  tooltipPosition="top"
                  (click)="cadastroDetalheCompleto(cad)"
                >
                </button>
              </div>
              <div *ngIf="aut.usuario_responsavel_sn || aut.usuario_principal_sn || aut.cadastro_alterar" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning p-button-text"
                  pTooltip="Alterar"
                  tooltipPosition="top"
                  (click)="cadastroAlterar(indice,'expandido', cad)"
                >
                </button>
              </div>
              <div *ngIf="aut.usuario_responsavel_sn || aut.usuario_principal_sn || aut.cadastro_apagar" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                  (click)="cadastroApagar(cad)"
                >
                </button>
              </div>
            </div>

            <div class="p-grid">
              <div *ngFor="let ce of cs.tabela.celulas;" class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div class="registros p-shadow-1">
                  <h5>{{ce.header}}</h5>
                  <app-exporter-expandido [celula]="ce"></app-exporter-expandido>
                </div>
              </div>
            </div>


            <!--<div class="expandido p-grid">
              <div *ngFor="let linhas of dadosExp;" class="expandido p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div class="registros p-shadow-1">
                  <h5>{{linhas[0]}}</h5>

                  {{linhas[1]}}

                </div>
              </div>
            </div>-->
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" id="tabela-vazia">
        <div class="tabela-vazia-a">
          <div class="tabela-vazia-b">
            <div class="tabela-vazia-c p-shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** MENU *****************************************************************************************************-->
</p-table>
<!--*** FIM ********************************************************************************************************-->
<!--*** SELETOR DE COLUNAS *****************************************************************************************-->
<p-dialog *ngIf="cs.tabela.mostraSeletor"
          id="seletor"
          header="Selecione as colunas."
          [(visible)]="cs.tabela.mostraSeletor"
          [modal]="true"
          styleClass="tablistagem"
          [style]="{width: '40rem'}"
          [dismissableMask]="true"
>
  <app-seletor-colunas [todas]="cols" [(ativas)]="cs.tabela.selectedColumns"></app-seletor-colunas>
  <p-footer>
    <div class="p-d-flex p-jc-start p-pb-2">
      <div class="p-mr-2">
        <button pButton type="button" label="Fehar " icon="pi pi-times"
                class="campo-extendido p-button-rounded p-button-sm" (click)="hideSeletor()"></button>
      </div>
      <div class="p-mr-2">
        <button pButton type="button" label="Reset " icon="pi pi-backward"
                class="campo-extendido p-button-rounded p-button-sm" (click)="resetColunas()"></button>
      </div>
    </div>
  </p-footer>
</p-dialog>
<p-contextMenu #cm [model]="contextoMenu" styleClass="tablistagem"></p-contextMenu>

<!--*** DETALHE ****************************************************************************************************-->
<ng-container *ngIf="mostraDetalhe">
  <p-dialog
    [(visible)]="mostraDetalhe"
    [transitionOptions]="'0ms'"
    header="CADASTRO DETALHE"
    [baseZIndex]="0"
    [modal]="true"
    [dismissableMask]="true"
    [closable]="true"
    styleClass="tablistagem"
    (onHide)="escondeDetalhe()"
    [breakpoints]="{'1400px': '60vw', '1300px': '70vw', '1200px': '80vw', '1000px': '90vw', '640px': '100vw'}"
    [style]="{width: '60vw'}"
  >
    <!--<app-cadastro-detalhe [dataDetalhe]="cadDetalhe" (onFechar)="onFechar($event)"></app-cadastro-detalhe>-->
  </p-dialog>
</ng-container>


