<!--*** INICIO *****************************************************************************************************-->
<p-table #dt
         id="tabelacadastro"
         [value]="cadastros"
         [columns]="selectedColumns"
         [rows]="rows"
         [lazy]="true"
         [lazyLoadOnInit]="false"
         [loading]="loading"
         [totalRecords]="totalRecords"
         [sortField]="sortCampo"
         dataKey="cadastro_id"
         [scrollable]="true"
         [scrollHeight]="altura"
         [(selection)]="selecionados"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         [autoLayout]="false"
         columnResizeMode="expand"
         [rowHover]="true"
         [paginator]="true"
         [alwaysShowPaginator]="false"
         [pageLinks]="5"
         [responsive]="false"
         rowExpandMode="single"
         [rowsPerPageOptions]="[50,100,200,500,1000]"
         (onLazyLoad)="onLazyLoad($event)"
         (onColReorder)="onColReorder($event)"
         (onRowExpand)="onRowExpand($event)"
         (onContextMenuSelect)="onContextMenuSelect($event)"
         [(contextMenuSelection)]="cadContexto"
         contextMenuSelectionMode="joint"
         [contextMenu]="cm"
         [customSort]="true"
         [tableStyle]="{'font-size':'12px'}"
         stateStorage="session"
         stateKey="cadastro-listagem"
         selectionMode="multiple"
         [loadingIcon]="'pi pi-spinner'"
         styleClass="tablistagem p-datatable-sm p-datatable-striped"
         (onRowSelect)="onRowSelect($event)"
>

  <!--*** TOPO *****************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-jc-between p-ai-center p-flex-column p-flex-md-row">

      <div class="p-d-inline-flex">
        <div class="p-mx-1"><button pButton type="button" label="Filtrar" icon="pi pi-search" class="p-button-text p-button-sm" (click)="mostraMenu()"></button></div>
        <div class="p-mr-1"><button pButton type="button" label="Colunas" icon="pi pi-table" class="p-button-text p-button-sm" (click)="mostraSelectColunas()"></button></div>
        <div class="p-mr-1"><button pButton type="button" label="Relatórios" icon="pi pi-info-circle" class="p-button-text p-button-sm" (click)="men.toggle($event)"></button></div>
        <div class="p-mr-0"><button pButton type="button" label="Incluir" icon="pi pi-plus" class="p-button-text p-button-sm" (click)="cadastroIncluir()"></button></div>
      </div>

      <div class="p-d-inline-flex p-ai-center">
        <div class="p-mx-1">CADASTRO</div>
      </div>

      <div class="p-d-inline-flex p-ai-center">
        <div class="p-mr-1">Página {{currentPage}} de {{numerodePaginas}} - Num. Registros: {{totalRecords}}</div>
      </div>
    </div>

    <p-menu #men [popup]="true" [model]="itemsAcao" appendTo="body"></p-menu>
  </ng-template>

  <!--*** TITULOS **************************************************************************************************-->
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [style.width]="col.largura"
          pReorderableColumn
          pResizableColumn
      >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-cad let-cad2=cad let-columns="columns" let-expanded="expanded" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="cad" [pContextMenuRow]="cad" [pSelectableRowIndex]="rowIndex">

      <td>
        <button type="button" pButton pRipple [pTooltip]="expanded ? 'Expandir' : 'Recolher'" tooltipPosition="top" [pRowToggler]="cad" class="p-button-rounded  p-button-text p-button-sm" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td *ngFor="let col of columns" [style.width]="col.largura">
        {{cad[col.field]}}
      </td>
    </tr>
  </ng-template>
  <!--*** EXPANDIDO ************************************************************************************************-->
  <ng-template pTemplate="rowexpansion" let-cad let-columns="columns">
    <tr class="expandido">
      <td [attr.colspan]="columns.length + 1" class="expandido">
        <div class="rowexpansion-corpo">
            <div class="p-fluid">
              <div class="p-d-flex p-jc-start p-pb-2">
              <div class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-eye"
                  class="p-button-rounded"
                  pTooltip="Detalhes"
                  tooltipPosition="top"
                  (click)="cadastroDetalheCompleto(cad)"
                >
                </button>
              </div>
                <button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning p-button-text"></button>
              <div *ngIf="authenticationService.cadastro_alterar" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning p-button-text"
                  pTooltip="Alterar"
                  tooltipPosition="top"
                  (click)="cadastroAlterar(cad)"
                >
                </button>
              </div>
              <div *ngIf="authenticationService.cadastro_apagar" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                  (click)="cadastroApagar(cad)"
                >
                </button>
              </div>
            </div>


            <div class="expandido p-grid">
              <div *ngFor="let linhas of dadosExp;" class="expandido p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div class="registros p-shadow-1">
                  <h5>{{linhas[0]}}</h5>

                  {{linhas[1]}}

                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" id="tabela-vazia">
        <div class="tabela-vazia-a">
          <div class="tabela-vazia-b">
            <div class="tabela-vazia-c p-shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** MENU *****************************************************************************************************-->
</p-table>
<!--*** FIM ********************************************************************************************************-->

<!--*** SELETOR DE COLUNAS *****************************************************************************************-->
<p-dialog
  header="Selecione as colunas."
  [(visible)]="mostraSeletor"
  [modal]="true"
  [style]="{width: '300px'}"
  [dismissableMask]="true"
  (onHide)="hideSeletor($event)"
>
  <p-listbox
    [options]="cols"
    [(ngModel)]="selectedColumns"
    [multiple]="true"
    [checkbox]="true"
    [filter]="true"
    optionLabel="header"
    [style]="{width: '270px'}"
    [listStyle]="{'max-height':'300px', 'width':'250px'}"
    (onChange)="onChangeSeletorColunas($event)"
  ></p-listbox>
</p-dialog>

<!--*** DETALHE ****************************************************************************************************-->
<ng-container *ngIf="mostraDetalhe">
  <p-dialog
    [(visible)]="mostraDetalhe"
    [transitionOptions]="'0ms'"
    header="CADASTRO DETALHE"
    position="top"
    appendTo="body"
    [modal]="true"
    [dismissableMask]="true"
    [closable]="true"
    styleClass="detalhe"
    (onHide)="imprimirFechar()"
    [breakpoints]="{'1100px': '70vw', '1000px': '85vw', '900px': '100vw'}"
    [style]="{width: '60vw'}"
  >
   <app-cadastro-detalhe [dataDetalhe]="cadDetalhe" (onFechar)="onFechar($event)"></app-cadastro-detalhe>
  </p-dialog>
</ng-container>

<p-contextMenu #cm [model]="contextoMenu" styleClass="tablistagem"></p-contextMenu>
