<table class="table-hover tabela" id="tabhistorico">
  <caption>HISTÓRICOS</caption>
  <tr>
    <td>Data</td>
    <td>Andamento</td>
    <td *ngIf="authenticationService.historico_alterar || authenticationService.historico_apagar" style="width: 3em"></td>
  </tr>

<tr *ngFor="let his of historicos; index as i">

  <td style="font-weight: normal">{{his.historico_data}}</td>
  <td style="font-weight: normal">
    <ng-container *ngIf="escolheCampos(his)===1">
      <quill-view [content]="transforma(his.historico_andamento_delta)" format="object" theme="snow"></quill-view>
    </ng-container>
    <ng-container *ngIf="escolheCampos(his)===2">
      <quill-view [content]="his.historico_andamento" format="html" theme="snow"></quill-view>
    </ng-container>
    <ng-container *ngIf="escolheCampos(his)===3">
      {{his.historico_andamento}}
    </ng-container>
  </td>
  <td *ngIf="authenticationService.historico_alterar || authenticationService.historico_apagar" style="width: 3em">
    <app-historico-solocitacao-form *ngIf="authenticationService.historico_alterar" [acao]="'alterar'" [dados]="his" (novosDados)="historicos[i]=$event"></app-historico-solocitacao-form>
    <app-historico-solocitacao-excluir *ngIf="authenticationService.historico_apagar" [id]="his.historico_id" [idx]="i" (OnExcluir)="onExluir($event)"></app-historico-solocitacao-excluir>
  </td>

</tr>

</table>
