<ng-container *ngIf="tipo === 1">
  {{cphtml}}
</ng-container>

<ng-container *ngIf="tipo === 2">
  <span class="celula-quill" (click)="mostraTexto()">{{txt}}</span>

  <ng-container *ngIf="showCampoTexto">
    <p-dialog
      [(visible)]="showCampoTexto"
      [dismissableMask]="true"
      [modal]="true"
      styleClass="tablistagem"
      [header]="titulo"
      (onHide)="escondeTexto()"
    >
      <app-quill-view [cpdelta]="cpdelta" [cphtml]="cphtml" class="detalhe"></app-quill-view>

      <p-footer>
        <button pButton type="button" label="Fechar " icon="pi pi-times"
                class="campo-extendido p-button-rounded p-button-sm" (click)="escondeTexto()"></button>
        &nbsp;
        <button
          *ngIf="cpdelta"
          pButton
          type="button"
          class="campo-extendido p-button-rounded p-button-sm"
          icon="pi pi-book"
          (click)="exportWord()"
          label="Word"
        ></button>
      </p-footer>
    </p-dialog>
  </ng-container>
</ng-container>
