<div class="inline-block formulario-bg-externo espacoInferiorMenu" (mouseenter)="bt0.focus()" pFocusTrap>
  <form #frm [formGroup]="formListar" (keyup.enter)="onKey($event)" (ngSubmit)="onMudaForm()" class="menuinterno-form">

    <div class="flex justify-content-between pb-2 ml-2 p-pl-2">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            #bt0
            id="bt0"
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            tabIndex="0"
            autofocus
          ></button>
        </div>
        <div *ngIf="authenticationService.oficio_incluir || authenticationService.usuario_responsavel_sn || authenticationService.usuario_principal_sn" class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-file-o"
            iconPos="left"
            label="Inclui Ofício"
            class="p-button-rounded p-button-secondary"
            (click)="incluirOficio()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            *ngIf="authenticationService.oficio_incluir"
            pButton
            type="button"
            icon="pi pi-times"
            iconPos="left"
            label="Limpar"
            class="p-button-rounded p-button-secondary"
            (click)="limpar()"
          ></button>
        </div>
      </div>
    </div>

    <div class="flex ml-1 p-pl-2 ">
      <div class="formgrid grid formulario">

        <!-- oficio_processo_id -->
        <div *ngIf="ddProce.ddProcesso_numero" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="processo_id">Número do processo</label>
          <p-dropdown
            id="processo_id"
            [filter]="ddProce.ddProcesso_numero.length > 50"
            filterBy="label"
            [options]="ddProce.ddProcesso_numero"
            [style]="{'width':'100%'}"
            placeholder="TODOS"
            formControlName="processo_id"
            [showClear]="true"
            (onChange)="processoNumeroChange($event)"
            (onClear)="processoNumeroClear()"
          ></p-dropdown>
        </div>

        <!-- processo_status -->
        <div *ngIf="ddProce.ddProcesso_status_id" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="processo_status_nome">Status</label>
          <p-dropdown
            [options]="ddProce.ddProcesso_status_id"
            id="processo_status_nome"
            optionLabel="label"
            formControlName="processo_status_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- processo_status -->
        <div *ngIf="ddProce.ddProcesso_solicitacao_situacao"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="solicitacao_situacao">Situação</label>
          <p-dropdown
            [options]="ddProce.ddProcesso_solicitacao_situacao"
            id="solicitacao_situacao"
            optionLabel="label"
            formControlName="solicitacao_situacao"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- solicitacao_cadastro_tipo_id -->
        <div *ngIf="ddProce.ddProcesso_cadastro_tipo_id"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="cadastro_tipo_id">Tipo de cadastro</label>
          <p-dropdown
            id="cadastro_tipo_id"
            [options]="ddProce.ddProcesso_cadastro_tipo_id"
            optionLabel="label"
            formControlName="cadastro_tipo_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- processo_cadastro_id -->
        <div *ngIf="ddProce.ddProcesso_cadastro_id" class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="cadastro_id">Solicitante</label>
          <p-dropdown
            id="cadastro_id"
            [options]="ddProce.ddProcesso_cadastro_id"
            [filter]="ddProce.ddProcesso_cadastro_id.length > 50"
            filterBy="label"
            optionLabel="label"
            formControlName="cadastro_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- solicitacao_orgao -->
        <div *ngIf="ddProce.ddProcesso_solicitacao_orgao"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="solicitacao_orgao">Orgão Solicitante</label>
          <p-dropdown
            id="solicitacao_orgao"
            [filter]="ddProce.ddProcesso_solicitacao_orgao.length > 50"
            filterBy="label"
            [options]="ddProce.ddProcesso_solicitacao_orgao"
            optionLabel="label"
            formControlName="solicitacao_orgao"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- solicitacao_area_interesse_id -->
        <div *ngIf="ddProce.ddProcesso_solicitacao_area_interesse_id"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="solicitacao_area_interesse_id">Área de interesse</label>
          <p-dropdown
            [options]="ddProce.ddProcesso_solicitacao_area_interesse_id"
            [filter]="ddProce.ddProcesso_solicitacao_area_interesse_id.length > 50"
            filterBy="label"
            optionLabel="label"
            id="solicitacao_area_interesse_id"
            formControlName="solicitacao_area_interesse_id"
            placeholder="TODAS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- solicitacao_assunto_id -->
        <div *ngIf="ddProce.ddProcesso_solicitacao_assunto_id"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="solicitacao_assunto_id">Assunto</label>
          <p-dropdown
            [filter]="ddProce.ddProcesso_solicitacao_assunto_id.length > 50"
            filterBy="label"
            [options]="ddProce.ddProcesso_solicitacao_assunto_id"
            optionLabel="label"
            id="solicitacao_assunto_id"
            formControlName="solicitacao_assunto_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- cadastro_municipio_id -->
        <div *ngIf="ddProce.ddProcesso_cadastro_municipio_id"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="cadastro_municipio_id">Município</label>
          <p-dropdown
            id="cadastro_municipio_id"
            [filter]="ddProce.ddProcesso_cadastro_municipio_id.length > 50"
            filterBy="label"
            [options]="ddProce.ddProcesso_cadastro_municipio_id"
            optionLabel="label"
            formControlName="cadastro_municipio_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- cadastro_regiao_id -->
        <div *ngIf="ddProce.ddProcesso_cadastro_regiao_id"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="cadastro_regiao_id">Região</label>
          <p-dropdown
            id="cadastro_regiao_id"
            [filter]="ddProce.ddProcesso_cadastro_regiao_id.length > 50"
            filterBy="label"
            [options]="ddProce.ddProcesso_cadastro_regiao_id"
            optionLabel="label"
            formControlName="cadastro_regiao_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- solicitacao_local_id -->
        <div *ngIf="ddProce.ddProcesso_solicitacao_local_id"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="solicitacao_local_id">Núcleo</label>
          <p-dropdown
            [options]="ddProce.ddProcesso_solicitacao_local_id"
            optionLabel="label"
            id="solicitacao_local_id"
            formControlName="solicitacao_local_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- solicitacao_reponsavel_analize_id -->
        <div *ngIf="ddProce.ddProcesso_solicitacao_reponsavel_analize_id"
             class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <label for="solicitacao_reponsavel_analize_id">Responsável pela analise</label>
          <p-dropdown
            [options]="ddProce.ddProcesso_solicitacao_reponsavel_analize_id"
            optionLabel="label"
            id="solicitacao_reponsavel_analize_id"
            formControlName="solicitacao_reponsavel_analize_id"
            placeholder="TODOS"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <!-- solicitacao_data1 -->
        <ng-container *ngIf="ddProce.ddProcesso_solicitacao_data1 && ddProce.ddProcesso_solicitacao_data2">
          <div class="field col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3">
            <label for="solicitacao_data1">De</label>
            <p-dropdown
              [filter]="ddProce.ddProcesso_solicitacao_data1.length > 50"
              filterBy="label"
              [options]="ddProce.ddProcesso_solicitacao_data1"
              optionLabel="label"
              optionValue="value"
              id="solicitacao_data1"
              formControlName="solicitacao_data1"
              placeholder="TODAS"
              [showClear]="true"
            ></p-dropdown>
          </div>

          <!-- solicitacao_data2 -->
          <div class="field col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3">
            <label for="solicitacao_data2">até</label>
            <p-dropdown
              [filter]="ddProce.ddProcesso_solicitacao_data2.length > 50"
              filterBy="label"
              [options]="ddProce.ddProcesso_solicitacao_data2"
              optionLabel="label"
              id="solicitacao_data2"
              formControlName="solicitacao_data2"
              placeholder="TODAS"
              [showClear]="true"
            ></p-dropdown>
          </div>
        </ng-container>

      </div>
    </div>

    <div class="flex justify-content-between pb-2 ml-2 p-pl-2 mt-6">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div *ngIf="authenticationService.oficio_incluir || authenticationService.usuario_responsavel_sn || authenticationService.usuario_principal_sn" class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-times"
            iconPos="left"
            label="Inclui Ofício"
            class="p-button-rounded p-button-secondary"
            (click)="incluirOficio()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-times"
            iconPos="left"
            label="Limpar"
            class="p-button-rounded p-button-secondary"
            (click)="limpar()"
          ></button>
        </div>
      </div>
    </div>

  </form>
</div>
