<div class="inline-block formulario-bg-externo espacoInferiorMenu">
  <form [formGroup]="formMenu" (keyup)="onKey($event)" class="menuinterno-form">
    <ng-container *ngIf="!auth.cadastrosigilo_listar">
      <input
        type="hidden"
        formControlName="cadastro_sigilo2"
        id="cadastro_sigilo2"
      >
    </ng-container>
    <div class="flex justify-content-between pb-2 ml-2 p-pl-2">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-circle-off"
            iconPos="left"
            label="Limpar"
            class="p-button-rounded p-button-secondary"
            (click)="formMenu.reset()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            *ngIf="auth.usuario_responsavel_sn || auth.usuario_principal_sn || auth.cadastro_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>

    <div class="flex ml-1 p-pl-2">

      <div class="inline-block grid">

        <div class="col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
          <div class="formgrid grid formulario">
            <!-- cadastro_tipo -->
            <div class="field col-12">
              <label for="cadastro_tipo_id">Tipo de Cadastro</label>
              <p-dropdown
                id="cadastro_tipo_id"
                formControlName="cadastro_tipo_id"
                placeholder="TODOS"
                [options]="dd.ddn.ddCadastroTipoId"
                [group]="true"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_nome -->
            <div class="field col-12">
              <label for="cadastro_nome">Nome/Razão Social <span class="labeltips">(CONTÉM)</span></label>
              <p-autoComplete
                id="cadastro_nome"
                formControlName="cadastro_nome"
                placeholder="Nome/Razão Social"
                field="label"
                [maxlength]="50"
                [minLength]="4"
                [delay]="1000"
                [suggestions]="sgt"
                (completeMethod)="autoComp2($event)"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>
            <!-- cadastro_responsavel -->
            <div class="field col-12">
              <label for="cadastro_responsavel">Empresa/Responsável <span class="labeltips">(CONTÉM)</span></label>
              <p-autoComplete
                id="cadastro_responsavel"
                formControlName="cadastro_responsavel"
                placeholder="Empresa/Responsável"
                [maxlength]="50"
                [minLength]="3"
                [delay]="500"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event, 'cadastro_responsavel')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>
            <!-- cadastro_sigla -->
            <div class="field col-12">
              <label for="cadastro_sigla">Sigla <span class="labeltips">(CONTÉM)</span></label>
              <p-autoComplete
                id="cadastro_sigla"
                formControlName="cadastro_sigla"
                placeholder="Sigla"
                [maxlength]="50"
                [minLength]="3"
                [delay]="500"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event,'cadastro_sigla')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>
            <!-- cadastro_apelido -->
            <div class="field col-12">
              <label for="cadastro_apelido">Apelido <span class="labeltips">(CONTÉM)</span></label>
              <p-autoComplete
                id="cadastro_apelido"
                formControlName="cadastro_apelido"
                placeholder="Apelido"
                [maxlength]="50"
                [minLength]="3"
                [delay]="500"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event,'cadastro_apelido')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>
            <!-- cadastro_bairro -->
            <div class="field col-12">
              <label for="cadastro_bairro">Bairro</label>
              <p-dropdown
                id="cadastro_bairro"
                [options]="dd.ddn.ddCadastroBairro"
                optionLabel="label"
                placeholder="TODOS"
                formControlName="cadastro_bairro"
                [filter]="dd.ddn.ddCadastroBairro.length > 100"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_municipio_id -->
            <div class="field col-12">
              <label for="cadastro_municipio_id">Município</label>
              <p-dropdown
                id="cadastro_municipio_id"
                [options]="dd.ddn.ddCadastroMunicipioId"
                optionLabel="label"
                placeholder="TODOS"
                formControlName="cadastro_municipio_id"
                [filter]="dd.ddn.ddCadastroMunicipioId.length > 100"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <div class="field col-12">
              <label for="cadastro_estado_id">Estado</label>
              <p-dropdown
                id="cadastro_estado_id"
                [options]="dd.ddn.ddCadastroEstadoId"
                optionLabel="label"
                formControlName="cadastro_estado_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_municipio_regiao -->
            <div class="field col-12">
              <label for="cadastro_regiao_id">Região</label>
              <p-dropdown
                id="cadastro_regiao_id"
                [options]="dd.ddn.ddCadastroRegiaoId"
                optionLabel="label"
                formControlName="cadastro_regiao_id"
                placeholder="TODAS"
                [filter]="dd.ddn.ddCadastroRegiaoId.length > 100"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_grupo_id -->
            <div class="field col-12">
              <label for="cadastro_grupo_id">Grupo</label>
              <p-dropdown
                id="cadastro_grupo_id"
                [options]="dd.ddn.ddCadastroGrupoId"
                optionLabel="label"
                formControlName="cadastro_grupo_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_animes -->
            <div class="field col-12">
              <label for="cadastro_animes">Mês de Aniversário</label>
              <p-dropdown
                id="cadastro_animes"
                [options]="dd.ddn.ddCadastroAniversario"
                optionLabel="label"
                formControlName="cadastro_animes"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_anidia -->
            <div class="field col-12">
              <label for="cadastro_anidia">Dia do Aniversário</label>
              <p-dropdown
                id="cadastro_anidia"
                [options]="dd.ddn.ddCadastroAnidia"
                optionLabel="label"
                formControlName="cadastro_anidia"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- quinzena -->
            <div class="field col-12">
              <label for="quinzena">Quinzena de Aniversário</label>
              <p-dropdown
                id="quinzena"
                [options]="dd.ddn.ddCadastroQuinzena"
                optionLabel="label"
                formControlName="quinzena"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- dt aniversario intervalo1 -->
            <div class="field col-6 sm:col-12 md:col-12 lg:col-6 xl:col-6">
              <!-- aniversario intervalo1 -->
              <label for="cadastro_data_nascimento1">Dt. Nasc. / Fundação</label>
              <p-calendar
                id="cadastro_data_nascimento1"
                formControlName="cadastro_data_nascimento1"
                placeholder="De"
                dateFormat="dd/mm/yy"
                [monthNavigator]="true"
                [yearNavigator]="true"
                yearRange="1900:2030"
                dataType="date"
              ></p-calendar>
            </div>
            <div class="field col-6 sm:col-12 md:col-12 lg:col-6 xl:col-6">
              <!-- aniversario intervalo1 -->
              <label for="cadastro_data_nascimento2">Até</label>
              <p-calendar
                id="cadastro_data_nascimento2"
                formControlName="cadastro_data_nascimento2"
                placeholder="Até"
                dateFormat="dd/mm/yy"
                [monthNavigator]="true"
                [yearNavigator]="true"
                yearRange="1900:2030"
                dataType="date"
              ></p-calendar>
            </div>
            <!-- cadastro_campo1 -->
            <div *ngIf="cs.cadastro_campo1_sn" class="field col-12">
              <label for="cadastro_campo1">{{cs.cadastro_campo1_nome}} <span class="labeltips">(CONTÉM)</span></label>
              <p-autoComplete
                id="cadastro_campo1"
                formControlName="cadastro_campo1"
                [maxlength]="50"
                [minLength]="3"
                [delay]="300"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event,'cadastro_campo1')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>
            <!-- cadastro_campo2 -->
            <div *ngIf="cs.cadastro_campo2_sn" class="field col-12">
              <label for="cadastro_campo2">{{cs.cadastro_campo2_nome}} <span class="labeltips">(CONTÉM)</span></label>
              <p-autoComplete
                id="cadastro_campo2"
                formControlName="cadastro_campo2"
                [maxlength]="50"
                [minLength]="3"
                [delay]="300"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event,'cadastro_campo2')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>
          </div>
        </div>

        <div class="col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6 menu-lateral">
          <div class="formgrid grid formulario">
            <!-- cadastro_usuario -->
            <div class="field col-12">
              <label for="cadastro_usuario">Cadastrante</label>
              <p-dropdown
                id="cadastro_usuario"
                [options]="dd.ddn.ddCadastroUsuario"
                optionLabel="label"
                formControlName="cadastro_usuario"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_profissao -->
            <div class="field col-12">
              <label for="cadastro_profissao">Profissão <span class="labeltips">(CONTÉM)</span></label>
              <p-autoComplete
                id="cadastro_profissao"
                formControlName="cadastro_profissao"
                placeholder="Profissão"
                [maxlength]="50"
                [minLength]="3"
                [delay]="300"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event,'cadastro_profissao')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>
            <!-- cadastro_estado_civil_id -->
            <div class="field col-12">
              <label for="cadastro_estado_civil_id">Estado Civil</label>
              <p-dropdown
                id="cadastro_estado_civil_id"
                [options]="dd.ddn.ddCadastroEstadoCivilId"
                optionLabel="label"
                formControlName="cadastro_estado_civil_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_sexo -->
            <div class="field col-12">
              <label for="cadastro_sexo2">Gênero</label>
              <p-dropdown
                id="cadastro_sexo2"
                [options]="dd.ddn.ddCadastroSexo"
                optionLabel="label"
                formControlName="cadastro_sexo2"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_zona -->
            <div class="field col-12">
              <label for="cadastro_zona">Partido</label>
              <p-dropdown
                id="cadastro_zona"
                [options]="dd.ddn.ddCadastroZona"
                optionLabel="label"
                formControlName="cadastro_zona"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_cargo -->
            <div class="field col-12">
              <label for="cadastro_cargo">Cargo</label>
              <p-autoComplete
                id="cadastro_cargo"
                formControlName="cadastro_cargo"
                placeholder="Cargo"
                [maxlength]="50"
                [minLength]="3"
                [delay]="300"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event,'cadastro_cargo')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>
            <!-- cadastro_escolaridade_id -->
            <div class="field col-12">
              <label for="cadastro_escolaridade_id">Escolaridade</label>
              <p-dropdown
                id="cadastro_escolaridade_id"
                [options]="dd.ddn.ddCadastroEscolaridadeId"
                optionLabel="label"
                formControlName="cadastro_escolaridade_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_jornal -->
            <div class="field col-12">
              <label for="cadastro_jornal">Boletim</label>
              <p-dropdown
                id="cadastro_jornal"
                [options]="dd.ddn.ddCadastroSn"
                optionLabel="label"
                formControlName="cadastro_jornal"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_mala -->
            <div class="field col-12">
              <label for="cadastro_mala">Mala Direta</label>
              <p-dropdown
                id="cadastro_mala"
                [options]="dd.ddn.ddCadastroSn"
                optionLabel="label"
                formControlName="cadastro_mala"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_agenda -->
            <div class="field col-12">
              <label for="cadastro_agenda">Contato</label>
              <p-dropdown
                id="cadastro_agenda"
                [options]="dd.ddn.ddCadastroSn"
                optionLabel="label"
                formControlName="cadastro_agenda"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_sigilo -->
            <div *ngIf="auth.cadastrosigilo_listar" class="field col-12">
              <label for="cadastro_sigilo">Sigilo</label>
              <p-dropdown
                id="cadastro_sigilo"
                [options]="dd.ddn.ddCadastroSn"
                optionLabel="label"
                formControlName="cadastro_sigilo2"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <!-- cadastro_cpfcnpj -->
            <div class="field col-12">
              <label for="cadastro_cpfcnpj">CPF/CNPJ</label>
              <input
                id="cadastro_cpfcnpj"
                formControlName="cadastro_cpfcnpj"
                type="text"
                [size]="40"
                [maxlength]="50"
                placeholder="CPF/CNPJ"
                pInputText
              />
            </div>
            <!-- telefone -->
            <div class="field col-12">
              <label for="telefone">Telefone</label>
              <input
                id="telefone"
                formControlName="telefone"
                type="text"
                [size]="40"
                [maxlength]="20"
                placeholder="Telefone"
                pInputText
              />
            </div>
            <!-- cadastro_data_cadastramento -->
            <div class="field col-12">
              <label for="cadastro_data_cadastramento">Dt. Cadastramento</label>
              <p-calendar
                id="cadastro_data_cadastramento"
                formControlName="cadastro_data_cadastramento"
                placeholder="Dt. Cadastramento"
                dateFormat="dd/mm/yy"
                [monthNavigator]="true"
                [yearNavigator]="true"
                yearRange="1900:2030"
              ></p-calendar>
            </div>
            <!-- cadastro_campo3 -->
            <div *ngIf="cs.cadastro_campo3_sn" class="field col-12">
              <label for="cadastro_campo3">{{cs.cadastro_campo3_nome}}</label>
              <input
                id="cadastro_campo3"
                formControlName="cadastro_campo3"
                type="text"
                [size]="40"
                [maxlength]="50"
                placeholder="Campo3"
                pInputText
              />
            </div>
            <!-- cadastro_campo4_id -->
            <div *ngIf="cs.cadastro_campo4_sn" class="field col-12">
              <label for="cadastro_campo4_id">{{cs.cadastro_campo4_nome}}</label>
              <p-dropdown
                id="cadastro_campo4_id"
                [options]="dd.ddn.ddCadastroCampo4Id"
                optionLabel="label"
                formControlName="cadastro_campo4_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="flex justify-content-between pb-2 ml-2 p-pl-2">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            pButton
            type="button"
            icon="pi pi-circle-off"
            iconPos="left"
            label="Limpar"
            class="p-button-rounded p-button-secondary"
            (click)="formMenu.reset()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            *ngIf="auth.usuario_responsavel_sn || auth.usuario_principal_sn || auth.cadastro_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>

  </form>
</div>
