<div class="formulariotelefone" style="background-color: var(--formulario-bg-externo-color);">
  <form [formGroup]="formConta" (ngSubmit)="onSubmit()">
    <input
      *ngIf="!nucleo"
      type="hidden"
      formControlName="conta_local_id"
    >
    <div class="p-fluid">

      <div class="p-d-flex p-jc-center">
        <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
        </div>
      </div>

      <div class="p-grid">

        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-grid p-input-filled">

            <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
              <div class="p-fluid p-formgrid p-grid formulario">

                <!-- conta_cedente -->
                <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4" [ngClass]="aplicaCssErro('conta_cedente')">
                  <label for="conta_cedente"><span class="atencao">*</span> Cedente</label>
                  <p-autoComplete
                    id="conta_cedente"
                    formControlName="conta_cedente"
                    [maxlength]="50"
                    [minLength]="3"
                    [size]="40"
                    [delay]="500"
                    [suggestions]="sgt"
                    dropdownMode="current"
                    (completeMethod)="autoComp($event)"
                    [ngClass]="aplicaCssErro('conta_cedente')"
                    tabindex="0"
                  ></p-autoComplete>
                  <app-campo-control-erro [mostrarErro]="verificaValidTouched('conta_cedente')" msgErro="Cedente é obrigatório."></app-campo-control-erro>
                </div>

                <!-- conta_vencimento -->
                <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4" [ngClass]="aplicaCssErro('conta_vencimento')">
                  <label for="conta_vencimento"><span class="atencao">*</span> Data Vencimento</label>
                  <p-calendar
                    id="conta_vencimento"
                    formControlName="conta_vencimento"
                    dateFormat="dd/mm/yy"
                    [yearNavigator]="true"
                    yearRange="2000:2035"
                    placeholder="dd/mm/aaaa"
                    dataType="date"
                    [styleClass]="'estreito'"
                    [ngClass]="aplicaCssErro('conta_vencimento')"
                    tabindex="1"
                  ></p-calendar>
                  <app-campo-control-erro [mostrarErro]="verificaValidTouched('conta_vencimento')" msgErro="Vencimento é obrigatório."></app-campo-control-erro>
                </div>

                <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4" [ngClass]="aplicaCssErro('conta_valor')">
                  <label for="conta_valor"><span class="atencao">*</span> Valor</label>
                  <p-inputNumber
                    id="conta_valor"
                    formControlName="conta_valor"
                    mode="currency"
                    locale="pt-BR"
                    currency="BRL"
                    [size]="40"
                    [required]="true"
                    [ngClass]="aplicaCssErro('conta_valor')"
                    tabindex="2"
                  ></p-inputNumber>
                  <app-campo-control-erro [mostrarErro]="verificaValidTouched('conta_valor')" msgErro="Valor é obrigatório."></app-campo-control-erro>
                </div>

                <!-- conta_paga -->
                <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                  <label for="conta_paga">Pagamemento efetuado</label>
                  <span id="info2" class="info-icon pi pi-question-circle" (click)="mostraInfo('info2')"></span>
                  <p-selectButton
                    id="conta_paga"
                    [options]="dr.ddConta_paga"
                    formControlName="conta_paga"
                    #ctagg
                    (onChange)="onCtaPaga($event)"
                    tabindex="3"
                  >
                  </p-selectButton>
                </div>



                <!-- conta_pagamento -->
                <div *ngIf="ctaPaga > 0" class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                  <label for="conta_pagamento">Data pagamento</label>
                  <p-calendar
                    id="conta_pagamento"
                    formControlName="conta_pagamento"
                    dateFormat="dd/mm/yy"
                    [yearNavigator]="true"
                    yearRange="2000:2035"
                    placeholder="dd/mm/aaaa"
                    dataType="date"
                    [styleClass]="'estreito'"
                    [ngClass]="aplicaCssErro('conta_pagamento')"
                    tabindex="4"
                  ></p-calendar>
                </div>

                <!-- conta_local_id -->
                <div *ngIf="nucleo" class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                  <label for="conta_local_id">Núcleo</label>
                  <p-dropdown
                    id="conta_local_id"
                    [options]="ddConta_local_id"
                    [style]="{'max-width':'90%'}"
                    formControlName="conta_local_id"
                    placeholder="SELECIONE"
                    [showClear]="false"
                    [ngClass]="aplicaCssErro('conta_local_id')"
                    tabindex="5"
                  ></p-dropdown>
                </div>

                <!-- rptdia -->
                <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                  <label for="conta_rptdia">Repetir vencimento</label>
                  <p-dropdown
                    id="conta_rptdia"
                    [options]="dr.ddRptdia"
                    [style]="{'max-width':'90%'}"
                    formControlName="conta_rptdia"
                    [readonly]="acao==='alterar'"
                    (onChange)="repetirVencimento($event)"
                    tabindex="6"
                  ></p-dropdown>
                </div>

                <!-- parcelas -->
                <div *ngIf="rptd" class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                  <label for="conta_parcelas">Recorrência / Num. parcelas </label>
                  <p-dropdown
                    id="conta_parcelas"
                    [options]="dr.ddParcelas"
                    [style]="{'max-width':'90%'}"
                    formControlName="conta_parcelas"
                    [readonly]="acao==='alterar'"
                    tabindex="7"
                  ></p-dropdown>
                </div>

                <!-- conta_tipo -->
                <div *ngIf="rptd" #info2 class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                  <label for="conta_tipo">Tipo</label>
                  <span id="info1" class="info-icon pi pi-question-circle" (click)="mostraInfo('info1')"></span>
                  <p-selectButton
                    id="conta_tipo"
                    [options]="dr.ddConta_tipo"
                    [style]="{'max-width':'90%'}"
                    formControlName="conta_tipo"
                    [ngClass]="aplicaCssErro('conta_tipo')"
                    tabindex="8"
                  ></p-selectButton>
                </div>

                <!-- conta_paga2 -->
                <div *ngIf="acao==='incluir' && rptd" class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                  <label for="conta_paga2">Pagtos recorrentes</label>
                  <span id="info3" class="info-icon pi pi-question-circle" (click)="mostraInfo('info3')"></span>
                  <p-selectButton
                    id="conta_paga2"
                    [options]="dr.ddConta_paga"
                    formControlName="conta_paga2"
                    [ngClass]="aplicaCssErro('conta_paga2')"
                    tabindex="9"
                  >
                  </p-selectButton>
                </div>

                <!-- agenda -->
                <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                  <h5>Lembrete na agenda</h5>
                  <p-inputSwitch id="conta_agenda" #info4 formControlName="conta_agenda" [readonly]="!agendaSN" tabindex="10"></p-inputSwitch>
                  <div><small *ngIf="acao ==='alterar' && agendaSN && info4.checked" style="color: var(--erro-color)">
                    Será incluido na agenda lembrete só para essa ocorrência.
                  </small></div>
                </div>


              </div>
            </div>

            <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
              <div class="p-fluid p-formgrid p-grid formulario">


                <!-- conta_observacao -->
                <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
                  <div class="p-d-flex p-jc-center">
                    <div class="formulario-quill">
                      <h5>Observações</h5>
                      <div class="qeditor">
                        <quill-editor
                          class="formulario"
                          id="conta_observacao"
                          formControlName="conta_observacao"
                          [format]="'html'"
                          [defaultEmptyValue]="null"
                          [theme]="'snow'"
                          [modules]="modulos"
                          [debounceTime]="10"
                          [placeholder]="''"
                          (onEditorCreated)="onEditorCreated($event)"
                          tabindex="11"
                        ></quill-editor>
                      </div>
                    </div>
                  </div>
                </div>


                <ng-container *ngIf="aut.arquivos">
                  <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
                    <div class="p-d-flex p-jc-center">
                      <div class="arquivo-upload">
                        <app-arquivo *ngIf="acao === 'incluir'"
                                     [modulo]="'conta'"
                                     [modelo]="'incluir'"
                                     [registro_id]="arquivo_registro_id"
                                     [uploadDisabled]="arquivoDesativado || !formConta.valid"
                                     [enviarArquivos]="enviarArquivos"
                                     (onBlockSubmit)="onBlockSubmit($event)"
                                     (onUpload)="onUpload($event)"
                                     (onPossuiArquivos)="onPossuiArquivos($event)"
                                     [clearArquivos]="clearArquivos"
                        ></app-arquivo>
                        <app-arquivo *ngIf="acao === 'alterar'"
                                     [modulo]="'conta'"
                                     [uploadDisabled]="arquivoDesativado"
                                     [arqs]="cfs.contaListar.conta_arquivos"
                                     [registro_id]="cfs.conta.conta_id"
                                     (onPossuiArquivos)="onPossuiArquivos($event)"
                                     [modelo]="'alterar'"
                                     [stiloClass]="'formulario'"
                                     [buscaArquivos]="false"
                        ></app-arquivo>
                      </div>
                    </div>
                  </div>
                </ng-container>

              </div>
            </div>

          </div>
        </div>

        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>

      </div>
    </div>


    <div class="p-grid">
      <div class="p-col-10 p-offset-1" style="background-color: var(--formulario-bg-externo-color);">&nbsp;</div>
    </div>

    <div class="p-fluid">
      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-grid p-input-filled">
            <div class="p-col-12 formulario">
              <!--*** Botões ***-->
              <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                <div class="p-d-inline-flex">
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="submit"
                      class="p-button-rounded"
                      [disabled]="!formConta.valid || mostraForm"
                      label="Enviar"
                      tabindex="12"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Limpar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Fechar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>


      <div class="p-grid">
        <div class="p-col-10 p-offset-1">&nbsp;</div>
      </div>
    </div>

  </form>
</div>


<p-dialog
  [(visible)]="infoVf"
  [dismissableMask]="true"
  position="top"
  styleClass="tablistagem"
  [header]="'INFORMAÇÕES'"
  transitionOptions="350ms cubic-bezier(0, 0, 0.2, 1)"
>
  <div *ngIf="texto==='info1'">
    <b>FIXA</b><br>
    Vencimentos com valores fixos.<br>
      Quando utilizada com "REPETIR VENCIMENTO" todas as parcelas/recorrencias terão o mesmo valor associado.<br>
      Exemplos: compras em parcelas, assinaturas de revistas, etc.<br>
    <b>VARIÁVEL</b><br>
    Vencimentos com valores variáveis.<br>
      Quando utilizado com "REPETIR VENCIMENTO" o valor será atribuído apenas à primeira ocorrência, as demais terão
      valor ZERO.<br>
      Exemplos: contas de telefone, eletricidade etc.
  </div>
  <div *ngIf="texto==='info2'">
    <b>SIM</b><br>
    Quando selecionado a data de pagamento torna-se obrigatória.<br>
    <b>NÃO</b><br>
    Quando selecionado não será atribuido uma data de pagamento.<br>
    <b>DEBT. AUT.</b><br>
    Quando a selecionado a data de pagamento será a mesma que a do vencimento.
  </div>
  <div *ngIf="texto==='info3'">
    <b>SIM</b><br>
    Quando selecionado os registro subsequentes serão marcados como pago e aS dataS de pagamento serão as mesmas dos vencimentos subsequentes.<br>
    <b>NÃO</b><br>
    Quando selecionado não será atribuido uma data de pagamento nos registro subsequentes.<br>
    <b>DEBT. AUT.</b><br>
    Quando selecionado os registro subsequentes serão marcados como DÉBITO AUTOMÁTICO e as datas dos pagamento serão as mesmas dos vencimentos subsequentes.
  </div>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="infoVf=false" label="FECHAR" styleClass="p-button-rounded p-button-secondary"></p-button>
  </ng-template>
</p-dialog>
