<p-scrollPanel [styleClass]="'scrollPanel50'">
  <form [formGroup]="formConta">

    <div class="p-grid">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
    </div>

    <div class="p-grid">
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">

        <!-- conta_cedente -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('conta_cedente')">
            <h6><span style="color: var(--ativo);">*</span> Cedente</h6>
            <p-autoComplete
              formControlName="conta_cedente"
              [maxlength]="50"
              [minLength]="3"
              [size]="40"
              [delay]="500"
              [suggestions]="sgt"
              dropdownMode="current"
              (completeMethod)="autoComp($event)"
            ></p-autoComplete>
            <app-campo-control-erro msgErro="Cedente é obrigatório."></app-campo-control-erro>
          </div>
        </div>

        <!-- conta_valor -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('conta_valor')">
            <h6><span style="color: var(--ativo);">*</span> Valor</h6>
            <input
              formControlName="conta_valor"
              type="text"
              [size]="40"
              [maxlength]="50"
              pKeyFilter="money"
              pInputText
            />
            <app-campo-control-erro msgErro="Valor é obrigatório."></app-campo-control-erro>
          </div>
        </div>

        <!-- conta_vencimento -->
        <div class="p-grid">
          <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6 campoLabelMenu"
               [ngClass]="aplicaCssErro('conta_vencimento')">
            <h6><span style="color: var(--ativo);">*</span> Data Vencimento</h6>
            <div style="width: 100px">
              <p-calendar
                formControlName="conta_vencimento"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"
                dataType="string"
                [styleClass]="'estreito'"
              ></p-calendar>
            </div>
            <app-campo-control-erro msgErro="Vencimento é obrigatório."></app-campo-control-erro>
          </div>

          <!-- conta_paga -->
          <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6 campoLabelMenu" [ngClass]="aplicaCssErro('conta_paga')">
            <h6><span *ngIf="acao !== 'alterar'" style="color: var(--ativo);">*</span> Pagamemento efetuado</h6>
            <p-selectButton [options]="cd.ddConta_paga" formControlName="conta_paga" #ctapg></p-selectButton>
            <app-campo-control-erro msgErro="Pagamemento efetuado é obrigatório."></app-campo-control-erro>
          </div>

        </div>

        <!-- conta_pagamento -->
        <div *ngIf="ctapg.value === 1" class="p-grid">
          <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12 campoLabelMenu">
            <h6>Data pagamento</h6>
            <div style="width: 100px">
              <p-calendar
                formControlName="conta_pagamento"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"
                dataType="string"
                [styleClass]="'estreito'"
              ></p-calendar>
            </div>
          </div>
        </div>

        <!-- conta_tipo -->
        <div class="p-grid">
          <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6 campoLabelMenu" [ngClass]="aplicaCssErro('conta_tipo')">
            <h6><span *ngIf="acao !== 'alterar'" style="color: var(--ativo);">*</span> Tipo</h6>
            <p-selectButton [options]="cd.ddConta_tipo" formControlName="conta_tipo"></p-selectButton>
            <app-campo-control-erro msgErro="Tipo é obrigatório."></app-campo-control-erro>
          </div>



          <!-- conta_debito_automatico -->

          <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6 campoLabelMenu"
               [ngClass]="aplicaCssErro('conta_debito_automatico')">
            <h6><span *ngIf="acao !== 'alterar'" style="color: var(--ativo);">*</span> Débito Automático</h6>
            <p-selectButton [options]="cd.ddConta_debito_automatico"
                            formControlName="conta_debito_automatico"></p-selectButton>
            <app-campo-control-erro msgErro="Débito Automático é obrigatório."></app-campo-control-erro>
          </div>
        </div>

        <app-arquivo id="contaarquivo"
          *ngIf="authenticationService.arquivos"
          [modulo]="'conta'"
          [modelo]="acao"
          [registro_id]="arquivo_registro_id"
          [uploadDisabled]="arquivoDesativado || !formConta.valid"
          [enviarArquivos]="enviarArquivos"
          (onBlockSubmit)="onBlockSubmit($event)"
          (onUpload)="onUpload($event)"
          (onPossuiArquivos)="onPossuiArquivos($event)"
          [clearArquivos]="clearArquivos"
          [stiloClass]="'p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6 campoLabelMenu'"
        ></app-arquivo>


      </div>
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">

        <!-- rptdia -->
        <div class="p-grid">
          <div *ngIf="acao !== 'alterar'" class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6 campoLabelMenu">
            <h6> Repetir vencimento</h6>
            <p-dropdown
              [options]="cd.ddRptdia"
              [style]="{'max-width':'90%'}"
              formControlName="rptdia"
              placeholder="NÃO"
              [showClear]="true"
              (onChange)="repetirVencimento($event)"
            ></p-dropdown>
          </div>


        <!-- parcelas -->

          <div *ngIf="acao !== 'alterar' && rptd" class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6 campoLabelMenu">
            <h6> Num. parcelas</h6>
            <p-dropdown
              [options]="cd.ddParcelas"
              [style]="{'max-width':'90%'}"
              formControlName="parcelas"
              placeholder="NÃO"
              [showClear]="true"
            ></p-dropdown>
          </div>
        </div>

        <!-- agenda -->
        <div class="p-grid">
          <div *ngIf="acao !== 'alterar'" class="p-col-12 campoLabelMenu">
            <h6> Lembrete na agenda</h6>
            <p-inputSwitch formControlName="agenda"></p-inputSwitch>
          </div>
        </div>


        <!-- conta_local_id -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu" [ngClass]="aplicaCssErro('conta_local_id')">
            <h6><span *ngIf="acao !== 'alterar'" style="color: var(--ativo);">*</span> Núcleo</h6>
            <p-dropdown
              [options]="ddConta_local_id"
              [style]="{'max-width':'90%'}"
              formControlName="conta_local_id"
              placeholder="SELECIONE"
              [showClear]="true"
            ></p-dropdown>
            <app-campo-control-erro msgErro="Núcleo é obrigatório."></app-campo-control-erro>
          </div>
        </div>

        <!-- conta_observacao -->
        <div class="p-grid">
          <div class="p-col-12 campoLabelMenu">
            <h6>Observações</h6>
            <textarea
              formControlName="conta_observacao"
              [rows]="5"
              [cols]="40"
              pInputTextarea
              [autoResize]="true"
              style="max-width :90%"
            >
          </textarea>
          </div>
        </div>

      </div>

    </div>


  </form>
  <div class="p-grid">
    <div class="p-col-12"></div>
    <div class="p-col-12">
      <div class="botoesmenu">
        <button
          pButton
          type="button"
          class="p-button-rounded"
          [disabled]="!formConta.valid || mostraForm"
          (click)="enviarConta()"
          label="Enviar"
        ></button>
        &nbsp;&nbsp;
        <button
          pButton
          type="button"
          class="p-button-rounded p-button-secondary"
          (click)="resetForm()"
          label="Limpar"
          [disabled]="botaoEnviarVF"
        ></button>
        &nbsp;&nbsp;
        <button
          pButton
          type="button"
          class="p-button-rounded p-button-secondary"
          (click)="voltarListar()"
          label="Fechar"
          [disabled]="botaoEnviarVF"
        ></button>
      </div>
    </div>
    <div class="p-col-12"></div>
    <div class="p-col-12"></div>
    <div class="p-col-12"></div>
  </div>
</p-scrollPanel>
