<p-panel
  [toggleable]="painelDestravado"
  [collapsed]="painelFechado"
  (onBeforeToggle)="onBeforeToggle($event)"
  (onAfterToggle)="onAfterToggle($event)"
  #painel
  class="explorer">

  <ng-template pTemplate="icons">


    <button *ngIf="exs.mostraUpload() && mostraBtns" pButton pRipple class="p-panel-header-icon p-link p-ripple" (click)="abreUpload()">
      <span class="pi pi-upload"></span>
    </button>
    <button *ngIf="mostraBtns" pButton pRipple class="p-panel-header-icon p-link p-ripple" (click)="abreFormulario()">
      <span class="pi pi-folder"></span>
    </button>

  </ng-template>

  <ng-template pTemplate="header">


    <div class="p-d-inline p-jc-between p-ai-center p-flex-column p-flex-md-row">
      <div class="p-d-flex p-jc-between">
        <div class="p-mx-1">

          <div *ngFor="let caminho of exs.caminhoAtual" class="explorer-topo-icones">
            <ng-container *ngIf="caminho.arquivo_pasta_id === 0">
              <span class="explorer"><i class="pi pi-home" style="font-size: 1.7rem" (click)="exs.getBase()"></i></span>
            </ng-container>
            <ng-container *ngIf="caminho.arquivo_pasta_id !== 0">
              <span class="explorer"
                    (click)="exs.ajustaCaminho(caminho.arquivo_pasta_id)">/{{caminho.arquivo_pasta_titulo}}</span>
            </ng-container>
          </div>

        </div>
      </div>
    </div>

  </ng-template>


  <ng-template pTemplate="content">

    <ng-container *ngIf="!uploadPasta && !painelFechado">

      <form (ngSubmit)="onSubmit()">
        <h5>Nova pasta</h5>
        <div class="p-formgroup-inline">
          <div class="p-field">
            <label for="arquivo_pasta_titulo" class="p-sr-only">Nome da pasta</label>
            <input id="arquivo_pasta_titulo" [pKeyFilter]="blockSpecial" name="arquivo_pasta_titulo"
                   [(ngModel)]="novaPasta.arquivo_pasta_titulo" type="text" pInputText placeholder="nome" required
                   minlength="4">
          </div>
          <button pButton pRipple type="button" label="Enviar" (click)="incluirPasta()" [disabled]="desabilitado"></button>
        </div>
      </form>

    </ng-container>

    <ng-container *ngIf="uploadPasta && !painelFechado">
      <app-arquivo
        [modulo]="'explorer'"
        [modelo]="'explorer'"
        [registro_id]="arquivo_pasta_id"
        [uploadDisabled]="false"
        (onBlockSubmit)="onBlockSubmit($event)"
        (onUpload)="onUpload($event)"
        (onPossuiArquivos)="onPossuiArquivos($event)"
        [clearArquivos]="clearArquivos"
      ></app-arquivo>
      <!--<p-fileUpload
        name="arquivo[]"
        multiple="multiple"
        [url]="exs.getUrl()"
        [accept]="accept"
        [maxFileSize]="maxFileSize"
        [fileLimit]="fileLimit"
        (onUpload)="onUpload($event)"
        (onBeforeUpload)="onBeforeUpload($event)"
      ></p-fileUpload>-->
    </ng-container>


  </ng-template>


</p-panel>


<div *ngIf="exs.caminhoAtual.length > 1" class="explorer-folder">
  <div class="explorer-root-icons" (click)="exs.getVoltar()">
  </div>
  <div class="explorer-file-text" (click)="exs.getVoltar()">
    VOLTAR
  </div>
</div>

<ng-container *ngIf="exs.pastaListagem.pastas">
  <ng-container *ngFor="let dir of exs.pastaListagem.pastas">
    <app-explorer-listagem [pasta]="dir"></app-explorer-listagem>
  </ng-container>
</ng-container>

<ng-container *ngIf="exs.pastaListagem.arquivo_listagem">
  <ng-container *ngFor="let arquivo of exs.pastaListagem.arquivo_listagem">
    <app-explorer-listagem [arquivo]="arquivo"></app-explorer-listagem>
  </ng-container>
</ng-container>



<p-toast key="key1"></p-toast>

