<div class="explorer-top">
  <div class="p-d-inline p-jc-between p-ai-center p-flex-column p-flex-md-row">
    <div class="p-d-flex">
      <div class="p-mx-1">
        <div class="explorer-topo-icones">
          <i class="pi pi-home" style="font-size: 1.7rem"></i>
        </div>
      </div>

    </div>
  </div>
</div>



  <div class="explorer-main">
    <div class="explorer-folder">
      <div class="explorer-icons">
        <!--<img [src]="getIcone(arq.arquivo_nome_original)" [alt]="arq.arquivo_nome_original" [width]="50"/>-->
        <img src="/assets/img/icones/folder.png" alt="Pasta" style="width: 65%" class="explorer"/>
      </div>
      <div class="explorer-file-text">
        1 TRDTRDTRTDTDTDT Y TF TFTFY FYT
      </div>
    </div>


    <ng-container *ngFor="let pasta of ex.pastaListagem">
    <div class="explorer-folder">
      <div class="explorer-icons2">

      </div>
      <div class="explorer-file-text">
        {{pasta.arquivo_pasta_titulo}}
      </div>
    </div>
    </ng-container>

    <div class="explorer-folder">
      <div class="explorer-icons">
        <img src="/assets/img/icones/folder.png" alt="Pasta" style="width: 65%" class="explorer"/>
      </div>
      <div class="explorer-file-text">
        3 HJGJ GHJ  JHG JH
      </div>
    </div>



  </div>


