<div class="p-fluid formulario-bg-externo">
  <form [formGroup]="formMenuOfico" (keyup)="onKey($event)">
    <div class="p-d-flex p-jc-between p-pb-2 p-ml-2 p-pl-2">
      <div class="p-d-inline-flex">
        <div class="p-mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="p-mr-2">
          <button
            *ngIf="authenticationService.oficio_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>

    <div class="p-d-flex p-ml-1 p-pl-2">
      <div class="p-fluid p-grid">

        <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
          <div class="p-fluid p-formgrid p-grid formulario">

            <!-- oficio_processo_id -->
            <div *ngIf="ddOficio_processo_id" class="p-field p-col-12">
              <label for="oficio_processo_id">Número do processo</label>
              <p-dropdown
                id="oficio_processo_id"
                [options]="ddOficio_processo_id"
                [style]="{'width':'100%'}"
                placeholder="TODOS"
                formControlName="oficio_processo_id"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_codigo -->
            <div *ngIf="ddOficio_codigo" class="p-field p-col-12">
              <label for="oficio_codigo">Código do ofício</label>
              <p-dropdown
                id="oficio_codigo"
                [options]="ddOficio_codigo"
                [style]="{'width':'100%'}"
                optionLabel="label"
                formControlName="oficio_codigo"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_numero -->
            <div *ngIf="ddOficio_numero" class="p-field p-col-12">
              <label for="oficio_numero">Número do ofício</label>
              <p-dropdown
                id="oficio_numero"
                [options]="ddOficio_numero"
                [style]="{'width':'100%'}"
                optionLabel="label"
                formControlName="oficio_numero"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_convenio -->
            <div *ngIf="ddOficio_convenio" class="p-field p-col-12">
              <label for="oficio_convenio">Convenio</label>
              <p-dropdown
                id="oficio_convenio"
                [options]="ddOficio_convenio"
                [style]="{'width':'100%'}"
                optionLabel="label"
                formControlName="oficio_convenio"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_protocolo_numero -->
            <div *ngIf="ddOficio_protocolo_numero" class="p-field p-col-12">
              <label for="oficio_protocolo_numero">Protocólo</label>
              <p-dropdown
                id="oficio_protocolo_numero"
                [options]="ddOficio_protocolo_numero"
                [style]="{'width':'100%'}"
                optionLabel="label"
                formControlName="oficio_protocolo_numero"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_municipio_id -->
            <div *ngIf="ddOficio_municipio_id" class="p-field p-col-12">
              <label for="oficio_municipio_id">Município</label>
              <p-dropdown
                id="oficio_municipio_id"
                [options]="ddOficio_municipio_id"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_municipio_id"
                formControlName="oficio_municipio_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_tipo_solicitante_id -->
            <div *ngIf="ddOficio_tipo_solicitante_id" class="p-field p-col-12">
              <label for="oficio_tipo_solicitante_id">Tipo de solicitante</label>
              <p-dropdown
                id="oficio_tipo_solicitante_id"
                [options]="ddOficio_tipo_solicitante_id"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_tipo_solicitante_id"
                formControlName="oficio_tipo_solicitante_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_cadastro_id -->
            <div *ngIf="ddOficio_cadastro_id" class="p-field p-col-12">
              <label for="oficio_cadastro_id">Solicitante</label>
              <p-dropdown
                id="oficio_cadastro_id"
                [options]="ddOficio_cadastro_id"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_cadastro_id"
                formControlName="oficio_cadastro_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_assunto_id -->
            <div *ngIf="ddOficio_assunto_id" class="p-field p-col-12">
              <label for="oficio_assunto_id">Assunto</label>
              <p-dropdown
                id="oficio_assunto_id"
                [options]="ddOficio_assunto_id"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_assunto_id"
                formControlName="oficio_assunto_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_area_interesse_id -->
            <div *ngIf="ddOficio_area_interesse_id" class="p-field p-col-12">
              <label for="oficio_area_interesse_id">Área de interesse</label>
              <p-dropdown
                id="oficio_area_interesse_id"
                [options]="ddOficio_area_interesse_id"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_area_interesse_id"
                formControlName="oficio_area_interesse_id"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- solicitacao_reponsavel_analize_id -->
            <div *ngIf="ddSolicitacao_reponsavel_analize_id" class="p-field p-col-12">
              <label for="solicitacao_reponsavel_analize_id">Responsável pela analise</label>
              <p-dropdown
                id="solicitacao_reponsavel_analize_id"
                [options]="ddSolicitacao_reponsavel_analize_id"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="solicitacao_reponsavel_analize_id"
                formControlName="solicitacao_reponsavel_analize_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

          </div>
        </div>

        <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6 menu-lateral">
          <div class="p-fluid p-formgrid p-grid formulario">

            <!-- solicitacao_local_id -->
            <div *ngIf="ddSolicitacao_local_id" class="p-field p-col-12">
              <label for="solicitacao_local_id">Núcleo</label>
              <p-dropdown
                id="solicitacao_local_id"
                [options]="ddSolicitacao_local_id"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="solicitacao_local_id"
                formControlName="solicitacao_local_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_orgao_solicitado_nome -->
            <div *ngIf="ddOficio_orgao_solicitado_nome" class="p-field p-col-12">
              <label for="oficio_orgao_solicitado_nome">Orgão solicitado</label>
              <p-dropdown
                id="oficio_orgao_solicitado_nome"
                [options]="ddOficio_orgao_solicitado_nome"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_orgao_solicitado_nome"
                formControlName="oficio_orgao_solicitado_nome"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_orgao_protocolante_nome -->
            <div *ngIf="ddOficio_orgao_protocolante_nome" class="p-field p-col-12">
              <label for="oficio_orgao_protocolante_nome">Orgão protocolante</label>
              <p-dropdown
                id="oficio_orgao_protocolante_nome"
                [options]="ddOficio_orgao_protocolante_nome"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_orgao_protocolante_nome"
                formControlName="oficio_orgao_protocolante_nome"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_status -->
            <div *ngIf="ddOficio_status" class="p-field p-col-12">
              <label for="oficio_status">Situação</label>
              <p-dropdown
                id="oficio_status"
                [options]="ddOficio_status"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_status"
                formControlName="oficio_status"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_prioridade_id -->
            <div *ngIf="ddOficio_prioridade_id" class="p-field p-col-12">
              <label for="oficio_prioridade_id">Prioridade</label>
              <p-dropdown
                id="oficio_prioridade_id"
                [options]="ddOficio_prioridade_id"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_prioridade_id"
                formControlName="oficio_prioridade_id"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_tipo_andamento_id -->
            <div *ngIf="ddOficio_tipo_andamento_id" class="p-field p-col-12">
              <label for="oficio_tipo_andamento_id">Encaminhamento</label>
              <p-dropdown
                id="oficio_tipo_andamento_id"
                [options]="ddOficio_tipo_andamento_id"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_tipo_andamento_id"
                formControlName="oficio_tipo_andamento_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_data_emissao1 -->
            <div *ngIf="ddOficio_data_emissao1 && ddOficio_data_emissao2"
                 class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="oficio_data_emissao1">Data da emissão</label>
              <p-dropdown
                id="oficio_data_emissao1"
                [options]="ddOficio_data_emissao1"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_data_emissao1"
                formControlName="oficio_data_emissao1"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_data_emissao2 -->
            <div *ngIf="ddOficio_data_emissao1 && ddOficio_data_emissao2"
                 class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="oficio_data_emissao2">até</label>
              <p-dropdown
                id="oficio_data_emissao2"
                [options]="ddOficio_data_emissao2"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_data_emissao2"
                formControlName="oficio_data_emissao2"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_data_empenho1 -->
            <div *ngIf="ddOficio_data_empenho1 && ddOficio_data_empenho2"
                 class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="oficio_data_empenho1">Data do empenho</label>
              <p-dropdown
                id="oficio_data_empenho1"
                [options]="ddOficio_data_empenho1"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_data_empenho1"
                formControlName="oficio_data_empenho1"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_data_empenho2 -->
            <div *ngIf="ddOficio_data_empenho1 && ddOficio_data_empenho2"
                 class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="oficio_data_empenho2">até</label>
              <p-dropdown
                id="oficio_data_empenho2"
                [options]="ddOficio_data_empenho2"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_data_empenho2"
                formControlName="oficio_data_empenho2"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_data_protocolo1 -->
            <div *ngIf="ddOficio_data_protocolo1 && ddOficio_data_protocolo2"
                 class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="oficio_data_protocolo1">Data do protocólo</label>
              <p-dropdown
                id="oficio_data_protocolo1"
                [options]="ddOficio_data_protocolo1"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_data_protocolo1"
                formControlName="oficio_data_protocolo1"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_data_protocolo2 -->
            <div *ngIf="ddOficio_data_protocolo1 && ddOficio_data_protocolo2"
                 class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="oficio_data_protocolo2">até</label>
              <p-dropdown
                id="oficio_data_protocolo2"
                [options]="ddOficio_data_protocolo2"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_data_protocolo2"
                formControlName="oficio_data_protocolo2"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_data_pagamento1 -->
            <div *ngIf="ddOficio_data_pagamento1 && ddOficio_data_pagamento2"
                 class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="oficio_data_pagamento1">Data do pagamento</label>
              <p-dropdown
                id="oficio_data_pagamento1"
                [options]="ddOficio_data_pagamento1"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_data_pagamento1"
                formControlName="oficio_data_pagamento1"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_data_pagamento2 -->
            <div *ngIf="ddOficio_data_pagamento1 && ddOficio_data_pagamento2"
                 class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="oficio_data_pagamento2">até</label>
              <p-dropdown
                id="oficio_data_pagamento2"
                [options]="ddOficio_data_pagamento2"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_data_pagamento2"
                formControlName="oficio_data_pagamento2"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_prazo1 -->
            <div *ngIf="ddOficio_prazo1 && ddOficio_prazo2" class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="oficio_prazo1">Prazo</label>
              <p-dropdown
                id="oficio_prazo1"
                [options]="ddOficio_prazo1"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_prazo1"
                formControlName="oficio_prazo1"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_prazo2 -->
            <div *ngIf="ddOficio_prazo1 && ddOficio_prazo2" class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
              <label for="oficio_prazo2">até</label>
              <p-dropdown
                id="oficio_prazo2"
                [options]="ddOficio_prazo2"
                [style]="{'width':'100%'}"
                optionLabel="label"
                inputId="oficio_prazo2"
                formControlName="oficio_prazo2"
                placeholder="TODAS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- oficio_descricao_acao -->
            <div class="p-field p-col-12">
              <label for="Descrição">Descrição Contém</label>
              <input
                id="Descrição"
                [style]="{'max-width':'400px'}"
                type="text"
                pInputText
                placeholder="Descrição"
                formControlName="oficio_descricao_acao"
                size="40"
              >
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="p-d-flex p-jc-between p-pb-2 p-ml-2 p-pl-2">
      <div class="p-d-inline-flex">
        <div class="p-mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="p-mr-2">
          <button
            *ngIf="authenticationService.oficio_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>



