
<div class="registros p-shadow-1">
  <h5>{{ce.titulo}}</h5>

  <ng-container *ngIf="tipo === 1">
  <ng-container>
    <div class="mostratexto  p-text-nowrap p-text-truncate" (click)="mostraTexto()">{{ce.valorOriginal}}</div>
  </ng-container>
</ng-container>


<ng-container *ngIf="tipo === 2">
  <app-email-telefone-celular [field]="ce.field" [valor]="ce.valor"></app-email-telefone-celular>
</ng-container>

<ng-container *ngIf="tipo === 0">
  <div class="p-text-nowrap p-text-truncate">{{ce.valorOriginal}}</div>
</ng-container>

</div>




  <ng-container *ngIf="tipo === 1">
    <ng-container *ngIf="showCampoTexto">
      <p-dialog
        [(visible)]="showCampoTexto"
        [dismissableMask]="true"
        [modal]="true"
        styleClass="tablistagem"
        [header]="ce.titulo.toUpperCase()"
        (onHide)="escondeTexto()"
      >
        <app-quill-view [cpdelta]="cpdelta" [cphtml]="cphtml" class="detalhe"></app-quill-view>

        <p-footer>
          <button pButton type="button" label="FECHAR" icon="pi pi-times" class="p-button-rounded p-button-sm" (click)="escondeTexto()"></button>
          &nbsp;
          <button
            *ngIf="cpdelta"
            pButton
            type="button"
            class="p-button-rounded p-button-sm"
            icon="pi pi-book"
            (click)="exportWord()"
            label="Word"
          ></button>
        </p-footer>
      </p-dialog>
    </ng-container>
  </ng-container>
