<div id="app" class="app" xmlns="http://www.w3.org/1999/html">

  <div class="layout-wrapper {{cf.config.dark ? 'layout-wrapper-dark ' : 'layout-wrapper-light '}}">

    <!--<div id="app" class="app" (resized)="onResized('app', $event)">-->


    <div [ngClass]="ds.dispositivo">

    <app-main-topo></app-main-topo>

   <!-- <div id='main' class="layout-content">-->

      <div #main id="main" class="main">

       <!-- <app-panelmenu [mostra]="mostraMenuPrincipal" [recarrega]="authenticationService.dispositivo"></app-panelmenu>-->


        <div #principal id="principal">
          <router-outlet></router-outlet>
        </div>

      <!--</div>-->

      <apmsg></apmsg>
      <div id="msgtoast"></div>
      <app-erro></app-erro>
      <app-exporter-texto></app-exporter-texto>
      <ng-http-loader
        [backdrop]="sps.vf"
        [backgroundColor]="'#007bff'"
        [debounceDelay]="100"
        [extraDuration]="300"
        [minDuration]="300"
        [backdropBackgroundColor]="sps.fundo"
        [spinner]="sps.modelo"
        [filteredUrlPatterns]="sps.semSpinner"
      >
      </ng-http-loader>

    </div>

    </div>

  </div>

</div>
