<div class="p-d-flex" style="background-color: red">
<div class="p-col p-ai-start" style="background-color: aquamarine">
  <div class="p-d-flex p-flex-wrap">

    <div class="p-mr-2" style="background-color: blue; height:3rem">Item 1</div>
    <div class="p-mr-2" style="background-color: blue; height:3rem">Item 1</div>
    <div class="p-mr-2" style="background-color: blue; height:3rem">Item 1</div>
    <div class="p-mr-2" style="background-color: blue; height:3rem">Item 1</div>
    <div class="p-mr-2" style="background-color: blue; height:3rem">Item 1</div>
    <div class="p-mr-2" style="background-color: blue; height:3rem">Item 1</div>
    <div class="p-mr-2" style="background-color: blue; height:3rem">Item 1</div>
    <div class="p-mr-2" style="background-color: blue; height:3rem">Item 1</div>
    <div class="p-mr-2" style="background-color: blue; height:3rem">Item 1</div>
    <div class="p-mr-2" style="background-color: blue; height:3rem">Item 1</div>
    <div class="p-mr-2" style="background-color: blue; height:3rem">Item 1</div>




  </div>
</div>
  <div class="p-col-fixed p-ai-end" style="width:3rem">
    <div class="p-mr-2" style="background-color: yellow; height:3rem">Item 2</div>
  </div>
</div>

<p-menubar [model]="items">
</p-menubar>

<div class="p-d-flex p-jc-between">
  <div class="p-d-inline-flex">
    <div class="p-grid">
      <div *ngFor="let element of fileElements" class="p-col-3">
        <div class="p-mr-2" (click)="openMenu($event, element, rMenu)">
          Item 1
          <i *ngIf="element.isFolder" class="pi pi-folder" style="font-size: 2rem"></i>
          <i *ngIf="!element.isFolder" class="pi pi-file" style="font-size: 2rem"></i>
        </div>
      </div>
    </div>
  </div>

</div>

<p-menu #rMenu [popup]="true" [model]="rootMenu"></p-menu>

<p-menu #rMove [model]="moveToMenu"></p-menu>
