<div class="listmsgbox p-shadow-3">
<div class="grid">
  <div class="col-12 sm:col-12 md:col-3 lg:col-2 xl:col-2" style="background-color: var(--surface-b)">
    <b>Data:</b> {{msg.mensagem_data}}
  </div>
  <div class="col-12 sm:col-12 md:col-9 lg:col-10 xl:col-10"><div class="p-pl-2  font-bold">{{msg.mensagem_titulo}}</div></div>
  <div *ngIf="msg.mensagem_texto" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
    <quill-view [content]="msg.mensagem_texto" [format]="'html'" theme="snow" class="mensagem-list"></quill-view>
  </div>
  <div *ngIf="listagem_tipo==='recebidas'" class="col-12 sm:col-12 md:col-9 lg:col-10 xl:col-11">
    <b>Remetente:</b> {{msg.usuario_nome}}
  </div>
  <div *ngIf="listagem_tipo==='enviadas'" class="col-12 sm:col-12 md:col-9 lg:col-10 xl:col-11">
    <b>Destinatário(s):</b>
    {{msg.mensagem_usuarios}}
  </div>
  <div class="col-12 sm:col-12 md:col-3 lg:col-2 xl:col-1 btn-apagar-msg">
    <div class="flex justify-content-end">
      <div class="ml-2 mr-1">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          pTooltip="Apagar pra mim."
          tooltipPosition="top"
          class="p-button-raised p-button-rounded p-button-warning p-button-sm"
          (click)="onApagarMensagem()"
        >
        </button>
      </div>
      <div class="ml-1 mr-2">
    <button
      *ngIf="listagem_tipo==='enviadas'"
      pButton
      pRipple
      type="button"
      icon="pi pi-trash"
      pTooltip="Apagar para todos."
      tooltipPosition="top"
      class="p-button-raised p-button-rounded p-button-danger p-button-sm"
      (click)="onApagarMensagemTodos()"
    >
    </button>
      </div>
    </div>
  </div>
</div>
</div>
