<p-scrollPanel class="detalhe">
  <table #detalheprocesso class="detalhefull">
    <tr>
      <td>

        <table #detprocesso class="table-hover tabela">
          <caption>PROCESSO</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th colspan="4">
              PROCESSO
            </th>
          </tr>
          </thead>
          <tbody class="detalhe-horiz">
          <tr>
            <th>
              Solicitante:
            </th>
            <td colspan="3">
              {{pro.cadastro_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Número do processo:
            </th>
            <td>
              {{pro.processo_numero}}
            </td>
            <th>
              Situação:
            </th>
            <td>
              {{pro.processo_status_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Data:
            </th>
            <td>
              {{pro.solicitacao_data}}
            </td>
            <th>
              Assunto:
            </th>
            <td>
              {{pro.solicitacao_assunto_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Resp. Análise:
            </th>
            <td>
              {{pro.solicitacao_reponsavel_analize_nome}}
            </td>
            <th>
              Área de interesse:
            </th>
            <td>
              {{pro.solicitacao_area_interesse_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Núcleo:
            </th>
            <td colspan="3">
              {{pro.solicitacao_local_nome}}
            </td>
          </tr>
          <tr *ngIf="pro.solicitacao_descricao">
            <td colspan="4" class="tituloEditor">
              Descrição da Solicitação:
            </td>
          </tr>
          <tr *ngIf="pro.solicitacao_descricao">
            <td colspan="4" id="solicitacao_descricao3">
              <quill-view [content]="stripslashes(pro.solicitacao_descricao)" [format]="'html'" theme="snow"></quill-view>
            </td>
          </tr>
          <tr *ngIf="pro.solicitacao_aceita_recusada" class="novaPagina">
            <td colspan="4" class="tituloEditor">
              Observações:
            </td>
          </tr>
          <tr *ngIf="pro.solicitacao_aceita_recusada" class="novaPagina">
            <td colspan="4">
              <quill-view [content]="stripslashes(pro.solicitacao_aceita_recusada)" [format]="'html'" theme="snow"></quill-view>
            </td>
          </tr>
          <tr *ngIf="pro.solicitacao_carta" class="novaPagina">
            <td colspan="4" class="tituloEditor">
              Resposta:
            </td>
          </tr>
          <tr *ngIf="pro.solicitacao_carta">
            <td colspan="4">
              <quill-view [content]="stripslashes(pro.solicitacao_carta)" [format]="'html'" theme="snow"></quill-view>
            </td>
          </tr>
          <tr *ngIf="pro.solicitacao_arquivos.length > 0 && aut.arquivos_baixar">
            <th colspan="4">
              Arquivos da Solicitação:
            </th>
          </tr>
          <tr *ngIf="pro.solicitacao_arquivos.length > 0 && aut.arquivos_baixar">
            <td colspan="4">
              <app-detalhe-explorer [arquivos]="pro.solicitacao_arquivos"></app-detalhe-explorer>
            </td>
          </tr>
          <tr *ngIf="pro.processo_arquivos.length > 0 && aut.arquivos_baixar">
            <th colspan="4">
              Arquivos do Processo:
            </th>
          </tr>
          <tr *ngIf="pro.processo_arquivos.length > 0 && aut.arquivos_baixar">
            <td colspan="4">
              <app-detalhe-explorer [arquivos]="pro.processo_arquivos"></app-detalhe-explorer>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>

    <tr>
      <td>
        <br>

        <table *ngIf="pro.cadastro_id" class="table-hover tabela">
          <caption>SOLICITANTE</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th colspan="2">
              SOLICITANTE
            </th>
          </tr>
          </thead>
          <tbody class="detalhe-horiz">
          <tr>
            <th style="width: 3%;" nowrap>
              Tipo de Cadastro:
            </th>
            <td>
              {{pro.cadastro_tipo_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Nome/Rasão Social:
            </th>
            <td>
              {{pro.cadastro_nome}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_endereco && aut.cadastro_listar">
            <th>
              Endereço:
            </th>
            <td>
              {{pro.cadastro_endereco}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_endereco_numero && aut.cadastro_listar">
            <th>
              Número:
            </th>
            <td>
              {{pro.cadastro_endereco_numero}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_endereco_complemento && aut.cadastro_listar">
            <th>
              Complemento:
            </th>
            <td>
              {{pro.cadastro_endereco_complemento}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_bairro">
            <th>
              Bairro:
            </th>
            <td>
              {{pro.cadastro_bairro}}
            </td>
          </tr>
          <tr>
            <th>
              Município:
            </th>
            <td>
              {{pro.cadastro_municipio_nome}}
            </td>
          </tr>
          <tr>
            <th>
              Estado:
            </th>
            <td>
              {{pro.cadastro_estado_nome}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_cep && aut.cadastro_listar">
            <th>
              CEP:
            </th>
            <td>
              {{pro.cadastro_cep}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_regiao_nome">
            <th>
              Região:
            </th>
            <td>
              {{pro.cadastro_regiao_nome}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_telefone && aut.cadastro_listar">
            <th>
              Telefone 1:
            </th>
            <td>
              {{pro.cadastro_telefone}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_telefone2 && aut.cadastro_listar">
            <th>
              Telefone 2:
            </th>
            <td>
              {{pro.cadastro_telefone2}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_telcom && aut.cadastro_listar">
            <th>
              Telefone comercial:
            </th>
            <td>
              {{pro.cadastro_telcom}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_celular && aut.cadastro_listar">
            <th>
              Celular 1:
            </th>
            <td>
              {{pro.cadastro_celular}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_celular2 && aut.cadastro_listar">
            <th>
              Celular 2:
            </th>
            <td>
              {{pro.cadastro_celular2}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_fax && aut.cadastro_listar">
            <th>
              WhatsApp:
            </th>
            <td>
              {{pro.cadastro_fax}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_email && aut.cadastro_listar">
            <th>
              E-mail 1:
            </th>
            <td>
              {{pro.cadastro_email}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_email2 && aut.cadastro_listar">
            <th>
              E-mail 2:
            </th>
            <td>
              {{pro.cadastro_email2}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_rede_social && aut.cadastro_listar">
            <th>
              Facebook:
            </th>
            <td>
              {{pro.cadastro_rede_social}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_outras_midias && aut.cadastro_listar">
            <th>
              Outras mídias:
            </th>
            <td>
              {{pro.cadastro_outras_midias}}
            </td>
          </tr>
          <tr *ngIf="pro.cadastro_arquivos.length > 0 && aut.cadastro_listar && aut.arquivos_baixar">
            <th colspan="2">
              Arquivos do Solicitante:
            </th>
          </tr>
          <tr *ngIf="pro.cadastro_arquivos.length > 0 && aut.cadastro_listar && aut.arquivos_baixar">
            <td colspan="2">
              <app-detalhe-explorer [arquivos]="pro.cadastro_arquivos"></app-detalhe-explorer>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>


    <tr *ngIf="pro.historico_solicitcao.length > 0" class="novaPagina">
      <td>
        <br>

        <table class="table-hover tabela">
          <caption>ANDAMENTOS DA SOLICITAÇÃO</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th colspan="2">
              ANDAMENTOS DO PROCESSO
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th style="width: 3%;" nowrap>
              Data:
            </th>
            <th>
              Andamento:
            </th>
          </tr>
          <tr *ngFor="let ands of pro.historico_solicitcao">
            <td style="width: 3%; vertical-align:top;" nowrap>
              {{ands.historico_data}}
            </td>
            <td>
              <quill-view [content]="stripslashes(ands.historico_andamento)" [format]="'html'" theme="snow"></quill-view>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>

    <tr *ngIf="pro.historico_processo.length > 0" class="novaPagina">
      <td>
        <br>

        <table class="table-hover tabela">
          <caption>ANDAMENTOS DO PROCESSO</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th colspan="2">
              ANDAMENTOS DO PROCESSO
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th style="width: 3%;" nowrap>
              Data:
            </th>
            <th>
              Andamento:
            </th>
          </tr>
          <tr *ngFor="let ands of pro.historico_processo">
            <td style="width: 3%; vertical-align:top;" nowrap>
              {{ands.historico_data}}
            </td>
            <td>
              <quill-view [content]="stripslashes(ands.historico_andamento)" [format]="'html'" theme="snow"></quill-view>
            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>


    <tr *ngIf="pro.oficios.length > 0 && aut.oficio_listar">
      <td>
        <br>

        <!--<table class="tabela">-->
        <table class="detalhefull">
          <caption>OFÍCIOS</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th>
              OFÍCIOS
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let ofi of pro.oficios; let i=index">
          <tr>
            <td>

              <table class="tabela">
                <caption>OFÍCIO <span *ngIf="ofi.oficio_codigo"> - Código: {{ofi.oficio_codigo}}</span> <span
                  *ngIf="ofi.oficio_orgao_solicitado_nome"> - Orgão Solicitado: {{ofi.oficio_orgao_solicitado_nome}}</span>
                </caption>
                <thead class="detalheTitulo-horiz">
                <tr>
                  <th colspan="2">
                    OFÍCIO <span *ngIf="ofi.oficio_codigo"> - Código: {{ofi.oficio_codigo}}</span> <span
                    *ngIf="ofi.oficio_orgao_solicitado_nome"> - Orgão Solicitado: {{ofi.oficio_orgao_solicitado_nome}}</span>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="ofi.oficio_codigo">
                  <td style="width: 3%;" nowrap>
                    Código:
                  </td>
                  <td>
                    {{ofi.oficio_codigo}}
                  </td>
                </tr>
                <tr>
                  <td style="width: 3%;" nowrap>
                    Orgão Solicitado:
                  </td>
                  <td>
                    {{ofi.oficio_orgao_solicitado_nome}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_numero">
                  <td style="width: 3%;" nowrap>
                    Número do ofício:
                  </td>
                  <td>
                    {{ofi.oficio_numero}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_status">
                  <td style="width: 3%;" nowrap>
                    Situação:
                  </td>
                  <td>
                    {{ofi.oficio_status}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_data_emissao">
                  <td style="width: 3%;" nowrap>
                    Data da emissão:
                  </td>
                  <td>
                    {{ofi.oficio_data_emissao}}
                  </td>
                <tr *ngIf="ofi.oficio_prioridade_nome">
                  <td style="width: 3%;" nowrap>
                    Prioridade:
                  </td>
                  <td>
                    {{ofi.oficio_prioridade_nome}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_protocolo_numero">
                  <td style="width: 3%;" nowrap>
                    Número do protocolo:
                  </td>
                  <td>
                    {{ofi.oficio_protocolo_numero}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_data_protocolo">
                  <td style="width: 3%;" nowrap>
                    Data do protocolo:
                  </td>
                  <td>
                    {{ofi.oficio_data_protocolo}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_orgao_protocolante_nome">
                  <td style="width: 3%;" nowrap>
                    Orgão protocolante:
                  </td>
                  <td>
                    {{ofi.oficio_orgao_protocolante_nome}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_protocolante_funcionario">
                  <td style="width: 3%;" nowrap>
                    Funcionário do orgão:
                  </td>
                  <td>
                    {{ofi.oficio_protocolante_funcionario}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_tipo_andamento_nome">
                  <td style="width: 3%;" nowrap>
                    Tipo de andamento:
                  </td>
                  <td>
                    {{ofi.oficio_tipo_andamento_nome}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_data_recebimento">
                  <td style="width: 3%;" nowrap>
                    Data recebimeento:
                  </td>
                  <td>
                    {{ofi.oficio_data_recebimento}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_convenio">
                  <td style="width: 3%;" nowrap>
                    Concênio:
                  </td>
                  <td>
                    {{ofi.oficio_convenio}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_valor_solicitado">
                  <td style="width: 3%;" nowrap>
                    Valor solicitado:
                  </td>
                  <td>
                    {{ofi.oficio_valor_solicitado}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_valor_recebido">
                  <td style="width: 3%;" nowrap>
                    Valor recebido:
                  </td>
                  <td>
                    {{ofi.oficio_valor_recebido}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_data_pagamento">
                  <td style="width: 3%;" nowrap>
                    Data do pagamento:
                  </td>
                  <td>
                    {{ofi.oficio_data_pagamento}}
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_prazo">
                  <td style="width: 3%;" nowrap>
                    Prazo:
                  </td>
                  <td>
                    {{ofi.oficio_prazo}}
                  </td>
                </tr>

                <tr *ngIf="ofi.oficio_descricao_acao">
                  <th colspan="2">
                    Descrição da ação:
                  </th>
                </tr>
                <tr *ngIf="ofi.oficio_descricao_acao">
                  <th colspan="2">
                    <quill-view [content]="stripslashes(ofi.oficio_descricao_acao)" [format]="'html'" theme="snow"></quill-view>
                    <!--<quill-view-html id="acao_{{ofi.oficio_id}}" #acao_{{ofi.oficio_id}}
                                     [content]="stripslashes(ofi.oficio_descricao_acao)" class="detalhe"></quill-view-html>-->
                  </th>
                </tr>
                <tr *ngIf="ofi.oficio_arquivos.length > 0 && aut.arquivos_baixar">
                  <td colspan="2">
                    Arquivos do Ofício:
                  </td>
                </tr>
                <tr *ngIf="ofi.oficio_arquivos.length > 0 && aut.arquivos_baixar">
                  <td colspan="2">
                    <app-detalhe-explorer [arquivos]="ofi.oficio_arquivos"></app-detalhe-explorer>
                  </td>
                </tr>
                </tbody>
              </table>
              <br>
              <br>

            </td>
          </tr>

          <tr>
            <td>
            </td>
          </tr>
          </ng-container>

          <tr *ngIf="pro.oficios.length > 0 && !aut.oficio_listar">
            <td>
              <table class="tabela" id="taboficio">
                <caption>OFÍCIOS</caption>
                <thead class="detalheTitulo-horiz">
                <tr>
                  <th>
                    OFÍCIOS
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    Existem {{pro.oficios.length}} ofícios vinculados a esse processo
                    <br>
                  </td>
                </tr>
                </tbody>
              </table>
              <br>
            </td>
          </tr>

          </tbody>
        </table>

      </td>
    </tr>
  </table>
  <br>
</p-scrollPanel>

<div class="botoesdetalhe">
  <button pButton type="button" label="FECHAR" icon="pi pi-times" class="p-button-rounded" (click)="fechar()"></button>
  &nbsp;&nbsp;
  <app-exporter-detalhe [arquivoNome]="'processo_detalhes'" [classe]="'tabela'"></app-exporter-detalhe>
  &nbsp;&nbsp;
  <app-impressao-botao [dados]="['PROCESSO',detalheprocesso]"></app-impressao-botao>
</div>
