<!--*** INICIO *****************************************************************************************************-->
<p-table #dtb
         id="tabelaprocesso"
         [value]="ps.processos"
         [columns]="ps.tabela.selectedColumns"
         [rows]="ps.tabela.rows"
         [lazy]="true"
         [lazyLoadOnInit]="false"
         [loading]="loading"
         [totalRecords]="ps.tabela.totalRecords"
         [sortField]="ps.tabela.sortField"
         [dataKey]="'processo_id'"
         [scrollable]="true"
         [scrollHeight]="altura"
         [(selection)]="ps.selecionados"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         [autoLayout]="false"
         columnResizeMode="expand"
         [rowHover]="true"
         [paginator]="true"
         [alwaysShowPaginator]="false"
         [pageLinks]="5"
         [responsive]="false"
         rowExpandMode="single"
         [rowsPerPageOptions]="[50,100,200,500,1000]"
         [(first)]="ps.tabela.first"
         [(contextMenuSelection)]="ps.Contexto"
         contextMenuSelectionMode="joint"
         [contextMenu]="cm"
         (onLazyLoad)="onLazyLoad($event)"
         (onColReorder)="onColReorder($event)"
         (onRowExpand)="ps.onRowExpand($event)"
         (onRowCollapse)="ps.onRowCollapse($event)"
         (onStateSave)="ps.setState($event)"
         (onStateRestore)="ps.onStateRestore($event)"
         (onContextMenuSelect)="ps.onContextMenuSelect($event)"
         [customSort]="true"
         [tableStyle]="{'font-size':'12px'}"
         stateStorage="session"
         stateKey="proce-table"
         selectionMode="multiple"
         styleClass="tablistagem p-datatable-sm p-datatable-striped p-datatable-gridlines"
         [loadingIcon]="'pi pi-spin pi-spinner'"
>

  <!--*** TOPO *****************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div [ngClass]="{'hide-datatable': md.mdt}">
      <div class="p-d-flex p-jc-between p-ai-center p-flex-column p-flex-md-row">
        <div class="p-d-inline-flex">
          <div class="p-mx-2">
            <button pButton type="button" label="Filtrar" icon="pi pi-search" class="p-button-text p-button-sm"
                    (click)="mostraMenu()"></button>
          </div>
          <div class="p-mr-2">
            <button pButton type="button" label="Colunas" icon="pi pi-table" class="p-button-text p-button-sm"
                    (click)="mostraSelectColunas()"></button>
          </div>
          <div class="p-mr-2">
            <button pButton type="button" label="Relatórios" icon="pi pi-info-circle" class="p-button-text p-button-sm"
                    (click)="men.toggle($event)"></button>
          </div>
        </div>

        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mx-2">PROCESSOS</div>
        </div>
        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mr-2">Página {{ps.tabela.currentPage}} de {{ps.tabela.pageCount}} - Num.
            Registros: {{ps.tabela.totalRecords}}</div>
        </div>

        <div *ngIf="aut.dispositivo==='mobile'" class="p-d-flex p-jc-center">
          <div class="p-mx-2">PROCESSOS</div>
          <div class="p-mr-2">Página {{ps.tabela.currentPage}} de {{ps.tabela.pageCount}} - Num.
            Registros: {{ps.tabela.totalRecords}}</div>
        </div>

      </div>
    </div>
    <p-menu #men [popup]="true" [model]="itemsAcao" appendTo="body"></p-menu>
  </ng-template>

  <!--*** TITULOS **************************************************************************************************-->
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [style.width]="col.width"
          pReorderableColumn
          pResizableColumn
      >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-pro let-columns="columns" let-expanded="expanded" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="pro" [pContextMenuRow]="pro" [pSelectableRowIndex]="rowIndex">
      <td>
        <button type="button" pButton pRipple [pTooltip]="expanded ? 'Expandir' : 'Recolher'" tooltipPosition="top"
                [pRowToggler]="pro" class="p-button-rounded  p-button-text p-button-sm"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>

      <!--<td *ngFor="let col of columns" [style.width]="col.width" [ngClass]="statusColor(+pro.processo_status_id)"
          [style.background-color]="pro[col.field]=='EM ANDAMENTO' ? '#ffdab7' : ''">-->
      <td *ngFor="let col of columns" [style.width]="col.width" [ngClass]="rowColor(col.field,pro.processo_status_id, pro.solicitacao_situacao)">
        <ng-container *ngIf="col.field=='solicitacao_descricao'">
          <app-quill-view [cpdelta]="pro.solicitacao_descricao_delta" [cphtml]="pro.solicitacao_descricao" class="detalhe"></app-quill-view>
          <!--<quill-view-html [content]="pro['solicitacao_descricao']"></quill-view-html>-->
          <!--<span [innerHTML]="pro['solicitacao_descricao']"></span>-->
        </ng-container>
        <ng-container *ngIf="col.field=='solicitacao_aceita_recusada'">
          <app-quill-view [cpdelta]="pro.solicitacao_aceita_recusada_delta" [cphtml]="pro.solicitacao_aceita_recusada" class="detalhe"></app-quill-view>
          <quill-view-html [content]="pro['solicitacao_aceita_recusada']"></quill-view-html>
          <!--<span [innerHTML]="pro['solicitacao_aceita_recusada']"></span>-->
        </ng-container>
        <ng-container *ngIf="col.field=='oficio_descricao_acao'">
          <quill-view-html [content]="pro['oficio_descricao_acao']"></quill-view-html>
          <!--<span [innerHTML]="pro['oficio_descricao_acao']"></span>-->
        </ng-container>
        <ng-container *ngIf="col.field=='oficio'">
          <!--<app-processo-oficio-table [oficio]="pro['oficio']"></app-processo-oficio-table>-->
        </ng-container>
        <ng-container *ngIf="col.field=='historico'">
          <app-quill-view [cpdelta]="pro.historico_andamento_delta" [cphtml]="pro.historico_andamento" class="detalhe"></app-quill-view>
          <!--<app-historico-processo *ngIf="pro['historico']" [acao]="'listar'" [dados]="pro['historico']"></app-historico-processo>-->
          <!--<app-processo-historico-table [historico]="pro['historico']"></app-processo-historico-table>-->
        </ng-container>
        <ng-container *ngIf="col.field!=='oficio'">
          {{pro[col.field]}}
        </ng-container>
      </td>
    </tr>
  </ng-template>

  <!--*** EXPANDIDO ************************************************************************************************-->
  <ng-template pTemplate="rowexpansion" let-pro let-indice="rowIndex" let-columns="columns" let-exp="expanded">
    <tr class="expandido">
      <td [attr.colspan]="columns.length + 1" class="expandido">
        <div class="rowexpansion-corpo">
          <div class="p-fluid">
            <div class="p-d-flex p-jc-start p-pb-2">
              <div class="p-mr-2">
                <button
                  (click)="processoDetalheCompleto(pro)"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-eye"
                  class="p-button-rounded"
                  pTooltip="Detalhes"
                  tooltipPosition="top"
                >
                </button>
              </div>
              <div
                *ngIf="(aut.processo_deferir || aut.processo_indeferir) && (pro.processo_status_nome =='EM ABERTO' || pro.processo_status_nome =='EM ANDAMENTO' || pro.processo_status_nome =='SUSPENSO')"
                class="p-mr-2">
                <button
                  (click)="processoAnalisar(pro)"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-check-square"
                  class="p-button-rounded p-button-warning"
                  pTooltip="Analisar"
                  tooltipPosition="top"
                ></button>
              </div>
              <div *ngIf="aut.processo_apagar" class="p-mr-2">
                <button
                  (click)="processoApagar(pro)"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                >
                </button>
              </div>
              <div *ngIf="ps.expandidoSN && permListHist && ps.expandido.historico_processo.length > 0" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-list"
                  class="p-button-rounded p-button-cyan"
                  pTooltip="Listar Andamentos"
                  tooltipPosition="top"
                  (click)="historicoProcesso()"
                >
                </button>
              </div>
              <app-hist-form *ngIf="ps.expandidoSN" [idx]="indice" [id]="pro.processo_id" [acao]="'incluir2'"  (novoRegistro)="recebeRegistro($event)"></app-hist-form>
            </div>


            <div class="p-grid">
              <div *ngFor="let linhas of ps.tabela.dadosExpandidos;" class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div class="registros p-shadow-1" style="overflow-x: hidden;">
                  <h5>{{linhas[0]}}</h5>
                  {{linhas[1]}}
                </div>
              </div>
            </div>

            <!--<div class="p-grid">
              <div *ngFor="let linhas of ps.tabela.dadosExpandidos;" class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div *ngIf="!linhas[2] || linhas[1].length < 30" class="registros p-shadow-1">
                  <h5>{{linhas[0]}}</h5>
                  {{linhas[1]}}
                </div>
                <div *ngIf="linhas[2] && linhas[1].length > 30" class="registros p-shadow-1">
                  <h5>{{linhas[0]}}</h5>
                  <span class="mostratexto" (click)="mostraTexto(linhas)">{{linhas[1].substr(0, 26)}}...</span>
                </div>
              </div>
            </div>-->

          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" id="tabela-vazia">
        <div class="tabela-vazia-a">
          <div class="tabela-vazia-b">
            <div class="tabela-vazia-c p-shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** MENU *****************************************************************************************************-->
</p-table>
<!--*** FIM ********************************************************************************************************-->

<!--*** SELETOR DE COLUNAS *****************************************************************************************-->
<p-dialog *ngIf="ps.tabela.mostraSeletor"
          #dg
          id="seletor"
          header="Selecione as colunas."
          [(visible)]="ps.tabela.mostraSeletor"
          [modal]="true"
          styleClass="tablistagem"
          [style]="{width: '40rem'}"
          [dismissableMask]="true"
>
  <app-seletor-colunas [todas]="cols" [(ativas)]="ps.tabela.selectedColumns"></app-seletor-colunas>
  <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
    <div class="p-mr-2">
      <button
        pButton
        pRipple
        type="button"
        class="botaoinferior p-button-rounded"
        [label]="'FECHAR'"
        (click)="dg.visibleChange.emit(false)"
      ></button>
    </div>
  </div>
</p-dialog>
<p-contextMenu #cm [model]="contextoMenu" styleClass="tablistagem"></p-contextMenu>
<!--<p-contextMenu #cm [model]="contextoMenu3"> </p-contextMenu>-->
<p-toast key="processoToast" position="center"></p-toast>

<!--*** EDITOR *****************************************************************************************************-->
<p-dialog
  [(visible)]="showCampoTexto"
  [dismissableMask]="true"
  styleClass="tablistagem"
  [header]="campoTitulo"
  [modal]="true"
  (onHide)="escondeTexto()"
>
  <div *ngIf="campoTexto" style="margin-top: .25em">
    <quill-view-html id="edtor" #edtor [content]="campoTexto" class="detalhe"></quill-view-html>
  </div>
  <p-footer *ngIf="deltaquill">
    <button
      pButton
      type="button"
      class="p-button-rounded p-button-sm"
      icon="pi pi-book"
      (click)="exportWord()"
      label="Word"
    ></button>
  </p-footer>
</p-dialog>
<!--*** DETALHE ****************************************************************************************************-->
<ng-container *ngIf="showDetalhe">
  <p-dialog
    [breakpoints]="{'1400px': '60vw', '1300px': '70vw', '1200px': '80vw', '1000px': '90vw', '640px': '100vw'}"
    [style]="{width: '60vw'}"
    [(visible)]="showDetalhe"
    styleClass="tablistagem"
    header="DETALHE"
    [modal]="true"
    [dismissableMask]="true"
    (onHide)="escondeDetalhe()"
    [baseZIndex]="0"
  >
    <!--<app-processo-detalhe [proDetalhe]="proDetalhe" (hideDetalhe)="escondeDetalhe()"></app-processo-detalhe>-->
  </p-dialog>
</ng-container>

<!--*** HISTORICO PROCESSO ****************************************************************************************-->
<ng-container *ngIf="showHistorico2">
  <div [ngClass]="cssMostra">
  <p-dialog
    [breakpoints]="{'1400px': '80vw', '1300px': '85vw', '1200px': '90vw', '1000px': '95vw', '640px': '100vw'}"
    [style]="{width: '80vw'}"
    [(visible)]="showHistorico"
    styleClass="tablistagem"
    header="ANDAMENTOS DO PROCESSO"
    [modal]="true"
    [dismissableMask]="false"
    [baseZIndex]="0"

  >
    <app-hist-datatable *ngIf="showHistorico2" [(display)]="showHistorico" (dialogExterno)="mostraDialog($event)" (novoRegistro)="recebeRegistro($event)"></app-hist-datatable>
  </p-dialog>
  </div>
</ng-container>







