<p-scrollPanel class="tf-detalhe">
  <!--<table class="detalhefull">
    <tr>
      <td>-->

        <table class="tab-tarefa" #tabtarefa id="tabtarefa">
          <!--<caption>TAREFA</caption>-->
          <thead>
          <tr>
            <th colspan="2">
              TAREFA
            </th>
          </tr>
          </thead>
          <tbody class="tab-tarefa">
          <tr>
            <th colspan="2">
              Titulo:
            </th>
          </tr>
          <tr>
            <td colspan="2">
              {{tarefa.tarefa_titulo}}
            </td>
          </tr>
          <tr>
            <th>
              Data do pedido:
            </th>
            <th>
              Prazo:
            </th>
          </tr>
          <tr>
            <td>
              {{tarefa.tarefa_datahora}}
            </td>
            <td>
              {{tarefa.tarefa_data}}
            </td>
          </tr>
          <tr>
            <th>
              Situação:
            </th>
            <th>
              Autor:
            </th>
          </tr>
          <tr>
            <td [ngClass]="fcor(tarefa.tarefa_situacao_id)">
              {{tarefa.tarefa_situacao_nome}}
            </td>
            <td>
              {{tarefa.tarefa_usuario_autor_nome}}
            </td>
          </tr>
          <tr *ngIf="tarefa.tarefa_tarefa">
            <th colspan="2">
              Tarefa:
            </th>
          </tr>
          <tr *ngIf="tarefa.tarefa_tarefa" class="novaPagina">
            <td colspan="2" class="tf-kill">
                <app-kill-view
                  [kill]="{html: tarefa.tarefa_tarefa, delta: tarefa.tarefa_tarefa_delta}"></app-kill-view>
            </td>
          </tr>
          <tr>
            <th>
              Demandados:
            </th>
            <th>
              Situação:
            </th>
          </tr>
          <tr *ngFor="let tus of tarefa.tarefa_usuario_situacao">
            <td [ngClass]="fcor(tus.tus_situacao_id)">
              {{tus.tu_usuario_nome}}
            </td>
            <td [ngClass]="fcor(tus.tus_situacao_id)">
              {{tus.tus_situacao_nome}}
            </td>
          </tr>
          <tr>
            <th colspan="2">Andamentos - Demandados - Situação</th>
          </tr>

          <ng-container *ngFor="let us of tarefa.tarefa_usuario_situacao_andamento">
            <tr>
              <td [ngClass]="fcor(us.tus_situacao_id)">
                {{us.tu_usuario_nome}}
              </td>
              <td [ngClass]="fcor(us.tus_situacao_id)">
                {{us.tus_situacao_nome}}
              </td>
            </tr>
            <ng-container *ngIf="us.tarefa_historico.length > 0">
            <tr *ngFor="let hi of us.tarefa_historico">
              <td colspan="2">
                <div class="tf-td">
                    <div class="tf-td2">
                      {{hi.th_data}}
                    </div>
                    <div class="tf-td8">
                        <app-kill-view
                          [kill]="{html: hi.th_historico, delta: hi.th_historico_delta}"></app-kill-view>
                    </div>
                </div>
              </td>
            </tr>
            </ng-container>
          </ng-container>

          <tr *ngIf="pdfOnOff && tarefa.tarefa_arquivos.length > 0" id="pdfarquivos">
            <th colspan="2">Arquivos</th>
          </tr>
          <tr *ngIf="pdfOnOff && tarefa.tarefa_arquivos.length > 0r" id="pdfarquivos2">
            <td colspan="2">
              <app-detalhe-explorer [arquivos]="tarefa.tarefa_arquivos"></app-detalhe-explorer>
            </td>
          </tr>
          </tbody>
        </table>
        <br>

      <!--</td>
    </tr>
  </table>-->
  <br>
</p-scrollPanel>

<div class="botoesdetalhe">
  <button pButton type="button" label="FECHAR" icon="pi pi-times" class="p-button-rounded" (click)="fechar()"></button>
  &nbsp;&nbsp;
  <app-exporter-detalhe [arquivoNome]="'tarefa_detalhes'" [classe]="'tab-tarefa'"
                        [(pdfOnOff)]="pdfOnOff"></app-exporter-detalhe>
  &nbsp;&nbsp;
  <app-impressao-botao [dados]="['TAREFA',tabtarefa]"></app-impressao-botao>
  &nbsp;
  <button pButton type="button" label="IMPRIMIR" icon="pi pi-times" class="p-button-rounded" (click)="imprimir(tarefa)"></button>
  &nbsp;
  <button pButton type="button" label="PDF" icon="pi pi-times" class="p-button-rounded" (click)="getPdf(tarefa)"></button>

</div>


