<!--
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Documento sem t&iacute;tulo</title>
  <base href="/">
  <link href="assets/impressao.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
-->

<div class="tarefa-print">
  <table class="tarefa-print">
    <thead>
    <tr>
      <th><strong>TAREFAS</strong></th>
      <th>ABCDEFG</th>
      <th>ABCDEFG</th>
      <th>ABCDEFG</th>
      <th>ABCDEFG</th>
      <th>ABCDEFG</th>
      <th>ABCDEFG</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>jkljlkjlkjlkj</td>
      <td>lkjlkjlkjl</td>
      <td class="tstatus-1">ljlkjkljkj</td>
      <td>ljlkjkljkj</td>
      <td class="composta">
        <div class="tarefa-interna-print">
          <table width="100%">
            <tr class="tstatus-1">
              <td>aaaaaaaa</td>
              <td>kjhkjhjkh</td>
            </tr>
            <tr class="tstatus-2">
              <td>khkhkjhkh</td>
              <td>kjhkhkjk</td>
            </tr>
            <tr class="tstatus-3">
              <td>kjhkhkhkjh</td>
              <td>kjhkjkjhjk</td>
            </tr>
            <tr>
              <td>kjhkhkhkjh</td>
              <td>kjhkjkjhjk</td>
            </tr>
          </table>
        </div>
      </td>
      <td>ljlkjkljkj</td>
      <td class="composta">
        <div class="tarefa-interna-print">
          <table width="100%">
            <tr class="tstatus-1">
              <td style="width: 40px;">aaaaaaaa</td>
              <td></td>
              <td style="width: 50%">hhhhhhhhhhhh</td>
            </tr>
            <tr>
              <td>bbbbbbb</td>
              <td colspan="2">kjhkjkjhjk</td>
            </tr>
            <tr>
              <td>cccccccc</td>
              <td colspan="2">kjhkjkjhjk</td>
            </tr>
            <tr class="tstatus-2">
              <td style="width: 40px;">aaaaaaaa</td>
              <td></td>
              <td style="width: 50%">hhhhhhhhhhhh</td>
            </tr>
            <tr>
              <td>bbbbbbb</td>
              <td colspan="2">kjhkjkjhjk</td>
            </tr>
            <tr>
              <td>cccccccc</td>
              <td colspan="2">kjhkjkjhjk</td>
            </tr>
            <tr class="tstatus-3">
              <td style="width: 40px;">aaaaaaaa</td>
              <td></td>
              <td style="width: 50%">hhhhhhhhhhhh</td>
            </tr>
            <tr>
              <td>bbbbbbb</td>
              <td colspan="2">kjhkjkjhjk</td>
            </tr>
            <tr>
              <td>cccccccc</td>
              <td colspan="2">kjhkjkjhjk</td>
            </tr>
            <tr>
              <td style="width: 40px;">aaaaaaaa</td>
              <td></td>
              <td style="width: 50%">hhhhhhhhhhhh</td>
            </tr>
            <tr>
              <td>bbbbbbb</td>
              <td colspan="2">kjhkjkjhjk</td>
            </tr>
            <tr>
              <td>cccccccc</td>
              <td colspan="2">kjhkjkjhjk</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>

<!--

</body>
</html>

-->
