<p-scrollPanel class="detalhe" id="detalhetarefa">
  <table class="detalhefull">
    <tr>
      <td>
        <table class="table-hover tabela" #tabtarefa id="tabtarefa">
          <caption>TAREFA</caption>
          <tr>
            <th width="1%" nowrap>
              Titulo:
            </th>
            <td colspan="3">
              {{tarefa.tarefa_titulo}}
            </td>
          </tr>
          <tr>
            <th width="1%" nowrap>
              Prazo:
            </th>
            <td>
              {{tarefa.tarefa_data}}
            </td>
          </tr>
          <tr>
            <th>
              Autor:
            </th>
            <td>
              {{tarefa.tarefa_usuario_autor_nome}}
            </td>
            <th>
              Data do pedido:
            </th>
            <td>
              {{tarefa.tarefa_datahora}}
            </td>
          </tr>
          <tr>
            <th>
              Situação:
            </th>
            <td colspan="3" [style.backgroundColor]="fcor(tarefa.tarefa_situacao_id)">
              {{tarefa.tarefa_situacao_nome}}
            </td>
          </tr>
          <tr *ngIf="tarefa.tarefa_tarefa" class="novaPagina">
            <td colspan="3" class="tituloEditor">
              <div *ngIf="tarefa.tarefa_tarefa" style="margin-top: .25em">
                <app-kill-view
                  [kill]="{html: tarefa.tarefa_tarefa, delta: tarefa.tarefa_tarefa_delta}"></app-kill-view>
              </div>
            </td>
          </tr>
          <tr *ngIf="tarefa.tarefa_tarefa">
            <th>
              Tarefa:
            </th>
            <td colspan="3">
              {{tarefa.tarefa_tarefa}}
            </td>
          </tr>
        </table>
        <br>
      </td>
    </tr>
    <tr>
      <td colspan="4"> </td>
    </tr>
    <tr>
      <td colspan="4">
        <table class="table-hover tabela" #tabsituacao id="tabsituacao">
          <caption>DEMANDADOS / SITUAÇÃO</caption>
          <tr>
            <th width="1%" nowrap>
              Nome:
            </th>
            <th width="1%" nowrap>
              Situação:
            </th>
          </tr>
          <tr *ngFor="let tus of tarefa.tarefa_usuario_situacao">
            <td [ngClass]="fcor(tus.tus_situacao_id)">
              {{tus.tu_usuario_nome}}
            </td>
            <td [style.backgroundColor]="fcor(tus.tus_situacao_id)">
              {{tus.tus_situacao_nome}}
            </td>
          </tr>
        </table>
        <br>
      </td>
    </tr>
    <tr>
      <td colspan="4"> </td>
    </tr>
    <tr *ngIf="tarefa.tarefa_usuario_situacao.length > 0">
      <td colspan="4">
        <table class="table-hover tabela" #tabhistorico id="tabhistorico">
          <caption>ANDAMENTOS - USUÁRIOS - SITUAÇÃO</caption>
          <tr>
            <th colspan="2">
              Usuário:
            </th>
            <th colspan="2">
              Situação:
            </th>
          </tr>
          <tr>
            <th nowrap>
              Data:
            </th>
            <th colspan="3">
              Andamento:
            </th>
          </tr>
          <ng-container *ngFor="let us of tarefa.tarefa_usuario_situacao_andamento">
          <tr>
            <td colspan="2">
              {{us.tu_usuario_nome}}
            </td>
            <td colspan="2">
              {{us.tus_situacao_nome}}
            </td>
          </tr>
          <tr *ngFor="let hi of us.tarefa_historico">
            <td>
              {{hi.th_data}}
            </td>
            <td colspan="3" class="tituloEditor">
              <div *ngIf="hi.th_historico" style="margin-top: .25em">
                <app-kill-view
                  [kill]="{html: hi.th_historico, delta: hi.th_historico_delta}"></app-kill-view>
              </div>
            </td>
          </tr>
          </ng-container>
        </table>
      </td>
    </tr>
    <tr *ngIf="pdfOnOff && tarefa.tarefa_arquivos.length > 0 && aut.arquivos_baixar" id="pdfarquivos">
      <td colspan="2">
        <app-detalhe-explorer [arquivos]="tarefa.tarefa_arquivos"></app-detalhe-explorer>
      </td>
    </tr>
  </table>
  <br>
</p-scrollPanel>

<div class="botoesdetalhe">
  <button pButton type="button" label="FECHAR" icon="pi pi-times" class="p-button-rounded" (click)="fechar()"></button>
  &nbsp;&nbsp;
  <app-exporter-detalhe [arquivoNome]="'tarefa_detalhes'" [classe]="'tabela'" [(pdfOnOff)]="pdfOnOff"></app-exporter-detalhe>
  &nbsp;&nbsp;
  <app-impressao-botao [dados]="['TAREFA',tabtarefa]"></app-impressao-botao>
</div>


