<p-scrollPanel [styleClass]="'formulario'">

  <div class="formulario externo">
    <div class="p-fluid formulario-bg-externo">
      <div class="p-d-flex p-jc-center">
        <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
          <span class="formulario-titulo">SOLICITAÇÃO - ANALISAR</span>
        </div>
      </div>
      <div class="p-grid">

        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-grid p-input-filled">
            <div class="p-col-12 formulario">
              <table class="detalhefull">
                <tr>
                  <td>
                    <table #detprocesso class="table-hover tabela">
                      <caption>PROCESSO</caption>
                      <thead class="detalheTitulo-horiz">
                      <tr>
                        <th colspan="2">
                          PROCESSO
                        </th>
                      </tr>
                      </thead>
                      <tbody class="detalhe-horiz">
                      <tr>
                        <th>
                          Solicitante:
                        </th>
                        <td colspan="3">
                          {{pfs.processo.cadastro_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Número do processo:
                        </th>
                        <td>
                          {{pfs.processo.processo_numero}}
                        </td>
                        <th>
                          Situação:
                        </th>
                        <td>
                          {{pfs.processo.processo_status_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Data:
                        </th>
                        <td>
                          {{pfs.processo.solicitacao_data}}
                        </td>
                        <th>
                          Assunto:
                        </th>
                        <td>
                          {{pfs.processo.solicitacao_assunto_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Resp. Análise:
                        </th>
                        <td>
                          {{pfs.processo.solicitacao_reponsavel_analize_nome}}
                        </td>
                        <th>
                          Área de interesse:
                        </th>
                        <td>
                          {{pfs.processo.solicitacao_area_interesse_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Núcleo:
                        </th>
                        <td colspan="3">
                          {{pfs.processo.solicitacao_local_nome}}
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td>
                    <br>

                    <table *ngIf="pfs.processo.cadastro_id" class="table-hover tabela">
                      <caption>SOLICITANTE</caption>
                      <thead class="detalheTitulo-horiz">
                      <tr>
                        <th colspan="2">
                          SOLICITANTE
                        </th>
                      </tr>
                      </thead>
                      <tbody class="detalhe-horiz">
                      <tr>
                        <th style="width: 3%;" nowrap>
                          Tipo de Cadastro:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_tipo_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Nome/Rasão Social:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_endereco && aut.cadastro_listar">
                        <th>
                          Endereço:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_endereco}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_endereco_numero && aut.cadastro_listar">
                        <th>
                          Número:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_endereco_numero}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_endereco_complemento && aut.cadastro_listar">
                        <th>
                          Complemento:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_endereco_complemento}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_bairro">
                        <th>
                          Bairro:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_bairro}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Município:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_municipio_nome}}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Estado:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_estado_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_cep && aut.cadastro_listar">
                        <th>
                          CEP:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_cep}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_regiao_nome">
                        <th>
                          Região:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_regiao_nome}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_telefone && aut.cadastro_listar">
                        <th>
                          Telefone 1:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_telefone}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_telefone2 && aut.cadastro_listar">
                        <th>
                          Telefone 2:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_telefone2}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_telcom && aut.cadastro_listar">
                        <th>
                          Telefone comercial:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_telcom}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_celular && aut.cadastro_listar">
                        <th>
                          Celular 1:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_celular}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_celular2 && aut.cadastro_listar">
                        <th>
                          Celular 2:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_celular2}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_fax && aut.cadastro_listar">
                        <th>
                          WhatsApp:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_fax}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_email && aut.cadastro_listar">
                        <th>
                          E-mail 1:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_email}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_email2 && aut.cadastro_listar">
                        <th>
                          E-mail 2:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_email2}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_rede_social && aut.cadastro_listar">
                        <th>
                          Facebook:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_rede_social}}
                        </td>
                      </tr>
                      <tr *ngIf="pfs.processo.cadastro_outras_midias && aut.cadastro_listar">
                        <th>
                          Outras mídias:
                        </th>
                        <td>
                          {{pfs.processo.cadastro_outras_midias}}
                        </td>
                      </tr>
                      <tr
                        *ngIf="pfs.processo.cadastro_arquivos.length > 0 && aut.cadastro_listar && aut.arquivos_baixar">
                        <th colspan="2">
                          Arquivos:
                        </th>
                      </tr>
                      <tr
                        *ngIf="pfs.processo.cadastro_arquivos.length > 0 && aut.cadastro_listar && aut.arquivos_baixar">
                        <td colspan="2">
                          <app-detalhe-explorer [arquivos]="pfs.processo.cadastro_arquivos"></app-detalhe-explorer>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>

                <tr *ngIf="pfs.processo.solicitacao_descricao ||
                    pfs.processo.solicitacao_aceita_recusada ||
                    pfs.processo.solicitacao_carta">
                  <td>
                    <br>

                    <table class="table-hover tabela">
                      <tr *ngIf="pfs.processo.solicitacao_descricao">
                        <th>
                          DESCRIÇÃO DA SOLICITAÇÃO:
                        </th>
                      </tr>
                      <tr *ngIf="pfs.processo.solicitacao_descricao">
                        <td>
                          <quill-view [content]="pfs.processo.solicitacao_descricao" [format]="'html'"
                                      theme="snow"></quill-view>
                        </td>
                      </tr>

                      <tr *ngIf="pfs.processo.solicitacao_aceita_recusada">
                        <th>
                          OBSERVAÇÕES:
                        </th>
                      </tr>
                      <tr *ngIf="pfs.processo.solicitacao_aceita_recusada">
                        <td>
                          <quill-view [content]="pfs.processo.solicitacao_aceita_recusada" [format]="'html'"
                                      theme="snow"></quill-view>
                        </td>
                      </tr>

                      <tr *ngIf="pfs.processo.solicitacao_carta">
                        <th>
                          RESPOSTA / CARTA:
                        </th>
                      </tr>
                      <tr *ngIf="pfs.processo.solicitacao_carta">
                        <td>
                          <quill-view [content]="pfs.processo.solicitacao_carta" [format]="'html'"
                                      theme="snow"></quill-view>
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>

                <tr *ngIf="pfs.processo.historico_solicitcao.length > 0 ||
                    pfs.processo.historico_processo.length > 0 ||
                    (pfs.processo.oficios.length > 0 && aut.oficio_listar)  ||
                    (pfs.processo.solicitacao_arquivos.length > 0 && aut.arquivos_baixar) ||
                    (pfs.processo.processo_arquivos.length > 0 && aut.arquivos_baixar)" class="novaPagina">
                  <td>
                    <br>
                    <p-accordion>
                      <p-accordionTab header="ANDAMENTOS DA SOLICITAÇÃO"
                                      *ngIf="pfs.processo.historico_solicitcao.length > 0">
                        <table class="table-hover tabela">
                          <tbody>
                          <tr>
                            <th style="width: 3%;" nowrap>
                              Data:
                            </th>
                            <th>
                              Andamento:
                            </th>
                          </tr>
                          <tr *ngFor="let ands2 of pfs.processo.historico_solicitcao">
                            <td style="width: 3%; vertical-align:top;" nowrap>
                              {{ands2.historico_data}}
                            </td>
                            <td>
                              <quill-view [content]="ands2.historico_andamento" [format]="'html'"
                                          theme="snow"></quill-view>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </p-accordionTab>
                      <p-accordionTab header="ARQUIVOS DA SOLICITAÇÃO"
                                      *ngIf="pfs.processo.solicitacao_arquivos.length > 0 && aut.arquivos_baixar">
                        <app-detalhe-explorer [arquivos]="pfs.processo.solicitacao_arquivos"></app-detalhe-explorer>
                      </p-accordionTab>
                      <p-accordionTab header="ANDAMENTOS DO PROCESSO"
                                      *ngIf="pfs.processo.historico_processo.length > 0">
                        <table class="table-hover tabela">
                          <tbody>
                          <tr>
                            <th style="width: 3%;" nowrap>
                              Data:
                            </th>
                            <th>
                              Andamento:
                            </th>
                          </tr>
                          <tr *ngFor="let ands of pfs.processo.historico_processo">
                            <td style="width: 3%; vertical-align:top;" nowrap>
                              {{ands.historico_data}}
                            </td>
                            <td>
                              <quill-view [content]="ands.historico_andamento" [format]="'html'"
                                          theme="snow"></quill-view>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </p-accordionTab>
                      <p-accordionTab header="ARQUIVOS DO PROCESSO" *ngIf="pfs.processo.processo_arquivos.length > 0 && aut.arquivos_baixar">
                        <div class="p-d-flex">
                          <div class="p-mx-1">
                        <app-detalhe-explorer [arquivos]="pfs.processo.processo_arquivos"></app-detalhe-explorer>
                          </div>
                        </div>
                      </p-accordionTab>
                      <p-accordionTab header="OFÍCIOS" *ngIf="pfs.processo.oficios.length > 0 && aut.oficio_listar">
                        <table class="table-hover tabela">
                          <tbody>
                          <tr *ngFor="let ofi of pfs.processo.oficios; let i=index">
                            <td>

                              <table class="tabela">
                                <caption>OFÍCIO <span *ngIf="ofi.oficio_codigo"> - Código: {{ofi.oficio_codigo}}</span>
                                  <span
                                    *ngIf="ofi.oficio_orgao_solicitado_nome"> - Orgão Solicitado: {{ofi.oficio_orgao_solicitado_nome}}</span>
                                </caption>
                                <thead class="detalheTitulo-horiz">
                                <tr>
                                  <th>
                                    OFÍCIO <span *ngIf="ofi.oficio_codigo"> - Código: {{ofi.oficio_codigo}}</span> <span
                                    *ngIf="ofi.oficio_orgao_solicitado_nome"> - Orgão Solicitado: {{ofi.oficio_orgao_solicitado_nome}}</span>
                                  </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngIf="ofi.oficio_codigo">
                                  <th>
                                    Código:
                                  </th>
                                  <td>
                                    {{ofi.oficio_codigo}}
                                  </td>
                                </tr>
                                <tr>
                                  <th>
                                    Orgão Solicitado:
                                  </th>
                                  <td>
                                    {{ofi.oficio_orgao_solicitado_nome}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_numero">
                                  <th>
                                    Número do ofício:
                                  </th>
                                  <td>
                                    {{ofi.oficio_numero}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_status">
                                  <th>
                                    Situação:
                                  </th>
                                  <td>
                                    {{ofi.oficio_status}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_data_emissao">
                                  <th>
                                    Data da emissão:
                                  </th>
                                  <td>
                                    {{ofi.oficio_data_emissao}}
                                  </td>
                                <tr *ngIf="ofi.oficio_prioridade_nome">
                                  <th>
                                    Prioridade:
                                  </th>
                                  <td>
                                    {{ofi.oficio_prioridade_nome}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_protocolo_numero">
                                  <th>
                                    Número do protocolo:
                                  </th>
                                  <td>
                                    {{ofi.oficio_protocolo_numero}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_data_protocolo">
                                  <th>
                                    Data do protocolo:
                                  </th>
                                  <td>
                                    {{ofi.oficio_data_protocolo}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_orgao_protocolante_nome">
                                  <th>
                                    Orgão protocolante:
                                  </th>
                                  <td>
                                    {{ofi.oficio_orgao_protocolante_nome}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_protocolante_funcionario">
                                  <th>
                                    Funcionário do orgão:
                                  </th>
                                  <td>
                                    {{ofi.oficio_protocolante_funcionario}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_tipo_andamento_nome">
                                  <th>
                                    Tipo de andamento:
                                  </th>
                                  <td>
                                    {{ofi.oficio_tipo_andamento_nome}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_data_recebimento">
                                  <th>
                                    Data recebimeento:
                                  </th>
                                  <td>
                                    {{ofi.oficio_data_recebimento}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_convenio">
                                  <th>
                                    Concênio:
                                  </th>
                                  <td>
                                    {{ofi.oficio_convenio}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_valor_solicitado">
                                  <th>
                                    Valor solicitado:
                                  </th>
                                  <td>
                                    {{ofi.oficio_valor_solicitado}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_valor_recebido">
                                  <th>
                                    Valor recebido:
                                  </th>
                                  <td>
                                    {{ofi.oficio_valor_recebido}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_data_pagamento">
                                  <th>
                                    Data do pagamento:
                                  </th>
                                  <td>
                                    {{ofi.oficio_data_pagamento}}
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_prazo">
                                  <th>
                                    Prazo:
                                  </th>
                                  <td>
                                    {{ofi.oficio_prazo}}
                                  </td>
                                </tr>

                                <tr *ngIf="ofi.oficio_descricao_acao">
                                  <th colspan="2">
                                    Descrição da ação:
                                  </th>
                                </tr>
                                <tr *ngIf="ofi.oficio_descricao_acao">
                                  <td colspan="2">
                                    <quill-view-html id="acao_{{ofi.oficio_id}}" #acao_{{ofi.oficio_id}}
                                                     [content]="ofi.oficio_descricao_acao"
                                                     class="detalhe"></quill-view-html>
                                  </td>
                                </tr>
                                <tr *ngIf="ofi.oficio_arquivos.length > 0 && aut.arquivos_baixar">
                                  <th colspan="2">
                                    Arquivos do Ofício:
                                  </th>
                                </tr>
                                <tr *ngIf="ofi.oficio_arquivos.length > 0 && aut.arquivos_baixar">
                                  <td colspan="2">
                                    <app-detalhe-explorer [arquivos]="ofi.oficio_arquivos"></app-detalhe-explorer>
                                  </td>
                                </tr>
                                </tbody>
                              </table>

                            </td>
                          </tr>

                          <tr *ngIf="pfs.processo.oficios.length > 0 && !aut.oficio_listar">
                            <td>
                              <table class="tabela" id="taboficio">
                                <caption>OFÍCIOS</caption>
                                <thead class="detalheTitulo-horiz">
                                <tr>
                                  <th>
                                    OFÍCIOS
                                  </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td>
                                    Existem {{pfs.processo.oficios.length}} ofícios vinculados a esse processo
                                    <br>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                              <br>
                            </td>
                          </tr>

                          </tbody>
                        </table>
                      </p-accordionTab>
                    </p-accordion>
                  </td>
                </tr>


              </table>
              <br/>
            </div>
          </div>
        </div>

      </div>
      <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>

      <form [formGroup]="formPro" (ngSubmit)="onSubmit()">

        <div class="p-grid">
          <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
        </div>

        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <!--<div class="p-col-12 formulario">-->
            <div class="p-fluid p-formgrid p-grid">

              <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12">
                &nbsp;
              </div>

              <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12">
                <div class="p-fluid p-formgrid p-grid">

                  <p-accordion>
                    <p-accordionTab header="Resposta / Carta">
                      <div class="p-d-flex p-jc-center">
                        <div class="formulario-quill">
                          <div class="qeditor">
                            <quill-editor
                              class="formulario"
                              id="processo_carta"
                              [format]="format1"
                              [defaultEmptyValue]="null"
                              [theme]="'snow'"
                              [modules]="modulos"
                              [debounceTime]="10"
                              [placeholder]="''"
                              formControlName="processo_carta"
                              (onContentChanged)="onContentChanged($event, 'processo_carta')"
                            ></quill-editor>
                          </div>
                        </div>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab header="Andamento">
                      <div class="p-d-flex p-jc-center">
                        <div class="formulario-quill">
                          <div class="qeditor">
                            <quill-editor
                              class="formulario"
                              id="historico_andamento"
                              [format]="format0"
                              [defaultEmptyValue]="null"
                              [theme]="'snow'"
                              [modules]="modulos"
                              [debounceTime]="10"
                              [placeholder]="''"
                              formControlName="historico_andamento"
                              (onContentChanged)="onContentChanged($event, 'historico_andamento')"
                            ></quill-editor>
                          </div>
                        </div>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab *ngIf="aut.arquivos" header="Anexar arquivos">
                      <app-arquivo *ngIf="pfs.acao === 'analisar'"
                                   [modulo]="'processo'"
                                   [uploadDisabled]="arquivoDesativado"
                                   [registro_id]="pfs.procA.processo_id"
                                   [modelo]="'analisarprocesso'"
                                   [stiloClass]="'formulario'"
                                   (onArquivosGravados)="onArquivosGravados($event)"
                      ></app-arquivo>
                    </p-accordionTab>
                  </p-accordion>

                  <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12">
                    &nbsp;
                  </div>

                  <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
                    <label for="processo_status_id">Análise</label>
                    <p-selectButton [options]="bts" optionValue="value" optionLabel="label" id="processo_status_id"
                                    formControlName="processo_status_id"
                                    (onChange)="onChangeBtn($event)"></p-selectButton>
                  </div>

                  <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12">
                    &nbsp;
                  </div>

                </div>

              </div>

            </div>
          </div>


        </div>

        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
        </div>

        <div class="p-fluid formulario-bg-externo espacoInferiorMenu">
          <div class="p-grid">
            <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
              <div class="p-grid p-input-filled">

                <div class="p-col-12 formulario">
                  <!--*** Botões ***-->
                  <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">

                    <div class="p-mr-2">
                      <button
                        pButton
                        type="submit"
                        class="p-button-rounded"
                        [disabled]="!formAtivo || getInvalido()"
                        label="Enviar"
                      ></button>
                    </div>
                    <div class="p-mr-2">
                      <button
                        pButton
                        type="button"
                        class="p-button-rounded p-button-secondary"
                        (click)="resetForm()"
                        label="Cancelar"
                      ></button>
                    </div>
                    <div class="p-mr-2">
                      <button
                        pButton
                        type="button"
                        class="p-button-rounded p-button-secondary"
                        (click)="voltarListar()"
                        label="Voltar"
                      ></button>
                    </div>
                  </div>
                  <!--*** FIM BOTOES ***-->
                </div>

              </div>
            </div>
          </div>
        </div>

      </form>


      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid formulario-bg-externo">
          <div class="p-col-12"></div>
          <div class="p-col-12"></div>
        </div>
      </div>

    </div>
  </div>


</p-scrollPanel>
