<!--<div
  style="
  padding: 10px;
  border-width: 2px 0 2px 2px;
  border-radius: 5px;
  outline: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: white;
  align-content: center;
  "
  class="fixTableHead"
>-->

<div
  class="fixTableHead"
>
  <table *ngIf="cfs.configuracao" class="fixTableHead table-hover tabela">
    <thead *ngIf="perIncluir">
      <tr *ngIf="!mostraIncluir">
        <th><b>INCLUIR</b></th>
        <th>
          <button [disabled]="btnOff" pButton pRipple type="button" icon="pi pi-plus" class="config p-button-raised p-button-rounded" (change)="testeInput($event)" (click)="clickIncluir()"></button>
        </th>
      </tr>
      <tr *ngIf="mostraIncluir" [ngStyle]="cssIncluir()">
      <th>
        <p-messages key="msgIncluirErro" [(value)]="msgErroIncluir"></p-messages>
        <input type="text" pInputText [(ngModel)]="nomeIncluir" size="60" maxlength="80" autofocus/>
        <div><small>Enter your username to reset your password.</small></div>
      </th>
      <th [ngStyle]="cssIncluir2()">
        <button [disabled]="btnEnviarInativo || nomeIncluir === null ||  nomeIncluir.length === 0"  pButton pRipple type="button" icon="pi pi-check" class="config p-button-raised p-button-rounded p-button-success" style="margin-right: .5em"  (click)="onIncluir()"></button>
        <button pButton pRipple type="button" [disabled]="btnCancelarInativo" icon="pi pi-times" class="config p-button-raised p-button-rounded p-button-warning" (click)="onCancela()" ></button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cf of listagem; let i=index">
      <ng-container *ngIf="acao=='editar' && perAltarar && i===idx">
        <td [ngStyle]="cssAlterar()">
          <p-messages key="msgEditar" *ngIf="msgEditar.length > 0" [(value)]="msgEditar"></p-messages>
          <input
            *ngIf="mostraAlterar !== 0"
            type="text"
            pInputText
            [(ngModel)]="nome"
            [size]="60"
            [maxlength]="80"
            [readOnly]="readOnly"
          />
        </td>
        <td [ngStyle]="cssAlterar2()">
          <!--<p-messages key="msgEditarErro" *ngIf="msgErroEditar" [(value)]="msgErroEditar"></p-messages>-->
          <button [disabled]="btnEnviarInativo || nome === null || nome.length === 0 || nome.toUpperCase() === nomeOld.toUpperCase()" *ngIf="!confirmaAlterar && mostraAlterar !== 0"  pButton pRipple type="button" icon="pi pi-check" class="config p-button-raised p-button-rounded p-button-success" style="margin-right: .5em" (click)="onAlterar()"></button>
          <button *ngIf="confirmaAlterar && mostraAlterar !== 0" [disabled]="btnEnviarInativo"  pButton pRipple type="button" icon="pi pi-times" class="config p-button-raised p-button-rounded p-button-warning" (click)="onAlterarConfirma()"></button>
          <button pButton type="button" [disabled]="btnCancelarInativo" icon="pi pi-times" class="config p-button-raised p-button-rounded p-button-warning" (click)="onCancela()" ></button>
        </td>
      </ng-container>
      <ng-container *ngIf="acao=='deletar' && i===idx">
        <td [ngStyle]="cssApagar()">
          <p-messages key="msg1" *ngIf="msgs.length > 0" [(value)]="msgs"></p-messages>

          <p-dropdown
            *ngIf="mostraDropDown"
            [(ngModel)]="drop"
            placeholder="Selecione"
            [options]="dropDown"
            [required]="true"
            [autofocus]="true"
            [style]="{'width':'100%', 'max-width': '313px'}"
          ></p-dropdown>
          &nbsp;&nbsp;
          <span *ngIf="!mostraDropDown">{{cf.campo_nome}}</span>
        </td>
        <td [ngStyle]="cssApagar2()">
          <button *ngIf="mostraDropDown && perDeletar && confirmaApagar && mostraApagar !== 0"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-check" class="config p-button-raised p-button-rounded p-button-danger" style="margin-right: .5em"
                  (click)="onApagarConfirma()"
          ></button>
          <button *ngIf="!mostraDropDown && perDeletar && confirmaApagar && mostraApagar !== 0"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-check" class="config p-button-raised p-button-rounded p-button-danger"
                  (click)="onApagar()"
          ></button>
          <button pButton pRipple type="button" icon="pi pi-times" class="config p-button-raised p-button-rounded p-button-warning" (click)="onCancela()" ></button>
        </td>
      </ng-container>
      <ng-container *ngIf="i!==idx">
        <td>
          {{cf.campo_nome}}
        </td>
        <td *ngIf="i!==idx">
          <button *ngIf="perAltarar" pButton pRipple type="button" icon="pi pi-pencil" (click)="onEditar(cf.campo_id, cf.campo_nome, i)" class="config p-button-raised p-button-rounded p-button-info" style="margin-right: .5em" [disabled]="!alt.configuracao_alterar && mostraAlterar == 0 && mostraApagar == 0"></button>
          <button *ngIf="perDeletar" pButton pRipple type="button" icon="pi pi-trash" (click)="onDeletar(cf.campo_id, cf.campo_nome, i)" class="config p-button-raised p-button-rounded p-button-danger" [disabled]="!alt.configuracao_apagar  && mostraAlterar == 0 && mostraApagar == 0"></button>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
<p-toast key="msg2"></p-toast>
<p-toast key="msgIncluir" position="center"></p-toast>
<p-toast key="msgExcluir" position="center"></p-toast>
