
<div class="card">

  <p-table
    [value]="ecs.etiquetas"
    dataKey="etq_id"
    [tableStyle]="{'font-size':'var(--font-padrao)'}"
    styleClass="tablistagem p-datatable-sm p-datatable-striped p-datatable-gridlines p-selectable-row"
  >
    <ng-template pTemplate="header">
      <tr style="font-size: small">
        <th nowrap="nowrap">Marca</th>
        <th nowrap="nowrap">Modelo</th>
        <th nowrap="nowrap">Linhas</th>
        <th nowrap="nowrap">Colunas</th>
        <th nowrap="nowrap">Largura</th>
        <th nowrap="nowrap">Altura</th>
        <th>Marg. Lat.</th>
        <th>Marg. Sup.</th>
        <th>Dist. Vert.</th>
        <th>Dist. Horz.</th>
        <th>Folha Horz.</th>
        <th>Folha Vert.</th>
        <th colspan="2" style="text-align:center">
          <button *ngIf="perIncluir" pButton type="button" icon="pi pi-plus" (click)="onIncluindo()" class="p-button-raised p-button-rounded p-button-sm"></button>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-etiqueta let-ri="rowIndex">
      <tr>
        <td>
          {{etiqueta.etq_marca}}
        </td>
        <td>
          {{etiqueta.etq_modelo}}
        </td>
        <td>
          {{etiqueta.etq_linhas}}
        </td>
        <td>
          {{etiqueta.etq_colunas}}
        </td>
        <td>
          {{etiqueta.etq_largura}}
        </td>
        <td>
          {{etiqueta.etq_altura}}
        </td>
        <td>
          {{etiqueta.etq_margem_lateral}}
        </td>
        <td>
          {{etiqueta.etq_margem_superior}}
        </td>
        <td>
          {{etiqueta.etq_distancia_vertical}}
        </td>
        <td>
          {{etiqueta.etq_distancia_horizontal}}
        </td>
        <td>
          {{etiqueta.etq_folha_horz}}
        </td>
        <td>
          {{etiqueta.etq_folha_vert}}
        </td>
        <td style="text-align:center">
          <button pButton type="button" icon="pi pi-pencil" (click)="onEdit(etiqueta, ri)" class="p-button-raised p-button-rounded p-button-sm" [disabled]="!perAltarar"></button>
        </td>
        <td style="text-align:center">
          <button pButton type="button" icon="pi pi-trash" (click)="onDelete(etiqueta, ri)" class="p-button-raised p-button-rounded p-button-danger p-button-sm" [disabled]="!perDeletar"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!--<p-toast key="msg2"></p-toast>-->

<p-dialog
  header="{{acao}}"
  [(visible)]="ecs.formDisplay"
  [modal]="true"
  [closable]="true"
  [blockScroll]="true"
  styleClass="tablistagem"
  [breakpoints]="{'1400px': '60vw', '1300px': '70vw', '1200px': '80vw', '1000px': '90vw', '640px': '100vw'}"
  [style]="{width: '60vw'}"
>
  <app-etiqueta-form *ngIf="ecs.formDisplay" (hideForm)="hideForm($event)"></app-etiqueta-form>
</p-dialog>
<p-confirmPopup></p-confirmPopup>
<!--<p-confirmDialog [style]="{width: '50vw'}" styleClass="tablistagem" [baseZIndex]="10000" [acceptLabel]="'SIM'" [rejectLabel]="'NÃO'"></p-confirmDialog>-->

