.landing-news-active .landing-header, .layout-news-active .layout-sidebar, .layout-news-active .layout-topbar, .layout-news-active .layout-config {
  top: 2rem
}

.layout-config {
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  display: block;
  width: 550px;
  z-index: 1101;
  height: 100%;
  transition: transform .4s cubic-bezier(.05, .74, .2, .99);
  transform: translate(100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.layout-config.layout-config-active {
  transform: translate(0)
}

.layout-config.layout-config-active .layout-config-content-wrapper .layout-config-button i {
  transform: rotate(0)
}

.layout-config .layout-config-content-wrapper {
  position: relative;
  height: 100%;
  box-shadow: 0 2px 10px #0000003d;
  color: var(--text-color);
  background-color: var(--surface-f)
}

.layout-config .layout-config-content-wrapper .layout-config-button {
  display: block;
  position: absolute;
  width: 52px;
  height: 52px;
  line-height: 52px;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--primary-color-text);
  top: 270px;
  left: -51px;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
  outline: 0 none;
  border-radius: 3px;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f
}

.layout-config .layout-config-content-wrapper .layout-config-button i {
  font-size: 26px;
  line-height: inherit;
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 1s
}

.layout-config a {
  color: #2196f3;
  font-weight: 600
}

.layout-config a:hover {
  text-decoration: underline
}

.layout-config .layout-config-content {
  overflow: auto;
  height: 100%;
  padding: 2rem
}

.layout-config .config-scale {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem
}

.layout-config .config-scale .p-button {
  margin-right: .5rem
}

.layout-config .config-scale i {
  margin-right: .5rem;
  font-size: .75rem;
  color: var(--text-color-secondary)
}

.layout-config .config-scale i.scale-active {
  font-size: 1.25rem;
  color: #2196f3
}

.layout-config .layout-config-close {
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  right: 20px;
  top: 20px;
  z-index: 999;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .2s, box-shadow .2s, transform .2s
}

.layout-config .layout-config-close i {
  color: var(--primary-color-text);
  line-height: inherit;
  font-size: 14px
}

.layout-config .layout-config-close:hover {
  transform: scale(1.1)
}

.layout-config .layout-config-close:focus {
  outline: 0 none;
  transition: box-shadow .2s;
  box-shadow: 0 0 0 .2rem #bbdefb
}

.layout-config .grid > div {
  padding: 1rem;
  text-align: center
}

.layout-config .grid > div span {
  display: block
}

.layout-config .grid > div button {
  position: relative;
  display: inline-flex;
  justify-content: center
}

.layout-config .grid > div button:focus {
  outline: 0 none;
  transition: box-shadow .2s;
  box-shadow: 0 0 0 .2rem #bbdefb
}

.layout-config .free-themes img {
  width: 50px;
  border-radius: 4px;
  transition: transform .2s
}

.layout-config .free-themes img:hover {
  transform: scale(1.1)
}

.layout-config .free-themes span {
  font-size: .875rem;
  margin-top: .25rem
}

.layout-config .premium-themes img {
  width: 100%;
  transition: transform .2s
}

.layout-config .premium-themes img:hover {
  transform: scale(1.1)
}

.layout-wrapper .layout-config.layout-config-active {
  width: 100%
}

.layout-topbar {
  padding: 0;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  z-index: 1100;
  display: flex;
  align-items: center;
  padding: 0 4rem
}

.layout-topbar.layout-topbar-sticky {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px)
}

.layout-topbar .menu-button {
  display: none;
  color: var(--text-color);
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  transition: background-color .2s;
  cursor: pointer
}

.layout-topbar .menu-button:hover {
  background-color: var(--surface-hover)
}

.layout-topbar .menu-button i {
  font-size: 24px;
  line-height: inherit
}

.layout-topbar .logo:focus {
  outline: 0 none;
  transition: box-shadow .2s;
  box-shadow: var(--focus-ring)
}

.layout-topbar .app-theme {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  padding: .5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  width: 39px;
  height: 39px
}

.layout-topbar .app-theme img {
  width: 25px
}

.layout-topbar .topbar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 auto;
  display: flex
}

.layout-topbar .topbar-menu > li {
  margin-right: .5rem
}

.layout-topbar .topbar-menu > li > a, .layout-topbar .topbar-menu > li > .p-link {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
  padding: .5rem 1.5rem;
  display: block;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .3s
}

.layout-topbar .topbar-menu > li > a:focus, .layout-topbar .topbar-menu > li > .p-link:focus {
  z-index: 1;
  outline: 0 none;
  transition: box-shadow .2s;
  box-shadow: var(--focus-ring)
}

.layout-topbar .topbar-menu > li > a:hover, .layout-topbar .topbar-menu > li > .p-link:hover {
  background-color: var(--surface-hover)
}

.layout-topbar .topbar-menu > li.topbar-submenu {
  position: relative
}

.layout-topbar .topbar-menu > li.topbar-submenu > ul {
  position: absolute;
  transform-origin: top;
  top: 3rem;
  right: 0;
  width: 275px;
  max-height: 400px;
  background-color: var(--surface-overlay);
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  overflow: auto;
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  border-radius: 10px
}

.layout-topbar .topbar-menu > li.topbar-submenu > ul > li {
  line-height: 1
}

.layout-topbar .topbar-menu > li.topbar-submenu > ul > li.topbar-submenu-header {
  display: block;
  color: var(--text-color-secondary);
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
  padding: 1.5rem 0 1rem;
  font-size: .857rem;
  text-transform: uppercase
}

.layout-topbar .topbar-menu > li.topbar-submenu > ul > li.topbar-submenu-header:first-child {
  padding-top: 1rem
}

.layout-topbar .topbar-menu > li.topbar-submenu > ul a, .layout-topbar .topbar-menu > li.topbar-submenu > ul .p-link {
  text-decoration: none;
  color: var(--text-color);
  padding: .5rem;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%
}

.layout-topbar .topbar-menu > li.topbar-submenu > ul a:hover, .layout-topbar .topbar-menu > li.topbar-submenu > ul .p-link:hover {
  background-color: var(--surface-hover)
}

.layout-topbar .topbar-menu > li.topbar-submenu > ul a span, .layout-topbar .topbar-menu > li.topbar-submenu > ul .p-link span {
  margin-left: .5rem
}

.layout-topbar .topbar-menu > li.topbar-submenu > ul a i, .layout-topbar .topbar-menu > li.topbar-submenu > ul .p-link i {
  font-size: 18px;
  color: var(--text-color-secondary)
}

.layout-topbar .topbar-menu > li.topbar-submenu > ul a img, .layout-topbar .topbar-menu > li.topbar-submenu > ul .p-link img {
  width: 32px;
  margin-right: .5rem
}

.layout-topbar .theme-badge {
  padding: 2px 4px;
  vertical-align: middle;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  position: relative;
  top: -1px
}

.layout-topbar .theme-badge.material {
  background: linear-gradient(to bottom, #2196F3, #2196F3)
}

.layout-topbar .theme-badge.bootstrap {
  background: linear-gradient(to bottom, #563D7C, #966BD8)
}

.layout-topbar .theme-badge.darkmode {
  background: linear-gradient(to bottom, #141d26, #5a6067)
}

.layout-wrapper-dark .layout-topbar.layout-topbar-sticky {
  background-color: #0000004d
}

.layout-wrapper-light .layout-topbar.layout-topbar-sticky {
  background-color: #ffffffd9
}


.layout-wrapper-dark .layout-topbar.layout-topbar-sticky {
  background-color: #0000004d
}

.layout-wrapper-light .layout-topbar.layout-topbar-sticky {
  background-color: #ffffffd9
}
.layout-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column
}

.layout-wrapper .layout-content {
  margin-left: 250px;
  padding-top: 70px;
  flex-grow: 1;
  display: flex;
  flex-direction: column
}

.layout-wrapper .layout-content .content-section {
  padding: 2rem 4rem;
  flex-grow: 1
}

.layout-wrapper .layout-content .content-section.introduction {
  color: var(--text-color);
  padding-bottom: 0;
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.layout-wrapper .layout-content .content-section.introduction .feature-intro h1 {
  color: var(--surface-900)
}

.layout-wrapper .layout-content .content-section.introduction .feature-intro p {
  margin: 0;
  font-size: 1.25rem
}

.layout-wrapper .layout-content .content-section.introduction .feature-intro a {
  text-decoration: none;
  color: #2196f3;
  font-weight: 600
}

.layout-wrapper .layout-content .content-section.introduction .feature-intro a:hover {
  text-decoration: underline
}

.layout-wrapper .layout-content .content-section.introduction .app-demoactions .p-button-icon-only {
  padding: .5rem 0
}

.layout-wrapper .layout-content .content-section.implementation {
  color: var(--text-color)
}

.layout-wrapper .layout-content .content-section.implementation + .documentation {
  padding-top: 0
}

.layout-wrapper .layout-content .content-section.documentation {
  color: var(--text-color)
}

.layout-wrapper .layout-content .content-section.documentation h1 {
  color: var(--surface-900)
}

.layout-wrapper .layout-content .content-section.documentation li {
  line-height: 1.5
}

.layout-wrapper .layout-content .content-section.documentation a {
  text-decoration: none;
  color: #2196f3;
  font-weight: 600
}

.layout-wrapper .layout-content .content-section.documentation a:hover {
  text-decoration: underline
}

.layout-wrapper .layout-content .content-section.documentation .doc-tablewrapper {
  margin: 1rem 0;
  overflow: auto;
  border-radius: 10px
}

.layout-wrapper .layout-content .content-section.documentation i:not([class~=pi]) {
  background-color: var(--surface-card);
  color: #2196f3;
  font-family: Monaco, courier, monospace;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 4px;
  letter-spacing: .5px;
  border-radius: 3px;
  font-weight: 600;
  margin: 0 2px
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview {
  background: transparent;
  border: 0 none
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav {
  border-radius: 0;
  padding: 0;
  border-bottom: 1px solid var(--surface-border);
  background-color: transparent
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li {
  margin-right: 0;
  border: 0 none;
  top: 1px;
  line-height: 1
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a, .layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:visited {
  color: var(--text-color-secondary);
  text-shadow: none;
  height: inherit;
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  transition: border-bottom-color .2s
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:focus, .layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:visited:focus {
  outline: 0 none;
  transition: background-color .2s, box-shadow .2s;
  box-shadow: inset 0 0 0 .2em #bbdefb
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:hover, .layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:visited:hover {
  background: transparent;
  text-decoration: none
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li.p-highlight a, .layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li.p-highlight:hover a {
  background: transparent;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color)
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover a {
  color: var(--text-color);
  border-bottom: 1px solid var(--primary-color)
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-nav .p-tabview-ink-bar {
  display: none
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-panels {
  background: transparent;
  border: 0 none;
  padding: 2rem 1rem
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-panels .btn-viewsource {
  display: inline-block;
  padding: .5rem 1rem
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-panels a {
  text-decoration: none;
  color: #2196f3;
  font-weight: 600
}

.layout-wrapper .layout-content .content-section.documentation .p-tabview .p-tabview-panels a:hover {
  text-decoration: underline
}

.layout-wrapper .layout-content .content-section .doc-table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--surface-card)
}

.layout-wrapper .layout-content .content-section .doc-table th {
  border-bottom: 1px solid var(--surface-border);
  padding: 1rem;
  text-align: left;
  white-space: nowrap
}

.layout-wrapper .layout-content .content-section .doc-table tbody tr:hover {
  background: var(--surface-hover)
}

.layout-wrapper .layout-content .content-section .doc-table tbody td {
  padding: 1rem;
  border-bottom: 1px solid var(--surface-border)
}

.layout-wrapper .layout-content .content-section .doc-table tbody td:first-child {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-weight: 700;
  color: var(--text-color-secondary)
}

.layout-wrapper .layout-content .content-section .doc-table.browsers td:first-child {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color)
}

.layout-wrapper .layout-content .card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem
}

.layout-wrapper .layout-content .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

@media screen and (max-width: 960px) {
  .layout-wrapper.layout-news-active .layout-content {
    padding-top: 10rem
  }

  .layout-wrapper .layout-topbar {
    height: 8rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    left: 0;
    width: 100%
  }

  .layout-wrapper .layout-topbar .menu-button, .layout-wrapper .layout-topbar .logo {
    display: block
  }

  .layout-wrapper .layout-topbar .logo img {
    width: 150px
  }

  .layout-wrapper .layout-topbar .app-theme {
    margin-left: 0;
    margin-right: 23px
  }

  .layout-wrapper .layout-topbar .topbar-menu {
    width: 100%;
    height: 3rem;
    margin: 0
  }

  .layout-wrapper .layout-topbar .topbar-menu > li {
    width: 25%;
    margin-right: 0;
    position: static
  }

  .layout-wrapper .layout-topbar .topbar-menu > li.topbar-submenu {
    position: static
  }

  .layout-wrapper .layout-topbar .topbar-menu > li.topbar-submenu > ul {
    right: auto;
    width: 100vw;
    left: 0;
    top: 8rem
  }

  .layout-wrapper .layout-sidebar {
    top: 0;
    z-index: 1102;
    height: 100%;
    transform: translate(-100%)
  }

  .layout-wrapper .layout-sidebar.active {
    transform: translate(0)
  }

  .layout-wrapper .layout-content {
    margin-left: 0;
    padding-top: 110px
  }

  .layout-wrapper .layout-content .content-section {
    padding-left: 2rem;
    padding-right: 2rem
  }

  .layout-wrapper .layout-content .content-section.introduction {
    flex-direction: column
  }

  .layout-wrapper .layout-content .content-section.introduction .app-inputstyleswitch {
    margin-top: 1.5rem
  }

  .layout-wrapper .layout-content .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%
  }

  .layout-wrapper .layout-content .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .layout-wrapper .layout-mask {
    background-color: #0000001a
  }

  .layout-wrapper .layout-mask.layout-mask-active {
    z-index: 998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0006;
    transition: background-color .5s
  }

  .layout-wrapper .home .introduction > div {
    width: 100%
  }

  .layout-wrapper .home .features > div {
    width: 100%
  }

  .layout-wrapper .home .whouses > div {
    width: 100%
  }

  .layout-wrapper .home .prosupport > div {
    width: 100%
  }

  .layout-wrapper .layout-config.layout-config-active {
    width: 100%
  }

  .layout-wrapper .blocked-scroll {
    overflow: hidden
  }
}

@media screen and (max-width: 640px) {
  .layout-wrapper .layout-content .content-section {
    padding-left: 1rem;
    padding-right: 1rem
  }

  .layout-news {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 12px
  }

  .layout-news > i {
    display: none
  }
}
