<p-scrollPanel class="detalhe">
  <table #detalheoficio class="detalhefull">
    <tr>
      <td>

        <table #detoficio class="table-hover tabela">
          <caption>OFÍCIO</caption>
          <thead class="detalheTitulo-horiz">
          <tr>
            <th colspan="2">
              OFÍCIO
            </th>
          </tr>
          </thead>
          <tbody class="detalhe-horiz">
          <tr *ngIf="oficio.oficio_status_nome">
            <th>
              Situação:
            </th>
            <td>
              {{oficio.oficio_status_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_processo_numero">
            <th>
              Número do processo:
            </th>
            <td>
              {{oficio.oficio_processo_numero}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_numero">
            <th>
              Número do ofício:
            </th>
            <td>
              {{oficio.oficio_numero}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_codigo">
            <th>
              Código:
            </th>
            <td>
              {{oficio.oficio_codigo}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_tipo_solicitante_nome">
            <th>
              Tipo de solicitante:
            </th>
            <td>
              {{oficio.oficio_tipo_solicitante_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_cadastro_nome">
            <th>
              Solicitante:
            </th>
            <td>
              {{oficio.oficio_cadastro_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_municipio_nome">
            <th>
              Município:
            </th>
            <td>
              {{oficio.oficio_municipio_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_assunto_nome">
            <th>
              Assunto:
            </th>
            <td>
              {{oficio.oficio_assunto_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_area_interesse_nome">
            <th>
              Área de interesse:
            </th>
            <td>
              {{oficio.oficio_area_interesse_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_data_emissao">
            <th>
              Data da emissão:
            </th>
            <td>
              {{oficio.oficio_data_emissao}}
            </td>
          </tr>
          <tr *ngIf="oficio.solicitacao_local_nome">
            <th>
              Núcleo:
            </th>
            <td>
              {{oficio.solicitacao_local_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_prioridade_nome">
            <th>
              Prioridade:
            </th>
            <td>
              {{oficio.oficio_prioridade_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_protocolo_numero">
            <th>
              Número do protocolo:
            </th>
            <td>
              {{oficio.oficio_protocolo_numero}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_data_protocolo">
            <th>
              Data do protocolo:
            </th>
            <td>
              {{oficio.oficio_data_protocolo}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_orgao_solicitado_nome">
            <th>
              Orgão solicitado:
            </th>
            <td>
              {{oficio.oficio_orgao_solicitado_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_orgao_protocolante_nome">
            <th>
              Orgão protocolante:
            </th>
            <td>
              {{oficio.oficio_orgao_protocolante_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_protocolante_funcionario">
            <th>
              Funcionário do orgão:
            </th>
            <td>
              {{oficio.oficio_protocolante_funcionario}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_tipo_andamento_nome">
            <th>
              Tipo de andamento:
            </th>
            <td>
              {{oficio.oficio_tipo_andamento_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_tipo_recebimento_nome">
            <th>
              Tipo de recebimento:
            </th>
            <td>
              {{oficio.oficio_tipo_recebimento_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_data_recebimento">
            <th>
              Data recebimeento:
            </th>
            <td>
              {{oficio.oficio_data_recebimento}}
            </td>
          </tr>
          <tr *ngIf="oficio.solicitacao_reponsavel_analize_nome">
            <th>
              Responsável pela analise:
            </th>
            <td>
              {{oficio.solicitacao_reponsavel_analize_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_convenio">
            <th>
              Concênio:
            </th>
            <td>
              {{oficio.oficio_convenio}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_valor_solicitado">
            <th>
              Valor solicitado:
            </th>
            <td>
              {{oficio.oficio_valor_solicitado}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_valor_recebido">
            <th>
              Valor recebido:
            </th>
            <td>
              {{oficio.oficio_valor_recebido}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_data_pagamento">
            <th>
              Data do pagamento:
            </th>
            <td>
              {{oficio.oficio_data_pagamento}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_data_empenho">
            <th>
              Data do empenho:
            </th>
            <td>
              {{oficio.oficio_cadastro_nome}}
            </td>
          </tr>
          <tr *ngIf="oficio.oficio_prazo">
            <th>
              Prazo:
            </th>
            <td>
              {{oficio.oficio_prazo}}
            </td>
          </tr>
          <!--<tr *ngIf="oficio.oficio_solicitacao_descricao" class="novaPagina">
            <th colspan="2" class="tituloEditor">
              Solicitação:
              <div *ngIf="oficio.oficio_solicitacao_descricao" style="margin-top: .25em">
                <quill-view [content]="stripslashes(oficio.oficio_solicitacao_descricao)" [format]="'html'" theme="snow"></quill-view>
              </div>
            </th>
          </tr>-->
          <!--<tr *ngIf="oficio.oficio_descricao_acao" class="novaPagina">
            <th colspan="2" class="tituloEditor">
              Descreção da ação:
              <div *ngIf="oficio.oficio_descricao_acao" style="margin-top: .25em">
                <quill-view [content]="stripslashes(oficio.oficio_descricao_acao)" [format]="'html'" theme="snow"></quill-view>
              </div>
            </th>
          </tr>-->
          <tr *ngIf="oficio.oficio_arquivos.length > 0 && aut.arquivos_baixar">
            <td colspan="2">
              <app-detalhe-explorer [arquivos]="oficio.oficio_arquivos"></app-detalhe-explorer>
            </td>
          </tr>
          <tr>
            <td>-------</td>
            <td>-------</td>
          </tr>
          <tr *ngIf="oficio.oficio_solicitacao_descricao" class="novaPagina">
            <th colspan="2" class="tituloEditor">
              Solicitação:
              <div *ngIf="oficio.oficio_solicitacao_descricao" style="margin-top: .25em">
                <app-kill-view [kill]="{html: oficio.oficio_solicitacao_descricao, delta: oficio.oficio_solicitacao_descricao_delta}"></app-kill-view>
                <!--<quill-view [content]="stripslashes(oficio.oficio_solicitacao_descricao)" [format]="'html'" theme="snow"></quill-view>-->
              </div>
            </th>
          </tr>
          <tr *ngIf="oficio.oficio_descricao_acao" class="novaPagina">
            <th colspan="2" class="tituloEditor">
              Descreção da ação:
              <div *ngIf="oficio.oficio_descricao_acao" style="margin-top: .25em">
                <app-kill-view [kill]="{html: oficio.oficio_descricao_acao, delta: oficio.oficio_descricao_acao_delta}"></app-kill-view>
                <!--<quill-view [content]="stripslashes(oficio.oficio_descricao_acao)" [format]="'html'" theme="snow"></quill-view>-->
              </div>
            </th>
          </tr>




          </tbody>
        </table>

      </td>
    </tr>
  </table>
  <br>
</p-scrollPanel>

<div class="botoesdetalhe">
  <button pButton type="button" label="FECHAR" icon="pi pi-times" class="p-button-rounded" (click)="fechar()"></button>
  &nbsp;&nbsp;
  <app-exporter-detalhe [arquivoNome]="'oficio_detalhes'" [classe]="'tabela'"></app-exporter-detalhe>
  &nbsp;&nbsp;
  <app-impressao-botao [dados]="['OFÍCIO',detalheoficio]"></app-impressao-botao>
</div>
