<ng-container *ngIf="!celula.txtVF">
  <ng-container *ngIf="!getDestino()">
    <div class="white-space-nowrap overflow-hidden white-space-nowrap text-overflow-ellipsis">{{celula.valor}}</div>
  </ng-container>
  <ng-container *ngIf="getDestino()">
    <app-email-telefone-celular [field]="celula.field" [valor]="celula.valor"></app-email-telefone-celular>
  </ng-container>
</ng-container>

<ng-container *ngIf="celula.txtVF">
  <div class="white-space-nowrap overflow-hidden white-space-nowrap text-overflow-ellipsis"><span class="celula-quill" (click)="mostraTexto()">{{limpaTextoNulo(celula.cphtml)}}</span></div>
</ng-container>
