<div class="inline-block formulario-bg-externo" [style]=estilo2>
  <form [formGroup]="formMenuPassagem" (keyup)="onKey($event)">
    <div class="flex justify-content-between pb-2 ml-2 p-pl-2">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-circle-fill"
            iconPos="left"
            label="Limpar"
            class="p-button-rounded p-button-secondary"
            (click)="onLimparForm()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            *ngIf="authenticationService.passagemaerea_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>

    <div class="flex ml-1 p-pl-2">
      <div class="inline-block grid">

        <div class="col-12">
          <div class="formgrid grid formulario">

            <!-- passagem_beneficiario -->
            <div *ngIf="ddPassagem_beneficiario.length > 1" class="field col-12">
              <label for="passagem_beneficiario_id">Tipo</label>
              <p-dropdown
                id="passagem_beneficiario_id"
                [options]="ddPassagem_beneficiario"
                [style]="estilo1"
                placeholder="TODOS"
                formControlName="passagem_beneficiario"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- passagem_trecho -->
            <div class="field col-12">
              <label for="passagem_trecho">Trecho</label>
              <p-autoComplete
                id="passagem_trecho"
                formControlName="passagem_trecho"
                placeholder="Trecho"
                [maxlength]="50"
                [minLength]="3"
                [delay]="500"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event,'passagem_trecho')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>

            <!-- passagem_voo -->
            <div class="field col-12">
              <label for="passagem_trecho">Voo</label>
              <p-autoComplete
                id="passagem_voo"
                formControlName="passagem_voo"
                placeholder="Voo"
                [maxlength]="50"
                [minLength]="3"
                [delay]="500"
                [suggestions]="sgt"
                (completeMethod)="autoComp($event,'passagem_voo')"
                [inputStyle]="{'padding-right':'0'}"
              ></p-autoComplete>
            </div>

            <!-- passagem_aerolinha_id -->
            <div *ngIf="ddPassagem_aerolinha_id" class="field col-12">
              <label for="passagem_aerolinha_id">Companhia Aérea</label>
              <p-dropdown
                id="passagem_aerolinha_id"
                [options]="ddPassagem_aerolinha_id"
                [style]="estilo1"
                optionLabel="label"
                formControlName="passagem_aerolinha_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- passagem_voado_id -->
            <div *ngIf="ddPassagem_voado_id" class="field col-12">
              <label for="passagem_voado_id">Voado</label>
              <p-dropdown
                id="passagem_voado_id"
                [options]="ddPassagem_voado_id"
                [style]="estilo1"
                optionLabel="label"
                formControlName="passagem_voado_id"
                placeholder="TODOS"
                [showClear]="true"
              ></p-dropdown>
            </div>

            <!-- passagem_data1 -->
            <div class="field col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6">
              <label for="passagem_data1">Data</label>
              <p-calendar
                id="passagem_data1"
                formControlName="passagem_data1"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"
                dataType="string"
              ></p-calendar>
            </div>

            <!-- passagem_data2 -->
            <div class="field col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6">
              <label for="passagem_data2">até</label>
              <p-calendar
                id="passagem_data2"
                formControlName="passagem_data2"
                dateFormat="dd/mm/yy"
                [yearNavigator]="true"
                yearRange="2000:2035"
                placeholder="dd/mm/aaaa"
                dataType="string"
                baseZIndex="10000"
              ></p-calendar>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="flex justify-content-between pb-2 ml-2 p-pl-2">
      <div class="inline-flex">
        <div class="mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-search"
            iconPos="left"
            label="Procurar"
            class="p-button-rounded p-button-secondary"
            (click)="onMudaForm()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            pButton
            type="submit"
            icon="pi pi-circle-fill"
            iconPos="left"
            label="Limpar"
            class="p-button-rounded p-button-secondary"
            (click)="onLimparForm()"
          ></button>
        </div>
        <div class="mr-2">
          <button
            *ngIf="authenticationService.oficio_incluir"
            pButton
            type="button"
            icon="pi pi-plus"
            iconPos="left"
            label="Incluir"
            class="p-button-rounded p-button-secondary"
            (click)="goIncluir()"
          ></button>
        </div>
      </div>
    </div>

  </form>
</div>
