<div id="grafico-menu" class="p-fluid formulario-bg-externo espacoInferiorMenu">

  <div class="p-ml-1 p-pl-2">
    <div class="p-fluid p-formgrid p-grid formulario">

      <div *ngIf="!gs.modal" class="p-field p-col-12 menu-lateral">
        <p-dropdown
          #gf
          *ngIf="!gs.modal"
          [options]="ddModulos"
          [(ngModel)]="modulo"
          placeholder="Seleione                    "
          optionLabel="label"
          [showClear]="false"
          [appendTo]="'body'"
          [style]="{width:'100%'}"
          (ngModelChange)="mudaModulo()"

        ></p-dropdown>
      </div>

      <ng-container *ngIf="gs.graficos !== null">

        <div *ngIf="!gs.modal"  class="p-field p-col-12  menu-lateral">
          <!-- aniversario intervalo1 -->
          <label for="data1">De</label>
          <p-calendar
            [(ngModel)]="gs.data1"
            placeholder="De"
            dateFormat="dd/mm/yy"
            [monthNavigator]="true"
            [yearNavigator]="true"
            [styleClass]="'estreito'"
            yearRange="1900:2040"
            id="data1"
            dataType="string"
            [appendTo]="'body'"
          ></p-calendar>
        </div>
        <div  *ngIf="!gs.modal"  class="p-field p-col-12 menu-lateral">
          <label for="data2">Até</label>
          <p-calendar
            [(ngModel)]="gs.data2"
            placeholder="Até"
            dateFormat="dd/mm/yy"
            [monthNavigator]="true"
            [yearNavigator]="true"
            [styleClass]="'estreito'"
            yearRange="1900:2040"
            id="data2"
            dataType="string"
            [appendTo]="'body'"
          ></p-calendar>
        </div>

        <div *ngFor="let cp of gs.graficos.dropdown; index as i" class="p-field-radiobutton p-col-12 menu-lateral">
          <p-radioButton name="campo" [label]="cp.label" [(ngModel)]="campo" [value]="cp.value" [inputId]="cp.value"
                         (onClick)="mudaCampo(i)"></p-radioButton>
        </div>

        <div class="p-field p-col-12 menu-lateral">
          <p-dropdown
            [options]="ddTipo"
            [(ngModel)]="tipo"
            placeholder="Seleione"
            optionLabel="label"
            [showClear]="false"
            [appendTo]="'body'"
            (ngModelChange)="mudaTipo($event)"
          ></p-dropdown>
        </div>

      </ng-container>


    </div>
  </div>

</div>
