<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <form [formGroup]="formSol" (ngSubmit)="onSubmit()">
      <div class="p-fluid formulario-bg-externo">

        <div class="p-d-flex p-jc-center">
          <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
            <span class="formulario-titulo">{{titulo}}</span>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">



              <!--*** COLUNA 1 ***-->
              <div class="p-col-12 formulario">
                <div class="p-fluid p-formgrid p-grid formulario">

                  <!--*** Tipo de Cadastro ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_cadastro_tipo_id"><span class="atencao">*</span> Tipo de Cadastro</label>
                    <p-dropdown
                      id="solicitacao_cadastro_tipo_id"
                      formControlName="solicitacao_cadastro_tipo_id"
                      placeholder="Selecione"
                      [options]="ddSolicitacao_cadastro_tipo_id"
                      [required]="true"
                      [autofocus]="true"
                      [group]="true"
                      (onChange)="cadastro_tipo_change()"
                      name="solicitacao_cadastro_tipo_id"
                      [ngClass]="aplicaCssErro('solicitacao_cadastro_tipo_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('solicitacao_cadastro_tipo_id')" msgErro="Tipo de Cadastro é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** Solicitante ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_cadastro_id"><span class="atencao">*</span> Solicitante</label>
                    <div class="p-inputgroup">
                      <p-autoComplete
                        id="solicitacao_cadastro_id"
                        formControlName="solicitacao_cadastro_id"
                        [suggestions]="sgt"
                        (completeMethod)="autoComp($event, 'cadastro')"
                        [dropdown]="true"
                        dropdownIcon="pi pi-chevron-down"
                        field="label"
                        [forceSelection]="true"
                        [minLength]="3"
                        [delay]="500"
                        [size]="30"
                        dataKey="value"
                        [maxlength]="50"
                        [required]="true"
                        [emptyMessage]="emptyMessage"
                        placeholder="Solicitante "
                        [ngClass]="aplicaCssErro('solicitacao_cadastro_id')"
                      ></p-autoComplete>
                      <button
                        class="p-button-secondary"
                        pButton
                        type="button"
                        icon="pi pi-plus"
                        *ngIf="cadastro_incluir"
                        (click)="goIncluir()"
                      ></button>
                    </div>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('solicitacao_cadastro_id')" msgErro="Solicitante é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** solicitacao_assunto_id ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_assunto_id"><span class="atencao">*</span> Assunto</label>
                    <p-dropdown
                      id="solicitacao_assunto_id"
                      formControlName="solicitacao_assunto_id"
                      placeholder="Selecione"
                      [filter]="ddSolicitacao_assunto_id.length > 50"
                      filterBy="label"
                      [options]="ddSolicitacao_assunto_id"
                      [required]="true"
                      name="Assunto"
                      [ngClass]="aplicaCssErro('solicitacao_assunto_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('solicitacao_assunto_id')" msgErro="Assunto é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** solicitacao_area_interesse_id ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_area_interesse_id"><span class="atencao">*</span> Área de
                      interesse</label>
                    <p-dropdown
                      id="solicitacao_area_interesse_id"
                      formControlName="solicitacao_area_interesse_id"
                      placeholder="Selecione"
                      [filter]="ddSolicitacao_area_interesse_id.length > 50"
                      filterBy="label"
                      [options]="ddSolicitacao_area_interesse_id"
                      [required]="true"
                      [ngClass]="aplicaCssErro('solicitacao_area_interesse_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('solicitacao_area_interesse_id')" msgErro="Área de interesse é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** solicitacao_orgao ***-->
                  <div  class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_orgao">Orgão solicitado</label>
                    <input
                      id="solicitacao_orgao"
                      formControlName="solicitacao_orgao"
                      type="text"
                      [size]="40"
                      [maxlength]="150"
                      pInputText
                    />
                  </div>

                  <!--*** solicitacao_numero_oficio ***-->
                  <ng-container *ngIf="vs.solicitacaoVersao > 1 && sfs.acao === 'alterar'">
                  <div  class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_numero_oficio">{{tituloNumOfi}}</label>
                    <input
                      id="solicitacao_numero_oficio"
                      formControlName="solicitacao_numero_oficio"
                      type="text"
                      [size]="40"
                      [maxlength]="100"
                      pInputText
                      (blur)="verificaNumOficio($event)"
                    />
                    <div *ngIf="solNumOfi" >
                      <small class="p-atencao">{{ msgSolNumOfi }}</small>
                    </div>
                  </div>
                  </ng-container>
                  <ng-container *ngIf="vs.solicitacaoVersao === 1 && sfs.acao === 'alterar' && mostraCpoNumOfi">
                    <div  class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                      <label for="solicitacao_numero_oficio2">{{tituloNumOfi}}</label>
                      <input
                        id="solicitacao_numero_oficio2"
                        formControlName="solicitacao_numero_oficio"
                        type="text"
                        [size]="40"
                        [maxlength]="100"
                        pInputText
                        (blur)="verificaNumOficio($event)"
                      />
                      <div *ngIf="solNumOfi" >
                        <small class="p-atencao">{{ msgSolNumOfi }}</small>
                      </div>
                    </div>
                  </ng-container>


                  <!--*** solicitacao_data ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_data"><span class="atencao">*</span> Data</label>
                    <p-calendar
                      id="solicitacao_data"
                      formControlName="solicitacao_data"
                      dateFormat="dd/mm/yy"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                      [ngClass]="aplicaCssErro('solicitacao_data')"
                    ></p-calendar>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('solicitacao_data')" msgErro="Data é obrigatória."></app-campo-control-erro>
                  </div>



                  <!--*** solicitacao_atendente_cadastro_id ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_atendente_cadastro_id"><span class="atencao">*</span> Atendente</label>
                    <p-dropdown
                      id="solicitacao_atendente_cadastro_id"
                      formControlName="solicitacao_atendente_cadastro_id"
                      placeholder="Selecione"
                      [options]="ddSolicitacao_atendente_cadastro_id"
                      [required]="true"
                      [ngClass]="aplicaCssErro('solicitacao_atendente_cadastro_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('solicitacao_atendente_cadastro_id')"  msgErro="Atendente é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** solicitacao_data_atendimento ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_data_atendimento"><span class="atencao">*</span> Data do
                      atendimento</label>
                    <p-calendar
                      id="solicitacao_data_atendimento"
                      formControlName="solicitacao_data_atendimento"
                      dateFormat="dd/mm/yy"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                      [ngClass]="aplicaCssErro('solicitacao_data_atendimento')"
                    ></p-calendar>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('solicitacao_data_atendimento')" msgErro="Data do atendimento é obrigatória."></app-campo-control-erro>
                  </div>



                  <!--*** solicitacao_tipo_recebimento_id ***-->
                  <div *ngIf="vs.solicitacaoVersao === 1" class="p-field p-col-12  p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_tipo_recebimento_id"><span class="atencao">*</span> Tipo de recebimento</label>
                    <p-dropdown
                      id="solicitacao_tipo_recebimento_id"
                      formControlName="solicitacao_tipo_recebimento_id"
                      placeholder="Selecione"
                      [options]="ddSolicitacao_tipo_recebimento_id"
                      [required]="true"
                      [ngClass]="aplicaCssErro('solicitacao_tipo_recebimento_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('solicitacao_tipo_recebimento_id')" msgErro="Tipo de recebimento é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** solicitacao_local_id ***-->
                  <div *ngIf="vs.solicitacaoVersao < 3" class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_local_id"><span class="atencao">*</span> Núcleo</label>
                    <p-dropdown
                      id="solicitacao_local_id"
                      formControlName="solicitacao_local_id"
                      placeholder="Selecione"
                      [options]="ddSolicitacao_local_id"
                      [required]="true"
                      [ngClass]="aplicaCssErro('solicitacao_local_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('solicitacao_local_id')" msgErro="Núcleo é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** solicitacao_reponsavel_analize_id ***-->
                  <div *ngIf="vs.solicitacaoVersao < 3" class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="solicitacao_reponsavel_analize_id"><span class="atencao">*</span> Responsável pela análize</label>
                    <p-dropdown
                      id="solicitacao_reponsavel_analize_id"
                      formControlName="solicitacao_reponsavel_analize_id"
                      placeholder="Selecione"
                      [options]="ddSolicitacao_reponsavel_analize_id"
                      [required]="true"
                      [ngClass]="aplicaCssErro('solicitacao_reponsavel_analize_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('solicitacao_reponsavel_analize_id')" msgErro="Responsável pela análize é obrigatório."></app-campo-control-erro>
                  </div>



                  <!--*** solicitacao_indicacao_sn ***-->
                  <div class="formulario-switch p-field" [ngClass]="stl">
                    <h5>Indicação</h5>
                    <p-inputSwitch #indsn formControlName="solicitacao_indicacao_sn" (onChange)="trocaIndicacaoSV($event)" ></p-inputSwitch>
                  </div>

                  <!--*** solicitacao_indicacao_nome ***-->
                  <div *ngIf="indsn.checked" class="p-field p-col-12 p-sm-12 p-md-4 p-lg-4 p-xl-3">
                    <label for="solicitacao_indicacao_nome">Indicado por</label>
                    <input
                      id="solicitacao_indicacao_nome"
                      formControlName="solicitacao_indicacao_nome"
                      type="text"
                      [size]="40"
                      [maxlength]="150"
                      pInputText
                    />
                  </div>
                </div>
              </div>
              <!--*** FIM COLUNA 1 ***-->




              <!--*** COLUNA 4 ***-->
              <div class="p-col-12 formulario">
                <div class="p-fluid p-formgrid p-grid">

                  <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12">
                    <p-accordion>
                      <p-accordionTab header="Descrição da solicitação">
                        <div class="p-d-flex p-jc-center">
                          <div class="formulario-quill">
                            <div class="qeditor">
                              <quill-editor
                                class="formulario"
                                id="solicitacao_descricao"
                                [format]="format3"
                                [defaultEmptyValue]="null"
                                [theme]="'snow'"
                                [modules]="modulos"
                                [debounceTime]="10"
                                [placeholder]="''"
                                formControlName="solicitacao_descricao"
                                (onContentChanged)="onContentChanged($event, 'solicitacao_descricao')"
                              ></quill-editor>
                            </div>
                          </div>
                        </div>
                      </p-accordionTab>
                      <p-accordionTab *ngIf="vs.solicitacaoVersao === 1" header="Observações">
                        <div class="p-d-flex p-jc-center">
                          <div class="formulario-quill">
                            <div class="qeditor">
                              <quill-editor
                                class="formulario"
                                id="solicitacao_aceita_recusada"
                                [format]="format0"
                                [defaultEmptyValue]="null"
                                [theme]="'snow'"
                                [modules]="modulos"
                                [debounceTime]="10"
                                [placeholder]="''"
                                formControlName="solicitacao_aceita_recusada"
                                (onContentChanged)="onContentChanged($event, 'solicitacao_aceita_recusada')"
                              ></quill-editor>
                            </div>
                          </div>
                        </div>
                      </p-accordionTab>

                      <p-accordionTab *ngIf="vs.solicitacaoVersao === 1" header="Resposta / Carta">
                        <div class="p-d-flex p-jc-center">
                          <div class="formulario-quill">
                            <div class="qeditor">
                              <quill-editor
                                class="formulario"
                                id="solicitacao_carta"
                                [format]="format1"
                                [defaultEmptyValue]="null"
                                [theme]="'snow'"
                                [modules]="modulos"
                                [debounceTime]="10"
                                [placeholder]="''"
                                formControlName="solicitacao_carta"
                                (onContentChanged)="onContentChanged($event, 'solicitacao_carta')"
                              ></quill-editor>
                            </div>
                          </div>
                        </div>
                      </p-accordionTab>

                      <p-accordionTab header="Histórico / Andamento">
                        <div class="p-d-flex p-jc-center">
                          <div class="formulario-quill">
                            <div class="qeditor">
                              <quill-editor
                                class="formulario"
                                id="historico_andamento"
                                [format]="format2"
                                [defaultEmptyValue]="null"
                                [theme]="'snow'"
                                [modules]="modulos"
                                [debounceTime]="10"
                                [placeholder]="''"
                                formControlName="historico_andamento"
                                (onContentChanged)="onContentChanged($event, 'historico_andamento')"
                              ></quill-editor>
                            </div>
                          </div>
                        </div>
                      </p-accordionTab>

                    </p-accordion>
                  </div>

                  <ng-container *ngIf="aut.arquivos">
                    <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12">
                      <app-arquivo *ngIf="sfs.acao === 'incluir'"
                        [modulo]="'solicitacao'"
                        [modelo]="'incluir'"
                        [registro_id]="arquivo_registro_id"
                        [uploadDisabled]="arquivoDesativado || !formSol.valid"
                        [enviarArquivos]="enviarArquivos"
                        (onBlockSubmit)="onBlockSubmit($event)"
                        (onUpload)="onUpload($event)"
                        (onPossuiArquivos)="onPossuiArquivos($event)"
                        [clearArquivos]="clearArquivos"
                      ></app-arquivo>
                        <app-arquivo *ngIf="sfs.acao === 'alterar'"
                          [modulo]="'solicitacao'"
                          [uploadDisabled]="arquivoDesativado"
                          [arqs]="sfs.solicListar.solicitacao_arquivos"
                          [registro_id]="sfs.solicitacao.solicitacao_id"
                          (onPossuiArquivos)="onPossuiArquivos($event)"
                          [modelo]="'alterar'"
                          [stiloClass]="'formulario'"
                          [buscaArquivos]="false"
                        ></app-arquivo>
                    </div>
                  </ng-container>

                </div>
              </div>


              <!--*** COLUNA 2 ***-->
              <div *ngIf="sfs.acao==='incluir'" class="p-col-12 formulario">
                <div class="p-fluid p-formgrid p-grid formulario">

                  <!--*** Tipo de analise ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
                    <div class="p-fluid p-formgrid p-grid">
                      <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
                    <label for="solicitacao_tipo_analize"><span class="atencao">*</span> {{tpAnalizeTitulo}}</label>
                    <p-dropdown
                      id="solicitacao_tipo_analize"
                      formControlName="solicitacao_tipo_analize"
                      placeholder="Selecione"
                      [options]="sfs.ddSolicitacao_tipo_analize"
                      [required]="true"
                      (onChange)="sfs.onChangeAcao($event)"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('solicitacao_tipo_analize')" msgErro="Tipo de análise é obrigatório."></app-campo-control-erro>
                      </div>
                      <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
                        <ng-container *ngIf="sfs.analiseCpoOficioNome.ativo">
                          <ng-container *ngIf="sfs.analiseCpoOficioNome.tipo === 'ofi'">
                            <label for="solicitacao_numero_oficio3" [ngClass]="aplicaCssErroAsync('solicitacao_numero_oficio', solNumPro)">{{sfs.analiseCpoOficioNome.cpoTitulo}}</label>
                            <input
                              id="solicitacao_numero_oficio3"
                              formControlName="solicitacao_numero_oficio"
                              type="text"
                              [size]="40"
                              [maxlength]="100"
                              pInputText
                              [ngClass]="aplicaCssErroAsync('solicitacao_numero_oficio', solNumOfi)"
                              (blur)="verificaNumOficio($event)"
                            />
                            <div *ngIf="solNumOfi">
                              <small class="ng-invalid">{{ msgSolNumOfi }}</small>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="sfs.analiseCpoOficioNome.tipo === 'pro'">
                            <label for="processo_numero"
                                   [ngClass]="aplicaCssErroAsync('processo_numero', solNumPro)">{{sfs.analiseCpoOficioNome.cpoTitulo}}</label>
                            <input
                              id="processo_numero"
                              formControlName="processo_numero"
                              type="text"
                              [size]="40"
                              [maxlength]="100"
                              pInputText
                              [ngClass]="aplicaCssErroAsync('processo_numero', solNumPro)"
                              (blur)="verificaNumProcesso($event)"
                            />
                            <small *ngIf="msgSolNumPro !== null && !solNumPro" class="p-atencao">O número do
                              processo {{ sgstNumPro }} é apenas uma <b>sugestão</b></small>
                            <div *ngIf="solNumPro">
                              <small class="ng-invalid">{{ msgSolNumPro }}</small>
                            </div>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="!sfs.analiseCpoOficioNome.ativo">
                        </ng-container>
                      </div>
                    </div>
                  </div>

                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
                    <p-card class="analise">
                      <ng-template pTemplate="header">
                        <div class="p-d-inline analise-header">
                          <i class="pi pi-exclamation-circle" style="color: var(--yellow-500);font-size: 1rem"></i> AÇÕES
                        </div>
                      </ng-template>
                      <div class="p-d-block analise-corpo">
                        <table>
                          <tr>
                            <th nowrap>STATUS: </th>
                            <td>{{sfs.informacao.status}}</td>
                          </tr>
                          <tr>
                            <th nowrap>SITUAÇÃO: </th>
                            <td>
                              {{sfs.informacao.situacao}}
                            </td>
                          </tr>
                          <tr *ngIf="sfs.informacao.texto">
                            <td colspan="2">
                              {{sfs.informacao.texto}}
                            </td>
                          </tr>
                          <tr *ngIf="sfs.informacao.informacao">
                            <td colspan="2">
                              {{sfs.informacao.informacao}}
                            </td>
                          </tr>

                        </table>
                      </div>
                      <ng-template pTemplate="footer">
                        {{sfs.informacao.textoProcesso}}
                      </ng-template>

                    </p-card>
                  </div>


                </div>
              </div>
              <!--*** FIM COLUNA 2 ***-->



            </div>
          </div>
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>
        </div>

      </div>

      <div class="p-grid">
        <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
      </div>

      <div class="p-fluid formulario-bg-externo espacoInferiorMenu">
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">
              <div class="p-col-12 formulario">
                <!--*** Botões ***-->
                <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded"
                      [disabled]="!formSol.valid || !mostraForm"
                      (click)="onSubmit()"
                      label="Enviar"
                    ></button>
                  </div>
                  <div class="p-mr-2" *ngIf="sfs.acao === 'incluir'">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Cancelar"
                      [disabled]="!mostraForm"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltar()"
                      label="Voltar"
                      [disabled]="!mostraForm"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid formulario-bg-externo">
          <div class="p-col-12"></div>
          <div class="p-col-12"></div>
        </div>
      </div>

    </form>
  </div>
</p-scrollPanel>



