<p-overlayPanel #op id="overp" appendTo="body" (onShow)="imprimir()" (onHide)="onHide()">
  <ng-template pTemplate >
    <div class="printservice">
    <div #a4p id="impressao">
      <table class="a4-p">
        <caption class="a4-p">{{titulo}}</caption>
        <thead class="a4-p">
        <tr class="a4-p">
          <th class="a4-p" *ngFor="let col of layout.colunas">
            {{col.header}}
          </th>
        </tr>
        </thead>
        <tbody class="a4-p">
        <tr class="a4-p" *ngFor="let linha of val">
          <td class="a4-p" *ngFor="let col of layout.colunas">
            {{linha[col.field]}}
          </td>
        </tr>
        </tbody>
        <tfoot class="a4-p">
        <tr class="a4-p">
          <td class="a4-p">
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  </ng-template>
</p-overlayPanel>
<button type="button" #btnprint style="visibility: hidden" (click)="op.show($event)"></button>


