<p-sidebar
  [visible]="mm.mostraMenu$ | async"
  appendTo="body"
  [blockScroll]="false"
  [dismissible]="true"
  (onHide)="onHide()"
  styleClass="ui-sidebar-full ui-sidebar-sm ui-sidebar-md ui-sidebar-lg"
  [style]="{'background-color':'var(--fundo'}"
>
  <div style="padding-top: 20px">
    <p-scrollPanel [style]="{height: altura}">
      <div style="background-color: var(--fundo)">
        <app-passagem-menu-listar></app-passagem-menu-listar>
      </div>
    </p-scrollPanel>
  </div>
</p-sidebar>
<router-outlet></router-outlet>
