<p-scrollPanel [styleClass]="scrollPanelStyle">
  <ng-container *ngIf="ev">
    <div class="caldet">
      <div class="p-grid">
        <div class="p-col-12 p-shadow-2" [style]="tituloEstilo">
          {{ev.title}}
        </div>
        <div *ngIf="prioridade" class="p-col-12 p-shadow-1" [style]="prioridadeStyle">
          Prioridade:&nbsp; {{prioridade}}
        </div>
        <div *ngIf="calendarioStatus" class="p-col-12 p-shadow-1" [style]="calendarioStatusStyle">
          Situação:&nbsp; {{calendarioStatus}}
        </div>
        <div *ngIf="tipo" class="p-col-12 p-shadow-1" [style]="tipoStyle">
          {{tipo}}
        </div>
        <div *ngIf="ev.local_id" class="p-col-12 p-shadow-1" [style]="subTituloStyle">
          Núcleo:&nbsp; {{ev.local_nome}}
        </div>
        <div class="p-col-12" [style]="subTituloStyle">
          {{ev.start}}
        </div>
        <div class="p-col-12 p-shadow-1" *ngIf="ev.inicio" [style]="subTituloStyle">
          <div *ngIf="ev.endHora"  style="float: right">
            Término:&nbsp; {{ev.endHora}}
          </div>
          <div>
            Inicio:&nbsp; {{ev.inicio}}
          </div>
        </div>
        <div class="p-col-12 p-shadow-1" *ngIf="ev.tempo" [style]="subTituloStyle">
          Duração:&nbsp; {{ev.tempo}}
        </div>
        <div class="p-col-12 p-shadow-1" *ngIf="ev.recorrente && ev.fim" [style]="subTituloStyle">
          Repetir até:&nbsp; {{ev.fim}}
        </div>
        <div class="p-col-12 p-shadow-1" *ngIf="ev.url" [style]="subTituloStyleLink" (click)="openRequestedSinglePopup(ev.url)">
          URL:&nbsp;{{ev.url}}
        </div>
      </div>
      <br>
      <div class="p-grid">
        <div class="p-col-12" *ngIf="ev.description">
          <p-card id="desc" [styleClass]="'observacaostyle'">
            {{ev.description}}
          </p-card>

        </div>
        <div class="p-col-12"  *ngIf="ev.observacao">
          <p-card id="ob" class="caldetobs">
            {{ev.observacao}}
          </p-card>

        </div>
      </div>

    </div>
  </ng-container>

<!--

<div style="background-color: #8fd19e">
  <ng-container *ngIf="ev">
    <div *ngFor="let key of Object.keys(ev)">
      <p>{{key}} -> {{ev[key]}}</p>
    </div>
  </ng-container>
</div>
-->


</p-scrollPanel>
