<!--<p-scrollPanel class="detalhe">-->
<div class="formulariotelefone" style="background-color: var(--formulario-bg-externo-color);">
  <form [formGroup]="formTelefone" (ngSubmit)="onSubmit()">
    <div class="p-fluid">

      <div class="p-d-flex p-jc-center">
        <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
        </div>
      </div>
      <div class="p-grid">

        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-my-1 p-py-2 p-px-3 p-pb-1">
            <div class="p-fluid p-formgrid p-grid formulario p-input-filled">

              <!-- telefone_tipo -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6" [ngClass]="aplicaCssErro('telefone_tipo')">
                <h5><span class="atencao">*</span> Tipo</h5>
                <p-selectButton
                  id="telefone_tipo"
                  [options]="ddTelefone_tipo"
                  formControlName="telefone_tipo"
                  [style]="{'max-width':'90%'}"
                  [ngClass]="aplicaCssErro('telefone_tipo')"
                ></p-selectButton>
                <app-campo-control-erro [mostrarErro]="verificaRequired('telefone_tipo')" msgErro="Tipo é obrigatório."></app-campo-control-erro>
              </div>

              <!-- telefone_data -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6" [ngClass]="aplicaCssErro('telefone_data')">
                <h5><span class="atencao">*</span> Data</h5>
                <p-calendar
                  id="telefone_data"
                  formControlName="telefone_data"
                  dateFormat="dd/mm/yy"
                  [yearNavigator]="true"
                  yearRange="2000:2035"
                  placeholder="dd/mm/aaaa hh:mm"
                  hourFormat="24"
                  [showTime]="true"
                  dataType="date"
                  [styleClass]="'estreito'"
                  [style]="{'max-width':'90%'}"
                  [ngClass]="aplicaCssErro('telefone_data')"
                ></p-calendar>
                <app-campo-control-erro [mostrarErro]="verificaRequired('telefone_data')" msgErro="Data é obrigatório."></app-campo-control-erro>
              </div>

              <!-- telefone_de -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6" [ngClass]="aplicaCssErro('telefone_de')">
                <h5><span class="atencao">*</span> De</h5>
                <input
                  id="telefone_de"
                  formControlName="telefone_de"
                  type="text"
                  [size]="40"
                  [maxlength]="50"
                  pInputText
                  [style]="{'max-width':'90%'}"
                  [ngClass]="aplicaCssErro('telefone_de')"
                />
                <app-campo-control-erro [mostrarErro]="verificaRequired('telefone_de')" msgErro="De é obrigatório."></app-campo-control-erro>
              </div>

              <!-- telefone_para -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6" [ngClass]="aplicaCssErro('telefone_para')">
                <h5><span class="atencao">*</span> Para</h5>
                <input
                  id="telefone_para"
                  formControlName="telefone_para"
                  type="text"
                  [size]="40"
                  [maxlength]="50"
                  pInputText
                  [style]="{'max-width':'90%'}"
                  [ngClass]="aplicaCssErro('telefone_para')"
                />
                <app-campo-control-erro [mostrarErro]="verificaRequired('telefone_para')" msgErro="Para é obrigatório."></app-campo-control-erro>
              </div>

              <!-- telefone_assunto -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6"
                   [ngClass]="aplicaCssErro('telefone_assunto')">
                <h5><span class="atencao">*</span> Assunto</h5>
                <input
                  id="telefone_assunto"
                  formControlName="telefone_assunto"
                  type="text"
                  [size]="40"
                  [maxlength]="100"
                  pInputText
                  [style]="{'max-width':'90%'}"
                  [ngClass]="aplicaCssErro('telefone_assunto')"
                />
                <app-campo-control-erro [mostrarErro]="verificaRequired('telefone_assunto')" msgErro="Assunto é obrigatório."></app-campo-control-erro>
              </div>

              <!-- telefone_ddd -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6">
                <h5>DDD</h5>
                <input
                  id="telefone_ddd"
                  type="text"
                  pInputText
                  pKeyFilter="num"
                  formControlName="telefone_ddd"
                  [size]="5"
                  [maxlength]="5"
                  [style]="{'max-width':'90%'}"
                >
              </div>

              <!-- telefone_telefone -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6"
                   [ngClass]="aplicaCssErro('telefone_telefone')">
                <h5><span class="atencao">*</span> Telefone</h5>
                <input
                  id="telefone_telefone"
                  type="text"
                  pInputText
                  pKeyFilter="num"
                  formControlName="telefone_telefone"
                  [size]="40"
                  [maxlength]="50"
                  [style]="{'max-width':'90%'}"
                  [ngClass]="aplicaCssErro('telefone_telefone')"
                >
                <app-campo-control-erro [mostrarErro]="verificaRequired('telefone_telefone')" msgErro="Telefone é obrigatório."></app-campo-control-erro>
              </div>

              <!-- telefone_local_id -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6"
                   [ngClass]="aplicaCssErro('telefone_local_id')">
                <h5><span class="atencao">*</span> Núcleo</h5>
                <p-dropdown
                  id="telefone_local_id"
                  [options]="ddTelefone_local_id"
                  [style]="{'max-width':'90%'}"
                  formControlName="telefone_local_id"
                  placeholder="SELECIONE"
                  [showClear]="true"
                  [ngClass]="aplicaCssErro('telefone_local_id')"
                ></p-dropdown>
                <app-campo-control-erro [mostrarErro]="verificaRequired('telefone_local_id')" msgErro="Núcleo é obrigatório."></app-campo-control-erro>
              </div>

              <!-- telefone_usuario_nome -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6"
                   [ngClass]="aplicaCssErro('telefone_usuario_nome')">
                <h5><span class="atencao">*</span> Atendente</h5>
                <p-dropdown
                  id="telefone_usuario_nome"
                  [options]="ddTelefone_usuario_nome"
                  [style]="{'max-width':'90%'}"
                  formControlName="telefone_usuario_nome"
                  placeholder="SELECIONE"
                  [showClear]="true"
                  [ngClass]="aplicaCssErro('telefone_usuario_nome')"
                ></p-dropdown>
                <app-campo-control-erro [mostrarErro]="verificaRequired('telefone_usuario_nome')" msgErro="Atendente é obrigatório."></app-campo-control-erro>
              </div>

              <!-- telefone_resolvido -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6"
                   [ngClass]="aplicaCssErro('telefone_resolvido')">
                <h5><span class="atencao">*</span> Situação</h5>
                <p-selectButton
                  id="telefone_resolvido"
                  [options]="ddTelefone_resolvido"
                  formControlName="telefone_resolvido"
                  [style]="{'max-width':'90%'}"
                  styleClass="formulario"
                  [ngClass]="aplicaCssErro('telefone_resolvido')"
                ></p-selectButton>
                <app-campo-control-erro [mostrarErro]="verificaRequired('telefone_resolvido')" msgErro="Situação é obrigatório."></app-campo-control-erro>
              </div>

              <!-- telefone_observacao -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">

                <div class="p-d-flex p-jc-center">
                  <div class="formulario-quill">
                    <h5>Observações</h5>
                    <div class="qeditor">
                      <quill-editor
                        class="formulario"
                        id="telefone_observacao"
                        formControlName="telefone_observacao"
                        [format]="'html'"
                        [defaultEmptyValue]="null"
                        [theme]="'snow'"
                        [modules]="modulos"
                        [debounceTime]="10"
                        [placeholder]="''"
                        (onEditorCreated)="onEditorCreated($event)"
                      ></quill-editor>
                    </div>
                  </div>
                </div>
              </div>


              <ng-container *ngIf="aut.arquivos">
                <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
                  <app-arquivo *ngIf="tfs.acao === 'incluir'"
                               [modulo]="'proposicao'"
                               [modelo]="'incluir'"
                               [registro_id]="arquivo_registro_id"
                               [uploadDisabled]="arquivoDesativado || !formTelefone.valid"
                               [enviarArquivos]="enviarArquivos"
                               (onBlockSubmit)="onBlockSubmit($event)"
                               (onUpload)="onUpload($event)"
                               (onPossuiArquivos)="onPossuiArquivos($event)"
                               [clearArquivos]="clearArquivos"
                  ></app-arquivo>
                  <app-arquivo *ngIf="tfs.acao === 'alterar'"
                               [modulo]="'proposicao'"
                               [uploadDisabled]="arquivoDesativado"
                               [arqs]="tfs.telefoneListar.telefone_arquivos"
                               [registro_id]="tfs.telefone.telefone_id"
                               (onPossuiArquivos)="onPossuiArquivos($event)"
                               [modelo]="'alterar'"
                               [stiloClass]="'formulario'"
                               [buscaArquivos]="false"
                  ></app-arquivo>
                </div>
              </ng-container>


            </div>
          </div>
        </div>

        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>

      </div>
    </div>


    <div class="p-grid">
      <div class="p-col-10 p-offset-1" style="background-color: var(--formulario-bg-externo-color);">&nbsp;</div>
    </div>

    <div class="p-fluid">
      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-grid p-input-filled">
            <div class="p-col-12 formulario">
              <!--*** Botões ***-->
              <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                <div class="p-d-inline-flex">
                  <div class="p-ml-2" [ngClass]="{'p-d-none': !formTelefone.valid}">
                    <button
                      pButton
                      type="submit"
                      class="p-button-rounded"
                      [disabled]="!formTelefone.valid || mostraForm"
                      label="Enviar"
                    ></button>
                  </div>
                  <div class="p-mx-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Limpar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Fechar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>


      <div class="p-grid">
        <div class="p-col-10 p-offset-1">&nbsp;</div>
      </div>
    </div>

  </form>
</div>
<!--</p-scrollPanel>-->
