<p-scrollPanel class="detalhe" id="detalheEmenda">
  <table class="detalhefull">
    <tr>
      <td>
        <table class="table-hover tabela" #tabemenda id="tabemenda">
          <caption>EMENDA</caption>
          <ng-container *ngFor="let em of emenda; let i=index">
          <tr *ngIf="em[1]">
            <th>
              {{em[0]}}
            </th>
            <td>
              {{em[1]}}
            </td>
          </tr>
          </ng-container>

          <tr *ngIf="dados.emenda.emenda_justificativa" class="novaPagina">
            <th colspan="2" class="tituloEditor">
              {{emenda_titulo['emenda_justificativa']}}:
              <div *ngIf="dados.emenda.emenda_justificativa" style="margin-top: .25em">
                <quill-view-html id="justificativa" #justificativa [content]="dados.emenda.emenda_justificativa" class="detalhe"></quill-view-html>
              </div>
            </th>
          </tr>

        </table>

      </td>
    </tr>
    <tr>
      <td>
        <app-arquivo
          [modulo]="'emenda'"
          [modelo]="'detalhe'"
          [registro_id]="dados.emenda.emenda_id"
        ></app-arquivo>
      </td>
    </tr>
    <tr>
      <td>
        <br>
      </td>
    </tr>
    <tr *ngIf="dados.emenda.historico_emenda">
      <td>
        <table class="table-hover tabela" #tabhistorico id="tabhistorico" style="width: 100%">
          <caption>HISTÓRICO</caption>
          <tr>
            <th>
              {{historico_emenda_titulo['his_data']}}
            </th>
            <th>
              {{historico_emenda_titulo['his_usuario']}}
            </th>
            <th>
              {{historico_emenda_titulo['his_texto']}}
            </th>
          </tr>
          <tr *ngFor="let hi of dados.emenda.historico_emenda">
            <td>{{hi.his_data}}</td>
            <td>{{hi.his_usuario}}</td>
            <td>{{hi.his_texto}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr *ngIf="dados.emenda.historico_emenda">
      <td><br></td>
    </tr>
    <tr>
      <td>
        <app-arquivo
          [modulo]="'emenda'"
          [modelo]="'detalhe'"
          [registro_id]="dados.emenda.emenda_id"
        ></app-arquivo>
      </td>
    </tr>
  </table>
  <br>
</p-scrollPanel>
<div class="botoesdetalhe">
  <button pButton type="button" icon="pi pi-times" label="FECHAR" class="p-button-rounded" (click)="fechar()"></button>
  &nbsp;&nbsp;
  <button pButton type="button" icon="pi pi-file-pdf" label="PDF"
          class="p-button-rounded p-button-secondary"
          (click)="getPdf(false)"></button>
  &nbsp;&nbsp;
  <button pButton type="button" icon="pi pi-print" label="IMPRIMIR"
          class="p-button-rounded p-button-secondary"
          (click)="getPdf(true)"></button>
</div>

