<div *ngIf="tus.length > 0" class="tusa">
  <div class="table">
    <div *ngFor="let col of tus" class="row-group">
      <div class="row">
        <div *ngIf="+aut.usuario_id !== col.tus_usuario_id" class="cell" [ngClass]="rowColor(col.tus_situacao_id)">
          <div class="simples">{{col.tu_usuario_nome}}</div>
          <div class="simples">{{col.tus_situacao_nome}}</div>
          <div class="longa"></div>
        </div>
        <div *ngIf="+aut.usuario_id === col.tus_usuario_id" class="cell" [ngClass]="rowColor(col.tus_situacao_id)">
          <div class="simples tmouse" (click)="alterarClick(col)">{{col.tu_usuario_nome}}</div>
          <div class="simples tmouse" (click)="alterarClick(col)">{{col.tus_situacao_nome}}</div>
          <div class="longa"></div>
        </div>
      </div>
      <ng-container *ngIf="col.tarefa_historico.length > 0">

      <div *ngFor="let co of col.tarefa_historico" class="row andamento">
        <div class="cell">
          <div class="simples">{{co.th_data}}</div>
          <div class="longa">
            <quill-view [content]="co.th_historico" format="html" theme="bubble" class="tarefa-historico"></quill-view>
          </div>
        </div>
      </div>


      </ng-container>
      <div class="row">
        <div class="espacoh cell"></div>
        <div class="espacoh cell"></div>
      </div>


    </div>
  </div>

</div>
