<!--*** INICIO *****************************************************************************************************-->
<p-table #dtb
         id="tabelasolicitacao"
         [value]="ss.solicitacoes"
         [columns]="ss.tabela.selectedColumns"
         [rows]="ss.tabela.rows"
         [lazy]="true"
         [lazyLoadOnInit]="false"
         [totalRecords]="ss.tabela.totalRecords"
         [sortField]="ss.tabela.sortField"
         dataKey="solicitacao_id"
         [scrollable]="true"
         [scrollHeight]="altura"
         [(selection)]="ss.selecionados"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         [autoLayout]="false"
         columnResizeMode="expand"
         [rowHover]="true"
         [responsive]="false"
         rowExpandMode="single"
         [(first)]="ss.tabela.first"
         [(contextMenuSelection)]="ss.Contexto"
         contextMenuSelectionMode="joint"
         [contextMenu]="cm"
         [pageLinks]="5"
         [paginator]="true"
         [alwaysShowPaginator]="true"
         [rowsPerPageOptions]="ss.rowsPerPageOptions"
         (rowsChange)="ss.rowsChange($event)"
         (onLazyLoad)="onLazyLoad($event)"
         (onColReorder)="onColReorder($event)"
         (onRowExpand)="ss.onRowExpand($event)"
         (onRowCollapse)="ss.onRowCollapse($event)"
         (onStateSave)="ss.setState($event)"
         (onStateRestore)="ss.onStateRestore($event)"
         (onContextMenuSelect)="ss.onContextMenuSelect($event)"
         (sortFunction)="ss.customSort($event)"
         [customSort]="true"
         [tableStyle]="{'font-size':'var(--font-padrao)'}"
         stateStorage="session"
         stateKey="solic-table"
         selectionMode="multiple"
         styleClass="tablistagem p-datatable-sm p-datatable-striped p-datatable-gridlines p-selectable-row"
>
  <!--*** TOPO *****************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div [ngClass]="{'hide-datatable': md.mdt}">
      <div class="flex justify-content-between align-items-center flex-column p-flex-md-row">
        <div class="inline-flex">
          <div class="mx-2">
            <button pButton type="button" label="Filtrar" icon="pi pi-search" class="p-button-text p-button-sm"
                    (click)="mostraMenu()"></button>
          </div>
          <div class="mr-2">
            <button pButton type="button" label="Colunas" icon="pi pi-table" class="p-button-text p-button-sm"
                    (click)="mostraSelectColunas()"></button>
          </div>
          <div class="mr-2" *ngIf="ds.dispositivo!=='mobile'">
            <button pButton type="button" label="Relatórios" icon="pi pi-info" class="p-button-text p-button-sm"
                    (click)="men.toggle($event)"></button>
          </div>

          <div class="mr-0">
            <button pButton type="button" label="Incluir" icon="pi pi-plus" class="p-button-text p-button-sm"
                    (click)="solicitacaoIncluir()"></button>
          </div>
        </div>

        <div *ngIf="ds.dispositivo!=='mobile'" class="inline-flex align-items-center">
          <div class="mx-2">SOLICITAÇÕES</div>
        </div>
        <div *ngIf="ds.dispositivo!=='mobile'" class="inline-flex align-items-center">
          <div class="mr-2" *ngIf="ss.selecionados">
            <button pButton type="button" label="Reset" icon="pi pi-backward" class="p-button-text p-button-sm"
                    (click)="ss.resetSelecionados()"></button>
          </div>
          <div class="mr-2">Página {{ss.tabela.currentPage}} de {{ss.tabela.pageCount}} - Num.
            Registros: {{ss.tabela.totalRecords}}</div>
        </div>

        <div *ngIf="ds.dispositivo==='mobile'" class="flex justify-content-center">
          <div class="mx-2">SOLICITAÇÕES</div>
          <div class="mr-2">Página {{ss.tabela.currentPage}} de {{ss.tabela.pageCount}} - Num.
            Registros: {{ss.tabela.totalRecords}}</div>
        </div>


      </div>
    </div>
    <p-menu #men styleClass="relatorio" [popup]="true" [model]="itemsAcao" appendTo="body"></p-menu>
  </ng-template>

  <!--*** TITULOS **************************************************************************************************-->
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col style="width: 2rem;" pResizableColumnDisabled>
      <col *ngFor="let col of columns" [style]="{width:col.width}">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [style.width]="col.width"
          pReorderableColumn
          pResizableColumn
      >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-sol let-columns="columns" let-expanded="expanded" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="sol" [pContextMenuRow]="sol" [pSelectableRowIndex]="rowIndex">
      <td style="width: 2em" pResizableColumnDisabled>
        <button type="button" pButton pRipple [pTooltip]="expanded ? 'Recolher' : 'Expandir'" tooltipPosition="top"
                [pRowToggler]="sol" class="expandir p-button-rounded  p-button-text p-button-sm"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>

      <td *ngFor="let col of columns" [style.width]="col.width"
          [ngClass]="rowColor(col.field, sol.processo_status_id, sol.solicitacao_status_nome, sol.solicitacao_situacao)">
        <app-exporter-celula [celula]="{
          valor: stripslashes(sol[col.field]),
          field: col.field,
          header:col.header,
          txtVF: ss.testaCampoTexto(col.field),
          cphtml: stripslashes(sol[col.field]),
          cpdelta: null,
          cptexto: null
           }"></app-exporter-celula>
      </td>
    </tr>
  </ng-template>

  <!--*** EXPANDIDO ************************************************************************************************-->
  <ng-template pTemplate="rowexpansion" let-sol let-indice="rowIndex" let-columns="columns">
    <tr class="expandido">
      <td [attr.colspan]="columns.length + 1" class="expandido">
        <div class="rowexpansion-corpo">
          <div class="inline-block">
            <div class="flex justify-content-start pb-2">
              <div class="mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-eye"
                  class="p-button-rounded"
                  pTooltip="Detalhes"
                  tooltipPosition="top"
                  (click)="solicitacaoDetalheCompleto(sol)"
                >
                </button>
              </div>
              <div
                *ngIf="(
                (aut.usuario_responsavel_sn || aut.usuario_principal_sn || aut.solicitacao_analisar) &&
                (sol.processo_status_id === 0 || sol.processo_status_id === 1 || sol.processo_status_id === 4) &&
                ((aut.solicitacaoVersao === 1 && sol.processo_id === 0) || aut.solicitacaoVersao !== 1)
                )" class="mr-2">
              <!--<div *ngIf="aut.solicitacao_analisar && ((aut.solicitacaoVersao === 1 && sol.processo_id === 0) || aut.solicitacaoVersao !== 1)" class="mr-2">-->
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-exclamation-circle"
                  class="p-button-rounded p-button-success"
                  pTooltip="Analisar"
                  tooltipPosition="top"
                  (click)="solicitacaoAnalisar(sol)"
                >
                </button>
              </div>
              <div
                *ngIf="(
                (aut.usuario_responsavel_sn || aut.usuario_principal_sn) &&
                (sol.processo_status_id === 2 || sol.processo_status_id === 3) &&
                ((aut.solicitacaoVersao === 1 && sol.processo_id === 0) || aut.solicitacaoVersao !== 1)
                )" class="mr-2">
                <!--<div *ngIf="aut.solicitacao_analisar && ((aut.solicitacaoVersao === 1 && sol.processo_id === 0) || aut.solicitacaoVersao !== 1)" class="mr-2">-->
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-exclamation-circle"
                  class="p-button-rounded p-button-secondary"
                  pTooltip="Analisar"
                  tooltipPosition="top"
                  (click)="solicitacaoAnalisar(sol)"
                >
                </button>
              </div>
              <div *ngIf="aut.solicitacao_alterar" class="mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"
                  pTooltip="Alterar"
                  tooltipPosition="top"
                  (click)="solicitacaoAlterar(sol)"
                >
                </button>
              </div>
              <div *ngIf="aut.solicitacao_apagar" class="mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                  (click)="solicitacaoApagar(sol)"
                >
                </button>
              </div>
              <div *ngIf="ss.expandidoSN && permListHistSol && sol.historico_solicitcao.length > 0" class="mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-list"
                  class="p-button-rounded p-button-cyan"
                  pTooltip="Listar Andamentos da Solicitação"
                  tooltipPosition="top"
                  (click)="historicoAcao(sol.solicitacao_id, 'listar', 'solicitacao', indice, (sol.solicitacao_status_id !== 2 && sol.solicitacao_status_id !== 3), sol.historico_solicitcao)"
                >
                </button>
              </div>
              <div *ngIf="ss.expandidoSN && permInclHistSol && sol.solicitacao_status_id > 0 &&  (sol.solicitacao_status_id !== 2 && sol.solicitacao_status_id !== 3)" class="mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-file-o"
                  class="p-button-rounded p-button-cyan"
                  pTooltip="Incluir Andamentos da Solicitação"
                  tooltipPosition="top"
                  (click)="historicoAcao(sol.solicitacao_id, 'incluir', 'solicitacao', indice)"
                >
                </button>
              </div>
              <div *ngIf="ss.expandidoSN && sol.processo_id !== 0 && permListHist && sol.historico_processo.length > 0"
                   class="mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-list"
                  class="p-button-rounded p-button-purple"
                  pTooltip="Listar Andamentos do Processo"
                  tooltipPosition="top"
                  (click)="historicoAcao(sol.processo_id,'listar', 'processo', indice, (sol.solicitacao_status_id !== 2 && sol.solicitacao_status_id !== 3), sol.historico_processo)"
                >
                </button>
              </div>

              <div *ngIf="ss.expandidoSN && permInclHist && sol.processo_id !== 0  && (sol.solicitacao_status_id !== 2 && sol.solicitacao_status_id !== 3)" class="mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-file-o"
                  class="p-button-rounded p-button-purple"
                  pTooltip="Incluir Andamentos do Processo"
                  tooltipPosition="top"
                  (click)="historicoAcao(sol.processo_id, 'incluir', 'processo', indice)"
                >
                </button>
              </div>

            </div>
            <div class="grid">
              <div *ngFor="let ce of ss.tabela.celulas;" class="col-12 sm:col-12 md:col-6 lg:col-4 xl:col-3">
                <div class="registros shadow-1">
                  <h5>{{ce.header}}</h5>
                  <app-exporter-expandido [celula]="ce"></app-exporter-expandido>
                </div>
              </div>
            </div>


          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" id="tabela-vazia">
        <div class="tabela-vazia-a">
          <div class="tabela-vazia-b">
            <div class="tabela-vazia-c shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** MENU *****************************************************************************************************-->
</p-table>
<!--*** FIM ********************************************************************************************************-->

<!--*** SELETOR DE COLUNAS *****************************************************************************************-->
<p-dialog *ngIf="ss.tabela.mostraSeletor"
          id="seletor"
          header="Selecione as colunas."
          [(visible)]="ss.tabela.mostraSeletor"
          [modal]="true"
          styleClass="tablistagem"
          [style]="{width: '40rem'}"
          [dismissableMask]="true"
>
  <app-seletor-colunas [todas]="cols" [(ativas)]="ss.tabela.selectedColumns"></app-seletor-colunas>
  <p-footer>
    <div class="flex justify-content-start pb-2">
      <div class="mr-2">
        <button pButton type="button" label="Fehar " icon="pi pi-times"
                class="campo-extendido p-button-rounded p-button-sm" (click)="hideSeletor()"></button>
      </div>
      <div class="mr-2">
        <button pButton type="button" label="Reset " icon="pi pi-backward"
                class="campo-extendido p-button-rounded p-button-sm" (click)="resetColunas()"></button>
      </div>
    </div>
  </p-footer>
</p-dialog>
<p-contextMenu #cm [model]="contextoMenu" styleClass="tablistagem"></p-contextMenu>



<!--*** DETALHE ****************************************************************************************************-->
<ng-container *ngIf="showDetalhe">
  <p-dialog
    [(visible)]="showDetalhe"
    [modal]="true"
    [dismissableMask]="false"
    [style]="{width: '80vw'}"
    styleClass="tablistagem"
    header="DETALHE"
    (onHide)="escondeDetalhe()"
  >
    <app-solic-detalhe [sol]="solDetalhe" (hideDetalhe)="escondeDetalhe()"></app-solic-detalhe>
  </p-dialog>
</ng-container>

<!--*** HISTORICO ANDAMENTOS ****************************************************************************************-->
<ng-container *ngIf="showHistorico">
  <div [ngClass]="cssMostra">
    <p-dialog
      [breakpoints]="{'1400px': '80vw', '1300px': '85vw', '1200px': '90vw', '1000px': '95vw', '640px': '100vw'}"
      [style]="{width: '80vw'}"
      [(visible)]="showHistorico"
      styleClass="tablistagem"
      [header]="tituloHistoricoDialog"
      [modal]="true"
      [dismissableMask]="false"
      [baseZIndex]="0"
    >
      <app-hist-form *ngIf="showHistorico && histAcao === 'incluir'" [histFormI]="histFormI"
                     [(display)]="showHistorico" (novoRegistro)="recebeRegistro($event)"></app-hist-form>
      <app-hist-datatable *ngIf="showHistorico && histAcao === 'listar'" [(display)]="showHistorico"
                          [histListI]="histListI" [permitirAcao]="permitirAcao" (dialogExterno)="mostraDialog($event)"
                          (novoRegistro)="recebeRegistro($event)"></app-hist-datatable>
    </p-dialog>
  </div>
</ng-container>

<ng-container *ngIf="showGrafico">
  <app-graf [modulo]="'solicitacao'" [busca]="ss.busca" (hideGrafico)="hideGrafico($event)"></app-graf>
</ng-container>
<!--*** IMPRESSAO ****************************************************************************************-->


