<!--*** INICIO *****************************************************************************************************-->
<p-table #dtb
         id="tabelasolicitacao"
         [value]="ss.solicitacoes"
         [columns]="sds.selectedColumns"
         [rows]="sds.rows"
         [lazy]="true"
         [lazyLoadOnInit]="false"
         [loading]="loading"
         [totalRecords]="sds.totalRecords"
         [sortField]="sds.sortCampo"
         dataKey="solicitacao_id"
         [scrollable]="true"
         [scrollHeight]="altura"
         [(selection)]="ss.selecionados"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         [autoLayout]="false"
         columnResizeMode="expand"
         [rowHover]="true"
         [paginator]="true"
         [alwaysShowPaginator]="false"
         [pageLinks]="5"
         [responsive]="false"
         rowExpandMode="single"
         [rowsPerPageOptions]="[50,100,200,500,1000]"
         (onLazyLoad)="onLazyLoad($event)"
         (onColReorder)="onColReorder($event)"
         (onRowExpand)="sds.onRowExpand($event)"
         [(contextMenuSelection)]="ss.Contexto"
         contextMenuSelectionMode="joint"
         [contextMenu]="cm"
         (onContextMenuSelect)="onContextMenuSelect($event)"
         [customSort]="true"
         [tableStyle]="{'font-size':'12px'}"
         stateStorage="session"
         stateKey="datatable-listagem"
         selectionMode="multiple"
         styleClass="tablistagem p-datatable-sm p-datatable-striped"
         [loadingIcon]="'pi pi-spin pi-spinner'"
>
  <!--*** TOPO *****************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div [ngClass]="{'hide-datatable': md.mdt}">
      <div class="p-d-flex p-jc-between p-ai-center p-flex-column p-flex-md-row">
        <div class="p-d-inline-flex">
          <div class="p-mx-2">
            <button pButton type="button" label="Filtrar" icon="pi pi-search" class="p-button-text p-button-sm"
                    (click)="mostraMenu()"></button>
          </div>
          <div class="p-mr-2">
            <button pButton type="button" label="Colunas" icon="pi pi-table" class="p-button-text p-button-sm"
                    (click)="mostraSelectColunas()"></button>
          </div>
          <div class="p-mr-2" *ngIf="aut.dispositivo!=='mobile'">
            <button pButton type="button" label="Relatórios" icon="pi pi-info-circle" class="p-button-text p-button-sm"
                    (click)="men.toggle($event)"></button>
          </div>
          <div class="p-mr-0">
            <button pButton type="button" label="Incluir" icon="pi pi-plus" class="p-button-text p-button-sm"
                    (click)="solicitacaoIncluir()"></button>
          </div>
        </div>

        <!--<div class="p-d-inline-flex p-ai-center">
          <div class="p-mx-2">SOLICITAÇÕES</div>
        </div>
        <div class="p-d-inline-flex p-ai-center">
          <div class="p-mr-2">Página {{currentPage}} de {{numerodePaginas}} - Num. Registros: {{totalRecords}}</div>
        </div>-->

        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mx-2">SOLICITAÇÕES</div>
        </div>
        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mr-2">Página {{sds.currentPage}} de {{sds.numerodePaginas}} - Num. Registros: {{sds.totalRecords}}</div>
        </div>

        <div *ngIf="aut.dispositivo==='mobile'" class="p-d-flex p-jc-center">
          <div class="p-mx-2">SOLICITAÇÕES</div>
          <div class="p-mr-2">Página {{sds.currentPage}} de {{sds.numerodePaginas}} - Num. Registros: {{sds.totalRecords}}</div>
        </div>


      </div>
    </div>
    <p-menu #men [popup]="true" [model]="sds.itemsAcao" appendTo="body"></p-menu>
  </ng-template>

  <!--*** TITULOS **************************************************************************************************-->
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [style.width]="col.largura"
          pReorderableColumn
          pResizableColumn
      >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-sol let-columns="columns" let-expanded="expanded" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="sol" [pContextMenuRow]="sol" [pSelectableRowIndex]="rowIndex">
      <td>
        <button type="button" pButton pRipple [pTooltip]="expanded ? 'Expandir' : 'Recolher'" tooltipPosition="top"
                [pRowToggler]="sol" class="p-button-rounded  p-button-text p-button-sm"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td *ngFor="let col of columns" [style.width]="col.largura">
        {{sol[col.field]}}
      </td>
    </tr>
  </ng-template>

  <!--*** EXPANDIDO ************************************************************************************************-->
  <ng-template pTemplate="rowexpansion" let-sol let-columns="columns">
    <tr class="expandido">
      <td [attr.colspan]="columns.length + 1" class="expandido">
        <div class="rowexpansion-corpo">
          <div class="p-fluid">
            <div class="p-d-flex p-jc-start p-pb-2">
              <div class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-eye"
                  class="p-button-rounded"
                  pTooltip="Detalhes"
                  tooltipPosition="top"
                  (click)="solicitacaoDetalheCompleto(sol)"
                >
                </button>
              </div>
              <div *ngIf="aut.solicitacao_analisar && sol.solicitacao_posicao =='EM ABERTO'" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-exclamation-circle"
                  class="p-button-rounded p-button-success"
                  pTooltip="Analisar"
                  tooltipPosition="top"
                  (click)="solicitacaoAnalisar(sol)"
                >
                </button>
              </div>
              <div *ngIf="aut.solicitacao_alterar" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"
                  pTooltip="Alterar"
                  tooltipPosition="top"
                  (click)="solicitacaoAlterar(sol)"
                >
                </button>
              </div>
              <div *ngIf="aut.solicitacao_apagar" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                  (click)="solicitacaoApagar(sol)"
                >
                </button>
              </div>
              <div *ngIf="aut.solicitacao_listar" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-bookmark"
                  class="p-button-rounded"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                  (click)="historicoSolicitacao(sol)"
                >
                </button>
              </div>
            </div>
            <div class="p-grid">
              <div *ngFor="let linhas of sds.dadosExp;" class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div *ngIf="!linhas[2] || linhas[1].length < 30" class="registros p-shadow-1">
                  <h5>{{linhas[0]}}</h5>
                  {{linhas[1]}}
                </div>
                <div *ngIf="linhas[2] && linhas[1].length > 30" class="registros p-shadow-1">
                  <h5>{{linhas[0]}}</h5>
                  <span class="mostratexto" (click)="mostraTexto(linhas)">{{linhas[1].substr(0, 26)}}...</span>
                </div>
              </div>
            </div>


          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" id="tabela-vazia">
        <div class="tabela-vazia-a">
          <div class="tabela-vazia-b">
            <div class="tabela-vazia-c p-shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** MENU *****************************************************************************************************-->
</p-table>
<!--*** FIM ********************************************************************************************************-->

<!--*** SELETOR DE COLUNAS *****************************************************************************************-->

<p-dialog
  header="Selecione as colunas."
  [(visible)]="sds.mostraSeletor"
  [modal]="true"
  styleClass="tablistagem"
  [style]="{width: '400px'}"
  [dismissableMask]="true"
  (onHide)="hideSeletor($event)"
>
  <p-listbox
    [options]="sds.cols"
    [(ngModel)]="sds.selectedColumns"
    [multiple]="true"
    [checkbox]="true"
    [filter]="true"
    optionLabel="header"

    (onChange)="onChangeSeletorColunas($event)"
  ></p-listbox>
</p-dialog>

<p-contextMenu #cm [model]="sds.contextoMenu" styleClass="tablistagem"></p-contextMenu>
<p-toast key="solicitacaoToast" position="center"></p-toast>

<!--*** EDITOR *****************************************************************************************************-->
<p-dialog
  [(visible)]="showCampoTexto"
  [dismissableMask]="true"
  styleClass="tablistagem"
  [header]="campoTitulo"
  (onHide)="escondeTexto()"
>
  <quill-view-html #edtor [content]="campoTexto" class="tablistagem"></quill-view-html>

  <p-footer *ngIf="deltaquill">
    <button
      pButton
      type="button"
      class="p-button-rounded p-button-sm"
      icon="pi pi-book"
      (click)="exportWord()"
      label="Word"
    ></button>
  </p-footer>
</p-dialog>

<!--*** DETALHE ****************************************************************************************************-->
<ng-container *ngIf="showDetalhe">
  <p-dialog
    [(visible)]="showDetalhe"
    [dismissableMask]="true"
    styleClass="tablistagem"
    header="DETALHE"
    (onHide)="escondeDetalhe()"
  >
    <app-solic-detalhe [solicitacao]="solDetalhe" (hideDetalhe)="escondeDetalhe()"></app-solic-detalhe>
  </p-dialog>
</ng-container>

<!--*** HISTORICO SOLICITACAO****************************************************************************************-->
<ng-container *ngIf="showHistoricoForm">
  <p-dialog
    [(visible)]="showHistoricoForm"
    [dismissableMask]="true"
    styleClass="tablistagem"
    header="ANDAMENTO DA SOLICITAÇÃO"
    (onHide)="escondeHistoricoForm()"
  >
    <!--<app-historico-solocitacao [dados]="" [acao]="" [classeStylos]=""></app-historico-solocitacao>-->
  </p-dialog>
</ng-container>
