<!--*** INICIO *****************************************************************************************************-->
<p-table #dtb
         id="tabelasolicitacao"
         [value]="ss.solicitacoes"
         [columns]="ss.tabela.selectedColumns"
         [rows]="ss.tabela.rows"
         [lazy]="true"
         [lazyLoadOnInit]="false"
         [totalRecords]="ss.tabela.totalRecords"
         [sortField]="ss.tabela.sortField"
         dataKey="solicitacao_id"
         [scrollable]="true"
         [scrollHeight]="altura"
         [(selection)]="ss.selecionados"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         [autoLayout]="false"
         columnResizeMode="expand"
         [rowHover]="true"
         [paginator]="true"
         [alwaysShowPaginator]="false"
         [pageLinks]="5"
         [responsive]="false"
         rowExpandMode="single"
         [rowsPerPageOptions]="[50,100,200,500,1000]"
         [(first)]="ss.tabela.first"
         [(contextMenuSelection)]="ss.Contexto"
         contextMenuSelectionMode="joint"
         [contextMenu]="cm"
         (onLazyLoad)="onLazyLoad($event)"
         (onColReorder)="onColReorder($event)"
         (onRowExpand)="ss.onRowExpand($event)"
         (onRowCollapse)="ss.onRowCollapse($event)"
         (onStateSave)="ss.setState($event)"
         (onStateRestore)="ss.onStateRestore($event)"
         (onContextMenuSelect)="ss.onContextMenuSelect($event)"
         (sortFunction)="ss.customSort($event)"
         [customSort]="true"
         [tableStyle]="{'font-size':'12px'}"
         stateStorage="session"
         stateKey="solic-table"
         selectionMode="multiple"
         styleClass="tablistagem p-datatable-sm p-datatable-striped p-datatable-gridlines"
>
  <!--*** TOPO *****************************************************************************************************-->
  <ng-template pTemplate="caption">
    <div [ngClass]="{'hide-datatable': md.mdt}">
      <div class="p-d-flex p-jc-between p-ai-center p-flex-column p-flex-md-row">
        <div class="p-d-inline-flex">
          <div class="p-mx-2"><button pButton type="button" label="Filtrar" icon="pi pi-search" class="p-button-text p-button-sm" (click)="mostraMenu()"></button></div>
          <div class="p-mr-2"><button pButton type="button" label="Colunas" icon="pi pi-table" class="p-button-text p-button-sm" (click)="mostraSelectColunas()"></button></div>
          <div class="p-mr-2" *ngIf="aut.dispositivo!=='mobile'"><button pButton type="button" label="Relatórios" icon="pi pi-info-circle" class="p-button-text p-button-sm" (click)="men.toggle($event)"></button></div>
          <div class="p-mr-0"><button pButton type="button" label="Incluir" icon="pi pi-plus" class="p-button-text p-button-sm" (click)="solicitacaoIncluir()"></button></div>
        </div>

        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mx-2">SOLICITAÇÕES</div>
        </div>
        <div *ngIf="aut.dispositivo!=='mobile'" class="p-d-inline-flex p-ai-center">
          <div class="p-mr-2">Página {{ss.tabela.currentPage}} de {{ss.tabela.pageCount}} - Num. Registros: {{ss.tabela.totalRecords}}</div>
        </div>

        <div *ngIf="aut.dispositivo==='mobile'" class="p-d-flex p-jc-center">
          <div class="p-mx-2">SOLICITAÇÕES</div>
          <div class="p-mr-2">Página {{ss.tabela.currentPage}} de {{ss.tabela.pageCount}} - Num. Registros: {{ss.tabela.totalRecords}}</div>
        </div>


      </div>
    </div>
    <p-menu #men [popup]="true" [model]="itemsAcao" appendTo="body"></p-menu>
  </ng-template>

  <!--*** TITULOS **************************************************************************************************-->
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [style.width]="col.width"
          pReorderableColumn
          pResizableColumn
      >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!--*** DADOS ****************************************************************************************************-->
  <ng-template pTemplate="body" let-sol let-columns="columns" let-expanded="expanded" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="sol" [pContextMenuRow]="sol" [pSelectableRowIndex]="rowIndex">
      <td>
        <button type="button" pButton pRipple [pTooltip]="expanded ? 'Recolher' : 'Expandir'" tooltipPosition="top"
                [pRowToggler]="sol" class="p-button-rounded  p-button-text p-button-sm"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>

      <td *ngFor="let col of columns" [style.width]="col.width" [ngClass]="rowColor(col.field, sol.processo_status_id, sol.solicitacao_status_nome, sol.solicitacao_situacao)">
        {{ss.escolheTexto(col.field, rowIndex, sol[col.field])}}
      </td>
    </tr>
  </ng-template>

  <!--*** EXPANDIDO ************************************************************************************************-->
  <ng-template pTemplate="rowexpansion" let-sol let-indice="rowIndex" let-columns="columns">
    <tr class="expandido">
      <td [attr.colspan]="columns.length + 1" class="expandido">
        <div class="rowexpansion-corpo">
          <div class="p-fluid">
            <div class="p-d-flex p-jc-start p-pb-2">
              <div class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-eye"
                  class="p-button-rounded"
                  pTooltip="Detalhes"
                  tooltipPosition="top"
                  (click)="solicitacaoDetalheCompleto(sol)"
                >
                </button>
              </div>
              <div *ngIf="aut.solicitacao_analisar && ((aut.solicitacaoVersao === 1 && sol.processo_id === 0) || aut.solicitacaoVersao !== 1)" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-exclamation-circle"
                  class="p-button-rounded p-button-success"
                  pTooltip="Analisar"
                  tooltipPosition="top"
                  (click)="solicitacaoAnalisar(sol)"
                >
                </button>
              </div>
              <div *ngIf="aut.solicitacao_alterar" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"
                  pTooltip="Alterar"
                  tooltipPosition="top"
                  (click)="solicitacaoAlterar(sol)"
                >
                </button>
              </div>
              <div *ngIf="aut.solicitacao_apagar" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  pTooltip="Apagar"
                  tooltipPosition="top"
                  (click)="solicitacaoApagar(sol)"
                >
                </button>
              </div>
              <div *ngIf="ss.expandidoSN && permListHistSol && sol.historico_solicitcao.length > 0" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-list"
                  class="p-button-rounded p-button-cyan"
                  pTooltip="Listar Andamentos da Solicitação"
                  tooltipPosition="top"
                  (click)="historicoAcao(sol.solicitacao_id, 'listar', 'solicitacao', indice, sol.historico_solicitcao)"
                >
                </button>
              </div>
              <div *ngIf="ss.expandidoSN && permInclHistSol && sol.solicitacao_status_id > 0" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-file-o"
                  class="p-button-rounded p-button-cyan"
                  pTooltip="Incluir Andamentos da Solicitação"
                  tooltipPosition="top"
                  (click)="historicoAcao(sol.solicitacao_id, 'incluir', 'solicitacao', indice)"
                >
                </button>
              </div>
              <div *ngIf="ss.expandidoSN && sol.processo_id !== 0 && permListHist && sol.historico_processo.length > 0" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-list"
                  class="p-button-rounded p-button-purple"
                  pTooltip="Listar Andamentos do Processo"
                  tooltipPosition="top"
                  (click)="historicoAcao(sol.processo_id,'listar', 'processo', indice, sol.historico_processo)"
                >
                </button>
              </div>

              <div *ngIf="ss.expandidoSN && permInclHist && sol.processo_id !== 0" class="p-mr-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-file-o"
                  class="p-button-rounded p-button-purple"
                  pTooltip="Incluir Andamentos do Processo"
                  tooltipPosition="top"
                  (click)="historicoAcao(sol.processo_id, 'incluir', 'processo', indice)"
                >
                </button>
              </div>

            </div>
            <div class="p-grid">
              <div *ngFor="let linhas of ss.tabela.dadosExpandidos;" class="p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-3">
                <div *ngIf="!linhas[2] || linhas[1].length <= 40" class="registros p-shadow-1">
                  <h5>{{linhas[0]}}</h5>
                  {{linhas[1]}}
                </div>
                <div *ngIf="linhas[2] || linhas[1].length > 40" class="registros p-shadow-1">
                  <h5>{{linhas[0]}}</h5>
                  <span class="mostratexto" (click)="mostraTexto(linhas)">{{linhas[1].substr(0, 36)}}...</span>
                </div>
              </div>
            </div>


          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <!--*** TABELA VAZIA *********************************************************************************************-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+1" id="tabela-vazia">
        <div class="tabela-vazia-a">
          <div class="tabela-vazia-b">
            <div class="tabela-vazia-c p-shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <!--*** MENU *****************************************************************************************************-->
</p-table>
<!--*** FIM ********************************************************************************************************-->

<!--*** SELETOR DE COLUNAS *****************************************************************************************-->
<p-dialog *ngIf="ss.tabela.mostraSeletor"
  id="seletor"
  header="Selecione as colunas."
  [(visible)]="ss.tabela.mostraSeletor"
  [modal]="true"
  styleClass="tablistagem"
  [style]="{width: '40rem'}"
  [dismissableMask]="true"
>
  <app-seletor-colunas [todas]="cols" [(ativas)]="ss.tabela.selectedColumns"></app-seletor-colunas>
</p-dialog>
<p-contextMenu #cm [model]="contextoMenu" styleClass="tablistagem"></p-contextMenu>
<p-toast key="solicitacaoToast" position="center"></p-toast>

<!--*** EDITOR *****************************************************************************************************-->
<p-dialog *ngIf="showCampoTexto"
  [(visible)]="showCampoTexto"
  [dismissableMask]="true"
  [modal]="true"
  styleClass="tablistagem"
  [header]="campoTitulo"
  (onHide)="escondeTexto()"
>
  <app-quill-view [cpdelta]="deltaquill" [cphtml]="campoHtml" class="detalhe"></app-quill-view>

  <p-footer>
    <button pButton type="button" label="FECHAR" icon="pi pi-times" class="p-button-rounded p-button-sm" (click)="escondeTexto()"></button>
    &nbsp;
    <button
      *ngIf="deltaquill"
      pButton
      type="button"
      class="p-button-rounded p-button-sm"
      icon="pi pi-book"
      (click)="exportWord()"
      label="Word"
    ></button>
  </p-footer>
</p-dialog>

<!--*** DETALHE ****************************************************************************************************-->
<ng-container *ngIf="showDetalhe">
  <p-dialog
    [(visible)]="showDetalhe"
    [modal]="true"
    [dismissableMask]="false"
    styleClass="tablistagem"
    header="DETALHE"
    (onHide)="escondeDetalhe()"
  >
    <app-solic-detalhe [sol]="solDetalhe" (hideDetalhe)="escondeDetalhe()"></app-solic-detalhe>
  </p-dialog>
</ng-container>

<!--*** HISTORICO ANDAMENTOS ****************************************************************************************-->
<ng-container *ngIf="showHistorico2">
  <div [ngClass]="cssMostra">
    <p-dialog
      [breakpoints]="{'1400px': '80vw', '1300px': '85vw', '1200px': '90vw', '1000px': '95vw', '640px': '100vw'}"
      [style]="{width: '80vw'}"
      [(visible)]="showHistorico"
      styleClass="tablistagem"
      [header]="tituloHistoricoDialog"
      [modal]="true"
      [dismissableMask]="false"
      [baseZIndex]="0"
    >
      <app-hist-form *ngIf="showHistorico2 && histAcao === 'incluir'" [histFormI]="histFormI" [(display)]="showHistorico2" (novoRegistro)="recebeRegistro($event)"></app-hist-form>
      <app-hist-datatable *ngIf="showHistorico2 && histAcao === 'listar'" [(display)]="showHistorico" [histListI]="histListI" (dialogExterno)="mostraDialog($event)" (novoRegistro)="recebeRegistro($event)"></app-hist-datatable>
    </p-dialog>
  </div>
</ng-container>
