<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <table class="detalhefull">
      <tr>
        <td>
          <table class="table-hover tabela">
            <caption>TAREFA</caption>
            <tr>
              <th width="1%" nowrap>
                Título:
              </th>
              <td>
                {{tf.tarefa_titulo}}
              </td>
            </tr>
            <tr>
              <th width="1%" nowrap>
                Prazo:
              </th>
              <td>
                {{tf.tarefa_data}} <span
                *ngIf="tf.tarefa_hora && tf.tarefa_hora !== '00:00'">{{tf.tarefa_hora?.toString()}}</span>
              </td>
            </tr>
            <tr>
              <th>
                Autor:
              </th>
              <td>
                {{tf.tarefa_usuario_autor_nome}}
              </td>
            </tr>
            <tr>
              <th>
                Data:
              </th>
              <td>
                {{tf.tarefa_datahora}}
              </td>
            </tr>
            <tr>
              <th>
                Demandados:
              </th>
              <td>

                <table class="table-hover tabela">
                  <tr *ngFor="let us of tf.usuario_situacao">
                    <td [style.backgroundColor]="fcor(us.tus_situacao_id)"
                        style="padding-left: 5px; padding-right: 5px;">{{us.tu_usuario_nome}}</td>
                    <td [style.backgroundColor]="fcor(us.tus_situacao_id)"
                        style="padding-left: 5px; padding-right: 5px;">{{us.tus_situacao_nome}}</td>
                  </tr>
                </table>

              </td>
            </tr>
            <tr *ngIf="tf.tarefa_tarefa">
              <th>
                Tarefa:
              </th>
              <td>
                {{tf.tarefa_tarefa}}
              </td>
            </tr>
            <tr *ngIf="authenticationService.arquivos">
              <td colspan="2">
                <div class="p-grid">

                    <app-arquivo
                      [modulo]="'tarefa'"
                      [uploadDisabled]="!mostraForm"
                      [registro_id]="tf.tarefa_id"
                      (onPossuiArquivos)="onPossuiArquivos($event)"
                      [modelo]="'alterar'"
                      [stiloClass]="'p-field p-col-12'"
                    ></app-arquivo>

                </div>
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>

    <!--<ng-container *ngIf="authenticationService.arquivos">
      <div class="p-grid">
        <div class="p-col-12 campoLabelMenu">
          <app-arquivo
            [modulo]="'tarefa'"
            [uploadDisabled]="!mostraForm"
            [registro_id]="tf.tarefa_id"
            (onPossuiArquivos)="onPossuiArquivos($event)"
            [modelo]="'alterar'"
            [stiloClass]="'p-field p-col-12'"
          ></app-arquivo>
        </div>
      </div>
    </ng-container>-->

    <div class="p-d-flex p-jc-center">
      <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1"></div>
    </div>

    <form [formGroup]="formTarefa">
      <div class="p-fluid formulario-bg-externo">
      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">

          <div class="p-grid p-input-filled">

            <!--*** COLUNA 1 ***-->
            <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
              <div class="p-fluid p-formgrid p-grid formulario">

                <div class="p-field p-col-12" [ngClass]="aplicaCssErro('th_historico')">
                  <label for="th_historico"><span style="color: var(--ativo);">*</span>Andamento</label>
                  <textarea
                    id="th_historico"
                    formControlName="th_historico"
                    [rows]="5"
                    [cols]="80"
                    pInputTextarea
                    [autoResize]="true"
                  >
                </textarea>
                  <app-campo-control-erro msgErro="Andamento é obrigatório."></app-campo-control-erro>
                </div>

                <div *ngIf="aviso_sn > 0" class="p-field p-col-12">
                  <p-message severity="warn" [text]="tx"></p-message>
                </div>

                <div class="p-field p-col-6" *ngIf="aviso_sn === 2">
                  <label for="autorusuario"> Escopo da situação</label>
                  <p-selectButton id="autorusuario" [options]="ddAutorusuario" formControlName="autorusuario"
                                  (onChange)="mudaScopo($event)"></p-selectButton>
                </div>

                <div class="p-field p-col-6">
                  <label for="tarefa_situacao_id">Situação</label>
                  <p-listbox id="tarefa_situacao_id" [options]="ddSituacao_id"
                             formControlName="tarefa_situacao_id"></p-listbox>
                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>
      </div>


      <div class="p-grid">
        <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
        <!--<div class="p-col-10 p-offset-1 formulario-bg-externo"></div>-->
      </div>

      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">
              <div class="p-col-12 formulario">
                <!--*** Botões ***-->
                <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded"
                      [disabled]="!formTarefa.valid || !mostraForm"
                      (click)="atualizarTarefa()"
                      label="Atualizar"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Cancelar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Voltar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="p-d-flex p-jc-center">
          <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1"></div>
        </div>
      </div>
    </form>
  </div>
</p-scrollPanel>
<p-toast key="tarefaToast" [style]="{marginTop: '80px'}"></p-toast>
