<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <form [formGroup]="formOfAlterar" (ngSubmit)="onSubmit()">
      <div class="inline-block formulario-bg-externo">

        <div class="flex justify-content-center">
          <div class="mt-1 mb-1 pt-2 px-3 pb-1">
            <span class="formulario-titulo">OFÍCIO - ALTERAR</span>
          </div>
        </div>
        <div class="grid">
          <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
            <div class="grid p-input-filled">
              <!--*** COLUNA 1 ***-->
              <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 formulario">
                <div class="formgrid grid formulario">

                  <!--*** DADOS DO PROCESSO ***-->
                  <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                    <label for="taboficio2">Dados do processo</label>
                    <div class="p-shadow-1">

                      <table class="table-hover tabela taboficio" #taboficio id="taboficio2">
                        <caption>Dados do processo</caption>
                        <tr>
                          <th>Processo Número:</th>
                          <td>{{ofs.ofiListar.oficio_processo_numero | uppercase}}</td>
                        </tr>
                        <tr>
                          <th>Situação:</th>
                          <td>{{ofs.ofiListar.oficio_status_nome | uppercase}}</td>
                        </tr>
                        <tr>
                          <th>Solicitante:</th>
                          <td>{{ofs.ofiListar.oficio_cadastro_nome | uppercase}}</td>
                        </tr>
                        <tr>
                          <th>Município:</th>
                          <td>{{ofs.ofiListar.oficio_municipio_nome | uppercase}}</td>
                        </tr>
                        <tr>
                          <th>Assunto:</th>
                          <td>{{ofs.ofiListar.oficio_assunto_nome | uppercase}}</td>
                        </tr>
                        <tr>
                          <th>Área de interesse:</th>
                          <td>{{ofs.ofiListar.oficio_area_interesse_nome | uppercase}}</td>
                        </tr>
                        <tr *ngIf="ofs.ofiListar.oficio_solicitacao_descricao">
                          <th>Descrição da solicitação:</th>
                          <td style="text-align: left">
                            <div class="mb-3 demo-container white-space-nowrap overflow-hidden white-space-nowrap text-overflow-ellipsis" style="width: 30rem">
                              <app-exporter-view
                                [detalhe]="{htm: ofs.ofiListar.oficio_solicitacao_descricao, titulo: 'Descrição da solicitação:'}"></app-exporter-view>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <!--*** FIM COLUNA 1 ***-->
                  <!--*** COLUNA 2 ***-->


                  <!--*** oficio_orgao_solicitado_nome ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_orgao_solicitado_nome">Orgão solicitado</label>
                    <input
                      id="oficio_orgao_solicitado_nome"
                      formControlName="oficio_orgao_solicitado_nome"
                      type="text"
                      size="40"
                      maxlength="50"
                      pInputText
                      required
                    />
                  </div>

                  <!--*** oficio_valor_solicitado ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_valor_solicitado">Valor solicitado</label>
                    <p-inputNumber
                      id="oficio_valor_solicitado"
                      formControlName="oficio_valor_solicitado"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                      [minFractionDigits]="2"
                    >
                    </p-inputNumber>
                  </div>

                  <!--*** oficio_valor_recebido ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_valor_recebido">Valor recebido</label>
                    <p-inputNumber
                      id="oficio_valor_recebido"
                      formControlName="oficio_valor_recebido"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                      [minFractionDigits]="2"
                    >
                    </p-inputNumber>
                  </div>

                  <!--*** oficio_data_pagamento ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_data_pagamento">Data do Pagamento</label>
                    <p-calendar
                      id="oficio_data_pagamento"
                      formControlName="oficio_data_pagamento"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="1910:2035"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>

                  <!--*** oficio_protocolo_numero ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_protocolo_numero">Protocolo número</label>
                    <input
                      id="oficio_protocolo_numero"
                      formControlName="oficio_protocolo_numero"
                      type="text"
                      size="15"
                      maxlength="20"
                      pInputText
                    />
                  </div>

                  <!--*** oficio_data_protocolo ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_data_protocolo">Data do protocolo</label>
                    <p-calendar
                      id="oficio_data_protocolo"
                      formControlName="oficio_data_protocolo"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="1910:2035"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>

                  <!--*** oficio_orgao_protocolante_nome ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_orgao_protocolante_nome"><span class="atencao">*</span>Orgão
                      protocolante</label>
                    <input
                      id="oficio_orgao_protocolante_nome"
                      formControlName="oficio_orgao_protocolante_nome"
                      type="text"
                      size="40"
                      maxlength="50"
                      pInputText
                      required
                    />
                  </div>

                  <!--*** oficio_protocolante_funcionario ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_protocolante_funcionario">Funcionário do orgão</label>
                    <input
                      id="oficio_protocolante_funcionario"
                      formControlName="oficio_protocolante_funcionario"
                      type="text"
                      size="40"
                      maxlength="50"
                      pInputText
                    />
                  </div>


                  <!--*** oficio_prioridade_id ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4"
                       [ngClass]="aplicaCssErro('oficio_prioridade_id')">
                    <label for="oficio_prioridade_id"><span class="atencao">*</span> Prioridade</label>
                    <p-dropdown
                      id="oficio_prioridade_id"
                      formControlName="oficio_prioridade_id"
                      placeholder="Selecione"
                      [options]="ddPrioridade_id"
                      [required]="true"
                      [ngClass]="aplicaCssErro('oficio_prioridade_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('oficio_prioridade_id')"
                                            msgErro="Prioridade é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** oficio_prazo ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_prazo">Prazo da ação</label>
                    <p-calendar
                      id="oficio_prazo"
                      formControlName="oficio_prazo"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="1910:2035"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>

                  <!--*** oficio_tipo_andamento_id ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4"
                       [ngClass]="aplicaCssErro('oficio_tipo_andamento_id')">
                    <label for="oficio_tipo_andamento_id"><span class="atencao">*</span>
                      Encaminhamento</label>
                    <p-dropdown
                      id="oficio_tipo_andamento_id"
                      formControlName="oficio_tipo_andamento_id"
                      placeholder="Selecione"
                      [options]="ddAndamento_id"
                      [required]="true"
                      [ngClass]="aplicaCssErro('oficio_tipo_andamento_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('oficio_tipo_andamento_id')"
                                            msgErro="Encaminhamento é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** oficio_numero ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_numero">Ofício número</label>
                    <input
                      id="oficio_numero"
                      formControlName="oficio_numero"
                      type="text"
                      size="20"
                      maxlength="20"
                      pInputText
                    />
                  </div>

                  <!--*** oficio_data_emissao ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_data_emissao">Data da emissão</label>
                    <p-calendar
                      id="oficio_data_emissao"
                      formControlName="oficio_data_emissao"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="1910:2035"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>

                  <!--*** oficio_data_empenho ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_data_empenho">Data do empenho</label>
                    <p-calendar
                      id="oficio_data_empenho"
                      formControlName="oficio_data_empenho"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="1910:2035"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>

                  <!--*** oficio_data_recebimento ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_data_empenho">Data do recebimento</label>
                    <p-calendar
                      id="oficio_data_recebimento"
                      formControlName="oficio_data_recebimento"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="1910:2035"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>

                  <!--*** oficio_tipo_recebimento_id ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4"
                       [ngClass]="aplicaCssErro('oficio_tipo_recebimento_id')">
                    <label for="oficio_tipo_recebimento_id"><span class="atencao">*</span>
                      Encaminhamento</label>
                    <p-dropdown
                      id="oficio_tipo_recebimento_id"
                      formControlName="oficio_tipo_recebimento_id"
                      placeholder="Selecione"
                      [options]="ddRecebimento_id"
                      [required]="true"
                      [ngClass]="aplicaCssErro('oficio_tipo_recebimento_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('oficio_tipo_recebimento_id')"
                                            msgErro="Recebimento é obrigatório."></app-campo-control-erro>
                  </div>

                  <!--*** oficio_convenio ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_convenio">Convênio</label>
                    <input
                      id="oficio_convenio"
                      formControlName="oficio_convenio"
                      type="text"
                      size="15"
                      maxlength="10"
                      pInputText
                    />
                  </div>

                  <!--*** oficio_convenio ***-->
                  <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-4">
                    <label for="oficio_codigo">Código</label>
                    <input
                      id="oficio_codigo"
                      formControlName="oficio_codigo"
                      type="text"
                      size="15"
                      maxlength="10"
                      pInputText
                    />
                  </div>


                  <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
                    <label for="textos"> </label>
                    <p-accordion id="textos">
                      <p-accordionTab header="Descrição da Ação" [selected]="true">
                        <div class="formulario-quill">
                          <div class="qeditor">
                            <quill-editor
                              class="formulario"
                              id="oficio_descricao_acao"
                              [format]="format0"
                              [defaultEmptyValue]="null"
                              [theme]="'snow'"
                              [modules]="modulos"
                              [debounceTime]="10"
                              [placeholder]="''"
                              formControlName="oficio_descricao_acao"
                              (onContentChanged)="onContentChanged($event, 'oficio_descricao_acao')"
                            ></quill-editor>
                          </div>
                        </div>
                      </p-accordionTab>
                      <p-accordionTab header="Histórico do Processo (Andamento)">
                        <div class="formulario-quill">
                          <div class="qeditor">
                            <quill-editor
                              class="formulario"
                              id="historico_andamento"
                              [format]="format1"
                              [defaultEmptyValue]="null"
                              [theme]="'snow'"
                              [modules]="modulos"
                              [debounceTime]="10"
                              [placeholder]="''"
                              formControlName="historico_andamento"
                              (onContentChanged)="onContentChanged($event, 'historico_andamento')"
                            ></quill-editor>
                          </div>
                        </div>
                      </p-accordionTab>
                    </p-accordion>
                  </div>


                  <!--<div class="field col-12 md:col-12 lg:col-12 xl:col-12">
                    <label for="oficio_descricao_acao">Descrição da Ação</label>
                    <div class="formulario-quill">
                      <div class="qeditor">
                        <quill-editor
                          class="formulario"
                          id="oficio_descricao_acao"
                          [format]="format0"
                          [defaultEmptyValue]="null"
                          [theme]="'snow'"
                          [modules]="modulos"
                          [debounceTime]="10"
                          [placeholder]="''"
                          formControlName="oficio_descricao_acao"
                          (onContentChanged)="onContentChanged($event, 'oficio_descricao_acao')"
                        ></quill-editor>
                      </div>
                    </div>
                  </div>-->


                  <ng-container *ngIf="aut.arquivos">
                    <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                      <app-arquivo
                                   [modulo]="'oficio'"
                                   [uploadDisabled]="botaoEnviarInativo"
                                   [arqs]="ofs.ofiListar.oficio_arquivos"
                                   [registro_id]="ofs.oficio.oficio_id"
                                   (onPossuiArquivos)="onPossuiArquivos($event)"
                                   [modelo]="'alterar'"
                                   [stiloClass]="'formulario'"
                                   [buscaArquivos]="false"
                      ></app-arquivo>
                    </div>
                  </ng-container>

                </div>
              </div>
              <!--*** FIM COLUNA 11 ***-->

            </div>
          </div>
          <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno"></div>
        </div>

      </div>

      <div class="grid">
        <div class="col-10 p-offset-1 formulario-bg-externo"></div>
      </div>

      <div class="inline-block formulario-bg-externo">
        <div class="grid">
          <div class="col-10 p-offset-1 mt-0 pb-0 formulario-bg-interno">
            <div class="grid p-input-filled">
              <div class="col-12 formulario">
                <!--*** Botões ***-->
                <div class="flex justify-content-start pb-2 pt-2">
                  <div class="mr-2">
                    <button
                      pButton
                      type="button"
                      #enviar
                      class="p-button-raised p-button-rounded"
                      [disabled]="!formOfAlterar.valid && botoesInativos"
                      (click)="criaOficio()"
                      label="Alterar"
                    ></button>
                  </div>
                  <div class="mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-raised p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Cancelar"
                      [disabled]="botoesInativos"
                    ></button>
                  </div>
                  <div class="mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-raised p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Voltar"
                      [disabled]="botoesInativos"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="inline-block formulario-bg-externo">
        <div class="grid formulario-bg-externo">
          <div class="col-12"></div>
          <div class="col-12"></div>
        </div>
      </div>

    </form>
  </div>
</p-scrollPanel>


