<div class="container" style="text-align:center">
  <h4>OFÍCIO - ALTERAR</h4>
</div>
<div class="container-fluid">
  <p-scrollPanel [style]="{width: '100%', height: 'auto'}">
    <div class="p-grid">
      <div class="p-col-12"></div>
      <div class="p-md-1 p-xl-1"></div>
      <div class="p-col-12 p-sm-12 p-md-10 p-xl-10">

        <form [formGroup]="formOfAlterar" (ngSubmit)="onSubmit()">


          <div class="p-grid formDiv">
            <div class="p-col-12"></div>
            <!--*** COLUNA 1 ***-->
            <div class="p-col-12 paddingListBox" *ngIf="!solicitacao">
              <div class="p-grid">
                <!--*** DADOS DO PROCESSO ***-->
                <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 campoLabel12">
                  <h6> Dados do processo</h6>
                  <p-card class="bordaRadius5">
                    <table id="taboficio">
                      <tr>
                        <th>Processo Número:</th>
                        <td>{{ofi.oficio_processo_numero | uppercase}}</td>
                      </tr>
                      <tr>
                        <th>Situação:</th>
                        <td>{{ofi.oficio_status | uppercase}}</td>
                      </tr>
                      <tr>
                        <th>Solicitante:</th>
                        <td>{{ofi.oficio_cadastro_nome | uppercase}}</td>
                      </tr>
                      <tr>
                        <th>Município:</th>
                        <td>{{ofi.oficio_municipio_nome | uppercase}}</td>
                      </tr>
                      <tr>
                        <th>Assunto:</th>
                        <td>{{ofi.oficio_assunto_nome | uppercase}}</td>
                      </tr>
                      <tr>
                        <th>Área de interesse:</th>
                        <td>{{ofi.oficio_area_interesse_nome | uppercase}}</td>
                      </tr>
                      <tr *ngIf="ofi.oficio_solicitacao_descricao">
                        <th>Descrição da solicitação:</th>
                        <td style="text-align: right">
                          <i class="pi pi-search" (click)="showDialog()" style="font-size:24px"></i>
                        </td>
                      </tr>
                    </table>
                  </p-card>
                </div>
              </div>
            </div>
            <!--*** FIM COLUNA 1 ***-->


            <div class="p-col-12 p-sm-12 p-md-6 p-xl-4">
              <div class="p-grid">

                <div class="p-col-12 campoLabel">
                  <h6><span style="color: var(--ativo);">*</span> Orgão solicitado</h6>
                  <input
                    formControlName="oficio_orgao_solicitado_nome"
                    type="text"
                    pInputText
                    size="40"
                    maxlength="50"
                    required
                    style="width: 100%"
                  />
                </div>

                <div class="p-col-12 campoLabel">
                  <h6> Valor solicitado</h6>
                  <div class="ui-inputgroup" style="width: 100%">
                    <span class="ui-inputgroup-addon">R$</span>
                    <p-inputMask
                      formControlName="oficio_valor_solicitado"
                      mask="?99999999999999999999"
                      unmask="true"
                      characterPattern="[0-9]"
                      size="25"
                      maxlength="50"
                      [style]="{'width':'100%'}"
                    ></p-inputMask>
                    <span class="ui-inputgroup-addon">,00</span>
                  </div>
                </div>

                <div class="p-col-12 campoLabel">
                  <h6> Valor recebido</h6>
                  <div class="ui-inputgroup" style="width: 100%">
                    <span class="ui-inputgroup-addon">R$</span>
                    <p-inputMask
                      formControlName="oficio_valor_recebido"
                      mask="?99999999999999999999"
                      unmask="true"
                      characterPattern="[0-9]"
                      size="25"
                      maxlength="50"
                      [style]="{'width':'100%'}"
                    ></p-inputMask>
                    <span class="ui-inputgroup-addon">,00</span>
                  </div>
                </div>

                <div class="p-col-12 campoLabel">
                  <h6> Data do Pagamento</h6>
                  <p-calendar
                    formControlName="oficio_data_pagamento"
                    dateFormat="dd/mm/yy"
                    [yearNavigator]="true"
                    yearRange="1910:2020"
                    placeholder="dd/mm/aaaa"

                    dataType="string"
                    [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"
                  ></p-calendar>
                </div>

                <div class="p-col-12 campoLabel">
                  <h6> Protocolo número</h6>
                  <input
                    formControlName="oficio_protocolo_numero"
                    type="text"
                    pInputText
                    size="15"
                    maxlength="20"
                    style="width: 100%"
                  />
                </div>

                <div class="p-col-12 campoLabel">
                  <h6> Data do protocolo</h6>
                  <p-calendar
                    formControlName="oficio_data_protocolo"
                    dateFormat="dd/mm/yy"
                    [yearNavigator]="true"
                    yearRange="1910:2020"
                    placeholder="dd/mm/aaaa"

                    dataType="string"
                    [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"
                  ></p-calendar>
                </div>

              </div>
            </div>
            <!--*** FIM COLUNA 3 ***-->

            <!--*** COLUNA 4 ***-->
            <div class="p-col-12 p-sm-12 p-md-6 p-xl-4">
              <div class="p-grid">

                <div class="p-col-12 campoLabel">
                  <h6><span style="color: var(--ativo)">*</span> Orgão protocolante</h6>
                  <input
                    formControlName="oficio_orgao_protocolante_nome"
                    type="text"
                    pInputText
                    size="40"
                    maxlength="50"
                    required
                    style="width: 100%"
                  />
                </div>

                <div class="p-col-12 campoLabel">
                  <h6> Funcionário do orgão</h6>
                  <input
                    formControlName="oficio_protocolante_funcionario"
                    type="text"
                    pInputText
                    size="40"
                    maxlength="50"
                    style="width: 100%"
                  />
                </div>

                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErro('oficio_prioridade_id')">
                  <h6><span style="color: var(--ativo)">*</span> Prioridade</h6>
                  <p-dropdown
                    formControlName="oficio_prioridade_id"
                    placeholder="Selecione &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                    [options]="ddPrioridade_id"
                    autoWidth="true"
                    [required]="true"
                    [style]="{'width':'100%'}"
                  ></p-dropdown>
                  <app-campo-control-erro msgErro="Prioridade é obrigatório."></app-campo-control-erro>
                </div>

                <div class="p-col-12 campoLabel">
                  <h6> Prazo da ação</h6>
                  <p-calendar
                    formControlName="oficio_prazo"
                    dateFormat="dd/mm/yy"
                    [yearNavigator]="true"
                    yearRange="1910:2020"
                    placeholder="dd/mm/aaaa"

                    dataType="string"
                    [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"
                  ></p-calendar>
                </div>

                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErro('oficio_prioridade_id')">
                  <h6><span style="color: var(--ativo)">*</span> Encaminhamento</h6>
                  <p-dropdown
                    formControlName="oficio_tipo_andamento_id"
                    placeholder="Selecione &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                    [options]="ddAndamento_id"
                    autoWidth="true"
                    [required]="true"
                    [style]="{'width':'100%'}"
                  ></p-dropdown>
                  <app-campo-control-erro msgErro="Prioridade é obrigatório."></app-campo-control-erro>
                </div>

                <div class="p-col-12 campoLabel">
                  <h6> Ofício número</h6>
                  <input
                    formControlName="oficio_numero"
                    type="text"
                    pInputText
                    size="20"
                    maxlength="20"
                    style="width: 100%"
                  />
                </div>

              </div>
            </div>

            <div class="p-col-12 p-sm-12 p-md-12 p-xl-4">
              <div class="p-grid">

                <div class="p-col-12 p-md-6 p-lg-12 p-xl-12 campoLabel">
                  <h6> Data da emissão</h6>
                  <p-calendar
                    formControlName="oficio_data_emissao"
                    dateFormat="dd/mm/yy"
                    [yearNavigator]="true"
                    yearRange="1910:2020"
                    placeholder="dd/mm/aaaa"

                    dataType="string"
                    [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"
                  ></p-calendar>
                </div>

                <div class="p-col-12 p-md-6 p-lg-12 p-xl-12 campoLabel">
                  <h6> Data do empenho</h6>
                  <p-calendar
                    formControlName="oficio_data_empenho"
                    dateFormat="dd/mm/yy"
                    [yearNavigator]="true"
                    yearRange="1910:2020"
                    placeholder="dd/mm/aaaa"

                    dataType="string"
                    [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"
                  ></p-calendar>
                </div>

                <div class="p-col-12 p-md-6 p-lg-12 p-xl-12 campoLabel">
                  <h6> Data do recebimento</h6>
                  <p-calendar
                    formControlName="oficio_data_recebimento"
                    dateFormat="dd/mm/yy"
                    [yearNavigator]="true"
                    yearRange="1910:2020"
                    placeholder="dd/mm/aaaa"

                    dataType="string"
                    [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"
                  ></p-calendar>
                </div>

                <div class="p-col-12 p-md-6 p-lg-12 p-xl-12 campoLabel">
                  <h6> Recebimento</h6>
                  <p-dropdown
                    formControlName="oficio_tipo_recebimento_id"
                    placeholder="Selecione &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                    [options]="ddRecebimento_id"
                    autoWidth="true"
                    [required]="true"
                    [style]="{'width':'100%'}"
                  ></p-dropdown>
                </div>

                <div class="p-col-12 p-md-6 p-lg-12 p-xl-12 campoLabel">
                  <h6> Convênio</h6>
                  <input
                    formControlName="oficio_convenio"
                    type="text"
                    pInputText
                    size="15"
                    maxlength="10"
                    style="width: 100%"
                  />
                </div>

                <div class="p-col-12 p-md-6 p-lg-12 p-xl-12 campoLabel">
                  <h6> Código</h6>
                  <input
                    formControlName="oficio_codigo"
                    type="text"
                    pInputText
                    size="15"
                    maxlength="10"
                    style="width: 100%"
                  />
                </div>

                <ng-container *ngIf="authenticationService.arquivos">
                  <app-arquivo
                    [modulo]="'oficio'"
                    [uploadDisabled]="!formOfAlterar.valid || botaoEnviarInativo"
                    (onBlockSubmit)="onBlockSubmit($event)"
                    [registro_id]="oficio_id"
                    (onPossuiArquivos)="onPossuiArquivos($event)"
                    [modelo]="'alterar'"
                    [classe]="'p-col-12 p-md-6 p-lg-12 p-xl-12 campoLabel'"
                  ></app-arquivo>
                </ng-container>

              </div>
            </div>

          </div>

          <!--*** FIM COLUNA 3 ***-->
          <div class="p-grid formDiv">
            <div class="p-col-12">&nbsp;</div>
          </div>


          <!--*** EDITORES -  COLUNA 4 ***-->
          <div class="p-grid formDiv">
            <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
              <div class="p-grid">

                <!--*** oficio_descricao_acao ***-->
                <div class="p-lg-2 p-xl-1"></div>
                <div class="p-col-12 p-lg-8 p-xl-10 campoLabel">
                  <h6>Descrição do ofício</h6>
                  <div class="editor">
                    <quill-editor
                      formControlName="oficio_descricao_acao"
                      [preserveWhitespace]="true"
                      [sanitize]="true"
                      placeholder=""
                      (onFocus)="focus1($event)"
                    >
                      <div quill-editor-toolbar [ngStyle]="{'display': mostraModulos1}">
                        <span class="ql-formats">
                          <select class="ql-font">
                            <option selected></option>
                            <option value="serif"></option>
                            <option value="monospace"></option>
                          </select>
                          <select class="ql-size">
                            <option value="small"></option>
                            <option selected></option>
                            <option value="large"></option>
                            <option value="huge"></option>
                          </select>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-bold" [title]="'Bold'"></button>
                          <button class="ql-italic" [title]="'Italico'"></button>
                          <button class="ql-underline" [title]="'Underline'"></button>
                          <button class="ql-strike" [title]="'Strike'"></button>
                        </span>
                        <span class="ql-formats">
                          <select class="ql-color" [title]="'Cor do texto'"></select>
                          <select class="ql-background" [title]="'Cor de fundo'"></select>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-indent" value="+1" [title]="'Identaçao +1'"></button>
                          <button class="ql-indent" value="-1" [title]="'Identaçao -1'"></button>
                          <select class="ql-align">
                            <option selected></option>
                            <option value="center"></option>
                            <option value="right"></option>
                            <option value="justify"></option>
                          </select>
                          <button class="ql-list" value="ordered"></button>
                          <button class="ql-list" value="bullet"></button>
                        </span>
                      </div>
                    </quill-editor>
                  </div>
                </div>
                <div class="p-lg-2 p-xl-1"></div>

              </div>
            </div>
            <!--*** FIM EDITORES -  COLUNA 4 ***-->

          </div>

          <div class="p-grid formDiv">
            <div class="p-col-12">&nbsp;</div>
          </div>

          <!--*** Botões ***-->
          <div class="p-grid formDiv">
            <div class="p-col-12 campoLabel" style="text-align: center">
              <button
                pButton
                type="button"
                #enviar
                class="p-button-rounded"
                [disabled]="!formOfAlterar.valid || botaoEnviarInativo"
                (click)="enviarOficio()"
                label="Enviar"
              ></button>
              &nbsp;&nbsp;
              <button
                pButton
                type="button"
                class="p-button-rounded p-button-secondary"
                (click)="resetForm()"
                label="Cancelar"
                [disabled]="botoesInativos || botaoEnviarInativo"
              ></button>
              &nbsp;&nbsp;
              <button
                pButton
                type="button"
                class="p-button-rounded p-button-secondary"
                (click)="voltarListar()"
                label="Voltar"
                [disabled]="botoesInativos || botaoEnviarInativo"
              ></button>
            </div>
            <div class="p-col-12">&nbsp;</div>
          </div>


        </form>


      </div>
      <div class="p-md-1 p-xl-1"></div>
    </div>
    <app-form-debug [form]="formOfAlterar"></app-form-debug>
  </p-scrollPanel>
</div>

<p-toast key="oficioToast" [style]="{marginTop: '80px'}"></p-toast>

<p-dialog #descricao header="Descrição da solicitação" [dismissableMask]="true" [(visible)]="display"
          [style]="{width: '70%'}">
  <p-scrollPanel [style]="{width:'100%',height:'50vh'}" id="detalheSolicitacao">
    <div class="p-grid">
      <div class="p-col-1"></div>
      <div class="p-col-10">
        <br><br>
        <span [innerHTML]="ofi.oficio_solicitacao_descricao"></span>
      </div>
      <div class="p-col-1"></div>
    </div>
  </p-scrollPanel>
  <div style="padding-top: 5px">
    <button pButton type="button" label="FECHAR" class="p-button-rounded" (click)="fechar()"></button>
  </div>
</p-dialog>

