  <div *ngFor="let col of tus" class="block"  style="display: table-column-group">
    <div class="block" [ngClass]="rowColor(col.tus_situacao_id)">
      <div *ngIf="+aut.usuario_id !== col.tus_usuario_id" class="mb-0 ml-2 tarefainterno">{{col.tu_usuario_nome}}</div>
      <div *ngIf="+aut.usuario_id === col.tus_usuario_id" class="mb-0 ml-2 tarefainterno tmouse" (click)="alterarClick(col)">{{col.tu_usuario_nome}}</div>
      <div *ngIf="+aut.usuario_id !== col.tus_usuario_id" class="mb-0 ml-2 tarefainterno">{{col.tus_situacao_nome}}</div>
      <div *ngIf="+aut.usuario_id === col.tus_usuario_id" class="mb-0 ml-2 tarefainterno tmouse" (click)="alterarClick(col)">{{col.tus_situacao_nome}}</div>
    </div>
    <div class="tarefainternospc"></div>
  </div>

