<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <form #fci [formGroup]="formCadIncluir" (ngSubmit)="onSubmit()">
      <div class="p-fluid formulario-bg-externo">

        <div class="p-d-flex p-jc-center">
          <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
            <span class="formulario-titulo">CADASTRO - INCLUIR</span>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">
              <!--*** COLUNA 1 ***-->
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid formulario">
                  <!--*** Tipo de Cadastro ***-->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErro('cadastro_tipo_id')">
                    <label for="cadastro_tipo_id"><span style="color: var(--ativo)">*</span> Tipo de Cadastro</label>
                    <p-dropdown
                      id="cadastro_tipo_id"
                      formControlName="cadastro_tipo_id"
                      placeholder="Selecione"
                      [options]="ddTipoCadastroId"
                      [group]="true"
                      [required]="true"
                      [autofocus]="true"
                      (onChange)="mudaTipo($event)"
                    ></p-dropdown>
                    <app-campo-control-erro msgErro="Tipo de Cadastro é obrigatório."></app-campo-control-erro>
                  </div>
                  <!--*** Tratamento ***-->
                  <div class="p-field p-col-12"
                       [ngClass]="aplicaCssErroAsync('cadastro_tratamento_id', validaTratamento)">
                    <label for="cadastro_tratamento_id"><span style="color: var(--ativo)">*</span> Tratamento</label>
                    <p-dropdown
                      id="cadastro_tratamento_id"
                      formControlName="cadastro_tratamento_id"
                      placeholder="Selecione"
                      [options]="ddTratamento"
                      [required]="true"
                      (blur)="mudaSituacao('cadastro_tratamento_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="validaAsync('cadastro_tratamento_id', validaTratamento)"
                                            msgErro="Tratamento é obrigatório.">
                    </app-campo-control-erro>
                  </div>
                  <!--*** Nome / Razão Social ***-->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErroAsync('cadastro_nome', validaNome)">
                    <label for="cadastro_nome"><span style="color: var(--ativo)">*</span> Nome / Razão Social</label>
                    <input
                      id="cadastro_nome"
                      formControlName="cadastro_nome"
                      type="text"
                      [maxlength]="50"
                      [size]="40"
                      pInputText
                      (blur)="verificaDuplicados($event)"
                    />
                    <app-campo-control-erro [mostrarErro]="validaAsync('cadastro_nome', validaNome)"
                                            msgErro="Nome é obrigatório.">
                    </app-campo-control-erro>
                  </div>
                  <!--*** Apelido ***-->
                  <div class="p-field p-col-12" *ngIf="tipotipo == 1">
                    <label for="cadastro_apelido">Apelido</label>
                    <input
                      id="cadastro_apelido"
                      formControlName="cadastro_apelido"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Sigla ***-->
                  <div class="p-field p-col-12" *ngIf="tipotipo == 2">
                    <label for="cadastro_sigla">Sigla</label>
                    <input
                      id="cadastro_sigla"
                      formControlName="cadastro_sigla"
                      type="text"
                      [size]="20"
                      [maxlength]="20"
                      pInputText
                    />
                  </div>
                  <!--*** Empresa / Responsável ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_responsavel">Empresa / Responsável</label>
                    <input
                      id="cadastro_responsavel"
                      formControlName="cadastro_responsavel"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Cargo ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_cargo">Cargo</label>
                    <input
                      id="cadastro_cargo"
                      formControlName="cadastro_cargo"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** CEP ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_cep">CEP</label>
                    <p-inputMask
                      id="cadastro_cep"
                      formControlName="cadastro_cep"
                      mask="99999-999"
                      [autoClear]="true"
                      [unmask]="true"
                      type="text"
                      [size]="9"
                      [maxlength]="9"
                      (onBlur)="consultaCEP($event)"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** Endereço ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_endereco">Endereço</label>
                    <input
                      id="cadastro_endereco"
                      formControlName="cadastro_endereco"
                      type="text"
                      [size]="40"
                      [maxlength]="70"
                      pInputText
                    />
                  </div>
                  <!--*** Número ***-->
                  <div class="p-field p-col-3">
                    <label for="cadastro_endereco_numero">Número</label>
                    <input
                      id="cadastro_endereco_numero"
                      formControlName="cadastro_endereco_numero"
                      type="text"
                      [size]="5"
                      [maxlength]="5"
                      pInputText
                    />
                  </div>
                  <!--*** Comp. *** -->
                  <div class="p-field p-col-9">
                    <label for="cadastro_endereco_complemento">Comp.</label>
                    <input
                      id="cadastro_endereco_complemento"
                      formControlName="cadastro_endereco_complemento"
                      type="text"
                      [size]="20"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Bairro ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_bairro">Bairro</label>
                    <input
                      id="cadastro_bairro"
                      formControlName="cadastro_bairro"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Município ***-->
                  <div class="p-field p-col-12"
                       [ngClass]="aplicaCssErroAsync('cadastro_municipio_id', validaMunicipio)">
                    <label for="cadastro_municipio_id"><span style="color: var(--ativo)">*</span> Município</label>
                    <div #vmunicipio class="p-inputgroup">
                      <p-dropdown
                        [style]="{width:'100%'}"
                        id="cadastro_municipio_id"
                        formControlName="cadastro_municipio_id"
                        placeholder="Selecione"
                        [options]="ddMunicipioId"
                        [required]="true"
                        (blur)="mudaSituacao('cadastro_municipio_id')"
                      ></p-dropdown>
                      <button
                        class="p-button-secondary"
                        pButton
                        type="button"
                        icon="pi pi-plus"
                        (click)="mostraMunicipioForm()"
                        [disabled]="disableSubmit"
                      ></button>
                    </div>
                    <app-campo-control-erro [mostrarErro]="validaAsync('cadastro_municipio_id', validaMunicipio)"
                                            msgErro="Município é obrigatório.">
                    </app-campo-control-erro>
                  </div>
                  <!--*** Incluir Município ***-->
                  <p-dialog
                    header="Incluir Município"
                    [(visible)]="municipioForm"
                    [modal]="true"
                    [closable]="true"
                    [blockScroll]="true"
                    styleClass="formulario"
                    [breakpoints]="{'900px': '50vw', '650px': '80vw', '450px': '100vw'}"
                    [style]="{width: '30vw'}"
                    (onHide)="fechaMunicipioForm()"
                    (onShow)="onShowMunicipioForm()"
                  >
                    <p-messages [value]="msgs" [closable]="true"></p-messages>
                    <div class="p-field p-col-12">
                      <label for="mun_nome">Novo município</label>
                      <input
                        id="mun_nome"
                        type="text"
                        formControlName="mun_nome"
                        [minlength]="2"
                        [maxlength]="50"
                        (keyup)="mostraBtnIncluirMunicipio()"
                        pInputText
                      />
                    </div>
                    <div class="p-col-12 p-d-flex p-jc-start p-pb-2">
                      <div class="p-mr-2">
                        <p-button
                          [disabled]="!btnIncluirMunicipio"
                          (onClick)="incluirMunicipio()"
                          label="Incluir"
                        ></p-button>
                      </div>
                      <div class="p-mr-2">
                        <p-button
                          styleClass="p-button-secondary"
                          label="Cancelar"
                          (onClick)="fechaMunicipioForm()"
                        ></p-button>
                      </div>
                    </div>
                  </p-dialog>
                  <!--*** Estado ***-->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErroAsync('cadastro_estado_id', validaMunicipio)">
                    <label for="cadastro_estado_id"><span style="color: var(--ativo)">*</span> Estado</label>
                    <p-dropdown
                      id="cadastro_estado_id"
                      formControlName="cadastro_estado_id"
                      placeholder="Selecione"
                      [options]="ddEstadoId"
                      [required]="true"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="validaAsync('cadastro_estado_id', validaEstado)"
                                            msgErro="Estado é obrigatório.">
                    </app-campo-control-erro>
                  </div>
                  <!--*** Região ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_regiao_id">Região</label>
                    <div class="p-inputgroup">
                      <p-dropdown
                        id="cadastro_regiao_id"
                        formControlName="cadastro_regiao_id"
                        placeholder="NENHUMA"
                        [options]="ddRegiaoId"
                        [showClear]="true"
                      ></p-dropdown>
                      <button
                        pButton
                        class="p-button-secondary"
                        type="button"
                        icon="pi pi-plus"
                        (click)="mostraRegiaoForm()"
                        [disabled]="disableSubmit"
                      ></button>
                    </div>
                  </div>
                  <!--*** Incluir Região ***-->
                  <p-dialog
                    header="Incluir Região"
                    [(visible)]="regiaoForm"
                    [modal]="true"
                    [closable]="true"
                    [blockScroll]="true"
                    styleClass="formulario"
                    [breakpoints]="{'900px': '50vw', '650px': '80vw', '450px': '100vw'}"
                    [style]="{width: '30vw'}"
                    (onHide)="fechaRegiaoForm()"
                  >
                    <p-messages [value]="msgs" [closable]="true"></p-messages>
                    <div class="p-field p-col-12">
                      <label for="reg_nome">Nova região</label>
                      <input id="reg_nome" type="text" formControlName="reg_nome" [size]="40" [minlength]="2"
                             [maxlength]="50" (keyup)="mostraBtnIncluirRegiao()" pInputText/>
                    </div>
                    <div class="p-col-12 p-d-flex p-jc-start p-pb-2">
                      <div class="p-mr-2">
                        <p-button
                          [disabled]="!btnIncluirRegiao"
                          label="Incluir"
                          (onClick)="incluirRegiao()">
                        </p-button>
                      </div>
                      <div class="p-mr-2">
                        <p-button
                          label="Cancelar"
                          (onClick)="fechaRegiaoForm()"
                        ></p-button>
                      </div>
                    </div>
                  </p-dialog>
                  <!--*** Campo 1 ***-->
                  <div *ngIf="cs.cadastro_campo1_sn" class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12">
                    <label for="cadastro_campo1">{{cs.cadastro_campo1_nome}}</label>
                    <input
                      id="cadastro_campo1"
                      formControlName="cadastro_campo1"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                </div>
              </div>
              <!--*** FIM COLUNA 1 ***-->
              <!--*** COLUNA 2 ***-->
              <div class="p-sm-12 p-md-6 p-lg-6 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">
                  <!--*** Grupo ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_grupo_id">Grupo</label>
                    <p-dropdown
                      id="cadastro_grupo_id"
                      formControlName="cadastro_grupo_id"
                      placeholder="NENHUM"
                      [options]="ddGrupo"
                    ></p-dropdown>
                  </div>
                  <!--*** Telefone ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_telefone">Telefone</label>
                    <p-inputMask
                      id="cadastro_telefone"
                      formControlName="cadastro_telefone"
                      mask="(99) 99999-999?9"
                      [autoClear]="true"
                      [unmask]="true"
                      type="text"
                      [size]="20"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** Telefone2 ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_telcom">Telefone2</label>
                    <p-inputMask
                      id="cadastro_telcom"
                      formControlName="cadastro_telcom"
                      mask="(99) 99999-999?9"
                      [autoClear]="true"
                      [unmask]="true"
                      type="text"
                      [size]="20"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** Telefone3 ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_telefone2">Telefone3</label>
                    <p-inputMask
                      id="cadastro_telefone2"
                      formControlName="cadastro_telefone2"
                      mask="(99) 99999-999?9"
                      [autoClear]="true"
                      [unmask]="true"
                      type="text"
                      [size]="20"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** Celular ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_celular">Celular</label>
                    <p-inputMask
                      id="cadastro_celular"
                      formControlName="cadastro_celular"
                      mask="(99) 99999-999?9"
                      type="text"
                      [size]="20"
                      [unmask]="true"
                      [autoClear]="true"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** Celular2 ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_celular2">Celular2</label>
                    <p-inputMask
                      id="cadastro_celular2"
                      formControlName="cadastro_celular2"
                      mask="(99) 99999-999?9"
                      type="text"
                      [size]="20"
                      [unmask]="true"
                      [autoClear]="true"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** Fax ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_fax">Fax</label>
                    <p-inputMask
                      id="cadastro_fax"
                      formControlName="cadastro_fax"
                      mask="(99) 99999-999?9"
                      type="text"
                      [size]="20"
                      [unmask]="true"
                      [autoClear]="true"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** E-mail ***-->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErroEmail('cadastro_email')">
                    <label for="cadastro_email">E-mail</label>
                    <input
                      id="cadastro_email"
                      formControlName="cadastro_email"
                      type="email"
                      [maxlength]="50"
                      [size]="40"
                      pInputText
                    />
                    <app-campo-control-erro [mostrarErro]="validaEmail('cadastro_email')" msgErro="E-mail inválido.">
                    </app-campo-control-erro>
                  </div>
                  <!--*** E-mail ***-->
                  <div class="p-field p-col-12" [ngClass]="aplicaCssErroEmail('cadastro_email2')">
                    <label for="cadastro_email2">E-mail2</label>
                    <input
                      id="cadastro_email2"
                      formControlName="cadastro_email2"
                      type="email"
                      [maxlength]="50"
                      [size]="40"
                      pInputText
                    />
                    <app-campo-control-erro [mostrarErro]="validaEmail('cadastro_email2')" msgErro="E-mail inválido.">
                    </app-campo-control-erro>
                  </div>
                  <!--*** Facebook ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_rede_social">Facebook</label>
                    <input
                      id="cadastro_rede_social"
                      formControlName="cadastro_rede_social"
                      type="text"
                      [maxlength]="150"
                      [size]="40"
                      pInputText
                    />
                  </div>
                  <!--*** Outras mídias ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_outras_midias">Outras mídias</label>
                    <input
                      id="cadastro_outras_midias"
                      formControlName="cadastro_outras_midias"
                      type="text"
                      [maxlength]="200"
                      [size]="40"
                      pInputText
                    />
                  </div>
                  <!--*** CPF/CNPJ ***-->
                  <div class="p-field p-col-12">
                    <label for="_cadastro_cpfcnpj">CPF/CNPJ</label>
                    <input
                      id="_cadastro_cpfcnpj"
                      pInputText
                      formControlName="cadastro_cpfcnpj"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                    />
                  </div>
                  <!--*** Data de Nascimento / Fundação ***-->
                  <div class="p-field p-col-12">
                    <label for="cadastro_data_nascimento">Data de Nascimento / Fundação</label>
                    <p-calendar
                      id="cadastro_data_nascimento"
                      formControlName="cadastro_data_nascimento"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="1910:2020"
                      placeholder="dd/mm/aaaa"
                      dataType="string"
                    ></p-calendar>
                  </div>
                  <!--*** Campo 4 ***-->
                  <div *ngIf="cs.cadastro_campo4_sn" class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12">
                    <label for="cadastro_campo4_id">{{cs.cadastro_campo4_nome}}</label>
                    <p-dropdown
                      id="cadastro_campo4_id"
                      formControlName="cadastro_campo4_id"
                      placeholder="Selecione"
                      [options]="ddCampo4Id"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
              <!--*** FIM COLUNA 2 ***-->
              <!--*** COLUNA 3 ***-->
              <div class="p-sm-12 p-md-12 p-lg-12 p-xl-4 formulario">
                <div class="p-fluid p-formgrid p-grid">
                  <!--*** RG ***-->
                  <div class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12" *ngIf="tipotipo == 1">
                    <label for="cadastro_rg">RG</label>
                    <input
                      id="cadastro_rg"
                      formControlName="cadastro_rg"
                      type="text"
                      [size]="15"
                      [maxlength]="13"
                      pInputText
                    />
                  </div>
                  <!--*** Genero ***-->
                  <div class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12" *ngIf="tipotipo == 1">
                    <label for="cadastro_sexo">Genero</label>
                    <p-dropdown
                      id="cadastro_sexo"
                      formControlName="cadastro_sexo"
                      placeholder="Selecione"
                      [options]="ddSexo"
                    ></p-dropdown>
                  </div>
                  <!--*** Escolaridade ***-->
                  <div class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12" *ngIf="tipotipo == 1">
                    <label for="cadastro_escolaridade_id">Escolaridade</label>
                    <p-dropdown
                      id="cadastro_escolaridade_id"
                      formControlName="cadastro_escolaridade_id"
                      placeholder="Selecione"
                      [options]="ddEscolaridadeId"
                    ></p-dropdown>
                  </div>
                  <!--*** Estado Civil ***-->
                  <div class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12" *ngIf="tipotipo == 1">
                    <label for="cadastro_estado_civil_id">Estado Civil</label>
                    <p-dropdown
                      id="cadastro_estado_civil_id"
                      formControlName="cadastro_estado_civil_id"
                      placeholder="Selecione"
                      [options]="ddEstadoCivilId"
                    ></p-dropdown>
                  </div>
                  <!--*** Conjuge ***-->
                  <div class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12" *ngIf="tipotipo == 1">
                    <label for="cadastro_conjuge">Conjuge</label>
                    <input
                      id="cadastro_conjuge"
                      formControlName="cadastro_conjuge"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Partido ***-->
                  <div class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12">
                    <label for="cadastro_zona">Partido</label>
                    <input
                      id="cadastro_zona"
                      formControlName="cadastro_zona"
                      type="text"
                      [size]="15"
                      [maxlength]="10"
                      pInputText
                    />
                  </div>
                  <!--*** Profissão ***-->
                  <div class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12">
                    <label for="cadastro_profissao">Profissão</label>
                    <input
                      id="cadastro_profissao"
                      formControlName="cadastro_profissao"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Boletim ***-->
                  <div class="p-field p-col-6 p-sm-6 p-md-3 p-lg-3 p-xl-3">
                    <h5>Boletim</h5>
                    <p-inputSwitch id="cadastro_jornal" formControlName="cadastro_jornal"></p-inputSwitch>
                  </div>
                  <!--*** Mala direta ***-->
                  <div class="p-field p-col-6 p-sm-6 p-md-3 p-lg-3 p-xl-3">
                    <h5>Mala direta</h5>
                    <p-inputSwitch id="cadastro_mala" formControlName="cadastro_mala"></p-inputSwitch>
                  </div>
                  <!--*** Contato ***-->
                  <div class="p-field p-col-6 p-sm-6 p-md-3 p-lg-3 p-xl-3">
                    <h5>Contato</h5>
                    <p-inputSwitch id="cadastro_agenda" formControlName="cadastro_agenda"></p-inputSwitch>
                  </div>
                  <!--*** Sigilo ***-->
                  <div class="p-field p-col-6 p-sm-6 p-md-3 p-lg-3 p-xl-3">
                    <h5>Sigilo</h5>
                    <p-inputSwitch id="cadastro_sigilo" formControlName="cadastro_sigilo"></p-inputSwitch>
                  </div>
                  <!--*** Campo 2 ***-->
                  <div *ngIf="cs.cadastro_campo2_sn" class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12">
                    <label for="cadastro_campo2">{{cs.cadastro_campo2_nome}}</label>
                    <input
                      id="cadastro_campo2"
                      formControlName="cadastro_campo2"
                      type="text"
                      [size]="40"
                      [maxlength]="100"
                      pInputText
                    />
                  </div>
                  <!--*** Campo 3 ***-->
                  <div *ngIf="cs.cadastro_campo3_sn" class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12">
                    <label for="_cadastro_campo3">{{cs.cadastro_campo3_nome}}</label>
                    <textarea
                      id="_cadastro_campo3"
                      pInputTextarea
                      [rows]="1" [cols]="40"
                      [maxlength]="254"
                      [autoResize]="true"
                      formControlName="cadastro_campo3"
                    ></textarea>
                  </div>
                  <!--*** Observações ***-->
                  <div class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12">
                    <label for="cadastro_observacao">Observações</label>
                    <textarea
                      id="cadastro_observacao"
                      [rows]="1" [cols]="40"
                      [autoResize]="true"
                      pInputTextarea
                      formControlName="cadastro_observacao"
                    ></textarea>
                  </div>
                  <ng-container *ngIf="authenticationService.arquivos">
                    <div class="p-field p-col-12 p-md-6 p-lg-6 p-xl-12">
                      <app-arquivo
                        [modulo]="'cadastro'"
                        [modelo]="'incluir'"
                        [registro_id]="arquivo_registro_id"
                        [uploadDisabled]="arquivoDesativado"
                        [enviarArquivos]="enviarArquivos"
                        (onBlockSubmit)="onBlockSubmit($event)"
                        (onUpload)="onUpload($event)"
                        (onPossuiArquivos)="onPossuiArquivos($event)"
                        (onInicioEnvio)="onInicioEnvio()"
                        [clearArquivos]="clearArquivos"
                        [stiloClass]="'formulario'"
                      ></app-arquivo>
                    </div>
                  </ng-container>
                </div>
              </div>
              <!--*** FIM COLUNA 3 ***-->
            </div>
          </div>
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>
        </div>

      </div>

      <div class="p-grid">
        <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
      </div>

      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">
              <div class="p-col-12 formulario">
                <!--*** Botões ***-->
                <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded"
                      [disabled]="disableSubmit"
                      (click)="enviarCadastro()"
                      label="Enviar"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Cancelar&nbsp;&nbsp;"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                  <div>
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Voltar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid formulario-bg-externo">
          <div class="p-col-12"></div>
          <div class="p-col-12"></div>
        </div>
      </div>

    </form>
  </div>
</p-scrollPanel>


<!--*** NOME DUPLICADO ***-->
<div *ngIf="nomeDuplicado">
  <p-dialog
    header="Cadastro já existente"
    [(visible)]="nomeDuplicado"
    [modal]="true"
    [closable]="true"
    [blockScroll]="true"
    [style]="{ width: '800px' }"
    (onHide)="fechaNomeDuplicado()"
  >
    <div class="p-col-12">
      <app-cadastro-incluir-listaexistente
        [cad]="cad"
      ></app-cadastro-incluir-listaexistente>
    </div>
    <div class="p-col-12">
      <p-button
        label="Fechar"
        (onClick)="fechaNomeDuplicado()"
      ></p-button>
    </div>
  </p-dialog>
</div>
<p-toast key="cadastroToast" [style]="{marginTop: '80px'}"></p-toast>
<p-toast key="municipioToast" [style]="{marginTop: '80px'}"></p-toast>
<p-toast key="regiaoToast" [style]="{marginTop: '80px'}"></p-toast>
<p-toast key="cepToast" [style]="{marginTop: '80px'}"></p-toast>
<p-toast key="arquivoToast" [style]="{marginTop: '80px'}"></p-toast>
<p-overlayPanel appendTo="body" #op>
  <p-progressSpinner [style]="{width: '30px', height: '30px'}" strokeWidth="4"
                     animationDuration="2s"></p-progressSpinner>
</p-overlayPanel>
