<p-scrollPanel [styleClass]="'formulario'">
  <div class="formulario externo">
    <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
      <ng-container *ngIf="!cs.cadastro_campo1_sn">
        <input type="hidden" formControlName="cadastro_campo1" [value]="null">
      </ng-container>
      <ng-container *ngIf="!cs.cadastro_campo2_sn">
        <input type="hidden" formControlName="cadastro_campo2" [value]="null">
      </ng-container>
      <ng-container *ngIf="!cs.cadastro_campo3_sn">
        <input type="hidden" formControlName="cadastro_campo3" [value]="null">
      </ng-container>
      <ng-container *ngIf="!cs.cadastro_campo4_sn">
        <input type="hidden" formControlName="cadastro_campo4_id" [value]="null">
      </ng-container>
      <ng-container *ngIf="tipotipo !== 1">
        <input type="hidden" formControlName="cadastro_apelido">
      </ng-container>
      <ng-container *ngIf="tipotipo === 1">
        <input type="hidden" formControlName="cadastro_sigla">
      </ng-container>
      <ng-container *ngIf="tipotipo !== 1">
        <input type="hidden" formControlName="cadastro_rg">
      </ng-container>
      <ng-container *ngIf="tipotipo !== 1">
        <input type="hidden" formControlName="cadastro_sexo">
      </ng-container>
      <ng-container *ngIf="tipotipo !== 1">
        <input type="hidden" formControlName="cadastro_escolaridade_id">
      </ng-container>
      <ng-container *ngIf="tipotipo !== 1">
        <input type="hidden" formControlName="cadastro_estado_civil_id">
      </ng-container>
      <ng-container *ngIf="tipotipo !== 1">
        <input type="hidden" formControlName="cadastro_conjuge">
      </ng-container>

      <div class="p-fluid formulario-bg-externo">

        <div class="p-d-flex p-jc-center">
          <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
            <span class="formulario-titulo">{{titulo}}</span>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">


              <!--*** COLUNA 1 ***-->
              <div class="p-col-12 formulario">
                <div class="p-fluid p-formgrid p-grid formulario">

                  <!--*** Tipo de Cadastro ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4"
                       [ngClass]="aplicaCssErro('cadastro_tipo_id')">
                    <label for="cadastro_tipo_id"><span class="atencao">*</span> Tipo de Cadastro</label>
                    <p-dropdown
                      [tabindex]="1"
                      id="cadastro_tipo_id"
                      formControlName="cadastro_tipo_id"
                      placeholder="Selecione"
                      [options]="ddTipoCadastroId"
                      [group]="true"
                      [required]="true"
                      [autofocus]="true"
                      (onChange)="mudaTipo($event)"
                      [ngClass]="aplicaCssErro('cadastro_tipo_id')"
                    ></p-dropdown>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('cadastro_tipo_id')" msgErro="Tipo de Cadastro é obrigatório."></app-campo-control-erro>
                  </div>
                  <!--*** Tratamento ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4"
                       [ngClass]="aplicaCssErro('cadastro_tratamento_id')">
                    <label for="cadastro_tratamento_id"><span class="atencao">*</span> Tratamento</label>
                    <div #vmunicipio class="p-inputgroup">
                    <p-dropdown
                      [tabindex]="2"
                      id="cadastro_tratamento_id"
                      formControlName="cadastro_tratamento_id"
                      placeholder="Selecione"
                      [options]="ddTratamentoId"
                      [ngClass]="aplicaCssErro('cadastro_tratamento_id')"
                    ></p-dropdown>
                    <app-configaux-incluir
                      [desabilitado]="block"
                      [titulo]="'Incluir Tratamento'"
                      [tituloCampo]="'Tratamento'"
                      [campoNome]="'cadastro_tratamento_id'"
                      [tamanho]="50"
                      [tamanhomax]="30"
                      [dropdown]="'ddTratamentoId'"
                      [(arrai)]="ddTratamentoId"
                      (onNovoRegistroAux)="onNovoRegistroAux($event)"
                      (onBlockSubmit)="onBlockSubmit($event)"
                    ></app-configaux-incluir>
                    </div>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('cadastro_tratamento_id')"
                                            msgErro="Tratamento é obrigatório."></app-campo-control-erro>
                  </div>
                  <!--*** Nome / Razão Social ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4"
                       [ngClass]="aplicaCssErroAsync('cadastro_nome', validaNome)">
                    <label for="cadastro_nome"><span class="atencao">*</span> Nome / Razão Social</label>
                    <input
                      [tabindex]="3"
                      #cadastro_nome
                      id="cadastro_nome"
                      formControlName="cadastro_nome"
                      type="text"
                      [maxlength]="50"
                      [size]="40"
                      pInputText
                      [ngClass]="aplicaCssErroAsync('cadastro_nome', validaNome)"
                      (blur)="verificaDuplicados(cadastro_nome.value)"
                    />
                    <app-campo-control-erro [mostrarErro]="validaAsync('cadastro_nome', validaNome)"
                                            msgErro="Nome é obrigatório.">
                    </app-campo-control-erro>
                  </div>
                  <!--*** Apelido ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4" *ngIf="tipotipo === 1">
                    <label for="cadastro_apelido">Apelido</label>
                    <input
                      [tabindex]="4"
                      id="cadastro_apelido"
                      formControlName="cadastro_apelido"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Sigla ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4" *ngIf="tipotipo !== 1">
                    <label for="cadastro_sigla">Sigla</label>
                    <input
                      [tabindex]="5"
                      id="cadastro_sigla"
                      formControlName="cadastro_sigla"
                      type="text"
                      [size]="20"
                      [maxlength]="20"
                      pInputText
                    />
                  </div>
                  <!--*** Empresa / Responsável ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_responsavel">Empresa / Responsável</label>
                    <input
                      [tabindex]="6"
                      id="cadastro_responsavel"
                      formControlName="cadastro_responsavel"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Cargo ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_cargo">Cargo</label>
                    <input
                      [tabindex]="7"
                      id="cadastro_cargo"
                      formControlName="cadastro_cargo"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Endereço ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_endereco">Endereço</label>
                    <input
                      [tabindex]="8"
                      id="cadastro_endereco"
                      formControlName="cadastro_endereco"
                      type="text"
                      [size]="40"
                      [maxlength]="70"
                      pInputText
                    />
                  </div>
                  <!--*** Número ***-->
                  <!--<div class="p-field p-col-3">-->
                  <div class="p-field p-col-12 p-sm-12 p-md-2 p-lg-2 p-xl-1">
                    <label for="cadastro_endereco_numero">Número</label>
                    <input
                      [tabindex]="9"
                      id="cadastro_endereco_numero"
                      formControlName="cadastro_endereco_numero"
                      type="text"
                      [size]="5"
                      [maxlength]="5"
                      pInputText
                    />
                  </div>
                  <!--*** Comp. *** -->
                  <!--<div class="p-field p-col-9">-->
                  <div class="p-field p-col-12 p-sm-12 p-md-4 p-lg-4 p-xl-3">
                    <label for="cadastro_endereco_complemento">Comp.</label>
                    <input
                      [tabindex]="10"
                      id="cadastro_endereco_complemento"
                      formControlName="cadastro_endereco_complemento"
                      type="text"
                      [size]="20"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Bairro ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_bairro">Bairro</label>
                    <input
                      [tabindex]="11"
                      id="cadastro_bairro"
                      formControlName="cadastro_bairro"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Município ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4"
                       [ngClass]="aplicaCssErroAsync('cadastro_municipio_id', validaMunicipio)">
                    <label for="cadastro_municipio_id"><span class="atencao">*</span> Município</label>
                    <div #vmunicipio class="p-inputgroup">
                      <p-dropdown
                        [tabindex]="12"
                        [style]="{width:'100%'}"
                        id="cadastro_municipio_id"
                        formControlName="cadastro_municipio_id"
                        placeholder="Selecione"
                        [options]="ddMunicipioId"
                        [filter]="ddMunicipioId.length > 100"
                        [required]="true"
                      ></p-dropdown>
                      <app-configaux-incluir
                        [desabilitado]="block"
                        [titulo]="'Incluir Município'"
                        [tituloCampo]="'Município'"
                        [campoNome]="'cadastro_municipio_id'"
                        [tamanho]="50"
                        [tamanhomax]="50"
                        [dropdown]="'ddMunicipioId'"
                        [arrai]="ddMunicipioId"
                        [novoValor]="novoValor"
                        (onNovoRegistroAux)="onNovoRegistroAux($event)"
                        (onBlockSubmit)="onBlockSubmit($event)"
                      ></app-configaux-incluir>
                    </div>
                    <app-campo-control-erro [mostrarErro]="validaAsync('cadastro_municipio_id', validaMunicipio)"
                                            msgErro="Município é obrigatório.">
                    </app-campo-control-erro>
                  </div>
                  <!--*** Estado ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4"
                       [ngClass]="aplicaCssErroAsync('cadastro_estado_id', validaMunicipio)">
                    <label for="cadastro_estado_id"><span class="atencao">*</span> Estado</label>
                    <div class="p-inputgroup">
                    <p-dropdown
                      [tabindex]="13"
                      id="cadastro_estado_id"
                      formControlName="cadastro_estado_id"
                      placeholder="Selecione"
                      [options]="ddEstadoId"
                      [required]="true"
                    ></p-dropdown>
                    <app-configaux-incluir
                      [desabilitado]="block"
                      [titulo]="'Incluir Estado'"
                      [tituloCampo]="'Estado'"
                      [campoNome]="'cadastro_estado_id'"
                      [tamanho]="5"
                      [tamanhomax]="2"
                      [dropdown]="'ddEstadoId'"
                      [(arrai)]="ddEstadoId"
                      (onNovoRegistroAux)="onNovoRegistroAux($event)"
                      (onBlockSubmit)="onBlockSubmit($event)"
                    ></app-configaux-incluir>
                    </div>
                    <app-campo-control-erro [mostrarErro]="validaAsync('cadastro_estado_id', validaEstado)"
                                            msgErro="Estado é obrigatório.">
                    </app-campo-control-erro>
                  </div>

                  <!--*** CEP ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_cep">CEP</label>
                    <div class="p-inputgroup">
                    <p-inputMask
                      [tabindex]="14"
                      id="cadastro_cep"
                      formControlName="cadastro_cep"
                      mask="99999-999"
                      [autoClear]="true"
                      [unmask]="true"
                      type="text"
                      [size]="9"
                      [maxlength]="9"
                      [style]="{minWidth: '100%'}"
                    >
                    </p-inputMask>
                      <button
                        class="p-button-secondary p-button-icon-only"
                        pButton
                        [pTooltip]="'Busca Cep/Endereço'"
                        type="button"
                        icon="pi pi-envelope"
                        (click)="consultaCEP2($event)"
                        [disabled]="block || ativaCep()"
                      ></button>
                    </div>
                  </div>

                  <!--*** Região ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_regiao_id">Região</label>
                    <div class="p-inputgroup">
                      <p-dropdown
                        [tabindex]="15"
                        id="cadastro_regiao_id"
                        formControlName="cadastro_regiao_id"
                        placeholder="NENHUMA"
                        [options]="ddRegiaoId"
                        [filter]="ddRegiaoId.length > 100"
                        [showClear]="true"
                      ></p-dropdown>
                      <app-configaux-incluir
                        [desabilitado]="block"
                        [titulo]="'Incluir Região'"
                        [tituloCampo]="'Região'"
                        [campoNome]="'cadastro_regiao_id'"
                        [tamanho]="50"
                        [tamanhomax]="100"
                        [dropdown]="'ddMunicipioId'"
                        [(arrai)]="ddRegiaoId"
                        (onNovoRegistroAux)="onNovoRegistroAux($event)"
                        (onBlockSubmit)="onBlockSubmit($event)"
                      ></app-configaux-incluir>

                    </div>
                  </div>

                  <!--*** Campo 1 ***-->
                  <div *ngIf="cs.cadastro_campo1_sn" class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_campo1">{{cs.cadastro_campo1_nome}}</label>
                    <input
                      [tabindex]="16"
                      id="cadastro_campo1"
                      formControlName="cadastro_campo1"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>

                  <!--*** Grupo ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_grupo_id">Grupo</label>
                    <div class="p-inputgroup">
                    <p-dropdown
                      [tabindex]="17"
                      id="cadastro_grupo_id"
                      formControlName="cadastro_grupo_id"
                      placeholder="NENHUM"
                      [options]="ddGrupoId"
                      [showClear]="true"
                    ></p-dropdown>
                    <app-configaux-incluir
                      [desabilitado]="block"
                      [titulo]="'Incluir Grupo'"
                      [tituloCampo]="'Grupo'"
                      [campoNome]="'cadastro_grupo_id'"
                      [tamanho]="50"
                      [tamanhomax]="50"
                      [dropdown]="'ddGrupoId'"
                      [(arrai)]="ddGrupoId"
                      (onNovoRegistroAux)="onNovoRegistroAux($event)"
                      (onBlockSubmit)="onBlockSubmit($event)"
                    ></app-configaux-incluir>
                    </div>
                  </div>
                  <!--*** Telefone ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_telefone">Telefone</label>
                    <p-inputMask
                      [tabindex]="18"
                      id="cadastro_telefone"
                      formControlName="cadastro_telefone"
                      mask="(99) 99999-999?9"
                      [autoClear]="true"
                      [unmask]="true"
                      type="text"
                      [size]="20"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** Telefone2 ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_telefone2">Telefone2</label>
                    <p-inputMask
                      [tabindex]="19"
                      id="cadastro_telefone2"
                      formControlName="cadastro_telefone2"
                      mask="(99) 99999-999?9"
                      [autoClear]="true"
                      [unmask]="true"
                      type="text"
                      [size]="20"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** cadastro_telcom ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_telcom">Telefone Comercial</label>
                    <p-inputMask
                      [tabindex]="20"
                      id="cadastro_telcom"
                      formControlName="cadastro_telcom"
                      mask="(99) 99999-999?9 R-99999"
                      [autoClear]="true"
                      [unmask]="true"
                      type="text"
                      [size]="26"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** Celular ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_celular">Celular</label>
                    <p-inputMask
                      [tabindex]="21"
                      id="cadastro_celular"
                      formControlName="cadastro_celular"
                      mask="(99) 99999-9999"
                      type="text"
                      [size]="20"
                      [unmask]="true"
                      [autoClear]="true"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** Celular2 ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_celular2">Celular2</label>
                    <p-inputMask
                      [tabindex]="22"
                      id="cadastro_celular2"
                      formControlName="cadastro_celular2"
                      mask="(99) 99999-9999"
                      type="text"
                      [size]="20"
                      [unmask]="true"
                      [autoClear]="true"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** Fax ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_fax">WhatsApp</label>
                    <p-inputMask
                      [tabindex]="23"
                      id="cadastro_fax"
                      formControlName="cadastro_fax"
                      mask="(99) 99999-9999"
                      type="text"
                      [size]="20"
                      [unmask]="true"
                      [autoClear]="true"
                    >
                    </p-inputMask>
                  </div>
                  <!--*** E-mail ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4"
                       [ngClass]="aplicaCssErro2('cadastro_email')">
                    <label for="cadastro_email">E-mail</label>
                    <input
                      [tabindex]="24"
                      id="cadastro_email"
                      formControlName="cadastro_email"
                      pKeyFilter="email"
                      [maxlength]="50"
                      [size]="40"
                      pInputText
                    />
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched2('cadastro_email')"
                                            msgErro="E-mail inválido.">
                    </app-campo-control-erro>
                  </div>
                  <!--*** E-mail2 ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4" [ngClass]="aplicaCssErro2('cadastro_email2')">
                    <label for="cadastro_email2">E-mail2</label>
                    <input
                      [tabindex]="25"
                      id="cadastro_email2"
                      formControlName="cadastro_email2"
                      [maxlength]="50"
                      [size]="40"
                      pInputText
                      pKeyFilter="email"
                    />
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched2('cadastro_email2')" msgErro="E-mail inválido."></app-campo-control-erro>
                  </div>
                  <!--*** Facebook ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_rede_social">Facebook</label>
                    <input
                      [tabindex]="26"
                      id="cadastro_rede_social"
                      formControlName="cadastro_rede_social"
                      type="text"
                      [maxlength]="150"
                      [size]="40"
                      pInputText
                    />
                  </div>
                  <!--*** Outras mídias ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_outras_midias">Outras mídias</label>
                    <input
                      [tabindex]="27"
                      id="cadastro_outras_midias"
                      formControlName="cadastro_outras_midias"
                      type="text"
                      [maxlength]="200"
                      [size]="40"
                      pInputText
                    />
                  </div>
                  <!--*** CPF/CNPJ ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="_cadastro_cpfcnpj">CPF/CNPJ</label>
                    <input
                      [tabindex]="28"
                      id="_cadastro_cpfcnpj"
                      pInputText
                      formControlName="cadastro_cpfcnpj"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                    />
                  </div>
                  <!--*** Data de Nascimento / Fundação ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_data_nascimento">Data de Nascimento / Fundação</label>
                    <p-calendar
                      [tabindex]="29"
                      id="cadastro_data_nascimento"
                      formControlName="cadastro_data_nascimento"
                      dateFormat="dd/mm/yy"
                      [yearNavigator]="true"
                      yearRange="1910:2020"
                      placeholder="dd/mm/aaaa"
                      dataType="date"
                    ></p-calendar>
                  </div>
                  <!--*** Campo 4 ***-->
                  <div *ngIf="cs.cadastro_campo4_sn" class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_campo4_id">{{cs.cadastro_campo4_nome}}</label>
                    <p-dropdown
                      [tabindex]="30"
                      id="cadastro_campo4_id"
                      formControlName="cadastro_campo4_id"
                      placeholder="Selecione"
                      [options]="ddCampo4Id"
                      [showClear]="true"
                    ></p-dropdown>
                  </div>

                  <!--*** RG ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4" *ngIf="tipotipo === 1">
                    <label for="cadastro_rg">RG</label>
                    <input
                      [tabindex]="31"
                      id="cadastro_rg"
                      formControlName="cadastro_rg"
                      type="text"
                      [size]="15"
                      [maxlength]="13"
                      pInputText
                    />
                  </div>
                  <!--*** Genero ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4" *ngIf="tipotipo === 1">
                    <label for="cadastro_sexo">Genero</label>
                    <p-dropdown
                      [tabindex]="32"
                      id="cadastro_sexo"
                      formControlName="cadastro_sexo"
                      placeholder="Selecione"
                      [options]="ddSexo"
                      [showClear]="true"
                    ></p-dropdown>
                  </div>
                  <!--*** Escolaridade ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4" *ngIf="tipotipo === 1">
                    <label for="cadastro_escolaridade_id">Escolaridade</label>
                    <div class="p-inputgroup">
                    <p-dropdown
                      [tabindex]="33"
                      id="cadastro_escolaridade_id"
                      formControlName="cadastro_escolaridade_id"
                      placeholder="Selecione"
                      [options]="ddEscolaridadeId"
                      [showClear]="true"
                    ></p-dropdown>
                    <app-configaux-incluir
                      [desabilitado]="block"
                      [titulo]="'Incluir Escolaridade'"
                      [tituloCampo]="'Escolaridade'"
                      [campoNome]="'cadastro_escolaridade_id'"
                      [tamanho]="50"
                      [tamanhomax]="30"
                      [dropdown]="'ddEscolaridadeId'"
                      [(arrai)]="ddEscolaridadeId"
                      (onNovoRegistroAux)="onNovoRegistroAux($event)"
                      (onBlockSubmit)="onBlockSubmit($event)"
                    ></app-configaux-incluir>
                    </div>
                  </div>
                  <!--*** Estado Civil ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4" *ngIf="tipotipo === 1">
                    <label for="cadastro_estado_civil_id">Estado Civil</label>
                    <div class="p-inputgroup">
                    <p-dropdown
                      [tabindex]="34"
                      id="cadastro_estado_civil_id"
                      formControlName="cadastro_estado_civil_id"
                      placeholder="Selecione"
                      [options]="ddEstadoCivilId"
                      [showClear]="true"
                    ></p-dropdown>
                    <app-configaux-incluir
                      [desabilitado]="block"
                      [titulo]="'Incluir Estado Civil'"
                      [tituloCampo]="'Estado Civil'"
                      [campoNome]="'cadastro_estado_civil_id'"
                      [tamanho]="50"
                      [tamanhomax]="15"
                      [dropdown]="'ddEstadoCivilId'"
                      [(arrai)]="ddEstadoCivilId"
                      (onNovoRegistroAux)="onNovoRegistroAux($event)"
                      (onBlockSubmit)="onBlockSubmit($event)"
                    ></app-configaux-incluir>
                    </div>
                  </div>
                  <!--*** Conjuge ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4" *ngIf="tipotipo === 1">
                    <label for="cadastro_conjuge">Conjuge</label>
                    <input
                      [tabindex]="35"
                      id="cadastro_conjuge"
                      formControlName="cadastro_conjuge"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>
                  <!--*** Partido ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_zona">Partido</label>
                    <input
                      [tabindex]="36"
                      id="cadastro_zona"
                      formControlName="cadastro_zona"
                      type="text"
                      [size]="15"
                      [maxlength]="10"
                      pInputText
                    />
                  </div>
                  <!--*** Profissão ***-->
                  <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_profissao">Profissão</label>
                    <input
                      [tabindex]="37"
                      id="cadastro_profissao"
                      formControlName="cadastro_profissao"
                      type="text"
                      [size]="40"
                      [maxlength]="50"
                      pInputText
                    />
                  </div>

                  <!--*** Campo 2 ***-->
                  <div *ngIf="cs.cadastro_campo2_sn" class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_campo2">{{cs.cadastro_campo2_nome}}</label>
                    <input
                      [tabindex]="38"
                      id="cadastro_campo2"
                      formControlName="cadastro_campo2"
                      type="text"
                      [size]="40"
                      [maxlength]="100"
                      pInputText
                    />
                  </div>
                  <!--*** Campo 3 ***-->
                  <div *ngIf="cs.cadastro_campo3_sn" class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
                    <label for="cadastro_campo3">{{cs.cadastro_campo3_nome}}</label>
                    <textarea
                      [tabindex]="39"
                      id="cadastro_campo3"
                      pInputTextarea
                      [rows]="1" [cols]="40"
                      [maxlength]="254"
                      [autoResize]="true"
                      formControlName="cadastro_campo3"
                    ></textarea>
                  </div>

                  <!--*** Boletim ***-->
                  <div class="p-field p-col-6 p-sm-6 p-md-6 p-lg-3 p-xl-1">
                    <h5>Boletim</h5>
                    <p-inputSwitch [tabindex]="40" id="cadastro_jornal" formControlName="cadastro_jornal"></p-inputSwitch>
                  </div>
                  <!--*** Mala direta ***-->
                  <div class="p-field p-col-6 p-sm-6 p-md-6 p-lg-3 p-xl-1">
                    <h5>Mala direta</h5>
                    <p-inputSwitch [tabindex]="41" id="cadastro_mala" formControlName="cadastro_mala"></p-inputSwitch>
                  </div>
                  <!--*** Contato ***-->
                  <div class="p-field p-col-6 p-sm-6 p-md-6 p-lg-3 p-xl-1">
                    <h5>Contato</h5>
                    <p-inputSwitch [tabindex]="42" id="cadastro_agenda" formControlName="cadastro_agenda"></p-inputSwitch>
                  </div>
                  <!--*** Sigilo ***-->
                  <div class="p-field p-col-6 p-sm-6 p-md-6 p-lg-3 p-xl-1">
                    <h5>Sigilo</h5>
                    <p-inputSwitch [tabindex]="43" id="cadastro_sigilo" formControlName="cadastro_sigilo"></p-inputSwitch>
                  </div>

                </div>
              </div>
              <!--*** FIM COLUNA 1 ***-->


              <!--*** COLUNA 4 ***-->
              <div class="p-col-12 formulario">
                <div class="p-d-flex p-jc-center">
                <div class="p-fluid p-formgrid p-grid">

                  <!--*** Observações ***-->
                  <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12">

                    <div class="p-d-flex p-jc-center">
                      <div class="formulario-quill">
                        <h5>Tarefa</h5>
                        <div class="qeditor">
                          <quill-editor
                            [tabindex]="44"
                            name="tarefa_tarefa"
                            class="formulario"
                            id="tarefa_tarefa"
                            formControlName="cadastro_observacao"
                            [format]="'html'"
                            [defaultEmptyValue]="null"
                            [theme]="'snow'"
                            [modules]="modulos"
                            [placeholder]="''"
                            (onEditorCreated)="onEditorCreated($event)"
                          ></quill-editor>
                        </div>
                      </div>
                    </div>
                  </div>


                  <ng-container *ngIf="aut.arquivos">
                    <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12">
                          <app-arquivo *ngIf="cfs.acao === 'incluir'"
                                       [tabindex]="45"
                                       [modulo]="'cadastro'"
                                       [modelo]="'incluir'"
                                       [registro_id]="arquivo_registro_id"
                                       [uploadDisabled]="arquivoDesativado || !formCadastro.valid"
                                       [enviarArquivos]="enviarArquivos"
                                       (onBlockSubmit)="onBlockSubmit($event)"
                                       (onUpload)="onUpload($event)"
                                       (onPossuiArquivos)="onPossuiArquivos($event)"
                                       [clearArquivos]="clearArquivos"
                          ></app-arquivo>
                          <app-arquivo *ngIf="cfs.acao === 'alterar'"
                                       [tabindex]="45"
                                       [modulo]="'cadastro'"
                                       [uploadDisabled]="arquivoDesativado"
                                       [arqs]="cfs.cadastroListar.cadastro_arquivos"
                                       [registro_id]="cfs.cadastro.cadastro_id"
                                       (onPossuiArquivos)="onPossuiArquivos($event)"
                                       [modelo]="'alterar'"
                                       [stiloClass]="'formulario'"
                                       [buscaArquivos]="false"
                          ></app-arquivo>
                    </div>

                  </ng-container>

                </div>
                </div>
              </div>


            </div>
          </div>
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>
        </div>

      </div>

      <div class="p-grid">
        <div class="p-col-10 p-offset-1 formulario-bg-externo"></div>
      </div>

      <div class="p-fluid formulario-bg-externo espacoInferiorMenu">
        <div class="p-grid">
          <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
            <div class="p-grid p-input-filled">
              <div class="p-col-12 formulario">
                <!--*** Botões ***-->
                <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                  <div class="p-mr-2">
                    <button
                      [tabindex]="46"
                      pButton
                      type="submit"
                      class="p-button-rounded"
                      [disabled]="!formCadastro.valid || disableSubmit"
                      label="Enviar"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      [tabindex]="47"
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="resetForm()"
                      label="Cancelar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      [tabindex]="48"
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="teste()"
                      label="TESTE"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                  <div>
                    <button
                      [tabindex]="49"
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Voltar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="p-fluid formulario-bg-externo">
        <div class="p-grid formulario-bg-externo">
          <div class="p-col-12"></div>
          <div class="p-col-12"></div>
        </div>
      </div>

    </form>
  </div>
</p-scrollPanel>
<!--*** NOME DUPLICADO ***-->

<ng-container *ngIf="nomeDuplicado">
  <p-dialog
    header="Cadastro já existente"
    [(visible)]="nomeDuplicado"
    [modal]="true"
    [closable]="true"
    [blockScroll]="true"
    [breakpoints]="{'1400px': '40vw', '1300px': '50vw', '1200px': '65vw', '1000px': '80vw', '640px': '100vw'}"
    [style]="{width: '40vw'}"
    (onHide)="fechaNomeDuplicado()"
  >
    <div class="p-col-12">
      <app-cadastro-incluir-listaexistente *ngIf="nomeDuplicado" [cad]="cad"></app-cadastro-incluir-listaexistente>
    </div>
    <div class="p-col-12">
      <p-button
        label="Fechar"
        (onClick)="fechaNomeDuplicado()"
      ></p-button>
    </div>
  </p-dialog>
</ng-container>

<ng-container *ngIf="mostraEnderecos">
  <p-dialog
    header="Foram encontrados meis de um resoltado. Escolha um abaixo."
    [(visible)]="mostraEnderecos"
    [modal]="true"
    [closable]="true"
    [blockScroll]="true"
    [breakpoints]="{'1400px': '40vw', '1300px': '50vw', '1200px': '65vw', '1000px': '80vw', '640px': '100vw'}"
    [style]="{width: '40vw'}"
    (onHide)="fechaEnderecos()"
  >
    <div class="p-fluid p-formgrid p-grid formulario">
      <div class="p-col-12">

        <p-listbox [options]="ddEnderecos" [(ngModel)]="endereco">
          <ng-template pTemplate="header">
            Header Content
          </ng-template>
          <ng-template let-end pTemplate="item">
            <div>
              <table>
                <tr>
                  <th>Endereço</th>
                  <td>{{end.logradouro}}</td>
                </tr>
                <tr>
                  <th>Complemento</th>
                  <td>{{end.complemento}}</td>
                </tr>
                <tr>
                  <th>Bairro</th>
                  <td>{{end.bairro}}</td>
                </tr>
                <tr>
                  <th>Município</th>
                  <td>{{end.localidade}}</td>
                </tr>
                <tr>
                  <th>Estado</th>
                  <td>{{end.uf}}</td>
                </tr>
                <tr>
                  <th>Cep</th>
                  <td>{{end.cep}}</td>
                </tr>
              </table>
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            Footer Content
          </ng-template>
        </p-listbox>
      </div>

      <div class="p-col-12 formulario">
        <!--*** Botões ***-->
        <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
          <div class="p-mr-2">
            <button
              pButton
              type="submit"
              class="p-button-rounded"
              [disabled]="endereco === null"
              label="Selecionar"
              (click)="selecionaEndereco()"
            ></button>
          </div>
          <div class="p-mr-2">
            <button
              pButton
              type="button"
              class="p-button-rounded p-button-secondary"
              (click)="fechaEnderecos()"
              label="Cancelar"
              [disabled]="botaoEnviarVF"
            ></button>
          </div>
        </div>
        <!--*** FIM BOTOES ***-->
      </div>
    </div>
  </p-dialog>
</ng-container>


