
  <!--*** INICIO ****************************************************************************************************-->
  <p-table
    dataKey="andamento_proposicao_id"
    [value]="andamento_proposicao"
    (onRowExpand)="onRowExpand($event)"
    styleClass="tablistagem p-datatable-sm p-datatable-striped"
    [tableStyle]="{'font-size':'12px', 'border-collapse':'separate'}"
    [resizableColumns]="true"
  >
    <!--*** TITULOS *************************************************************************************************-->

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 100px;"></th>
        <th style="width: 90px;text-align: left;" pResizableColumn>DATA</th>
        <th style="text-align: left;" pResizableColumn>SITUAÇÃO</th>
        <th style="text-align: left;" pResizableColumn>ANDAMENTO</th>
        <th style="text-align: left;" pResizableColumn>ORGÃO</th>
        <th style="text-align: left;" pResizableColumn>RELATOR ATUAL</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-rowIndex="rowIndex">
      <tr>
        <td style="width: 100px; padding-bottom: 0; padding-top: .3em;text-align: center">
          <button
            [pTooltip]="expanded ? 'Cancelar' : 'ALterar'"
            [pRowToggler]="rowData"
            pButton
            pRipple
            type="button"
            [icon]="expanded ? 'pi pi-minus-circle' : 'pi pi-pencil'"
            class="p-button-warning p-button-sm"
            tooltipPosition="top"
            (click)="onRowEditInit(rowData, rowIndex, expanded)"
          >
          </button>
          &nbsp;
          <button
            *ngIf="!expanded"
            pButton
            pRipple
            (click)="onDelete(rowData, rowIndex)"
            type="button"
            icon="pi pi-trash"
            class=" p-button-sm p-button-danger"
            pTooltip="Apagar"
            tooltipPosition="top"
          >
          </button>
        </td>
        <td class="ui-resizable-column" style="width: 90px; white-space: normal;">{{rowData.andamento_proposicao_data}}</td>
        <td class="ui-resizable-column" style="white-space: normal;">{{rowData.andamento_proposicao_situacao_nome}}</td>
        <ng-container *ngIf="rowData.andamento_proposicao_texto">
        <td *ngIf="rowData.andamento_proposicao_texto.length > 100"  class="ui-resizable-column" style="white-space: normal;">
          <span class="mostratexto" (click)="mostraTexto(rowData.andamento_proposicao_texto)">{{rowData.andamento_proposicao_texto.substr(0,100)}}...</span>
        </td>
        <td *ngIf="rowData.andamento_proposicao_texto.length <= 100" class="ui-resizable-column" style="white-space: normal;">{{rowData.andamento_proposicao_texto}}</td>
        </ng-container>
        <ng-container *ngIf="!rowData.andamento_proposicao_texto">
          <td class="ui-resizable-column" style="white-space: normal;">{{rowData.andamento_proposicao_situacao_nome}}</td>
        </ng-container>
        <td class="ui-resizable-column" style="white-space: normal;">{{rowData.andamento_proposicao_orgao_nome}}</td>
        <td class="ui-resizable-column" style="white-space: normal;">{{rowData.andamento_proposicao_relator_atual}}</td>
      </tr>
    </ng-template>


    <!--*** EXPANDIDO ************************************************************************************************-->
    <ng-template pTemplate="rowexpansion" let-rowData>
      <tr class="expandido">
        <td [attr.colspan]="6" class="expandido">
          <div class="rowexpansion-corpo">
            <div class="p-fluid">
              <div class="p-d-flex p-jc-start p-pb-2">
                <div class="p-mr-2">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-save"
                    label="Gravar"
                    class="p-button-rounded p-button-success"
                    pTooltip="Gravar"
                    tooltipPosition="top"
                    (click)="onRowEditSave(rowData, rowIndex)"
                  >
                  </button>
                </div>
              </div>

              <div class="p-grid">
                <div class="p-col-12 p-mt-0 p-pb-0 formulario-bg-interno">
                  <div class="p-grid p-input-filled">

                    <!--*** COLUNA 1 ***-->
                    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
                      <div class="p-fluid p-formgrid p-grid">

                        <!--*** andamento_proposicao_data ***-->
                        <div class="p-field p-col-12 p-sm-12 p-md-6 p-xl-6 p-lg-6">
                          <label>Data</label>
                          <p-calendar
                            id="andamento_proposicao_data"
                            [(ngModel)]="rowData.andamento_proposicao_data"
                            dateFormat="dd/mm/yy"
                            placeholder="dd/mm/aaaa"
                            dataType="string"
                          ></p-calendar>
                        </div>

                        <!--*** andamento_proposicao_relator_atual ***-->
                        <div class="p-field p-col-12 p-sm-12 p-md-6 p-xl-6 p-lg-6 campoLabelMenu">
                          <h5>Relator</h5>
                          <!--<label for="andamento_proposicao_relator_atual">Relator</label>-->
                          <input
                            id="andamento_proposicao_relator_atual"
                            [(ngModel)]="rowData.andamento_proposicao_relator_atual"
                            type="text"
                            size="40"
                            maxlength="50"
                            pInputText
                          />
                        </div>

                        <!--*** andamento_proposicao_orgao_id ***-->
                        <div class="p-field p-col-12 p-sm-12 p-md-6 p-xl-6 p-lg-6">
                          <label for="andamento_proposicao_orgao_id">Orgão atual</label>
                            <p-dropdown
                              id="andamento_proposicao_orgao_id"
                              [(ngModel)]="rowData.andamento_proposicao_orgao_id"
                              placeholder="Selecione"
                              [options]="ddProposicao_orgao_id"
                              [style]="{'width':'100%'}"
                              [showClear]="true"
                            ></p-dropdown>
                        </div>

                        <!--*** proposicao_situacao_id ***-->
                        <div class="p-field p-col-12 p-sm-12 p-md-6 p-xl-6 p-lg-6">
                          <label for="andamento_proposicao_situacao_id"> Situação</label>
                            <p-dropdown
                              id="andamento_proposicao_situacao_id"
                              [(ngModel)]="rowData.andamento_proposicao_situacao_id"
                              placeholder="Selecione"
                              [options]="ddProposicao_situacao_id"
                              [style]="{'width':'100%'}"
                              [showClear]="true"
                            ></p-dropdown>
                        </div>

                        <!--*** andamento_proposicao_texto ***-->
                        <div class="p-field p-col-12 formulario-quill">
                          <label for="andamento_proposicao_texto">Andamento</label>
                          <p-editor
                            id="andamento_proposicao_texto"
                            [(ngModel)]="rowData.andamento_proposicao_texto"
                            [modules]="modulos"
                          >
                            <ng-template pTemplate="header"></ng-template>
                          </p-editor>
                        </div>

                        <!--*** FIM COLUNA 6 ***-->

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </td>
      </tr>
    </ng-template>
  </p-table>


  <!--*** FIM ********************************************************************************************************-->

<br>
<div class="botoesdetalhe">
  <p-button [disabled]="botaoEnviarVF" type="button" label="FECHAR" class="p-button-raised p-button-rounded" (click)="fechar()"></p-button>
</div>
<p-toast key="andamentoProposicaoToast" [style]="{marginTop: '80px'}"></p-toast>
  <p-confirmDialog
    [style]="{width: '50vw'}"
    [baseZIndex]="10000"
    [autoZIndex]="false"
    acceptLabel="Sim"
    rejectLabel="Não"
  ></p-confirmDialog>

  <!--*** EDITOR *****************************************************************************************************-->
  <p-dialog
    [(visible)]="showCampoTexto"
    [dismissableMask]="true"
    styleClass="tablistagem"
    [header]="'Andamento'"
    (onHide)="escondeTexto()"
  >
    <quill-view-html #edtor [content]="campoTexto" class="tablistagem"></quill-view-html>
  </p-dialog>






