
  <!--*** INICIO ****************************************************************************************************-->
  <p-table #dtap
           id="dtap"
           [value]="andamento_proposicao"
           dataKey="andamento_proposicao_id"
           [scrollable]="true"

           scrollHeight="50vh"
           [autoLayout]="false"
           columnResizeMode="expand"
           [rowHover]="true"
           [responsive]="false"
           [sortOrder]="1"
           [editMode]="'row'"
           [tableStyle]="{'font-size':'12px'}"
           styleClass="tablistagem p-datatable-sm p-datatable-gridlines"
           [resizableColumns]="true"
  >
<!--

    [scrollHeight]="altura"

-->

    <!--*** TOPO ****************************************************************************************************-->
    <ng-template pTemplate="caption">
      <div style="text-align: center;">
        ANDAMENTOS DA PROPOSIÇÃO
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col [style.width]="100">
        <col [style.width]="350">
        <col [style.width]="350">
        <col [style.width]="1100">
        <col [style.width]="150">
        <col [style.width]="250">
      </colgroup>
    </ng-template>

    <!--*** TITULOS *************************************************************************************************-->

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width:100px"></th>
        <th style="width:150px;text-align: left;" pResizableColumn>DATA</th>
        <th style="width:350px;text-align: left;" pResizableColumn>SITUAÇÃO</th>
        <th style="width:1100px;text-align: left;" pResizableColumn>ANDAMENTO</th>
        <th style="width:350px;text-align: left;" pResizableColumn>ORGÃO</th>
        <th style="width:250px;text-align: left;" pResizableColumn>RELATOR ATUAL</th>
      </tr>
    </ng-template>

    <!--*** DADOS ***************************************************************************************************-->
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="rowData">

        <td style="width:100px;text-align:center;">
          <button *ngIf="!editing && aut.andamentoproposicao_alterar && !botaoEnviarVF" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-info" (click)="onRowEditInit(rowData)"></button>
          <button *ngIf="editing && aut.andamentoproposicao_alterar && !botaoEnviarVF" pButton type="button" pSaveEditableRow icon="pi pi-check" class="p-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData, ri)"></button>
          <button *ngIf="editing && aut.andamentoproposicao_alterar && !botaoEnviarVF" pButton type="button" pCancelEditableRow icon="pi pi-times" class="p-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
          <button *ngIf="!editing && aut.andamentoproposicao_apagar && !botaoEnviarVF" pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="onDelete(rowData, ri)"></button>
        </td>

        <td style="width:150px;" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div [style.minHeight]="styleExpr" style="overflow: auto;padding-top: 5px" class="formulario">
              <p-calendar
                [(ngModel)]="rowData.andamento_proposicao_data"
                dateFormat="dd/mm/yy"
                placeholder="dd/mm/aaaa"
                dataType="string"
              ></p-calendar>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.andamento_proposicao_data}}
            </ng-template>
          </p-cellEditor>
        </td>

        <td style="width:350px;" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div style="overflow: auto;padding-top: 5px">
              <p-dropdown
                [(ngModel)]="rowData.andamento_proposicao_situacao_id"
                [style]="{'width':'95%'}"
                placeholder="Selecione"
                [options]="ddProposicao_situacao_id"
                [showClear]="true"
                scrollHeight="200px"
              ></p-dropdown>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.andamento_proposicao_situacao_nome}}
            </ng-template>
          </p-cellEditor>
        </td>


        <td style="width:1100px;" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div style="min-height: 200px; min-width: 300px; overflow: auto;padding-top: 5px">
                <p-editor
                  [(ngModel)]="rowData.andamento_proposicao_texto"
                  formControlName="andamento_proposicao_texto"
                  [modules]="modulos"
                  (focus)="focus($event)"
                >
                  <ng-template pTemplate="header"></ng-template>
                </p-editor>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.andamento_proposicao_texto}}
            </ng-template>
          </p-cellEditor>
        </td>

        <td style="width:350px;" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div [style.minHeight]="styleExpr" style="overflow: auto;padding-top: 5px">
                <p-dropdown
                  [style]="{'width':'95%'}"
                  [(ngModel)]="rowData.andamento_proposicao_orgao_id"
                  placeholder="Selecione"
                  [options]="ddProposicao_orgao_id"
                  [showClear]="true"
                  scrollHeight="200px"
                ></p-dropdown>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.andamento_proposicao_orgao_nome}}
            </ng-template>
          </p-cellEditor>
        </td>

        <td style="width:250px;" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div [style.minHeight]="styleExpr" style="overflow: auto;padding-top: 5px">
                <input
                  [(ngModel)]="rowData.andamento_proposicao_relator_atual"
                  type="text"
                  maxlength="50"
                  pInputText
                />
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.andamento_proposicao_relator_atual}}
            </ng-template>
          </p-cellEditor>
        </td>


      </tr>
    </ng-template>

    <!--*** TABELA VAZIA *********************************************************************************************-->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="6" id="tabela-vazia">
          <div class="tabela-vazia-a">
            <div class="tabela-vazia-b">
              <div class="tabela-vazia-c p-shadow-5">&nbsp;&nbsp;&nbsp;NENHUM REGISTRO&nbsp;&nbsp;&nbsp;</div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <!--*** MENU *****************************************************************************************************-->
  </p-table>
  <!--*** FIM ********************************************************************************************************-->

<br>
<div class="botoesdetalhe">
  <p-button [disabled]="botaoEnviarVF" type="button" label="FECHAR" class="p-button-raised p-button-rounded" (click)="fechar()"></p-button>
</div>
<p-toast key="andamentoProposicaoToast" [style]="{marginTop: '80px'}"></p-toast>
  <p-confirmDialog
    [style]="{width: '50vw'}"
    [baseZIndex]="10000"
    [autoZIndex]="false"
    acceptLabel="Sim"
    rejectLabel="Não"
  ></p-confirmDialog>





