<p-sidebar
  id="sidebar-grafico"
  [(visible)]="mostraMenuInterno"
  [blockScroll]="true"
  [dismissible]="true"
  styleClass="grafico"
  appendTo="body"
  (onHide)="mostraMenu(false)"
  (onShow)="mostraMenu(true)"
>
  <p-scrollPanel styleClass="grafico">



    <div id="grafico-menu" class="p-fluid formulario-bg-externo espacoInferiorMenu">

      <div class="p-ml-1 p-pl-2">
        <div class="p-fluid p-formgrid p-grid formulario">

          <div class="p-field p-col-12 menu-lateral">
            <p-dropdown
              #gf
              [options]="ddModulos"
              [(ngModel)]="modulo1"
              placeholder="Seleione                    "
              optionLabel="label"
              [showClear]="false"
              [appendTo]="'body'"
              [style]="{width:'100%'}"
              (ngModelChange)="mudaModulo()"

            ></p-dropdown>
          </div>

          <ng-container *ngIf="graficos!==undefined && graficos !== null">

            <div class="p-field p-col-12  menu-lateral">
              <!-- aniversario intervalo1 -->
              <label for="data1">De</label>
              <p-calendar
                [(ngModel)]="data1"
                placeholder="De"
                dateFormat="dd/mm/yy"
                [monthNavigator]="true"
                [yearNavigator]="true"
                [styleClass]="'estreito'"
                yearRange="1900:2040"
                id="data1"
                dataType="string"
                [appendTo]="'body'"
              ></p-calendar>
            </div>
            <div class="p-field p-col-12 menu-lateral">
              <label for="data2">Até</label>
              <p-calendar
                [(ngModel)]="data2"
                placeholder="Até"
                dateFormat="dd/mm/yy"
                [monthNavigator]="true"
                [yearNavigator]="true"
                [styleClass]="'estreito'"
                yearRange="1900:2040"
                id="data2"
                dataType="string"
                [appendTo]="'body'"
              ></p-calendar>
            </div>
            <div class="p-field p-col-6 menu-lateral">
              <p-button label="Buscar" icon="pi pi-check" styleClass="p-button-sm" (onClick)="buscar()"></p-button>
            </div>
            <div class="p-field p-col-6 menu-lateral">
            </div>

            <div *ngFor="let cp of graficos.dropdown; index as i" class="p-field-radiobutton p-col-12 menu-lateral">
              <p-radioButton name="campo" [label]="cp.label" [(ngModel)]="campo1" [value]="cp.value" [inputId]="cp.value"
                             (onClick)="mudaCampo(i)"></p-radioButton>
            </div>

            <div class="p-field p-col-12 menu-lateral">
              <p-dropdown
                [options]="ddTipo"
                [(ngModel)]="tipo1"
                placeholder="Seleione"
                optionLabel="label"
                [showClear]="false"
                [appendTo]="'body'"
                (ngModelChange)="mudaTipo()"
              ></p-dropdown>
            </div>

            <div class="p-field p-col-12 menu-lateral">
              <br>
              <b>Total de registros: {{graficos.total}}</b>
            </div>
          </ng-container>


        </div>
      </div>

    </div>




  </p-scrollPanel>
</p-sidebar>




<div id="grafico-main">

  <div id="grafico-esquerda">
    <div id="btn-menu-interno-grafico">
      <button pButton pRipple type="button" pTooltip="Filtrar" icon="pi pi-filter" class="p-button-rounded p-button-text" (click)="mostraMenu()"></button>
      <button pButton pRipple type="button" [disabled]="!getAtivo()" pTooltip="Download" icon="pi pi-download" class="p-button-rounded p-button-text" (click)="getImg()"></button>
      <button pButton pRipple type="button" [disabled]="!getAtivo()" pTooltip="Imprimir" icon="pi pi-print" class="p-button-rounded p-button-text" (click)="getPrintPdf(true)"></button>
      <button pButton pRipple type="button" [disabled]="!getAtivo()" pTooltip="Pdf" icon="pi pi-file-pdf" class="p-button-rounded p-button-text" (click)="getPrintPdf(false)"></button>
    </div>
  </div>

  <div id="grafico-direita">


    <div id="grafico-chart">
      <canvas id="chart"></canvas>
    </div>

    <div style="display: none">
      <a id="chartimg"></a>
    </div>

    <div id="print-chart" class="print-chart">
      <canvas id="chartp"></canvas>
    </div>





  </div>
</div>
