<div class="container" style="text-align:center">
  <h4>CADASTRO - INCLUIR</h4>
</div>
<div class="container-fluid">
  <p-scrollPanel [style]="{width: '100%', height: 'auto'}">
    <div class="p-grid">
      <div class="p-md-1 p-xl-1"></div>
      <div class="p-col-12 p-sm-12 p-md-10 p-xl-10 divform">

        <form [formGroup]="formCadIncluir" (ngSubmit)="onSubmit()">
          <div class="p-grid formDiv">
            <!--*** COLUNA 1 ***-->
            <div class="p-col-12 p-sm-12 p-md-6 p-xl-4">
              <div class="p-grid">

                <!--*** Tipo de Cadastro ***-->
                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErro('cadastro_tipo_id')">
                  <h6><span style="color: var(--ativo)">*</span> Tipo de Cadastro</h6>
                  <p-dropdown
                    formControlName="cadastro_tipo_id"
                    dataKey="cadastro_tipo_id[0]"
                    placeholder="Selecione"
                    [options]="ddTipoCadastroId"
                    [group]="true"
                    [required]="false"
                    [autofocus]="true"
                    (onChange)="mudaTipo($event)"
                  ></p-dropdown>
                  <app-campo-control-erro msgErro="Tipo de Cadastro é obrigatório.">
                  </app-campo-control-erro>
                </div>

                <!--*** Tratamento ***-->
                <div
                  class="p-col-12 campoLabel"
                  [ngClass]="aplicaCssErroAsync('cadastro_tratamento_id', validaTratamento)"
                >
                  <h6><span style="color: var(--ativo)">*</span> Tratamento</h6>
                  <p-dropdown
                    formControlName="cadastro_tratamento_id"
                    placeholder="Selecione"
                    [options]="ddTratamento"
                    [required]="true"
                    (blur)="mudaSituacao('cadastro_tratamento_id')"
                  ></p-dropdown>
                  <app-campo-control-erro
                    [mostrarErro]="validaAsync('cadastro_tratamento_id', validaTratamento)"
                    msgErro="Tratamento é obrigatório."
                  >
                  </app-campo-control-erro>
                </div>

                <!--*** Nome / Razão Social ***-->
                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErroAsync('cadastro_nome', validaNome)">
                  <h6><span style="color: var(--ativo)">*</span> Nome / Razão Social</h6>
                  <input
                    formControlName="cadastro_nome"
                    type="text"
                    [maxlength]="50"
                    [size]="40"
                    pInputText
                    (blur)="verificaDuplicados($event)"
                  />
                  <app-campo-control-erro
                    [mostrarErro]="validaAsync('cadastro_nome', validaNome)"
                    msgErro="Nome é obrigatório."
                  >
                  </app-campo-control-erro>
                </div>



                <!--*** Apelido ***-->
                <div class="p-col-12 campoLabel" *ngIf="tipotipo == 1">
                  <h6>Apelido</h6>
                  <input
                    formControlName="cadastro_apelido"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** Sigla ***-->
                <div class="p-col-12 campoLabel" *ngIf="tipotipo == 2">
                  <h6>Sigla</h6>
                  <input
                    formControlName="cadastro_sigla"
                    type="text"
                    [size]="20"
                    [maxlength]="20"
                    pInputText
                  />
                </div>

                <!--*** Empresa / Responsável ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Empresa / Responsável</h6>
                  <input
                    formControlName="cadastro_responsavel"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** Cargo ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Cargo</h6>
                  <input
                    formControlName="cadastro_cargo"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** CEP ***-->
                <div class="p-col-12 campoLabel">
                  <h6>CEP</h6>
                  <p-inputMask
                    formControlName="cadastro_cep"
                    mask="99999-999"
                    [autoClear]="true"
                    [unmask]="true"
                    type="text"
                    [size]="9"
                    [maxlength]="9"
                    (onBlur)="consultaCEP($event)"
                  >
                  </p-inputMask>
                </div>

                <!--*** Endereço ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Endereço</h6>
                  <input
                    formControlName="cadastro_endereco"
                    type="text"
                    [size]="40"
                    [maxlength]="70"
                    pInputText
                  />
                </div>

                <!--*** Número ***-->
                <div class="p-col-3 campoLabel">
                  <h6>Número</h6>
                  <input
                    formControlName="cadastro_endereco_numero"
                    type="text"
                    [size]="5"
                    [maxlength]="5"
                    pInputText
                  />
                </div>

                <!--*** Comp. *** -->
                <div class="p-col-9 campoLabel">
                  <h6>Comp.</h6>
                  <input
                    formControlName="cadastro_endereco_complemento"
                    type="text"
                    [size]="20"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** Bairro ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Bairro</h6>
                  <input
                    formControlName="cadastro_bairro"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** Município ***-->
                <div
                  class="p-col-12 campoLabel"
                  [ngClass]="aplicaCssErroAsync('cadastro_municipio_id', validaMunicipio)"
                >
                  <h6><span style="color: var(--ativo)">*</span> Município</h6>
                  <div class="ui-inputgroup">
                    <p-dropdown
                      formControlName="cadastro_municipio_id"
                      placeholder="Selecione"
                      [options]="ddMunicipioId"
                      [required]="true"
                      (blur)="mudaSituacao('cadastro_municipio_id')"
                    ></p-dropdown>
                    <button
                      pButton
                      type="button"
                      icon="fa fa-plus"
                      (click)="mostraMunicipioForm()"
                      [disabled]="mostraForm"
                    ></button>
                  </div>
                  <app-campo-control-erro
                    [mostrarErro]="validaAsync('cadastro_municipio_id', validaMunicipio)"
                    msgErro="Município é obrigatório."
                  >
                  </app-campo-control-erro>
                </div>

                <!--*** Incluir Município ***-->
                <p-dialog
                  header="Incluir Município"
                  [(visible)]="municipioForm"
                  [modal]="false"
                  [responsive]="true"
                  [closable]="true"
                  [blockScroll]="true"
                  [style]="{ width: '800px' }"
                  (onHide)="fechaMunicipioForm()"
                >
                  <p-messages [value]="msgs" [closable]="true"></p-messages>
                  <div class="p-col-12">
                    <h6>Novo município</h6>
                    <input
                      type="text"
                      formControlName="mun_nome"
                      [minlength]="2"
                      [maxlength]="50"
                      (keyup)="mostraBtnIncluirMunicipio()"
                      pInputText
                    />
                  </div>
                  <div class="p-col-12">
                    <p-button
                      *ngIf="btnIncluirMunicipio"
                      label="Incluir"
                      (onClick)="incluirMunicipio()"
                    ></p-button>
                    &nbsp;
                    <p-button
                      label="Cancelar"
                      (onClick)="fechaMunicipioForm()"
                    ></p-button>
                  </div>
                </p-dialog>

                <!--*** Estado ***-->
                <div
                  class="p-col-12 campoLabel"
                  [ngClass]="aplicaCssErroAsync('cadastro_estado_id', validaMunicipio)"
                >
                  <h6><span style="color: var(--ativo)">*</span> Estado</h6>
                  <p-dropdown
                    formControlName="cadastro_estado_id"
                    placeholder="Selecione"
                    [options]="ddEstadoId"
                    [required]="true"
                  ></p-dropdown>
                  <app-campo-control-erro
                    [mostrarErro]="validaAsync('cadastro_estado_id', validaEstado)"
                    msgErro="Estado é obrigatório."
                  >
                  </app-campo-control-erro>
                </div>

                <!--*** Região ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Região</h6>
                  <div class="ui-inputgroup">
                    <p-dropdown
                      formControlName="cadastro_regiao_id"
                      placeholder="NENHUMA"
                      [options]="ddRegiaoId"
                      [showClear]="true"
                    ></p-dropdown>
                    <button
                      pButton
                      type="button"
                      icon="fa fa-plus"
                      (click)="mostraRegiaoForm()"
                      [disabled]="mostraForm"
                    ></button>
                  </div>
                </div>

                <!--*** Incluir Região ***-->
                <p-dialog
                  header="Incluir Região"
                  [(visible)]="regiaoForm"
                  [modal]="false"
                  [responsive]="true"
                  [closable]="true"
                  [blockScroll]="true"
                  [style]="{ width: '400px' }"
                  (onHide)="fechaRegiaoForm()"
                >
                  <p-messages [value]="msgs" [closable]="true"></p-messages>
                  <div class="p-col-12">
                    <h6>Nova região</h6>
                    <input
                      type="text"
                      formControlName="reg_nome"
                      [size]="40"
                      [minlength]="2"
                      [maxlength]="50"
                      (keyup)="mostraBtnIncluirRegiao()"
                      pInputText
                    />
                  </div>
                  <div class="p-col-12">
                    <p-button
                      *ngIf="btnIncluirRegiao"
                      label="Incluir"
                      (onClick)="incluirRegiao()"
                    ></p-button
                    >&nbsp;
                    <p-button
                      label="Cancelar"
                      (onClick)="fechaRegiaoForm()"
                    ></p-button>
                  </div>
                </p-dialog>

              </div>
            </div>
            <!--*** FIM COLUNA 1 ***-->

            <!--*** COLUNA 2 ***-->
            <div class="p-col-12 p-sm-12 p-md-6 p-xl-4">
              <div class="p-grid">

                <!--*** Grupo ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Grupo</h6>
                  <p-dropdown
                    formControlName="cadastro_grupo_id"
                    placeholder="NENHUM"
                    [options]="ddGrupo"
                  ></p-dropdown>
                </div>

                <!--*** Telefone ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Telefone</h6>
                  <p-inputMask
                    formControlName="cadastro_telefone"
                    mask="(99) 99999-999?9"
                    [autoClear]="true"
                    [unmask]="true"
                    type="text"
                    [size]="20"
                  >
                  </p-inputMask>
                </div>

                <!--*** Telefone2 ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Telefone2</h6>
                  <p-inputMask
                    formControlName="cadastro_telcom"
                    mask="(99) 99999-999?9"
                    [autoClear]="true"
                    [unmask]="true"
                    type="text"
                    [size]="20"
                  >
                  </p-inputMask>
                </div>

                <!--*** Telefone3 ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Telefone3</h6>
                  <p-inputMask
                    formControlName="cadastro_telefone2"
                    mask="(99) 99999-999?9"
                    [autoClear]="true"
                    [unmask]="true"
                    type="text"
                    [size]="20"
                  >
                  </p-inputMask>
                </div>

                <!--*** Celular ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Celular</h6>
                  <p-inputMask
                    formControlName="cadastro_celular"
                    mask="(99) 99999-999?9"
                    type="text"
                    [size]="20"
                    [unmask]="true"
                    [autoClear]="true"
                  >
                  </p-inputMask>
                </div>

                <!--*** Celular2 ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Celular2</h6>
                  <p-inputMask
                    formControlName="cadastro_celular2"
                    mask="(99) 99999-999?9"
                    type="text"
                    [size]="20"
                    [unmask]="true"
                    [autoClear]="true"
                  >
                  </p-inputMask>
                </div>

                <!--*** Fax ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Fax</h6>
                  <p-inputMask
                    formControlName="cadastro_fax"
                    mask="(99) 99999-999?9"
                    type="text"
                    [size]="20"
                    [unmask]="true"
                    [autoClear]="true"
                  >
                  </p-inputMask>
                </div>

                <!--*** E-mail ***-->
                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErroEmail('cadastro_email')">
                  <h6>E-mail</h6>
                  <input
                    formControlName="cadastro_email"
                    type="email"
                    [maxlength]="50"
                    [size]="40"
                    pInputText
                  />
                  <app-campo-control-erro
                    [mostrarErro]="validaEmail('cadastro_email')"
                    msgErro="E-mail inválido."
                  >
                  </app-campo-control-erro>
                </div>

                <!--*** E-mail ***-->
                <div class="p-col-12 campoLabel" [ngClass]="aplicaCssErroEmail('cadastro_email2')">
                  <h6>E-mail2</h6>
                  <input
                    formControlName="cadastro_email2"
                    type="email"
                    [maxlength]="50"
                    [size]="40"
                    pInputText
                  />
                  <app-campo-control-erro
                    [mostrarErro]="validaEmail('cadastro_email2')"
                    msgErro="E-mail inválido."
                  >
                  </app-campo-control-erro>
                </div>

                <!--*** Facebook ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Facebook</h6>
                  <input
                    formControlName="cadastro_rede_social"
                    type="text"
                    [maxlength]="150"
                    [size]="40"
                    pInputText
                  />
                </div>

                <!--*** Outras mídias ***-->
                <div class="p-col-12 campoLabel">
                  <h6>Outras mídias</h6>
                  <input
                    formControlName="cadastro_outras_midias"
                    type="text"
                    [maxlength]="200"
                    [size]="40"
                    pInputText
                  />
                </div>

                <!--*** CPF/CNPJ ***-->
                <div class="p-col-12 campoLabel">
                  <h6>CPF/CNPJ</h6>
                  <input
                    pInputText
                    formControlName="cadastro_cpfcnpj"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                  />
                </div>

                <!--*** RG ***-->
                <div class="p-col-12 campoLabel" *ngIf="tipotipo == 1">
                  <h6>RG</h6>
                  <input
                    formControlName="cadastro_rg"
                    type="text"
                    [size]="15"
                    [maxlength]="13"
                    pInputText
                  />
                </div>

              </div>
            </div>
            <!--*** FIM COLUNA 2 ***-->

            <!--*** COLUNA 3 ***-->
            <div class="p-col-12 p-sm-12 p-md-12 p-xl-4">
              <div class="p-grid">

                <!--*** Data de Nascimento / Fundação ***-->
                <div class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel">
                  <h6>Data de Nascimento / Fundação</h6>
                  <p-calendar
                    formControlName="cadastro_data_nascimento"
                    dateFormat="dd/mm/yy"
                    [yearNavigator]="true"
                    yearRange="1910:2020"
                    placeholder="dd/mm/aaaa"

                    dataType="string"
                  ></p-calendar>
                </div>

                <!--*** Genero ***-->
                <div class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel" *ngIf="tipotipo == 1">
                  <h6>Genero</h6>
                  <p-dropdown
                    formControlName="cadastro_sexo"
                    placeholder="Selecione"
                    [options]="ddSexo"
                  ></p-dropdown>
                </div>

                <!--*** Escolaridade ***-->
                <div class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel" *ngIf="tipotipo == 1">
                  <h6>Escolaridade</h6>
                  <p-dropdown
                    formControlName="cadastro_escolaridade_id"
                    placeholder="Selecione"
                    [options]="ddEscolaridadeId"
                  ></p-dropdown>
                </div>

                <!--*** Estado Civil ***-->
                <div class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel" *ngIf="tipotipo == 1">
                  <h6>Estado Civil</h6>
                  <p-dropdown
                    formControlName="cadastro_estado_civil_id"
                    placeholder="Selecione"
                    [options]="ddEstadoCivilId"
                  ></p-dropdown>
                </div>

                <!--*** Conjuge ***-->
                <div class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel" *ngIf="tipotipo == 1">
                  <h6>Conjuge</h6>
                  <input
                    formControlName="cadastro_conjuge"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** Partido ***-->
                <div class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel">
                  <h6>Partido</h6>
                  <input
                    formControlName="cadastro_zona"
                    type="text"
                    [size]="15"
                    [maxlength]="10"
                    pInputText
                  />
                </div>

                <!--*** Profissão ***-->
                <div class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel">
                  <h6>Profissão</h6>
                  <input
                    formControlName="cadastro_profissao"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** Boletim ***-->
                <div class="p-col-6 p-sm-6 p-md-3 p-xl-3 campoLabel" style="margin-top: -.8em; margin-bottom: -.9em;">
                  <h6>Boletim</h6>
                  <p-inputSwitch formControlName="cadastro_jornal"></p-inputSwitch>
                </div>

                <!--*** Mala direta ***-->
                <div class="p-col-6 p-sm-6 p-md-3 p-xl-3 campoLabel" style="margin-top: -.8em; margin-bottom: -.9em;">
                  <h6 style="white-space: nowrap;">Mala direta</h6>
                  <p-inputSwitch formControlName="cadastro_mala"></p-inputSwitch>
                </div>

                <!--*** Contato ***-->
                <div class="p-col-6 p-sm-6 p-md-3 p-xl-3 campoLabel" style="margin-top: -.8em; margin-bottom: -.9em;">
                  <h6>Contato</h6>
                  <p-inputSwitch formControlName="cadastro_agenda"></p-inputSwitch>
                </div>

                <!--*** Sigilo ***-->
                <div class="p-col-6 p-sm-6 p-md-3 p-xl-3 campoLabel" style="margin-top: -.8em; margin-bottom: -.9em;">
                  <h6>Sigilo</h6>
                  <p-inputSwitch formControlName="cadastro_sigilo"></p-inputSwitch>
                </div>

                <!--*** Campo 1 ***-->
                <div class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel">
                  <h6>Campo 1</h6>
                  <input
                    formControlName="cadastro_campo1"
                    type="text"
                    [size]="40"
                    [maxlength]="50"
                    pInputText
                  />
                </div>

                <!--*** Campo 2 ***-->
                <div class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel">
                  <h6>Campo 2</h6>
                  <input
                    formControlName="cadastro_campo2"
                    type="text"
                    [size]="40"
                    [maxlength]="100"
                    pInputText
                  />
                </div>

                <!--*** Campo 3 ***-->
                <div class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel">
                  <h6>Campo 3</h6>
                  <textarea
                    pInputTextarea
                    [rows]="1" [cols]="40"
                    [maxlength]="254"
                    formControlName="cadastro_campo3"
                  ></textarea>
                </div>

                <!--*** Campo 4 ***-->
                <div *ngIf="mostraCampo4" class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel">
                  <h6>Campo 4</h6>
                  <p-dropdown
                    formControlName="cadastro_campo4_id"
                    placeholder="Selecione"
                    [options]="ddCampo4Id"
                  ></p-dropdown>
                </div>

                <!--*** Observações ***-->
                <div class="p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel">
                  <h6>Observações</h6>
                  <textarea
                    [rows]="1" [cols]="40"\
                    pInputTextarea
                    formControlName="cadastro_observacao"
                  ></textarea>
                </div>

                <ng-container *ngIf="authenticationService.arquivos">
                  <app-arquivo
                    [modulo]="'cadastro'"
                    [modelo]="'incluir'"
                    [registro_id]="arquivo_registro_id"
                    [uploadDisabled]="arquivoDesativado"
                    [stiloClass]="'p-col-12 p-sm-12 p-md-6 p-xl-12 campoLabel'"
                    [enviarArquivos]="enviarArquivos"
                    (onBlockSubmit)="onBlockSubmit($event)"
                    (onUpload)="onUpload($event)"
                    (onPossuiArquivos)="onPossuiArquivos($event)"
                    [clearArquivos]="clearArquivos"
                  ></app-arquivo>
                </ng-container>

              </div>
            </div>
            <!--*** FIM COLUNA 2 ***-->
          </div>
          <div class="p-grid formDiv">
            <div class="p-col">
              <br>
              <br>
              <br>
            </div>
          </div>
          <!--*** Botões ***-->
          <div class="p-grid formDiv">
            <div class="p-col-12 campoLabel" style="text-align: center">
              <button
                pButton
                type="button"
                class="p-button-rounded"
                [disabled]="mostraForm"
                (click)="enviarCadastro()"
                label="Enviar"
              ></button>
              &nbsp;&nbsp;
              <button
                pButton
                type="button"
                class="p-button-rounded p-button-secondary"
                (click)="resetForm()"
                label="Cancelar"
                [disabled]="botaoEnviarVF"
              ></button>
              &nbsp;&nbsp;
              <button
                pButton
                type="button"
                class="p-button-rounded p-button-secondary"
                (click)="voltarListar()"
                label="Voltar"
                [disabled]="botaoEnviarVF"
              ></button>
            </div>
            <div class="p-col-12">&nbsp;</div>
          </div>
        </form>

      </div>
      <div class="p-md-1 p-xl-1"></div>
    </div>
  </p-scrollPanel>
  <app-form-debug [form]="formCadIncluir"></app-form-debug>
</div>
<!--*** NOME DUPLICADO ***-->
<div *ngIf="nomeDuplicado">
  <p-dialog
    header="Cadastro já existente"
    [(visible)]="nomeDuplicado"
    [modal]="true"
    [responsive]="true"
    [closable]="true"
    [blockScroll]="true"
    [style]="{ width: '800px' }"
    (onHide)="fechaNomeDuplicado()"
  >
    <div class="p-col-12">
      <app-solicitacao-cadastro-incluir-listaexistente
        [cad]="cad"
      ></app-solicitacao-cadastro-incluir-listaexistente>
    </div>
    <div class="p-col-12">
      <p-button
        label="Fechar"
        (onClick)="fechaNomeDuplicado()"
      ></p-button>
    </div>
  </p-dialog>
</div>
<p-toast key="cadastroToast" [style]="{marginTop: '80px'}" (onClose)="voltarModulo()"></p-toast>
<p-toast key="municipioToast" [style]="{marginTop: '80px'}"></p-toast>
<p-toast key="regiaoToast" [style]="{marginTop: '80px'}"></p-toast>
<p-toast key="cepToast" [style]="{marginTop: '80px'}"></p-toast>
<p-toast key="arquivoToast" [style]="{marginTop: '80px'}"></p-toast>
<p-overlayPanel appendTo="body" #op>
  <p-progressSpinner  [style]="{width: '30px', height: '30px'}" strokeWidth="4" animationDuration="2s"></p-progressSpinner>
</p-overlayPanel>
