
<ng-container *ngIf="arquivo && (exs.aut.arquivos_baixar || exs.aut.arquivos_apagar)">
  <div class="explorer-arquivo" #arq>
    <div id="tst" class="explorer-arquivo-icons" [ngStyle]="{'background': urlbackGround, 'background-size': 'contain'}"
         (click)="op.toggle($event)">
    </div>
    <div class="explorer-file-text" (click)="op.toggle($event)">
      {{arquivo.arquivo_nome_original}}
    </div>
  </div>
</ng-container>

<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true" class="explorer">
  <ng-template pTemplate>

    <div class="explorer-overlay-text">
      <div>{{arquivo.arquivo_nome_original}}</div>
      <div>{{readableBytes(arquivo.arquivo_tamanho)}}</div>
    </div>
    <div class="p-d-inline explorer-overlay-content">
      <ng-container *ngIf="exs.aut.arquivos_baixar">
        <a href="{{arquivo.arquivo_url_s3}}">
          <p-avatar icon="pi pi-download" shape="circle" styleClass="p-shadow-3 explorer-download"></p-avatar>
        </a>
      </ng-container>
      <ng-container *ngIf="exs.aut.arquivos_apagar">
        <div class="explorer-overlay-buttons" *ngIf="exs.mostraUpload()">
          <p-avatar icon="pi pi-trash" shape="circle" (click)="onApagarArquivo()"
                    styleClass="p-shadow-3 explorer-delete"></p-avatar>
        </div>
      </ng-container>
    </div>
  </ng-template>
</p-overlayPanel>

