@media screen and (min-width: 1201px) {
  .p-sidebar-left.menu-lateral  {
    width: var(--menu-lateral-width) !important;
  }
  .p-sidebar-left.menu-lateral-pq  {
    width: var(--menu-lateral-pq-width) !important;
  }
}

@media screen and (max-width: 1200px) {
  .p-sidebar-left.menu-lateral  {
    width: var(--menu-lateral-width-1200) !important;
  }
  .p-sidebar-left.menu-lateral-pq  {
    width: var(--menu-lateral-pq-width-1200) !important;
  }
}

@media screen and (max-width: 992px) {
  .p-sidebar-left.menu-lateral  {
    width: var(--menu-lateral-width-992) !important;
  }
  .p-sidebar-left.menu-lateral-pq  {
    width: var(--menu-lateral-pq-width-992) !important;
  }
}

@media screen and (max-width: 768px) {
  .p-sidebar-left.menu-lateral  {
    width: var(--menu-lateral-width-768) !important;
  }
  .p-sidebar-left.menu-lateral-pq  {
    width: var(--menu-lateral-pq-width-768) !important;
  }
}

@media screen and (max-width: 576px) {
  .p-sidebar-left.menu-lateral  {
    width: var(--menu-lateral-width-576) !important;
  }
  .p-sidebar-left.menu-lateral-pq  {
    width: var(--menu-lateral-pq-width-576) !important;
  }
}


/*
.p-sidebar .menu-lateral {
  background: green;
}


#sidebar-menuinterno .p-sidebar .p-sidebar-active .p-sidebar-left {
  background: red !important;

}
*/


.menu-lateral {
  background-color: var(--menu-lateral-bg-color);
}

.menu-lateral-pq {
  background-color: var(--menu-lateral-bg-color);
}

.p-sidebar.menu-lateral {
  padding: 0 1.25em 1.25em 1.25em !important;
}

.p-sidebar.menu-lateral-pq {
  padding: 0 1.25em 1.25em 1.25em !important;
}

/*  height: calc(var(--menu-lateral-height) - 2rem);*/
.p-scrollpanel.menu-lateral {
  box-sizing: border-box;
  height: var(--menu-lateral-height) !important;
  padding: 0 1.8rem 1.8rem 0;
  position: relative;
  width: 100%;
}

.p-scrollpanel.menu-lateral-pq {
  box-sizing: border-box;
  height: var(--menu-lateral-height) !important;
  padding: 0 1.8rem 1.8rem 0;
  position: relative;
  width: 100%;
}



.p-sidebar-left.menu-lateral  {
  top: 3.1rem !important;
  left: 0;
  transform: translateX(-100%);
}

.p-sidebar-left.menu-lateral-pq  {
  top: 3.1rem !important;
  left: 0;
  transform: translateX(-100%);
}
/*

.menu-lateral .p-dropdown .p-button.p-button-icon-only {
  padding: 0.3rem 0;
}
.menu-lateral .p-dropdown-label, .formulario input[type=text], .formulario input[type=email], .formulario textarea {
  font-size: 1em !important;
}
*/
