<p-scrollPanel [styleClass]="'formulario'">
  <!--<div class="formulario externo">-->
  <form [formGroup]="formProp">
    <div class="p-fluid formulario-bg-externo">

      <div class="p-grid">
        <div class="p-col-12 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-grid p-input-filled">

            <!--*** COLUNA 1 ***-->
            <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 formulario">
              <div class="p-fluid p-formgrid p-grid">

                <!--*** andamento_proposicao_data ***-->
                <div class="p-field p-col-12 p-sm-12 p-md-6 p-xl-6 p-lg-6">
                  <label>Data</label>
                  <p-calendar
                    id="andamento_proposicao_data"
                    formControlName="andamento_proposicao_data"
                    dateFormat="dd/mm/yy"
                    placeholder="dd/mm/aaaa"
                    dataType="string"
                  ></p-calendar>
                </div>
                <div class="p-field p-col-12 p-sm-12 p-md-6 p-xl-6 p-lg-6">&nbsp;</div>

                <!--*** andamento_proposicao_relator_atual ***-->
                <div class="p-field p-col-12 p-sm-12 p-md-6 p-xl-6 p-lg-6">
                  <label for="andamento_proposicao_relator_atual">Relator</label>
                  <input
                    id="andamento_proposicao_relator_atual"
                    formControlName="andamento_proposicao_relator_atual"
                    type="text"
                    size="40"
                    maxlength="50"
                    pInputText
                  />
                </div>
                <div class="p-field p-col-12 p-sm-12 p-md-6 p-xl-6 p-lg-6">
                  <h5>Alterar relator atual?</h5>
                  <p-inputSwitch id="sn_relator_atual" formControlName="sn_relator_atual"></p-inputSwitch>
                </div>

                <!--*** andamento_proposicao_orgao_id ***-->
                <div class="p-field p-col-12 p-sm-12 p-md-6 p-xl-6 p-lg-6">
                  <label for="andamento_proposicao_orgao_id">Orgão atual</label>
                  <div class="p-inputgroup">
                  <p-dropdown
                    id="andamento_proposicao_orgao_id"
                    formControlName="andamento_proposicao_orgao_id"
                    placeholder="Selecione"
                    [options]="ddProposicao_orgao_id"
                    [style]="{'width':'100%'}"
                    [showClear]="true"
                  ></p-dropdown>
                  <app-configaux-incluir
                    [desabilitado]="false"
                    [titulo]="'Incluir Orgão atual'"
                    [tituloCampo]="'Orgão atual'"
                    [campoNome]="'andamento_proposicao_orgao_id'"
                    [tamanho]="50"
                    [tamanhomax]="100"
                    [dropdown]="'ddProposicao_orgao_id'"
                    [arrai]="ddProposicao_orgao_id"
                    (onNovoRegistroAux)="onNovoRegistroAux($event)"
                    (onBlockSubmit)="onBlockSubmit($event)"
                  ></app-configaux-incluir>
                  </div>
                </div>

                <div class="p-field p-sm-12 p-md-6 p-xl-6 p-lg-6">
                  <h5>Alterar orgão atual?</h5>
                  <p-inputSwitch id="sn_orgao" formControlName="sn_orgao"></p-inputSwitch>
                </div>

                <!--*** proposicao_situacao_id ***-->
                <div class="p-field p-col-12 p-sm-12 p-md-6 p-xl-6 p-lg-6">
                  <label for="andamento_proposicao_situacao_id"> Situação</label>
                  <div class="p-inputgroup">
                  <p-dropdown
                    id="andamento_proposicao_situacao_id"
                    formControlName="andamento_proposicao_situacao_id"
                    placeholder="Selecione"
                    [options]="ddProposicao_situacao_id"
                    [style]="{'width':'100%'}"
                    [showClear]="true"
                  ></p-dropdown>
                  <app-configaux-incluir
                    [desabilitado]="false"
                    [titulo]="'Incluir Situação'"
                    [tituloCampo]="'Situação'"
                    [campoNome]="'andamento_proposicao_situacao_id'"
                    [tamanho]="50"
                    [tamanhomax]="100"
                    [dropdown]="'ddProposicao_situacao_id'"
                    [arrai]="ddProposicao_situacao_id"
                    (onNovoRegistroAux)="onNovoRegistroAux($event)"
                    (onBlockSubmit)="onBlockSubmit($event)"
                  ></app-configaux-incluir>
                  </div>
                </div>

                <div class="p-field p-col-12 p-sm-12 p-md-6 p-xl-6 p-lg-6">
                  <h5>Alterar situação atual?</h5>
                  <p-inputSwitch id="sn_situacao" formControlName="sn_situacao"></p-inputSwitch>
                </div>


                <!--*** andamento_proposicao_texto ***-->
                <div class="p-field p-col-12 formulario-quill">
                  <label for="andamento_proposicao_texto">Andamento</label>
                  <p-editor
                    id="andamento_proposicao_texto"
                    formControlName="andamento_proposicao_texto"
                    [modules]="modulos"
                  >
                    <ng-template pTemplate="header"></ng-template>
                  </p-editor>
                </div>

                <!--*** FIM COLUNA 6 ***-->

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </form>
  <!--</div>-->
</p-scrollPanel>
<div class="botoesdetalhe">
  <button
    pButton
    type="button"
    class="p-button-raised p-button-rounded"
    [disabled]="botaoEnviarVF"
    (click)="incluirAndamentoProposicao()"
    label="Incluir"
  ></button>
  &nbsp;&nbsp;
  <button
    pButton
    type="button"
    class="p-button-raised p-button-rounded p-button-secondary"
    (click)="resetForm()"
    label="Cancelar"
    [disabled]="botaoEnviarVF"
  ></button>
  &nbsp;&nbsp;
  <button
    pButton
    type="button"
    class="p-button-raised p-button-rounded p-button-secondary"
    (click)="fechar()"
    label="Fechar"
    [disabled]="botaoEnviarVF"
  ></button>
</div>

<p-toast key="andamentoProposicaoToast" [style]="{marginTop: '80px'}"></p-toast>
