<!--<div *ngIf="tag === 1"></div>

<quill-view-html *ngIf="impressao && tag === 2" [content]="content" theme="snow"></quill-view-html>
<quill-view *ngIf="impressao && tag === 3" [content]="content" format="text" theme="snow"></quill-view>

<quill-view-html *ngIf="!impressao && tag === 2" [content]="content" theme="snow"></quill-view-html>
<quill-view *ngIf="!impressao && tag === 3 && formato === 'object'" [content]="content" format="object" theme="snow"></quill-view>
<quill-view *ngIf="!impressao && tag === 3 && formato === 'text'" [content]="content" format="text" theme="snow"></quill-view>-->
