
<p-fileUpload
  #fileUpload
  name="arquivo[]"
  (onUpload)="onEnviado($event)"
  (onSelect)="onSelect($event)"
  (onClear)="onClear()"
  (onRemove)="onRemove($event)"
  (onBeforeUpload)="onBeforeUpload($event)"
  (onError)="onError($event)"
  (onSend)="onSend($event)"
  (onProgress)="onProgress($event)"
  [chooseLabel]="chooseLabel"
  [uploadLabel]="uploadLabel"
  [cancelLabel]="cancelLabel"
  [showCancelButton]="showCancelButton"
  [showUploadButton]="showUploadButton"
  [multiple]="multiple"
  [accept]="accept"
  [maxFileSize]="maxFileSize"
  [disabled]="disabled"
  [fileLimit]="fileLimit"
  [styleClass]="stiloClasse"
  [method]="'post'"
>

   ORIGINAL
  <div [ngClass]="'p-fileupload p-fileupload-advanced p-component'" [ngStyle]="style" [class]="styleClass" *ngIf="mode === 'advanced'">
    <div class="p-fileupload-buttonbar">
                <span class="p-button p-component p-fileupload-choose" [ngClass]="{'p-focus': focus, 'p-disabled':disabled || isChooseDisabled()}" (focus)="onFocus()" (blur)="onBlur()" pRipple
                      (click)="choose()" (keydown.enter)="choose()" tabindex="0">
                    <input #advancedfileinput type="file" (change)="onFileSelect($event)" [multiple]="multiple" [accept]="accept" [disabled]="disabled || isChooseDisabled()" [attr.title]="''">
                    <span [ngClass]="'p-button-icon p-button-icon-left'" [class]="chooseIcon"></span>
                    <span class="p-button-label">{{chooseButtonLabel}}</span>
                </span>

      <p-button *ngIf="!auto&&showUploadButton" type="button" [label]="uploadButtonLabel" [icon]="uploadIcon" (onClick)="upload()" [disabled]="!hasFiles() || isFileLimitExceeded()"></p-button>
      <p-button *ngIf="!auto&&showCancelButton" type="button" [label]="cancelButtonLabel" [icon]="cancelIcon" (onClick)="clear()" [disabled]="!hasFiles() || uploading"></p-button>

      <ng-container *ngTemplateOutlet="toolbarTemplate"></ng-container>
    </div>
    <div #content class="p-fileupload-content" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
      <p-progressBar [value]="progress" [showValue]="false" *ngIf="hasFiles()"></p-progressBar>

      <p-messages [value]="msgs" [enableService]="false"></p-messages>

      <div class="p-fileupload-files" *ngIf="hasFiles()">
        <div *ngIf="!fileTemplate">
          <div class="p-fileupload-row" *ngFor="let file of files; let i = index;">
            <div><img [src]="file.objectURL" *ngIf="isImage(file)" [width]="previewWidth" /></div>
            <div>{{file.name}}</div>
            <div>{{formatSize(file.size)}}</div>
            <div>
              <button type="button" icon="pi pi-times" pButton (click)="remove($event,i)" [disabled]="uploading"></button>
            </div>
          </div>
        </div>
        <div *ngIf="fileTemplate">
          <ng-template ngFor [ngForOf]="files" [ngForTemplate]="fileTemplate"></ng-template>
        </div>
      </div>
      <ng-container *ngTemplateOutlet="contentTemplate; context: {$implicit: files}"></ng-container>
    </div>
  </div>
  <div class="p-fileupload p-fileupload-basic p-component" *ngIf="mode === 'basic'">
    <p-messages [value]="msgs" [enableService]="false"></p-messages>
    <span [ngClass]="{'p-button p-component p-fileupload-choose': true, 'p-button-icon-only': !chooseLabel, 'p-fileupload-choose-selected': hasFiles(),'p-focus': focus, 'p-disabled':disabled}"
          [ngStyle]="style" [class]="styleClass" (mouseup)="onBasicUploaderClick()" (keydown)="onBasicUploaderClick()" tabindex="0" pRipple>
                <span class="p-button-icon p-button-icon-left pi" [ngClass]="hasFiles()&&!auto ? uploadIcon : chooseIcon"></span>
                <span class="p-button-label">{{auto ? chooseLabel : hasFiles() ? files[0].name : chooseLabel}}</span>
                <input #basicfileinput type="file" [accept]="accept" [multiple]="multiple" [disabled]="disabled"
                       (change)="onFileSelect($event)" *ngIf="!hasFiles()" (focus)="onFocus()" (blur)="onBlur()">
            </span>
  </div>


  <!--<ng-template let-file pTemplate="file">
    <div class="p-fileupload-row">
      <div class="p-grid p-ai-center p-mt-1 p-p-1" style="background-color: fuchsia; ">
        <div class="p-col-9 p-ai-center">
          <div class="p-grid">
            <div class="p-col-12" style="font-size:.9rem;font-weight: bold;">
              {{file.name}}
            </div>
            <div class="p-col-12" style="font-size: .8rem;">
              {{formatSize(file.size)}}
            </div>
          </div>
        </div>
        <div class="p-col-1" style="background-color: #FFB74D">
          <button type="button" icon="pi pi-times" pButton (click)="fileUpload.remove($event)" [disabled]="uploading"></button>
        </div>
        <div class="p-col-2" style="background-color: #87ff77">
          <img [src]="file.objectURL" *ngIf="fileUpload.isImage(file)" [width]="previewWidth" /><img [src]="getIcone(file.name)" *ngIf="!fileUpload.isImage(file)" [width]="previewWidth" />
        </div>
      </div>
    </div>
  </ng-template>-->

  <ng-template let-file pTemplate="file">




    <div *ngFor="let file of files; let i = index;" class="linha-imagem p-grid p-ai-center p-mx-1 p-my-2 p-p-1 p-shadow-1">
      <div class="p-col-9 p-ai-center">
        <div class="p-grid">
          <div class="p-col-12" style="font-size:.9rem;font-weight: bold;">
            {{file.name}}
          </div>
          <div class="p-col-12" style="font-size: .8rem;">
            {{formatSize(file.size)}}
          </div>
        </div>
      </div>
      <div class="p-col-1">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-secondary" (click)="fileUpload.remove($event,i)" [disabled]="uploading"></button>
      </div>
      <div class="p-col-2">
        <img [src]="file.objectURL" *ngIf="fileUpload.isImage(file)" [width]="previewWidth" /><img [src]="getIcone(file.name)" *ngIf="!fileUpload.isImage(file)" [width]="previewWidth" />
      </div>
    </div>




  </ng-template>

  <ng-template pTemplate="content" let-files>

<!--



    <div class="p-fileupload-content" (dragenter)="fileUpload.onDragEnter($event)" (dragleave)="fileUpload.onDragLeave($event)" (drop)="fileUpload.onDrop($event)">
      <p-progressBar [value]="fileUpload.progress" [showValue]="false" *ngIf="fileUpload.hasFiles()"></p-progressBar>

      <p-messages [value]="msgs" [enableService]="false"></p-messages>

      <div class="p-fileupload-files" *ngIf="fileUpload.hasFiles()">
        <div>
          <div class="p-fileupload-row" *ngFor="let file of files; let i = index;">
            <div>
              <img [src]="file.objectURL" *ngIf="fileUpload.isImage(file)" [width]="previewWidth" />
              <img [src]="getIcone(file.name)" *ngIf="!fileUpload.isImage(file)" [width]="previewWidth" />
            </div>
            <div>{{file.name}}</div>
            <div>{{formatSize(file.size)}}</div>
            <div>
              <button type="button" icon="pi pi-times" pButton (click)="fileUpload.remove($event,i)" [disabled]="uploading"></button>
            </div>
          </div>
        </div>
      </div>








      <div *ngFor="let file of files; let i = index;" class="linha-imagem p-grid p-ai-center p-mx-1 p-my-2 p-p-1 p-shadow-1">
        <div class="p-col-9 p-ai-center">
          <div class="p-grid">
            <div class="p-col-12" style="font-size:.9rem;font-weight: bold;">
              {{file.name}}
            </div>
            <div class="p-col-12" style="font-size: .8rem;">
              {{formatSize(file.size)}}
            </div>
          </div>
        </div>
        <div class="p-col-1">
          <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-secondary" (click)="fileUpload.remove($event,i)" [disabled]="uploading"></button>
        </div>
        <div class="p-col-2">
          <img [src]="file.objectURL" *ngIf="fileUpload.isImage(file)" [width]="previewWidth" /><img [src]="getIcone(file.name)" *ngIf="!fileUpload.isImage(file)" [width]="previewWidth" />
        </div>
      </div>



</div>
-->













    <!--<div class="p-fileupload-content" (dragenter)="fileUpload.onDragEnter($event)" (dragleave)="fileUpload.onDragLeave($event)" (drop)="fileUpload.onDrop($event)">
      <p-progressBar [value]="fileUpload.progress" [showValue]="false" *ngIf="fileUpload.hasFiles()"></p-progressBar>

      <p-messages [value]="msgs" [enableService]="false"></p-messages>

      <div class="p-fileupload-files" *ngIf="fileUpload.hasFiles()">
        <div>
          <div class="p-fileupload-row" *ngFor="let file of files; let i = index;">
            <div>
              <img [src]="file.objectURL" *ngIf="fileUpload.isImage(file)" [width]="previewWidth" />
              <img [src]="getIcone(file.name)" *ngIf="!fileUpload.isImage(file)" [width]="previewWidth" />
            </div>
            <div>{{file.name}}</div>
            <div>{{formatSize(file.size)}}</div>
            <div>
              <button type="button" icon="pi pi-times" pButton (click)="fileUpload.remove($event,i)" [disabled]="uploading"></button>
            </div>
          </div>
        </div>
      </div>
    </div>-->


      <!--<div *ngFor="let file of files; let i = index;" class="linha-imagem p-grid p-ai-center p-mx-1 p-my-2 p-p-1 p-shadow-1">
        <div class="p-col-9 p-ai-center">
          <div class="p-grid">
            <div class="p-col-12" style="font-size:.9rem;font-weight: bold;">
              {{file.name}}
            </div>
            <div class="p-col-12" style="font-size: .8rem;">
              {{formatSize(file.size)}}
            </div>
          </div>
        </div>
        <div class="p-col-1">
          <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-secondary" (click)="fileUpload.remove($event,i)" [disabled]="uploading"></button>
        </div>
        <div class="p-col-2">
          <img [src]="file.objectURL" *ngIf="fileUpload.isImage(file)" [width]="previewWidth" /><img [src]="getIcone(file.name)" *ngIf="!fileUpload.isImage(file)" [width]="previewWidth" />
        </div>
      </div>-->

  </ng-template>

</p-fileUpload>
<!--<p-dialog [(visible)]="mostraProgresso" [showHeader]="false" [closable]="false" [dismissableMask]="false" [closeOnEscape]="false" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw', height: '3rem'}">
  <p-progressBar [value]="progresso"></p-progressBar>
</p-dialog>-->


