<div class="home" xmlns="http://www.w3.org/1999/html">

    <div class="grid">
      <div class="col-1 sm:col-1 md:col-2 lg:col-3 xl:col-3"></div>
      <div class="col-10 sm:col-10 md:col-8 lg:col-6 xl:col-6">
        <div class="grid">
          <div class="col-12">

            <div class="grid">
              <div class="col-12">
                <!--<div class="flex justify-content-center">-->
                <div class="col-12 border-round-2xl shadow-4">
                  <div class="text-center text-primary">
                    <h1>GABNET</h1>
                  </div>

                  <div class="text-center text-primary">
                    <h1>GERENCIADOR DE GABINETES</h1>
                  </div>
                </div>
                <div class="grid mt-3 px-3 text-2xl">
                <div class="col-6">Url: {{hst}}</div>
                <div class="col-6">Dispositivo: {{ds.dispositivo}}&nbsp;&nbsp;
                  <i *ngIf="ds.dispositivo==='mobile'" class="pi pi-mobile"></i>
                  <i *ngIf="ds.dispositivo!=='mobile'" class="pi pi-desktop"></i>
                </div>
                <div class="col-6">Versão: {{authenticationService._versao}}</div>
                <div class="col-6">Hostname: {{tela.hostname}}</div>
                <div class="col-6">Browser diametro: {{tela.innerWidth}}</div>
                <div class="col-6">Browser altura: {{tela.innerHeight}}</div>
                </div>
              </div>
              <div class="col-12">

                <div  class="col-12 border-round-2xl shadow-4 text-center text-primary">
                  <h3><b>TIPO DE DISPOSITIVO</b></h3>
                  <p>
                    <i class="pi pi-desktop"></i>&nbsp;&nbsp;
                    <p-inputSwitch
                      [(ngModel)]="checked"
                      (onChange)="mudaDispositivo()"
                    ></p-inputSwitch>&nbsp;&nbsp;<i class="pi pi-mobile"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 sm:col-1 md:col-2 lg:col-3 xl:col-3"></div>
    </div>

</div>
