<div *ngIf="ol.isOffline" class="home-offline">
  <h1>SEM CONEXÃO.</h1>
</div>

<div class="formulario home">
  <div class="p-fluid formulario-bg-externo" style="padding-top: 5vh; padding-bottom: 5vh">

    <div class="p-grid">
      <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
        <div class="p-grid">
          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <div class="p-d-flex p-jc-center" style="height: 80vh;">
              <div class="p-as-center" style="color: var(--primary-color)">
                <h1>GABNET<br>GERENCIADOR DE GABINETES</h1>
                <p>Url: {{hst}}</p>
                <p>Dispositivo: {{authenticationService.dispositivo}} <i *ngIf="authenticationService.dispositivo==='mobile'" class="pi pi-mobile"></i><i *ngIf="authenticationService.dispositivo!=='mobile'" class="pi pi-desktop"></i></p>
                <p>Versão: {{authenticationService._versao}}</p>
                <p>Logado: {{authenticationService.vfToken}}</p>
                <p>Token: {{token}}</p>
                <div class="container" style="text-align:center">
                  <h3><b>TIPO DE DISPOSITIVO</b></h3>
                  <p>
                    <i class="pi pi-desktop"></i>&nbsp;&nbsp;<p-inputSwitch [(ngModel)]="checked" (onChange)="mudaDispositivo()"></p-inputSwitch>&nbsp;&nbsp;<i class="pi pi-mobile"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
