<div class="formulariotelefone" style="background-color: var(--formulario-bg-externo-color);">
  <form (ngSubmit)="onSubmit()" #tusForm="ngForm">
    <div class="p-fluid">

      <div class="p-d-flex p-jc-center">
        <div class="p-mt-1 p-mb-1 p-pt-2 p-px-3 p-pb-1">
        </div>
      </div>
      <div class="p-grid">

        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-my-1 p-py-2 p-px-3 p-pb-1">
            <div class="p-fluid p-formgrid p-grid formulario p-input-filled">

              <!-- telefone_usuario_nome -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">
                <h5><span class="atencao">*</span> Atendente</h5>
                <p-dropdown
                  id="telefone_usuario_nome"
                  [options]="tss.ddTarefa_situacao_id"
                  [style]="{'max-width':'20em'}"
                  [(ngModel)]="tus_situacao_id"
                  name="tus_situacao_id"
                  #situacao_id="ngModel"
                  placeholder="SELECIONE"
                  [required]="true"
                  [showClear]="false"
                  (ngModelChange)="mudaSituacao($event)"
                ></p-dropdown>
                </div>

              <!-- telefone_observacao -->
              <div class="p-field p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12">

                <div class="p-d-flex p-jc-start">
                  <div class="formulario-quill">
                    <h5>Andamento</h5>
                    <div class="qeditor">
                      <quill-editor
                        name="th_historico"
                        #historico="ngModel"
                        class="formulario"
                        id="th_historico"
                        [disabled]="kdisabled"
                        [(ngModel)]="th_historico"
                        [format]="'html'"
                        [defaultEmptyValue]="null"
                        [theme]="'snow'"
                        [modules]="modulos"
                        [placeholder]="''"
                        (onContentChanged)="onEditorChanged($event)"
                        (onEditorCreated)="onEditorCreated($event)"
                      ></quill-editor>
                    </div>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="aut.arquivos">
                <div class="p-field p-col-12 p-md-12 p-lg-12 p-xl-12">
                  <app-arquivo
                               [modulo]="'tarefa'"
                               [uploadDisabled]="disabled"
                               [arqs]="tss.tarefa.tarefa_arquivos"
                               [registro_id]="tss.tarefa.tarefa_id"
                               [modelo]="'alterar'"
                               [stiloClass]="'formulario'"
                               [buscaArquivos]="false"
                  ></app-arquivo>
                </div>
              </ng-container>

            </div>
          </div>
        </div>

        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno"></div>

      </div>
    </div>


    <div class="p-grid">
      <div class="p-col-10 p-offset-1" style="background-color: var(--formulario-bg-externo-color);">&nbsp;</div>
    </div>

    <div class="p-fluid">
      <div class="p-grid">
        <div class="p-col-10 p-offset-1 p-mt-0 p-pb-0 formulario-bg-interno">
          <div class="p-grid p-input-filled">
            <div class="p-col-12 formulario">
              <!--*** Botões ***-->
              <div class="p-d-flex p-jc-start p-pb-2 p-pt-2">
                <div class="p-d-inline-flex">
                  <div class="p-ml-2" [ngClass]="{'p-d-none': !tusForm.valid}">
                    <button
                      pButton
                      type="submit"
                      class="p-button-rounded"
                      [disabled]="!tusForm.valid || botaoEnviarVF || disabled"
                      label="Enviar"
                    ></button>
                  </div>
                  <div class="p-mx-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="reset()"
                      label="Limpar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                  <div class="p-mr-2">
                    <button
                      pButton
                      type="button"
                      class="p-button-rounded p-button-secondary"
                      (click)="voltarListar()"
                      label="Fechar"
                      [disabled]="botaoEnviarVF"
                    ></button>
                  </div>
                </div>
                <!--*** FIM BOTOES ***-->
              </div>


            </div>
          </div>
        </div>
      </div>


      <div class="p-grid">
        <div class="p-col-10 p-offset-1">&nbsp;</div>
      </div>
    </div>

  </form>
</div>
