<p-dataView [value]="ms.mensagens" [paginator]="true" [rows]="10">
  <ng-template let-msg pTemplate="listItem">
    <div class="listmsgbox">
      <div class="p-grid">
        <div class="p-col-12">
          {{msg.mensagem_data}}
        </div>
        <div class="p-col-12">
          {{msg.mensagem_titulo}}
        </div>
        <div *ngIf="msg.mensagem_texto" class="p-col-12"><app-quill-view [cphtml]="msg.mensagem_texto"></app-quill-view></div>
      </div>
    </div>
    <!--<div>
      {{msg.mensagem_data}}
    </div>
    <div>
      {{msg.mensagem_data2}}
    </div>
    <div>
      {{msg.mensagem_data3}}
    </div>
    <div>
      {{msg.mensagem_usuarios}}
    </div>
    <div>
      {{msg.usuario_id}}
    </div>
    <div>
      {{msg.usuario_nome}}
    </div>
    <div>
      {{msg.usuario_mensagem_visto}}
    </div>-->
  </ng-template>
</p-dataView>
