


    <div *ngIf="arquivo" class="explorer-arquivo">
      <div class="explorer-arquivo-icons" [ngStyle]="{'background': urlbackGround}" (click)="op.toggle($event)">
      </div>
      <div class="explorer-file-text" (click)="op.toggle($event)">
        {{arquivo.arquivo_nome_original}}
      </div>
    </div>

    <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true" class="explorer">
      <ng-template pTemplate>
        <div>{{arquivo.arquivo_nome_original}}</div>
        <div>{{readableBytes(arquivo.arquivo_tamanho)}}</div>
        <div>
          <a href="{{arquivo.arquivo_url_s3}}" target="_blank"><p-avatar styleClass="p-px-3" icon="pi pi-download" shape="circle"></p-avatar></a>
        <p-avatar styleClass="p-px-3" icon="pi pi-trash" shape="circle" (click)="onDelete(arquivo)"></p-avatar>
        </div>
      </ng-template>
    </p-overlayPanel>



      <div *ngIf="pasta" class="explorer-folder">
        <div class="explorer-folder-icons" (click)="exs.addCaminho(pasta.arquivo_pasta_id)">
        </div>
        <div class="explorer-file-text" (click)="exs.addCaminho(pasta.arquivo_pasta_id)">
          {{pasta.arquivo_pasta_titulo}}
        </div>
      </div>


    <!--<div *ngIf="pasta" class="explorer-folder">
      <div class="explorer-folder-icons" (click)="exs.addCaminho(pasta.arquivo_pasta_id)">
        <img src="/assets/icons/ppt.png" />
      </div>
      <div class="explorer-file-text" (click)="exs.addCaminho(pasta.arquivo_pasta_id)">
        {{pasta.arquivo_pasta_titulo}}
      </div>
    </div>-->

