  <ng-container *ngIf="cs.showCampoTexto">
    <p-dialog
      [breakpoints]="{'1400px': '80vw', '1300px': '85vw', '1200px': '90vw', '1000px': '95vw', '640px': '100vw'}"
      [(visible)]="cs.showCampoTexto"
      [dismissableMask]="true"
      [modal]="true"
      styleClass="tablistagem"
      [header]="cs.celula.header"
      (onHide)="escondeTexto()"
    >

      <quill-editor
        #q
        [(ngModel)]="cs.celula.cphtml"
        theme="bubble"
        format="html"
        [readOnly]="readOnly"
        [placeholder]="''"
      ></quill-editor>

      <p-footer>
        <button pButton type="button" label="Fechar " icon="pi pi-times"
                class="campo-extendido p-button-rounded p-button-sm" (click)="escondeTexto()"></button>
        &nbsp;
        <button
          pButton
          type="button"
          class="campo-extendido p-button-rounded p-button-sm"
          icon="pi pi-print"
          (click)="imprimir()"
          label="Imprimir"
        ></button>
        &nbsp;
        <button
          pButton
          type="button"
          class="campo-extendido p-button p-button-rounded p-button-sm"
          icon="pi pi-file-pdf"
          (click)="exportPdf(q.quillEditor.getContents())"
          label="Pdf"
        ></button>
        &nbsp;
        <button type="button" class="campo-extendido p-button-rounded p-button-sm p-button p-component"
                (click)="exportWord(q.quillEditor.getContents())">
          <span class="p-button-icon p-button-icon-left pi pi-word" aria-hidden="true">
            <img alt="logo" src="assets/icons/word-icon.svg" style="width: 1rem"/>
          </span>
          <span class="p-button-label">Word </span>
        </button>

      </p-footer>
    </p-dialog>
  </ng-container>







